div.formAction {
	text-align:left;
}

.textContainer{
	background-image: url(../../images/asset-group-bs-icon.png);
}

.initialMessage form {
	margin-left: 183px;
}

.initialMessage input {
	margin-left: 0;
}

.fieldHolder input {
	width: 300px;
	margin-right: 10px;
}