.serialNumberStatus {
	margin-left: 25px;
	font-weight: bold;
	padding:0px
}

.subAssetAdd {
	margin-left: 15px;
}

#commentTemplateSelection {
	margin-bottom:5px;
}

h2{
	background-color:#DADFFA;
}

#registerOverNetworkLinkContainer {
	padding: 5px;
}

.assetFormGroup .infoSet{
	padding-left: 50px;
	padding-top: 10px;
	border: none;
}

.assetFormGroup .infoSet label{
	text-align:right;
	padding: 5px;
}

.assetFormGroup .infoSet input, .assetFormGroup .infoSet select, .assetFormGroup .infoSet textarea, .fieldHolder textarea{
	padding: 4px;
	border: 1px solid #9C9C9C;
}

.fluidSets .assetFormGroup .infoSet label{
	width: 110px;
}
.assetFormGroup h2{
	border: 1px solid #d7d7d7;
	background-image: url(../../images/identify-bg.png);
	background-position: center;
}

.assetFormGroup .enlarged{
	font-size: 16px;
}

.enlarged .fieldHolder select{
	padding: 3px;
}
