.serialNumberStatus {
	margin-left: 25px;
	font-weight: bold;
	padding:0px
}

.subAssetAdd {
	margin-left: 15px;
}

#commentTemplateSelection {
	margin-bottom:5px;
}

h2{
	background-color:#DADFFA;
}

#registerOverNetworkLinkContainer {
	padding: 5px;
}

.assetFormGroup .infoSet{
	padding-left: 50px;
	border: none;
}

.assetFormGroup .infoSet input{
	padding: 4px;
	}

.fluidSets .assetFormGroup .infoSet label{
	width: 110px;
}
.assetFormGroup h2{
	border: 1px solid #D0DAFD;
	background-image: url(../../images/identify-bg.png);
	background-position: center;
}

.assetFormGroup .enlarged{
	font-size: 16px;

}

.enlarged select{
	padding: 3px;
}
