.customerName{
	font-size: 18px;
	font-weight: normal;
	line-height: 1.5em;
}

.customerDetails {
	font-size: 12px;
}
.label {
	color: #999999;
	font-weight: normal;
}

.customerLinks {
	padding: 10px 0;
}

.customerLinks a{
	display: block;
}

.notes label {
	display: block;
	font-weight: bold;
}

.notes{
	background: no-repeat url(../../images/notes-box.png);
	clear: both;
	margin-top: 10px;
	float: left;
	width: 100%;
}

.notes label {
	padding-top: 20px;
	padding-left: 10px;
}

.noteText {
	background-color: #F8F8F8;
	padding: 5px 10px 15px;
}

.logo, .details {
	float: left;
}

.logo {
	margin-right: 10px;
	width: 128px;
	height: 128px;
	border: 1px solid #CCCCCC;
	overflow: hidden;
	display: table-cell; 
	vertical-align: middle;
	text-align: center
}

.logo {
    display: block;
}

.logo img{
	width: 120px;
}

.logo * {
    vertical-align: middle;
}
.logo span {
    display: inline-block;
    height: 100%;
    width: 1px;
}

.noImage {
	padding-left: 15px;
}