.customerName{
	font-size: 18px;
	font-weight: normal;
	line-height: 1.5em;
}

.customerDetails {
	font-size: 12px;
}
.label {
	color: #999999;
	font-weight: normal;
}

.customerLinks {
	padding: 10px 0;
}

.customerLinks a{
	display: block;
}

.notes label {
	display: block;
	font-weight: bold;
}

.notes{
	background: no-repeat url(../../images/notes-box.png);
}

.notes label {
	padding-top: 20px;
	padding-left: 10px;
}

.noteText {
	background-color: #F8F8F8;
	padding: 5px 10px 15px;
}

.logo img{
	width: 200px
}