#pageContent.public{
	background: none;
}

.textContainer{
	background-image: url(../../images/download-icon.png);
}

#emailDownloadLink{
	padding: 20px;
}

.bold{
	font-weight:bold;
	}

.label{
	font-size: 14px;
}

#emailDownloadLink input[type="text"], #emailDownloadLink textarea{
	width: 350px;
	margin: 10px 0;
}

#emailDownloadLink textarea{
	height: 200px;
}
	
.textbox{
	width : 250px;
}

.optionsContainer{
	padding: 20px;
}

.description{
	margin: 10px 0;
	font-size:14px;
	color: #666;
}

.warningInformation{
	float:left;
	margin-top: 10px;
	padding-top: 5px;
	border-top: 1px solid #CACACA;
	font-size: 12px;
	line-height: 15px;
	color: #666;
}

.urlContainer{
	padding: 15px 0 15px 55px;
	color: #666;
	font-size:14px;
	margin: 5px;
	background-image: url(../../images/link-box.png);
	background-repeat: no-repeat;
	}

#emailLinkButton a {
	margin: 10px auto 0 auto;
	display: block;
	clear:right;
	width: 220px;
	height: 50px;
	background-image: url(../../images/share-email-button.png);
	background-repeat: no-repeat;
}


#pageContent{
	border-style: none;
}

.downloadContainer{
	border-top: 2px solid #CACACA;
	padding: 25px;
	margin-bottom: 250px;
}
.downloadContainer h1{
	width: 650px;
	margin-left: auto;
	margin-right: auto;
	}

.downloadBox{
	margin: 15px;
	margin-left:auto;
	margin-right: auto;
	width: 650px;
	height: 80px;
	border: 1px solid #CACACA;

}
.downloadBox .boxContent, .downloadBox .expiredBoxContent{
	float:left;
	width: 300px;
	height: 55px;
	border-style: none;
	background-image: url(../../images/file-icon.png);
	background-repeat: no-repeat;
	margin-left: 15px;
	margin-top: 15px;
	padding-left: 65px;
}
.downloadBox .expiredBoxContent{
	background-image: url(../../images/download-icon-invalid.png);
}

#downloadButton{
	margin-top: 25px;
}

#downloadButton a{
	display: block;
	float:right;
	width: 220px;
	height: 50px;
	background-image: url(../../images/download-button.png);
	background-repeat: no-repeat;	
}

.boxContent h2, .expiredBoxContent h1, .textLink .coloredLink{
	color: #356CA2;
}

.expiredBoxContent h1{
	margin-top: 15px;
	margin-left: 10px;
}

.textLink {
	line-height: 18px;
	margin-left:auto;
	margin-right:auto;
	width: 650px;
}

