.textContainer{
	background-image: url(../../images/download-icon.png);
}

.bold{
	font-weight:bold;
	}

.label{
	font-size: 14px;
}

#emailDownloadLink{
	background-color: #EEE;
	height: 350px;
	margin-top: 15px;
}

#emailDownloadLink input[type="text"], #emailDownloadLink textarea{
	width: 350px;
	margin: 10px 0;
}

#emailDownloadLink input[type="submit"]{
	padding: 5px 10px;
}

#emailDownloadLink textarea{
	height: 150px;
}
	
.textbox{
	width: 250px;
}

#emailDownloadLink, .optionsContainer{
	padding: 20px
}

.description{
	margin: 5px 0;
	font-size:12px;
	color: #666;
}

.warningInformation{
	float:left;
	margin-top: 10px;
	padding-top: 5px;
	border-top: 1px solid #CACACA;
	font-size: 12px;
	line-height: 15px;
	color: #666;
}

.urlContainer{
	padding: 15px 0 15px 55px;
	color: #666;
	font-size:14px;
	margin: 5px 5px 5px 0;
	background-image: url(../../images/link-box.png);
	background-repeat: no-repeat;
	}

#emailLinkButton a {
	margin-top: 10px;
	display: block;
	width: 220px;
	height: 50px;
	background-image: url(../../images/share-email-button.png);
	background-repeat: no-repeat;
}

.emailInstructions h3{
	margin-bottom: 5px;
}

.correctExample{
	background-image: url(../../images/checkmark-icon.png);
	background-position: left center;
	background-repeat: no-repeat;	
	padding-left: 15px;
}

.incorrectExample{
	background-image: url(../../images/dash-icon.png);
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 15px;
}

.emailInstructions{
	margin-top: 20px;
	float:left;
	display:block;
}

.emailInstructions p{
	margin: 5px 0;
	font-weight: normal;
}

.inputContainer{
	float:left;
	display:block;
	width: 400px;
	margin-top: 10px;
}

.lightColored{
	color: #666;
}

.positioned{
	position: relative;
	top: -20px;
	}
