.printOutSelection {
	margin-top: 5px;
	overflow: hidden;
}

.infoSet .printOutSelection li label {
	display: none;
}

.printOutSelection li {
	list-style-position: none inside none;
	text-align: center;
	display: inline;
	float: left;
	width: 200px;
	height: 200px;
	margin: 8px;
	border: 1px solid #D0DAFD;
	padding: 5px;
	overflow: hidden;
}

.printOutDetails {
	text-align: center;
	margin-top: 1em;
}


.printOutDetails a {
	background: no-repeat url(../../images/pdf_small.gif) left 7px;
	display: block;
	border-top: 1px solid #D0DAFD;
	margin-top: 5px;
	padding-top: 8px;
	padding-left: 20px;
	height: 28px;
	overflow: hidden;
	text-align: left;
}

.printOutThumbnail {
	background-color: #F7F7F7;
	width: 100%;
	height: 65%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #DDDDDD;
}

.printOutThumbnail img {
	width: 90%;
	height: 100%;
}

.printOutDescription {
	padding-top: 2px;
	min-height: 4.5em;
}

.noImageContainer {
	background-color: none;
	width: 100%;
	height: 65%;
	margin-left: auto;
	margin-right: auto;
}

.noImage {
	background: no-repeat url(../../images/nopreview.png) center center;
	background-color: none;
	height: 100%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

.infoSet label {
	font-weight: bold;
}

.noneSelected {
	margin: 5px;
	padding-bottom: 10px;
}

.noneSelectedBorder {
	border-bottom: 2px solid #D0DAFD;
}

.certFormTitle span {
	padding-left: 15px;
}

.certFormTitle h2 {
	background-color: transparent;
}

#eventTypeGroupUpdate .formAction{
	text-align: left;
	border-top: 1px solid #D0DAFD;
	border-bottom: none;
}