#multipleEvents div {
	background: no-repeat url(../../images/multi-event.jpg) 15px 10px;
}

#singleEvent div {
	background: no-repeat url(../../images/single-asset.jpg) 15px 10px;
}

#multipleProofTests div {
	background: no-repeat url(../../images/proof_test.jpg) 15px 10px;
}

