.eventTypes ul{
	display:none;
	position:absolute;
	background-image: url(../../images/dropdownArrow-top-left.gif);
	padding-top:11px;
	background-position:top center;
	background-repeat: no-repeat;
	width:200px;
}
.eventTypesLeft ul{
	background-position:top left;
	background-image: url(../../images/dropdownArrow-left.gif);
}
.eventTypes ul li{
	background-color: #333;
	color:#cccccc;
	padding: 10px;
}

.eventTypes ul li a, .eventTypes ul li a:visited {
	color:#cccccc;
}

.eventTypes ul li:hover{
	
	background: #1b5ccd;
}
.eventTypes ul li:hover a, .eventTypes ul li:hover, .eventTypes ul li:hover a:visited {
	color:#fff;
}

.eventTypes:hover ul{
	display:block;
	text-align:left;
	font-size:1em;
}

.eventTypesRelative:hover ul a{
	font-size:1em;
}

.eventTypes:hover ul li, .eventTypes ul:hover li{
	display:block;
	border:5px solid #333;
}

#resultsTable td {
	vertical-align: top;
}

.eventForm h2 {
	overflow: hidden;
}

#formTitle {
	display:block;
	float:left;
}
#jumpToSection {
	font-weight: normal;
	display:block;
	float:right;
	color:#333399;
	font-size: 0.8em;
}

.eventForm {
	overflow:hidden;
}

.eventForm h3 {
	border-top: 1px solid #E8EDFF;
	border-bottom: 1px solid #E8EDFF;
	overflow:hidden;
	margin: 5px 0px;
	padding:5px 15px 5px 30px;
}

.eventForm div.infoSet {
	border: none;
	display: block;
	float: left;
	width: 100%;
    border-bottom: 1px solid #dddddd;
}

.eventForm div.criteriaEditContainer {
    display: block;
    float: left;
    width:30%;
}

.eventForm div.textCriteriaContainer {
    padding-top: 10px;
    padding-bottom: 10px;
}

.eventForm div.textCriteriaDisplayContainer {
    padding-top: 10px;
    display:block;
    float:left;
    max-width: 400px;
    padding-bottom: 10px;
}

.eventForm div.infoSet span, .eventForm div.infoSet div.simpleContainer {
	padding-top: 10px;	
	width:auto;
}

.eventForm div.infoSet span.criteriaButton, .eventForm div.infoSet div.criteriaButton {
	padding-top:0px;
	padding-bottom: 0px;
	float:left;
	display:block;
}

.eventForm div.infoSet span.criteriaText {
	float:left;
	display:block;
}

.youAreOn, .eventSectionIndex, .eventSectionTitle {
	display: block;
	float:left;
}

.youAreOn, .eventSectionIndex {
	padding-right: 5px;
	font-weight: normal;
	color:#333399;
}

.eventSectionIndex {
	float:right;
	font-size: 1.3em;
}

#orgBrowserForm label{
	text-align: left;
}

#proofTestType {
	width:145px;	
	padding: 1px;
}

#proofTestUpload{
	padding-top:4px;
	}

#assetSummary h2 {
	overflow:hidden;
	
}
#assetSummary h2 span {
	display: block;
	float:left;
}

#assetSummary h2 span#certLink {
	display: block;
	float:right;
	border:none;
	color: #333333;
	font-weight:normal;
}
#certLink a, #certLink a:hover, #certLink a:visited, #certLink a:active {
	color: #333333;
}

#chartImage {
	width:500px;
}

.events {
	margin-left: 30px;
	border-left: 3px solid #CCC;
	border-bottom: 1px solid #CCC;
	overflow:hidden;
	background-color: #F5F5F5;
	padding:15px;
	width:700px;
}

.eventList {
	margin-top:5px;
}

.eventType, .datePerformed, .performedBy, .editEvent {
	display: block;
	float: left;
	width: 200px;
}
.datePerformed {
	width:150px;	
}

.performedBy {
	width:250px;	
}

.editEvent {
	width:60px;
	float:right;
}
.addEventColumn {
	width:170px;
}

#multiProofTestButton {
	
	float:right;
	position:relative; 
	top: -2.4em;
	text-algin: right;
	padding-right:15px;
}

#comments {
	display:block;
	margin-top: 5px;
	width: 250px;
}

#proofTestManual{
	padding: 0;
}

#proofTestManual label {
	width:120px;
	padding-left:0px;
	clear:left;
	text-align: left;
}

#proofTestUploadFile {
	height:20px;
}

#proofTestManual input {
	width:100px;
}

.recDefButtons {
	padding-left: 10px;
	margin-right: 95px;
	float:right;
}

.recDefButtons img {
	padding-left: 5px;
}

.observationsShow p.observationTextShow   {
	border: 2px solid #E8EDFF;
	padding: 10px 0 10px 40px;
	width: 320px;
	background-repeat: no-repeat;
	background-position: top left;
}

.observationBox {
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
	height: 300px;
	width: 470px;
} 

.observationBox p{
	margin-left: auto;
	margin-right: auto;
	}

.observationText {
	margin-top: 5px;
	width: 390px;
	border: 2px solid #E8EDFF;
	padding: 10px 10px 10px 40px;
	background-image: url(../../images/addObservation.gif);
	background-repeat: no-repeat;
	background-position: top left;
}

.observationsShow p.defRepairedOnSite, .defRepairedOnSite {
	border-color: #9fe8b7;
	background-image: url(../../images/repairedOnSite.gif);
}

.observationsShow p.defRepairedOnSite:hover, .defRepairedOnSite:hover {
	border-color: #8dcda2;
}

.observationsShow p.defRepaired, .defRepaired  {
	border-color: #9fb7e8;
	background-image: url(../../images/repaired.gif);
}

.observationsShow p.defRepaired:hover, .defRepaired:hover {
	border-color: #8da2cd;
}

.observationsShow p.recSelected, .recSelected {
	border-color: #ff9f40;
	background-image: url(../../images/recommendation.gif);
}

.observationsShow p.recSelected:hover, .recSelected:hover {
	border-color: #e08c38;
}

.observationsShow p.defSelected, .defSelected {
	border-color: #ff4f4f;
	background-image: url(../../images/deficient.gif);
}

.observationsShow p.defSelected:hover, .defSelected:hover  {
	border-color: #de4545;
}

.observationsShow p.obsCommentShow, .obsCommentShow {
	background-image: url(../../images/observationComment.gif);
}

/*.observationCheck, .observationsShow p.observationTextShow span.observationCheck {
	width: 20px;
	height: 20px;
	padding-right: 5px;
}*/

.observationsShow {
	background-color: #fff;
	padding: 5px 0 5px 10px;
	overflow: hidden;
	border: 1px solid;
	width:380px;
}

.observationsShow p.observationTextShow span   {
	display: inline;
	padding:0;
}

.observationTextShow {
	margin-top: 5px;
}

.eventPreformed {
	margin-left:200px;
	clear:both;
}

.observationComment {
	padding-top: 10px;
	width:425px;
}

.observationComment span textarea{
	width: 400px;
	height: 200px;
	padding: 4px;
	font-size: 15px;
	border:1px solid #9C9C9C;
	color:#555555;
}

.observationComment label{
	display: block;
	font-size: 1.2em;
	font-weight: bold;
	padding-bottom: 10px;
	}

.print {
	float: right;
}

.print ul {
	display: none;
	position: absolute;
	background-image: url(../../images/dropdownArrow-top-right.gif);
	padding-top: 11px;
	background-position: top right;
	background-repeat: no-repeat;
	width:200px;
}

.print:hover ul {
	display: block;
	text-align: right;
	font-size: 1em;
}

.print:hover ul li {
	display: block;
	border: 5px solid #333;
}

.print:hover ul a {
	font-size: 1em;
}

.print ul li {
	background-color: #333;
	color: #cccccc;
	padding: 10px;
}

.print ul li:hover {
	background: #1b5ccd;
}

.print ul li:hover a, .print ul li:hover {
	font-weight: normal;
	color: #fff;
}

.print ul li a {
	font-weight: normal;
	color: #cccccc;
}

#newScheduleForm {
	overflow:hidden;
	width:500px;
	border:solid 3px #999;
	background-color:#fff;
	z-index: 1;
}

#newScheduleForm h2{
	margin: 0;
}

#newScheduleForm button{
	padding: 4px;
}
	
#newScheduleForm .blockSeparated{
	font-size: 1.1em;
	padding: 5px;
	border-top:1px solid #CCCCCC;
}

.eventSchedule {
	padding: 10px 5px;
}

#schedules label {
	font-weight: bold;
}

.attachments  {
	margin-top:5px;
}

.locationTree{
	display:block;
	float:left;
	padding-bottom:5px;
	padding-left:5px;
	padding-top:5px;
	width:270px;
}

.crudForm .infoSet .locationFieldHolder{
	width:260px;
}

.infoSet .locationTree .textbox{
	border:1px solid #9C9C9C;
	color:#555555;
	padding:4px;
}

.component .fullForm .infoSet label{
	text-align: left;
}

.fullForm .infoSet label, .fullForm .eventForm .infoSet label{
	text-align:left;
}

.crudForm .infoSet{
	border-bottom: none;
}

 .crudForm .infoSet .eventFormLabel {
	text-align:left;
    width: 50%;
}

 .crudForm .infoSet label, .fullForm .infoSet label{
	text-align:right;
	padding-right: 10px;
	color: #555555;
}

.crudForm .infoSet .fieldHolder select{
	border: 1px solid #9C9C9C;
	color: #555555;
	width: 260px;
	padding: 4px;
}

.crudForm .infoSet .orgPicker{
	width: 260px;
}

.fieldHolder p{
	display: inline;
	padding-left: 5px;
	border-style: none;
}

.crudForm .infoSet .commentsLabel, .crudForm .infoSet .commentContainer label{
	display: block;
	text-align: left;
	line-height: auto;
	padding: 0;
	width: 180px;
}

.fileUpload div {
	float:left;
 	clear: left;
}

p.treeHeading{
	display: block;
}

.fieldHolder label.checkBoxLabel{
	position: relative;
	top: -2px;
}

.fullForm .infoSet select{
	width: 260px;
	padding: 4px;
}

.crudForm .infoSet select.selectCriteria {
    margin-top:6px;
    width: 150px;
}

.crudForm .infoSet select.comboBoxCriteria {
    margin-top:6px;
    width: 150px;
}

.crudForm .infoSet input.comboBoxCriteria {
    margin-top:6px;
    width: 150px;
}
