.printOutSelection {
	list-style: none;
	overflow:hidden;
}

.printOutSelection li {
	float:left;
	text-align: center;
	min-height: 150px;
	
	margin: 0px 3px 5px 0; 
	
}
	
.infoSet .printOutSelection li label {
	display:none;
}

.printOutSelection li {
	width: 120px;
}
.printOutThumbnail {
	height:96px; 
}
.printOutDescription {
	padding-top:2px;
	min-height:4.5em;
	
}
