#multipleEvents{
	background: no-repeat url(../../images/multiple-event-small.png) 5px 0;
	min-width: 135px;
}

#singleEvent{
	background: no-repeat url(../../images/single-event.png) 5px 0;
	min-width: 110px;
}

#assetSearchForm label{
	display: none;
	}

#multipleProofTests{
	background: no-repeat url(../../images/multi-proof-icon-small.png) 5px 0;
	min-width: 205px;
}

fieldset {
	border: 1px solid #CACACA;
	padding: 10px;
	font-size: 13px;
	margin-top: 15px;
}

fieldset legend {
	padding-left: 39px;
	min-height: 30px;
}

fieldset p {
	padding: 6px 0 6px 11px; 
}

legend .heading{
	font-size: 1.2em;
	font-weight: bold;
	position: relative;
	top: 5px;
}

#assetSearch{
	border-style: none;
	padding: 5px 0 0 5px;
	}

fieldset #assetSearch input[type="text"]{
	width: 205px;
	margin-bottom: 5px;
}

fieldset button, input{
	overflow: visible;
	padding: 5px;
	}

.eventList {
	overflow:hidden;
	width: 450px; 
	margin-left: auto;
	margin-right: auto;	
}

