#quickLinks{
	margin-right: 20px;
}

#dashboardShortCuts ul{
	padding-top: 10px;
	padding-left: 10px;
}

#releaseNotes{
	width: 100%;
	margin-top:10px;
}

#releaseNotes ul li{
	border-bottom:1px solid #CCCCCC;
	padding-top: 10px;
	padding-bottom: 10px;
}

#dashboardShortCuts h2, #relaseInformation h2{
	font-size: 1.3em;
}
	
.emptyOptions{
	border-bottom: none;	
}

.dashboardBlock {
	overflow:hidden;
}

.dashboardSection {
	width: 480px;
	float: left;
	margin-bottom: 30px;
}

#quickLinks .bulletList li{
	list-style-image: url(/fieldid/images/links-arrow.png);
	list-style-type: square;
	list-style-position: inside;
}

#helpVideos .bulletList li{
	list-style-image: url(/fieldid/images/info-small.png);
	list-style-type: square;
	list-style-position: inside;
}

.bulletList li {
	padding: 5px;
	font-size: 13px;
}

.quickLinkList a, .quickLinkList a:hover, .quickLinkList a:visited, .quickLinkList a:active {
	padding-top: 5px;
	padding-bottom: 5px;
	position: relative;
	top: -5px;
}
