.leftBox, rightBox{
	float: left;
}

.leftBox {
	width: 70%;
	display: block;
}

.rightBox {
	width: 30%;
}

.infoSet {
	width: 95%;
	padding-bottom: 20px;
}

.infoSet p, .infoSet div, .infoSet form{
	margin-left: 5px;
}
.fieldHolder select{
	margin-top: 10px;
	border: 1px solid #9C9C9C;
	padding: 4px;
}

.fieldHolder input{
	margin: 10px 0;
	border: 1px solid #9C9C9C;
	padding: 4px;
}

.infoSet h2 {
    background-color: #EEEEEE;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    margin: 5px 0;
}

.infoSet p, .faqSection span, .formatDate span{
	line-height: 18px;
}

#templateLink{
	background-image: url(../../images/large-xls-icon.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 35px;
	margin-top: 10px;
	height: 40px;
}

#assetTemplate{
	padding-top: 10px;
}

.faqSection h4, .formatDate h4 {
	padding-bottom: 5px;
	font-size: 12px;
	line-height: 18px;
}

.faq {
	padding: 15px;
}

.faqSection {
	padding-bottom: 15px;
}

.validationErrors h2, .validationErrors p{
	padding: 5px;
}

.errorActions {
	padding: 5px 0;
}

.errorActions input[type="button"] {
	padding: 5px;
}

.formatDate {
	margin-top: 5px;
	padding: 15px;
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
}