#page {
	width: 95%;
	min-width: 960px;
	max-width: 1260px;
}
#pageContent {
	position: relative;
}
#contentHeader {
	margin-bottom: -1px;
	*margin-bottom: -8px;
	position: relative;
	z-index: 100;
}

/* Tabbed navigation */
.options {
	border: none;
}
.options li {
	margin-left: 0;
	background: none;
	border: 1px solid transparent;
}

	.options li.selected {
		border-color: #c7c7c9;
		border-bottom-color: transparent;
		background: #fff;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
	}
	.options li.selected,
	.options li a {
		padding: 8px 18px;
	}

	.options li:hover {
		background-color: transparent;
	}
	.options li.selected:hover {
		background-color: #fff;
	}

/* Adds border to bottom of tabbed navigation */
hr {
	margin: 0 0 20px;
	border: none;
	border-top: 1px solid #c7c7c9;
}


.main-selection {
	position: absolute;
	top: 21px;
}
.language-select {
	margin-left: 295px;
	*margin-left: 0;
	*padding: 10px 0;
}
.btn-wrap {
	position: absolute;
	top: 21px;
	right: 0;
}

/* Chosen plugin overrides */
.chzn-container {
	margin: 4px 0 10px;
}
select {
	width: 285px;
	float: left;
}
.chzn-single.chzn-default,
.chzn-container-single .chzn-single {
	border-radius: 0;
	box-shadow: none;
	background: none;
	height: 25px;
	padding-top: 2px;
	border-color: #c7c7c9;
}
.chzn-container-single .chzn-single span,
.chzn-container-single .chzn-default {
	color: #7a7a7a;
}
.chzn-container-single .chzn-single {
	line-height: 20px;
}
.chzn-container .chzn-results .highlighted {
	background-color: #dddddd;
	background-image: none;
	color: #7a7a7a;
}

/* Translation form table */
.translation-table table {
	width: 100%;
	margin-top: 30px;
	font-size: 13px;
}
.translation-table td {
	padding: 10px;
	float: left;
	*border-top: 1px solid #eee;
}
.translation-table tr {
	border-top: 1px solid #eee;
}
.translation-table input {
	border: 1px solid #c7c7c9;
	height: 25px;
	color: #3a3a3a;
	width: 250px;
	padding: 0 4px;
}
/* column specific styles */
.translation-table .title {
	font-weight: bold;
	color: #444;
	font-weight: 600;
	width: 18%;
}
.translation-table .default-value {
	width: 25%;
}
.translation-table .languages {
	width: 260px;
}
.translation-table .misc {
	text-align: left;
	width: 20%;
}
.translation-table .misc a {
	margin-right: 6px;
}



