/* fieldid.css overrides */
#page {
	width: 95%;
	min-width: 960px;
	max-width: 1260px;
}
#pageContent {
	position: relative;
	font-size: 13px;
}
#contentHeader {
	margin-bottom: -1px;
	*margin-bottom: -8px;
	position: relative;
	z-index: 100;
}
#contentHeader h1 {
	margin-left: 14px;
}

/* Tabbed navigation */
.options {
	border: none;
}
.options li {
	margin-left: 0;
	background: none;
	border: 1px solid transparent;
	/*font-size: 12px;*/
}
	.options li.selected {
		border-color: #c7c7c9;
		border-bottom-color: transparent;
		background: #fff;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
	}
	.options li.selected,
	.options li a {
		padding: 8px 13px;
	}

	.options li:hover {
		background-color: transparent;
	}
	.options li.selected:hover {
		background-color: #fff;
	}

/* Adds border to bottom of tabbed navigation */
hr {
	margin: 0 0 20px;
	border: none;
	border-top: 1px solid #c7c7c9;
}


.main-selection {
	position: absolute;
	top: 21px;
}
.language-select {
	margin-left: 295px;
	*margin-left: 0;
	*padding: 10px 0;
}
.language-select select {
	width: 175px;
}
.btn-wrap {
	position: absolute;
	top: 21px;
	right: 0;
}

/* Chosen plugin overrides */
.chzn-container {
	margin: 4px 0 10px 12px;
}
select {
	width: 285px;
	float: left;
}
.chzn-single.chzn-default,
.chzn-container-single .chzn-single {
	border-radius: 0;
	box-shadow: none;
	background: none;
	height: 25px;
	padding-top: 2px;
	border-color: #c7c7c9;
}
.chzn-container-single .chzn-single span,
.chzn-container-single .chzn-default {
	color: #7a7a7a;
}
.chzn-container-single .chzn-single {
	line-height: 20px;
}
.chzn-container .chzn-results .highlighted {
	background-color: #dddddd;
	background-image: none;
	color: #7a7a7a;
}
/* overrides dropdown color for chosen plugin in IE */
.chzn-container .chzn-results .highlighted {
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

/* Translation form table */
.translation-table table {
	width: 100%;
	margin-top: 30px;
}
.translation-table td {
	padding: 10px;
	float: left;
	*border-top: 1px solid #eee;
}
.translation-table tr {
	border-top: 1px solid #eee;
}
.translation-table textarea {
	border: 1px solid #c7c7c9;
	height: 25px;
	color: #3a3a3a;
	width: 260px;
	padding: 0 4px;
	resize: vertical;
}

/* column specific styles */
.translation-table .title {
	font-weight: bold;
	color: #444;
	font-weight: 600;
	width: 18%;
}
.translation-table .default-value {
	width: 25%;
}
.translation-table .languages {
	padding-top: 0;
	padding-bottom: 0;
}
.translation-table .languages textarea {
	margin: 10px 0 8px;
}
.translation-table .misc {
	text-align: left;
	width: 20%;
}
.translation-table .misc a {
	margin-right: 6px;
}

/* Config languages */
p {
	margin: 12px 0 0px 14px;
}
.add-remove-languages {
	margin-top: 5px;	
}
.add-remove-languages select {
	width: 455px;
}
.add-remove-languages .chzn-container {
	float: left;
	margin-right: 6px;
	margin-top: 1px;
}
.add-remove-languages .btn {
	float: left;
}

/* MODAL STYLES */
.wicket-modal .translation-table {
	width: 600px;
	padding: 0 10px 40px;
}
.wicket-modal .language-select {
	margin-left: 0;
}
.wicket-modal .btn-wrap {
	top: 2px;
	right: 8px;
}
.wicket-modal .translation-table td {
	padding: 0;
	float: none;
}
.wicket-modal .title {
	width: 150px;
}
.wicket-modal .default-value {
	width: 170px;
	margin-top: 5px;
}
.wicket-modal .misc {
	display: none;
}
