#initialSetup {
	background: no-repeat url(../../images/predefined-locations-logo.png) 0px 5px;
	background-color:#EAEAEA;
	min-height:65px;
	padding: 20px 10px 0 65px;
	border:1px solid #CCCCCC;
	background-position: 25% 33%;
}

#initialContent{
		padding:0 50px 0 250px;
}

.addBox{
	background-color:#EAEAEA;
}

.formActions.buttonGroup{
	padding-top:10px;
}

.locationDesc{
	padding: 0 0 10px 0;
}

#addLocationFields .infoSet{
		padding:0 0 15px 15px;
	}
	
#addLocationFields label{
		padding: 0 0 5px 0;
	}

#addLocationFields .fieldHolder{
	display:inline;

	}

.editContent {
	padding:5px 0px 15px 15px;
}

.addLocationContent{
	padding:5px 0px 25px 15px;
	display:inline;	
}

.intialHeading {
	text-align:left;
	padding: 0 0 10px 0;
	}
	
#addLocationFields{
	padding:0 0 15px 10px;
	}

#wwctrl_editLocation, #wwctrl_editLevel {
	padding: 0px;
}

#editButtons{
	padding: 5px 0 2px 0;
}

#addLocation, #addFirstLocation{
	margin: 0 0 0 5px;
	*margin: -15px 0 0 5px; /*For IE7*/
	vertical-align: middle;
}

#nodeForm, #addFirstForm{
	float:left;
}

.treePreview{
	 padding: 0 0 0 0;
 	float:left;
}
