#pageContent.brandedContainer {
    background:none;
    padding-bottom:15px;
    border:none;
}

#pageContent .login-page {
    width:85%;
    float:none;
    box-shadow: 2px 2px 6px 1px #ccc;
    height:220px;
    background:#f8f8f8;
    margin-left:auto;
    margin-right:auto;
    padding:30px 0 60px 0;
}

#pageFooter {
    /*page is 85%, ha */
    margin:0 0 0 7.5%;
    float:left;
}

.login-page .titleBlock {
    text-align: center;
    font-size:19px;
    padding:10px 0;
    margin-bottom:0;
}

.login-form {
    margin-left:30%;
    width:50%;
}

#pageFooter .logo {
    float: right;
    margin-right:15%;
}

#pageFooter #sslCert {
    float: left;
}

.remember-me {
    padding:10px 0;
}
.remember-me .fieldHolder{
    font-size:1em;
    padding:5px;

}


.login-input a {
    color:#888;
    font-size:12px;
}

.actions {
    margin-top:15px;
}

.actions input {
    margin-top:5px;
}

.login-help {
    margin-left:88%;
    width:150px;
    margin-top:-20px;
    height:20px;
}

#companyLogo, #systemLogo {
    width: 215px;
    margin-top: 5px;
    margin-left:340px;
    float:none;
}

#notifications {
    float:none;
    margin-left:auto;
    margin-right:auto;
}

#password.passwordBox, #userName.textbox {
    width:80%;
    padding:10px;
    border:1px solid #ddd;
    margin-top:5px;
}

.blue-submit {
    width:100px;
    float:left;
}

.request {
    float:left;
    color:#999;
    margin-left:-13px;
    padding: 12px 0;
}

.request a { padding-left:5px; }
