#pageContent.brandedContainer {
    background:none;
    padding-top:15px;
    padding-bottom:15px;
    border:none;
    margin-bottom:0;
}

#mainContent.login-page {
    width:600px;
    float:none;
    box-shadow: 2px 2px 6px 1px #ccc;
    background:#f8f8f8;
    margin-left:auto;
    margin-right:auto;
    padding:30px 0px 60px 0px;
    margin-bottom: 0px;
}

#pageFooter {
    margin:auto;
    width: 600px;
}

.login-page .titleBlock {
    text-align: center;
    font-size:19px;
    padding:10px 0;
    margin-bottom:0;
}

.titleBlock .action {
    color:#888;
}

.login-page .titleSummary {
    text-align: center;
    font-size:17px;
}

.login-form {
    margin-left:175px;
    width:250px;
}

.forgot-login-form {
    margin-left:125px;
    width:350px;
}

#pageFooter .logo {
    float: right;
}

#pageFooter #sslCert {
    float: left;
}

.remember-me {
    margin-bottom:30px;
}

.remember-me .fieldHolder{
    font-size:11px;
    padding:5px;
}

.login-input {
    margin-left:-16px;
}

.login-input a {
    color:#888;
    font-size:12px;
}

.login-input .fieldHolder {
    display:inline;
}

.login-input img {
    padding-right:2px;
}

.actions {
    margin-top:15px;
}

.actions input {
    margin-top:5px;
}

.login-help {
    padding-left: 10px;
    font-size:11px;
}

#companyLogo, #systemLogo {
    margin-top: 5px;
    margin-left:340px;
    padding:0px;
    float:none;
}

#notifications {
    float:none;
    margin-left:auto;
    margin-right:auto;
    width:50%;
}

#password.passwordBox, #userName.textbox {
    width:84%;
    padding:10px;
    border:1px solid #ddd;
    margin-top:5px;
}

.request {
    margin-top:25px;
    margin-top:25px;
}

.request a { padding-left:5px; }

#sslCert, #sslCert a, #sslCert a:hover, #sslCert a:visited, #sslCert a:active, .logo a {
    color: #999;
    font-size:10px;
}

p.actionInstructions {
    color:#999;
}
