.actions {
	overflow:hidden;
}
.actions form {
	float:left;
	margin-right:5px;
}

.unread {
	font-weight: bold;
}

#mainContent .fieldHolder, #mainContent .label {
	display: inline;
	line-height: normal;
	padding: 0 0 0;
}

#mainContent .viewSection p {
	border-top: none;
	margin-top: 0;
	overflow: hidden;
	padding: 0;
	border-bottom: none;
}

#mainContent .smallViewSection p label {
	width:50px;
}

#leftConnectionsColumn a{
	text-decoration: none;
	color: #556DA5;
	display: block;
}

#mainContent{
	display: block;
	padding: 1.5em 0 3em 2em;
	margin-top: 5px;
	overflow: hidden;
}

#subject{
	font-weight: bold;
}

#messageHeader {
	border-bottom: 1px solid #999999;
	padding: 1.5em;
}

#messageHeader img {
	float:left;
	display: block;
	padding: 2em 1em 2em 0;
	width: 150px
}


#messageBody {
	padding: 1.5em;
}

.smallViewSection p span {
	color:  #000000;
}

.smallViewSection p label {
	color: #999999;
}
