#steps {
	float:left;
	width:1000px;
}

.snFormatLabel {
	padding-left: 5px;
	font-weight: bold;
}

.snFormatHelp {
	padding-left: 20px;
}

#step2 .formRowHolder {
	padding-top: 5px;
	padding-bottom: 5px;
}

#step3 .formRowHolder {
	padding-top: 5px;
	padding-bottom: 5px;
}


#step1form {
	width: 100%;
}

#step4form {
	width: 100%;
}

.stepContent label {
	font-weight: bold;
}

.snParams {
	margin-left: 20px;
	border-spacing: 5px 0;
	border-collapse: separate;
}
.snParams th  {
	font-weight: bold;
}

.snParams input {
	width: 100px;
}

.identifierRow {
	float: none;
	clear: both;
	padding: 5px 20px 5px 0;
	overflow:hidden;
	
}

.identifierRow div {
	float: left;
	width: 175px;
}

.identifierRow div .identifierInput {
	width: 150px;
}

.identifierRow .shortColHead {
	width: 40px;
	float: left;
}

.identifierRow .shortCol {
	width: 40px;
	float: left;
	padding-top: 4px;
}

#masterForm input {
	padding-left: 20px;
}

#masterForm input {
	padding: 5px 10px;
}

#quantityInvalid {
	padding-left: 60px;
}

.identifierErrorRow {
	padding: 0;
	margin: 0;
}

.identifierErrorRow .invalidSerial {
	float: none;
	clear: both;
	padding-left: 60px;
}

#form1required {
	border:1px solid;
	padding:10px 0;
	text-align:center;
}

#step4Actions {
	margin-bottom:20px;
}

 .assignToMeLink{
	margin-left: 125px;
}