.failed {
	background-color: #FFEBEB;
}
.failed:hover {
	background-color: #FFE0E0;
}

#resultBlock {
	min-height: 80px; 
}

#introduction {
	overflow: hidden;
}

#writtenInstructions {
	float: left;
	width: 500px;
	padding: 20px 0px 20px 120px;
	background: no-repeat left center url(../../images/multi-event-large.jpg);
	margin: 5px 0 5px 60px;
	
}

#videoInstruction {
	float:right;
	padding: 5px 0 5px 50px;
}

#performEvent {
	text-align:center;
}

.multiEventInstructions {
	border: 1px solid #B5BACC;
	background-color:#E8EDFF;
	margin:5px 0;
	padding: 0px 5px;
}

.multiEventLightBox {
	float: right;
	width: 240px;
	margin: 10px 0;
}

.stepContent .infoSet .fieldHolder input[type="checkbox"]{
	margin-top:4px;
}

.stepContent .infoSet .fieldHolder{
	width: 320px;
}

.stepContent .infoSet .setFromAssetCheckbox{
	margin-left: 179px;
	width: 225px;
}

.stepContent .fieldHolder label.checkBoxLabel{
	padding-top: 2px;
}

.infoSet .textCriteriaContainer .fieldHolder input[type="text"] {
    width: 250px;
}

.infoSet .assignToMeLink{
	clear: none;
	position: relative;
	top: 10px;
	right: 185px;
}

.eventForm div.unitOfMeasureName{
	margin-top: 7.5px;
	position: relative;
	right: 55px;
}

.eventForm div.textCriteriaContainer{
	width: 400px;
}