#addressList {
	padding: 0;
	width: 600px;
	float:left;
}

#addressList span {
	width: 265px;
}
#addressList div {
	overflow: hidden;
	
}
#addressList a {
	padding:5px;
}

#addressList input {
	padding-left: 5px;
	width: 250px;
}

form.largeForm {
	width: 901px;
}

.fullInfoSet {
	width: 830px;
	float: left;
	clear: both;
}

.ownerSpan {
	float: none;
}

.sectionContent{
	border: none;
}

#emailAddresses {
	width: 830px;
}	

.notificationContentOptions {
	border-left: 10px solid #D0DAFA;
	margin-left:20px;
	overflow:hidden;
}

.textContainer{
	background-image: url(../../images/notification-bs-icon.png);
}

.enlarged {
	font-size:16px;
}

.bold {
	font-weight: bold;
}

.crudForm .infoSet, .pageSection .infoSet {
	border-bottom: none;
}

.name .fieldHolder input{
	border : 1px solid #9C9C9C;
	color : #555555;
	padding : 4px;
}

.twoColumns .infoSet input.textbox {
	width: 350px;
}

.name .infoSet label {
	padding-top : 16px;
	width : 50px;
	text-align : right;
}

.name .infoSet span {
	width : 400px;
}

.crudForm p {
	border-bottom: none;
}

.instructions {
	color : #999999;
	font-size: 10px;
	width : 400px;
	font-weight: normal;
	line-height: 10px;
}

.deliveryOptions .infoSet label {
	width : 340px;
	padding-left: 0;
}

.deliveryOptions .infoSet span {
	padding-left : 4px;
}

.content .infoSet .checkbox {
	width: 20px;
}

.content .infoSet label {
	width: 255px;
}

.content .infoSet p {
	display: inline;
}

.content .infoSet p span {
	width: auto;
	padding-top: 5px;
	padding-left: 2px;
	padding-right: 2px;
}

.content .infoSet select, .content .infoSet p, .crudForm .infoSet .upcomingDates .fieldHolder{
	width: 100px;
}

.crudForm .infoSet .wide {
	width: 550px;
}

.crudForm .infoSet .wide p{
	width: 550px;
	display: block;
	padding-left: 15px
}

.crudForm .infoSet .wide label{
	padding-top: 0;
	padding-bottom: 0;
}

.filters .infoSet span{
	width : 300px;
	padding-top: 2px;
	padding-bottom: 0;
}

.deliveryOptions .infoSet label, .filters .infoSet label, .email .infoSet label{
	text-align: right;
}

.infoSet select {
	border:1px solid #9C9C9C;
	color:#555555;
}