#addressList {
	padding: 0;
	width: 600px;
	float:left;
}

#addressList span {
	width: 265px;
}
#addressList div {
	overflow: hidden;
	
}
#addressList a {
	padding:5px;
}

#addressList input {
	padding-left: 5px;
	width: 250px;
}

form.largeForm {
	width: 901px;
}

.fullInfoSet {
	width: 830px;
	float: left;
	clear: both;
}

.ownerSpan {
	float: none;
}


#emailAddresses {
	width: 830px;
}	

.notificationContentOptions {
	border-left: 10px solid #D0DAFA;
	margin-left:20px;
	overflow:hidden;
}

.textContainer{
	background-image: url(../../images/notification-bs-icon.png);
}
