/* apply a natural box layout model to all elements */
* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}
body {
	font: 400 12px Arial, sans-serif;
	color: #222;
	margin: 0;
	padding: 0;
}
h2, h3 {
	margin: 0;
	text-align: center;
	padding: 5px 0;
}
h3 {
	text-transform: uppercase;
	line-height: 20px;
	padding: 0 0 10px;
	color: #222;
}

.printbar {
	width: 100%;
	color: white;
	background: #333;
	padding: 10px;
	margin-bottom: 10px;
}
	.printbar p {
		max-width: 1024px;
		margin: 0 auto;
		text-align: right;
		cursor: pointer;
	}
	.printbar img {
		vertical-align: middle;
		margin-left: 5px;
	}

.printpage {
    position: relative;

}

.procedure-print-container > .watermark {
	display: none;
}
.watermark {
	position: absolute;
	z-index: 100;
	top: 60px;
	left: 200px;
}
	.watermark img {
		max-width: 700px;
	}

.procedure-print-container {
	min-width: 1000px;
	max-width: 1024px;
	margin: auto;
	position: relative;
}

.header {
	padding-bottom: 20px;
}


/* table styles */
.procedure-print-container table {
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
}
.metadata td, .metadata th,
.equipment-details td {
	border: 1px solid #888;
	padding: 4px;
}

/* setting images to print as a background */
.print-image {
	overflow: hidden;
    padding: 0;
    vertical-align: top;
}
.print-image > div {
	position: relative;
}
.print-image > div > span {
	left: 0;
    position: absolute;
    width: 100%;
}
.print-image > span {
	position: relative;
	display: block;
	padding: 6px;
}
.print-image img {
	width: 100%;
}

/* metadata section 
------------------------------------*/
.metadata {
	overflow: hidden;
	border-bottom: 1px solid #888;
	padding-bottom: 8px;
}
.tenant-logo {
	float: left;
	text-align: left;
	width: 60%;
}
.tenant-logo img {
	height: 95px;
}
.metadata table {
	float: right;
	width: 40%;
	/*height: 95px;*/
	font-size: 11px;
}
.metadata td, .metadata th {
	width: 26%;
}
.metadata th {
	text-align: left;
	height: 25px;
}
th.revision, td.revision  {
	width: 22%;
	text-align: center;
	padding: 0;
}
td.revision  {
	font-size: 30px;
}
td.revision > span {
	padding-top: 10px;
}



/* asset section
------------------------------------*/
.assets h2 {
	font-size: 30px;		
}
.assets table {
	font-size: 16px;
}


/* procedure summary
------------------------------------*/
.procedure-summary th {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: normal;
}

.equipment-details td {
	width: 37%;
	font-size: 13px;
}
	.equipment-details td.building {
		width: 26%;
	}

.procedure-details {
	margin: 5px 0;
}
	.procedure-details th, 
	.procedure-details td {
		position: relative;
	}
	.procedure-details td {
		font-size: 50px;
		text-align: center;
	}
		

	.procedure-details .devices {
		border-right: 3px solid #fff;
		border-left: 3px solid #fff;
		width: 25%;	
	}
	
	.procedure-details .warning {
		width: 50%;
	}
		.procedure-details th.warning {   
			color: #888;
		}
		.procedure-details td.warning { 
			font-size: 16px;
			text-align: left; 
		}

.audit-dates ul {
	padding: 0;
	margin: 0;
	overflow: hidden;
}
.audit-dates ul li {
	list-style-type: none;
	float: left;
	width: 20%;
	margin: 10px 2.5%;
	border: 2px solid #ccc;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding: 4px;
	text-align: center;
}
.audit-dates h3 {
	font-size: 16px;
	color: #aaa;
	padding: 0;
}
.audit-dates .date {
	text-transform: uppercase;
	font-size: 26px;
	color: #aaa;
}


/* image list
------------------------------------*/
.image-list #print-images-container > #printpage > ul  {
	width: 100%!important; /* can this be done in js instead? */
	text-align: center;
}
.image-list #print-images-container > #printpage > ul  >li {
	background: transparent;
	list-style-type: none;
	margin: 10px 20px;
	float: none;
	display: inline-block;
}


/* isolation points table/list
------------------------------------*/
.isolation-point-table {
	font-size: 14px;
	margin: 0;
	padding: 0;
    z-index: 1;
}
.isolation-point-table li {
	background-color: #fff;
	display: table;
	width: 100%;
	border: none;
	padding: 0;
	margin-bottom: 0;
}
	.isolation-point-table li span {
		border-color: black;
		border-style: solid;
		border-width: 0 1px 1px 0;
		display: table-cell;
		padding: 5px;
	}
	.isolation-point-table .identifier {
		border-left: 1px solid black;
	}
	.isolation-point-table li.headings {
		border-top: 1px solid black;
		text-align: center;
	}
	
/* column widths */
.isolation-point-table .identifier,
.isolation-point-table .headings .identifier  {
	width: 8%;
}
.isolation-point-table .source {
	width: 12%;
}
.isolation-point-table .device {
	width: 10%;
}
.isolation-point-table .location {
	width: 20%;
	padding-right: 10px;
}
.isolation-point-table .method {
	width: 25%;
}
.isolation-point-table .check {
	width: 25%;
}



/* footer
------------------------------------*/
.footer p {
	text-align: center;
	font-weight: bold;
	font-size: 14px;
}

/* print specific
------------------------------------*/
@media print { 
	.procedure-print-container {
		width: 100%;
	}

	/* add this class to any element that needs to be printed on the next page */
	.page-break {
		page-break-before: always;
	}
	/* printed page will always break before the header */
	.header {
		page-break-before: always;
	}
	/* page will not break inside a list item */
	.isolation-point-table li {
		page-break-inside: avoid;
	}
	.printbar {
		display: none;
	}
	.printIcon {
		display: none;
	}
}




