/* hacks to work around existing css */
.emptyOptions {
    display:none;
}

.title  {
    color:#999;
    font-size:14px;
}

.navigation {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    width:300px;
    padding-top:10px;
    padding-bottom:40px;
}

.navigation span {
    position:relative;
    padding: 0px 20px 30px 20px;
}

.navigation span label {
    position:absolute;
    top: 12px;
    left:7px;
}

.buttons {
    position:absolute;
    bottom:95px;
    right:50px;
}


.publish-message {
    font-size:15px;
    color: #999;
    padding-top:200px;
    display:block;
    text-align:center;
}






