@import url('/fieldid/style/chosen/chosen.css');

/* WORK AROUND FOR EXISTING CSS
**********************************************************/
#page {
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    width: 1010px; /* Added 10px here to make the .procedure-wrapper equal 1000px since 5px of margin was added. */
}
#contentHeader {
    display: none;
}


/* PROCEDURE/LOTO
**********************************************************/
hr {
    clear: both;
    height: 1px;
    border: none;
    border-top: 1px solid #c2c2c2;
    margin: 0;
}

.title {
    color: #999;
    font-size: 23px;
    font-weight: 300;
}
    .title .page-title {
        color: #666;
    }

h3 {
    color: #666;
    font-size: 20px;
    line-height: 32px;
    font-weight: 300;
    display:inline;
}

.procedure-wrapper {
    -webkit-box-shadow: 0px 2px 4px 0px #CCC;
    box-shadow: 0px 2px 4px 0px #CCC;
    border: 1px solid #CCC;
    margin: 5px;
    background: #FFF;
    overflow: hidden;
}


/* NAVIGATION 
---------------*/
.navigation {
    text-align: center;
    margin-top: 25px;
    position: relative;
}
.navigation ul {
    margin: 0;
    padding: 0;
}
    .navigation ul li {
        display: inline-block;
        list-style-type: none;
        width: 135px;
        margin-bottom: 35px;
        position: relative;
        z-index: 2;
    }
    .navigation label {
        display: block;
        font-size: 14px;
        font-weight: 400;
        margin-top: 10px;
    }

.navigation hr {
    width: 256px;
    position: absolute;
    left: 371px;
    top: 6px;
    z-index: 1;
}


/* FORM STYLES 
---------------*/
.column {
    width: 460px;
    float: left;
    text-align: right;
    font-size: 12px;
    line-height: 30px;
}

.details label {
    display: inline-block;
    margin-bottom: 12px;
    vertical-align: top;
}
.details input {
    width: 285px;
    height: 30px;
    float: right;
    margin-left: 12px;
}
.details select {
    width: 290px;
}
.details textarea {
    width: 286px;
    height: 152px;
    margin-left: 12px;
    resize: none;
}
/* chosen plugin overrides */
.chzn-container {
    margin-left: 12px;
}



/* BUTTON STYLES 
-----------------*/
.buttons {
    padding: 10px 0;
    float: right;
}

/* Targets all classes that start with "btn" to create a global style. Need to add fallback for IE6 */
a[class^="btn"] {  
    display: inline-block;
    padding: 15px 0;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    text-align: center;  
}  
.btn-gray {
    background: #cccccc;

    width: 85px;
    margin-right: 3px;
}
.btn-green {
    background: #009966;

    width: 175px;
}
.btn-blue {
    background: #0099ff;
}



/* DETAILS SECTION SPECIFIC STYLES
**********************************************************/
.procedure-wrapper .details {
    padding: 28px;
    overflow: hidden;
}



/* CONTENT SECTION SPECIFIC STYLES
**********************************************************/
.procedure-wrapper .content {
    padding: 0 12px;
}



/* DEREK'S CSS - will incorporate it into the main css */
.temp {
    display: none;
}
.publish-message {
    font-size:15px;
    color: #999;
    padding-top:200px;
    display:block;
    text-align:center;
}

/*.emptyOptions {
    display:none;
}
*/

.publish-message {
    font-size:15px;
    color: #999;
    padding-top:200px;
    display:block;
    text-align:center;
}

.sections .content {
    overflow:hidden;
    position:relative;
    height:600px;
    padding-left:3%;
    /*note to christina : i just hacked this for now to get some elbow room...will discuss later to fix. :derek */
    
    /* --- */
}


.add-isolation-point {
    position:absolute;
    right:5%;
}

/* table */
.isolation-point-table {
    width:100%;
    margin: 45px 0;
}
    .isolation-point-table tr {
        margin-bottom: 5px;
        display: block;
        border: 1px solid #c2c2c2;
    }
    .isolation-point-table th {
        border-right: #fff;
        border-left: #fff;
        /*text-align: center;*/
        font-weight: 600;
    }
    .isolation-point-table td {
        background: #f6f6f6;
    }
    .isolation-point-table td, .isolation-point-table th {
        padding: 5px 10px;
    }
    .isolation-point-table .identifier {
        width: 52px ;
    }
    .isolation-point-table .source {
        width: 70px;
    }
    .isolation-point-table .device {
        width: 90px;
    }
    .isolation-point-table .location {
        width: 100px;
    }
    .isolation-point-table .method {
        width: 200px;
    }
    .isolation-point-table .check {
        width: 170px;
    }
    .isolation-point-table .actions {
        width: 60px;
    }
    .isolation-point-table .reorder {
        width: 35px;
        background: #fff;
        text-align: center;
    }

   /* .isolation-point-table .identifier,
    .isolation-point-table .source,
    .isolation-point-table .device {
        text-align: center;
    }
*/

/* edit screen */
.isolation-point-editor {
    margin-left:120%;
    width:92%;
    position: absolute;
    background:#f8f8f8;
    /* needs to be above labels and images in procedure list.*/
    z-index:10;
    height:90%;
    -moz-box-shadow: 5px 0px 2px -5px #CCC, -5px 0px 2px -5px #CCC, 0px 2px 5px 0px #CCC;
    -webkit-box-shadow: -5px 5px 2px -5px #CCC, -5px 0px 2px -5px #CCC, 0px 2px 5px 0px #CCC;
    box-shadow: -11px 11px 4px -5px #CCC, -5px 0px 2px -5px #CCC, 0px 2px 5px 0px #CCC;
    border: 1px solid #ccc;
    top:5%;
}

/*.isolation-point-list {
    margin-left:0;
    width:90%;
    position: absolute;
    background:white;
    top:5%;
}*/

.isolation-point-editor .inputs {
    padding-bottom:50px;
    float:left;
}

.isolation-point-editor .inputs li span {
    width:100px;
    text-align: right;
    display:inline-block;
    padding-right:10px;
    padding-top:20px;
}

.isolation-point-editor .inputs li input {
    width:150px;
    height:34px;
}

.isolation-point-editor .inputs li input.large-text {
    width:350px;
}

.isolation-point-table {
    width:100%;
    height:300px;
    overflow-y:auto;
    margin-top:25px;
}

.isolation-point-table td, .isolation-point-table th {
    padding:5px;
}

.isolation-point-table .actions {
    width:75px;
}




/*hacks*/
/*temporary hack to move buttons just for test/debugging*/
.isolation-point-editor .buttons {
    position: absolute;
    margin:0;
    bottom:5%;
    right:5%;
    border:none;
    overflow:visible;
}
.isolation-point-editor .title {
    padding-top:40px;
    padding-bottom:10px;
    padding-left:20px;
}