.instruction p {
	border-bottom: 1px solid #E8EDFF;
	padding: 5px 10px;
	
}

h3 {
	padding-left: 10px;
	font-size: 1.1em;
	margin: 10px 0px;
}
h3 .instructionTitle {
	color: #333399;
}

#subProducts, #addSubProductContainer {
	padding-left: 10px;
	width:340px;
	
}

#addSubProductContainer, #subProducts li {
	overflow: auto;
	margin: 10px 0px;
}

#subProducts li {
	list-style-image: url(/fieldid/images/listItem.gif);
	list-style-position: inside;
	margin-left: 5px;
}


#subProducts li span, #addSubProductContainer span {
	display:block;
	width: 250px;
	float: left;
	
}
#subProducts li span {
	padding-left: 15px;
}

#addSubProductContainer span {
	float:left;
}
#subProducts li a, #addSubProductContainer button{
	display:block;
	float: right;
}