fieldset {
	border: 1px solid #CACACA;
	font-size: 12px;
	margin: 15px;
	width: 45%;
	float: left;
}
fieldset legend {
	background-repeat: no-repeat;
	background-position: 2px 5.5px;
	padding: 6px;
	font-weight: bold;
	font-size: 14px;
	margin-left: 5px;
}

fieldset td{
	margin-left: 10px;
	padding : 5px;
}

.labeltext {
	margin-left: 18px;
}

.leftColumn{
	margin-right: 40px;
}

.leftColumn p{
	padding-left: 0;
}

fieldset .passColor, fieldset .failColor{
	margin-left: 8px;
}

.passColor p, .failColor p{
	padding-left: 7.5px;
	padding-right: 7.5px;
	width: 95px;
}

.schedule {
	background-image: url(../../images/quick-event-calendar-small.png);
}

.adhoc {
	background-image: url(../../images/quick-event-plus-icon.png);
}

p.footer{
	background-color: #EEEEEE;
	padding: 10px;
}

fieldset p {
	padding-left: 30px;
	padding-top: 5px;
	padding-bottom: 10px;
}

fieldset span {
	margin-left: 5px;
}

p.emptyScheduleList{
	padding-left: 30px;
}
