.setupWizardContent {
	width:680px;
	margin:20px;
}

#pageContent #steps{
	display: block;
	clear:both;
	float: left;
}

#setupWizardComplete {
	background: no-repeat url(../../images/small-check.png);
}

#setupWizardStep3, #steps { 
	background: no-repeat url(../../images/catalog.png);
}

#setupWizardStep1 form, #setupWizardStep2 form {
	padding-top:10px;
}

#setupWizardComplete ul li {
	margin:10px 0;
	padding-left:35px;
	min-height:36px;
} 

#setupMobile {
	background: no-repeat url(../../images/mobile_software.png);
}

#identifyAssets {
	background: no-repeat url(../../images/identify.png);
}

#furtherAccountSetup {
	background: no-repeat url(../../images/setup.png);
}

#visitHelp {
	background: no-repeat url(../../images/help-documentation.png);
}
#watchIntroductionVideo {
	background: no-repeat url(../../images/intro-video.png);
}
#needMoreHelp {
	border-top:1px solid #999;
	background: no-repeat url(../../images/contact-support.png);
}

#setupWizardStart ul li {
	margin:10px 0;
	padding-left:55px;
	line-height:50px;
	background-repeat: no-repeat;
}
.setupWizardContent h2{
	color: #34849C;
	padding: 0;
}
.setupWizardContent .infoSet, .setupWizardContent .fieldHolder{
	border-style: none;
	min-height: 0;
	line-height: 0;
}

.setupWizardContent .infoSet p{
	display: block;	
	padding-bottom: 5px;
}

.quickSetupHeader h2,.setupWizardContent h2{
	font-size: 14pt;
}

#companyProfile {
	background-image: url(../../images/company_profile.png);
}

.quickSetupHeader {
	background-image: url(../../images/system_settings.png);
	background-repeat: no-repeat;
	background-position: left 10px;
	padding: 15px 0 0 50px;
	height: 50px;
	margin-top: 10px;
	margin-left: 20px;
}

#importCatalogs {
	background-image:  url(../../images/catalog.png);
}

#startButton {
	font-size:1.5em;
}

.setupContainer{
	background-color: #eee;	
	border: 1px solid #999999;
	margin-top: 5px;
}

.setupWizardContent{
	background-color: white;
    border: 1px solid #999;
    padding: 20px;
    width: auto;
}

.checkBoxLabel{
	padding-left: 10px;	
}

.setupWizardContent p,.setupWizardContent label, .checkBoxLabel {
	margin-top:10px;
	font-size: 15px;
	line-height: 20px;
}

#safetyNetworkConnections {
	margin-top: 10px;
}

#safetyNetworkConnections td {
	padding:10px 8px;
	border-top:1px solid #999;
}

.actions {
	border-top-color:#999;
	margin:0;
}

#contentHeader,  #pageNavigation, #pageActions{
	display: none;
}

#pageHeader{
	margin-top: 15px;
}

.prominent{
	padding: 20px;
}
.setupWizardContent .hideInQuickSetup{
	display: none;
}
.hideInQuickSetup{
	display: none;
}
