.setupWizardContent {
	width:680px;
	margin:20px;
}

#setupWizardStep1 form, #setupWizardStep2 form {
	padding-top:10px;
}

#setupWizardComplete ul li {
	margin:10px 0;
	padding-left:35px;
	min-height:36px;
} 

#setupWizardStart ul li {
	margin:10px 0;
	padding-left:55px;
	line-height:50px;
	background-repeat: no-repeat;
}
.setupWizardContent h2{
	color: #34849C;
	padding: 0;
}
.setupWizardContent .infoSet, .setupWizardContent .fieldHolder{
	border-style: none;
	min-height: 0;
	line-height: 0;
}

.setupWizardContent h3{
	font-size: 14px;
	padding: 5px;
	}

.setupWizardContent .customSelection .customSelectionType{
	padding-left: 30px;
	}

.setupWizardContent .selectOptions, .setupWizardContent .customSelectionType{
	padding: 4px;
} 

.setupWizardContent .infoSet p{
	display: block;	
	padding-bottom: 5px;
}

.quickSetupHeader h2,.setupWizardContent h2{
	font-size: 14pt;
}

.quickSetupHeader {
	background-image: url(../../images/system_settings.png);
	background-repeat: no-repeat;
	background-position: left 10px;
	padding: 15px 0 0 50px;
	height: 50px;
	margin-top: 10px;
	margin-left: 20px;
}

.setupContainer{
	background-color: #eee;	
	border: 1px solid #999999;
	margin-top: 5px;
}

.setupWizardContent{
	background-color: white;
    border: 1px solid #999;
    padding: 20px;
    width: auto;
}

.checkBoxLabel{
	padding-left: 10px;	
}

.setupWizardContent p{
	font-size: 15px;
	line-height: 20px;
}

.setupWizardContent label, .checkBoxLabel {
	margin-top:10px;
	font-size: 15px;
	line-height: 20px;
}

#safetyNetworkConnections {
	margin-top: 10px;
}

#safetyNetworkConnections td {
	padding:10px 8px;
	border-top:1px solid #999;
}

.actions {
	border-top-color:#999;
	margin:0;
}

#contentHeader,  #pageNavigation, #pageActions{
	display: none;
}

#pageHeader{
	margin-top: 15px;
}

.setupContainer .prominent{
	padding: 10px 10px 10px 20px;

}

.setupContainer .contentIndentation{
	padding: 2px 10px 10px 25px
} 

.setupContainer .prominent input, .setupContainer .prominent button{
	padding: 2px;
	font-size: 1.2em;
}

.setupWizardContent .hideInQuickSetup{
	display: none;
}

.hideInQuickSetup{
	display: none;
}

label.urlLabel{
	padding: 10px;
	border: 1px solid #999; 
	margin-right: 5px;
}
