	
#manage_connections p {
	background: no-repeat url(../../images/connections.png) -10px 5px;
}

#inbox p {
	background: no-repeat url(../../images/inbox.png) -6px 5px;
}

#manage_catalog p {
	background: no-repeat url(../../images/manage_catalog.png) -10px 5px;
}

#privacy_settings p {
	background: no-repeat url(../../images/privacy.png) -13px 5px;
}

#sideBox {
	overflow: hidden;
	border: 1px solid;
	background: #F8F8F8 none repeat scroll 0 0;
	height: 200px;
	padding: 10px;
}

#sideBox h2 {
	padding: 0;
}

#sideBox p {
	padding-top: 15px;
}

#sideBox a {
	min-height:25px;
	margin-top: 15px;
	padding-left: 20px;
	display: block;
}

#help_link {
	background: no-repeat url(../../images/small-help-logo.png);
}

#video_link {
	background: no-repeat url(../../images/small-video-logo.png);
}

#settings_privacy_heading {
	min-height: 35px;
	padding: 8px 0 0 35px;
	background: no-repeat url(../../images/privacy-small.png);
}

#manage_connections_heading {
	min-height: 20px;
	padding: 5px 0 0 35px;
	background: no-repeat url(../../images/connections-small.png);
}

#manage_catalog_heading {
	min-height: 27px;
	padding: 5px 0 0 38px;
	background: no-repeat url(../../images/manage_catalog-small.png);
}

#inbox_heading {
	min-height: 27px;
	padding: 5px 0 0 38px;
	background: no-repeat url(../../images/inbox-small.png);
}

.infoSet {
	min-height: 40px;
	padding-top: 10px;
	padding-bottom: 5px;
	border-top: 1px solid #D0DAFA;
}

.infoSet .desc {
	float: left;
	width: 500px;
}

.infoSet .desc p {
	padding: 5px 50px 0 0;
}

.infoSet .desc {
	float: left;
	width: 500px;
}

.infoSet .check {
	overflow: hidden;
	padding-top: 10px;
}

.infoSet .check span {
	float: left;
}

.infoSet .check label {
	overflow: hidden;
	padding-left: 10px;
}

#messageInput .infoField .inline {
	display: inline;
}

#messageInput .infoField .field_tip {
	color: #444;
	padding-left: 10px;
}

#body_desc_text {
	width: 400px;
}

#messageInput {
	float: left;
	width: 500px
}

#messageSample {
	background: #F8F8F8 none repeat scroll 0 0;
	border: 1px solid;
	overflow: hidden;
	padding: 10px;
	height: 330px;
}

#messageSample h4 {
	font-size: 1.3em;
	font-weight: bold;
	padding: 5px 0;
}

#messageSample .sampleDesc {
	font-weight: bold;
	padding: 5px 0;
}

#sampleMessage {
	border: 2px solid #888888;
	height: 230px;
	overflow: auto;
	padding: 5px;
}

#leftConnectionsColumn{
	display: block;
	float: left;
	border-right: 1px solid #999999;
	overflow: hidden;
	padding: 2.0em 0 2.0em 0;
	margin: 0;
}

#yourConnections{
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
	padding-right: 2.0em;
	margin: 0.75em 0;
}

#safetyNetworkSplash {
	display: block;
	float: left;
	padding: 2em 0 3em 2em;
}

#findConnections{
	display:block;
	width: 30em;
	float:left;
}

#findConnections p{
	padding: 1em 0 2em 6em;
	background: no-repeat url(../../images/connections.png) left center;
}

#inviteCompany{
	display:block;
	float:left;
	max-width:27em;
	padding: 2em 0 1em 6.5em;
	background: no-repeat url(../../images/inbox.png) left center;
}

#safetyNetworkVendorList{
	margin-top:1em;
}

.linkDecoration a{
	text-decoration:none;
	color:#556DA5;
}

.videoLinks a {
	min-height:25px;
	margin-top: 15px;
	padding-left: 20px;
	display: block;
}