
#help_link {
	background: no-repeat url(../../images/info.png);
}

#video_link {
	background: no-repeat url(../../images/info.png);
}

.infoSet {
	min-height: 40px;
	padding-top: 10px;
	padding-bottom: 5px;
	border-top: 1px solid #D0DAFA;
}

.infoSet .desc {
	float: left;
	width: 500px;
}

.infoSet .desc p {
	padding: 5px 50px 0 0;
}

.infoSet .desc {
	float: left;
	width: 500px;
}

.infoSet .check {
	overflow: hidden;
	padding-top: 10px;
}

.infoSet .check span {
	float: left;
}

.infoSet .check label {
	overflow: hidden;
	padding-left: 10px;
}

#messageInput .infoField .inline {
	display: inline;
}

#messageInput .infoField .field_tip {
	color: #444;
	padding-left: 10px;
}

#body_desc_text {
	width: 400px;
}

#messageInput {
	display:	block;
	float: left;
	width: 300px;
}

#messageInput .actions{
	display: block;
		margin-top: 30px;
	}

#messageInput a{
	text-decoration: none;
	color: #556DA5;
}

#messageSample {
	display: block;
	float: right;
	background: #F8F8F8 none repeat scroll 0 0;
	border: 1px solid;
	overflow: hidden;
	padding: 10px;
	height: 238px;
	width: 410px;
}

#messageSample h4 {
	font-size: 1.3em;
	font-weight: bold;
	padding: 5px 0;
}

#messageSample .sampleDesc {
	font-weight: bold;
	padding: 5px 0;
}

#sampleMessage {
	border: 2px solid #888888;
	height: 140px;
	overflow: auto;
	padding: 5px;
}

#safetyNetworkSplash a, #leftConnectionsColumn a{
	text-decoration: none;
	color: #556DA5;
	display: block;
}

#leftConnectionsColumn{
	display: block;
	float: left;
	overflow: hidden;
	padding: 2em 0;
	font-size: 1.1em;
	border-right: 1px solid #999999;
	width: 210px;
	max-width: 220px;
}


#leftConnectionsColumn li, #leftColumn li{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

#yourConnections{
	background: no-repeat url(../../images/connections-small.png) left center;
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
	padding: 0.8em 0 0.8em 2.7em;
	margin: 0.75em 0;
	font-size: 1.15em;
	font-weight: bold;
}

.safetyNetworkSplash {
	display: block;
	padding: 1.5em 0 0 2em;
	margin-top: 5px;
	overflow: hidden;
    max-width: 760px;
}

#safetyNetworkDescription{
 	font-size: 1.25em;
	width: 45em;
	line-height:1.5em;
}

#safetyNetworkSplash .safetyHeading a{
	color: #333333;	
	font-size: 1.3em;
	font-weight: bold;
	margin-bottom:0.35em
}	

#safetyNetworkSplash .safetyHeading a:hover{
	text-decoration: underline;
}

#findConnections, #inviteCompany{
	margin-top:1.4em;
	}

#findConnections{
	display: block;
	width: 35em;
	float: left;
}

#companySearchBox{
	font-size: 1.2em;
	display: block;
	float: left;
	height: 1.5em;
	margin-top:0.5em;
	padding:2px;
}

.inputAlign { 
	vertical-align: middle;
	*vertical-align: text-bottom;
} 
	
#searchForCompanyButton{
	margin-left: 0.5em;
	margin-top: 0.5em;
}

#findConnections p{
	display:block;
	float:left;
	background: no-repeat url(../../images/connections.png) -12px center;
	width: 30em;
	padding: 1.4em 0 2em 5em;
}

#findConnections .fieldHolder{
	display:inline;
}

#inviteCompany{
	background: no-repeat url(../../images/inbox-safety-network.png) left 15px;
	display: block;
	float: left;
	max-width: 25em;
	padding: 1.75em 0 1.75em 7.6em;
	margin-left: 1em;
}

#inviteCompany a{
	color: #333333;	
	font-size:1.1em;
}

#safetyNetworkCustomerList, #safetyNetworkCatalogOnlyList {
	margin-top: 1.25em;
}

.videoLinks a {
	display: block;
	line-height:35px;
	margin-top: 0.8em;
	padding-left: 2.8em;
	font-size: 1.2em;
}

.splashHeading{
	font-size: 1.3em;
	font-weight: bold;
}

.emptyLi {
	color: #999999;
}

div#sendAnInvite {
    background: url("../../images/search-invite-company-icon.png") no-repeat scroll 0.5em 1em #EDEDED;
    padding: 0.5em 0 0.5em 2.8em;
    width: 60em;
}

#sendAnInvite a {
    display: inline;
    font-size: 1.1em;
}

#sendAnInvite p {
    padding: 0 15px;
}

#sendAnInvite h2 {
    padding: 0 15px;
}

#inviteCompanyLogo #safetyNetworkTenantLogo{
	width: 175px;
	}

#companyInfoContainer{
	display:block;
	clear:both;	
	}

#safetyNetworkSplash .actions a{
	display: inline;	
}

.companyInvite{
	display: block;
	margin-top: 1.25em;
	float: left;
	}
	
#inviteCompanyInfo{
	margin-left: 2.5em;
	position: relative;
	top: 12px;
	}

#stretchContainer{
	min-height:100%;
	}

.italic{
	font-style: italic;
}

#invitationMessageHeading{
	clear:both;
	display: block;
	padding-top: 1.5em;
	padding-bottom: 0.5em;
	font-size:1.1em;
	}	
	
#invitationMessage{
	height:150px;
	width:400px;
	overflow: auto;
	font-size:1.1em;
	}

form#privacySettingsSave h2 {
    font-weight: normal;
    background-color: #EAEAEA;
}

form#privacySettingsSave div.settingsHeader {
    width: 100%;
    font-weight: normal;
    background-color: #EAEAEA;
    display: block;
    font-size: 1.2em;
    line-height: 21px;
    padding: 5px 15px;
    text-align: left;
    margin: 0;
}

form#privacySettingsSave label {
    display: inline;
    font-weight: normal;
}

form#privacySettingsSave a {
    display: inline;
}

form#privacySettingsSave .fieldHolder {
    display: inline;
}

form#privacySettingsSave .check {
    margin: 10px;
}

div#safetyNetworkSplash table.list tr:hover {
    background-color: #ffffff;
}

div#safetyNetworkSplash table.list tr:hover td {
    color: #333399;
}

div.addConnectionLinkOrText {
    padding-top: 2px;
    padding-bottom: 2px;
    color: #444444;
}

#companySearchResults a.companyWebsite {
    color: #666666;
}

#companySearchResults span.companyName {
    color: #222222;
}

.safetyNetworkHeadings{
	font-size: 1.75em;
	padding-bottom: 0.5em; 
}

.safetyNetworkFont{
	font-size: 1.3em;
	color: #666666
}

