
#help_link {
	background: no-repeat url(../../images/info.png);
}

#video_link {
	background: no-repeat url(../../images/info.png);
}

.infoSet {
	min-height: 40px;
	padding-top: 10px;
	padding-bottom: 5px;
	border-top: 1px solid #D0DAFA;
}

.infoSet .desc {
	float: left;
	width: 500px;
}

.infoSet .desc p {
	padding: 5px 50px 0 0;
}

.infoSet .desc {
	float: left;
	width: 500px;
}

.infoSet .check {
	overflow: hidden;
	padding-top: 10px;
}

.infoSet .check span {
	float: left;
}

.infoSet .check label {
	overflow: hidden;
	padding-left: 10px;
}

#messageInput .infoField .inline {
	display: inline;
}

#messageInput .infoField .field_tip {
	color: #444;
	padding-left: 10px;
}

#body_desc_text {
	width: 400px;
}

#messageInput {
	float: left;
	width: 500px
}

#messageSample {
	background: #F8F8F8 none repeat scroll 0 0;
	border: 1px solid;
	overflow: hidden;
	padding: 10px;
	height: 330px;
}

#messageSample h4 {
	font-size: 1.3em;
	font-weight: bold;
	padding: 5px 0;
}

#messageSample .sampleDesc {
	font-weight: bold;
	padding: 5px 0;
}

#sampleMessage {
	border: 2px solid #888888;
	height: 230px;
	overflow: auto;
	padding: 5px;
}

#safetyNetworkSplash a, #leftConnectionsColumn a, #leftColumn a{
	text-decoration: none;
	color: #556DA5;
	display: block;
}

#leftConnectionsColumn{
	display: block;
	float: left;
	overflow: hidden;
	padding: 2em 0;
	font-size: 1.1em;
	border-right: 1px solid #999999;
	width: 210px;
	max-width: 220px;
}


#leftConnectionsColumn li, #leftColumn li{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

#yourConnections{
	background: no-repeat url(../../images/connections-small.png) left center;
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
	padding: 0.8em 0 0.8em 2.7em;
	margin: 0.75em 0;
	font-size: 1.15em;
	font-weight: bold;
}

#safetyNetworkSplash {
	display: block;
	float: left;
	padding: 1.5em 0 3em 2em;
	margin-top: 5px;
	overflow: hidden;
}

#safetyNetworkDescription{
 	font-size: 1.25em;
	width: 45em;
	line-height:1.5em;
}

#safetyNetworkSplash h1, #mainContext h1{
	font-size:1.75em;	
	padding-bottom:0.5em;
}

#safetyNetworkSplash .safetyHeading a{
	color: #333333;	
	font-size: 1.3em;
	font-weight: bold;
	margin-bottom:0.35em
}	

#safetyNetworkSplash .safetyHeading a:hover{
	text-decoration: underline;
}

#findConnections, #inviteCompany{
	margin-top:1.4em;
	}

#findConnections{
	display: block;
	width: 35em;
	float: left;
}

#companySearchBox{
	font-size: 1.2em;
	display: block;
	float: left;
	height: 1.5em;
	margin-top:0.5em;
	padding:2px;
	}

.inputAlign { 
	vertical-align: middle;
	*vertical-align: text-bottom;
} 
	
#searchForCompanyButton{
	margin-left: 0.5em;
	margin-top: 0.5em;
	}

#findConnections p{
	display:block;
	float:left;
	background: no-repeat url(../../images/connections.png) -12px center;
	width: 30em;
	padding: 1.4em 0 2em 5em;
}

#findConnections .fieldHolder{
	display:inline;
}

#inviteCompany{
	background: no-repeat url(../../images/inbox-safety-network.png) left 15px;
	display: block;
	float: left;
	max-width: 25em;
	padding: 1.75em 0 1.75em 7.6em;
	margin-left: 1em;
}

#inviteCompany a{
	color: #333333;	
	font-size:1.1em;
}

#safetyNetworkCustomerList, #safetyNetworkCatalogOnlyList {
	margin-top: 1.25em;
}

.videoLinks a {
	display: block;
	line-height:35px;
	margin-top: 0.8em;
	padding-left: 2.8em;
	font-size: 1.2em;
}

.splashHeading{
	font-size: 1.3em;
	font-weight: bold;
}

.emptyLi {
	color: #999999;
}

div#sendAnInvite {
    background: url("../../images/mail-send.png") no-repeat scroll 0.5em 1em #D0DAFD;
    padding: 0.5em 0 0.5em 1.8em;
    width: 60em;
}

#sendAnInvite a {
    display: inline;
    font-size: 1.1em;
}

#sendAnInvite p {
    padding: 0 15px;
}

#sendAnInvite h2 {
    padding: 0 15px;
}

#leftColumn{
    display: block;
	float: left;
    max-width: 220px;
    width:220px;
	overflow: hidden;
	padding: 2em 0;
	font-size: 1.1em;
	border-right:1px solid #999999;
}

#leftColumn img {
	padding-bottom:1em;
    width: 80%;
}

#leftColumn p {
	padding:2px;
}
#mainContent{
	display: block;
	padding: 1.5em 0 3em 2em;
	margin-top: 5px;
	overflow: hidden;
}

#mainContent p{
 	font-size: small;
	line-height:1.5em;	
	font-weight:normal;
}

#mainContent a{
	text-decoration: none;
	color: #556DA5;
}

#registerAssets{
	background: no-repeat url(../../images/search-connection-assets.png) left 15px;
}

#preAssignedAssets{
	background: no-repeat url(../../images/view-pre-assigned-assets.png) left 15px;
}

#registerAssets, #preAssignedAssets{
	float: left;
	width: 30em;
	padding: 1em 0 2em 4.5em;
	margin-left:1em;
}

#preAssignedAssets a{
    display: block;
}

#companyInfo{
	background: no-repeat url(../../images/company-info-icon.png) left;
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
	padding: 0.8em 2em 0.8em 2.7em;
	margin: 0.75em 0;
	font-size:1.1em;
	font-weight:bold;
}
