
#selectColumnForm {
	overflow:hidden;	
}

.columnGroup {
	float: left;
	margin: 10px 15px;
}

.columnGroup h4 {
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	border-bottom: 1px solid #D0DAFD;
}

.columnGroup div {
	margin-top: 10px;
}

#selectColumnNotificationArea {
	font-weight:normal;
	margin-left: 200px;
	line-height: 1.2em;
	padding: 5px;
}

.pageSection {
	overflow: hidden;
	width: 100%;
}
.contentSection {
	overflow: auto;
	zoom: 1;
}

.infoSet {
	width: 100%;
	overflow: hidden;
	clear: right;
}

.pageSection .infoSet label{
	width: 120px;
	}
	
#pageContent {
	overflow: visible;
}

#pageFooter {
	clear:both;
}

.fieldGroup .infoSet{
	border-top: none;
	border-bottom: none;
}

.fieldGroup{
	display:block;
	float:left;
	overflow: hidden;
	width:500px;
}

.fieldGroup h2{
	margin-right:10px;
	}

.clearLeft{
	clear:left;
}
.ieFix{
	margin-bottom:6px;
}

.searchForm{
	width:100%;
}

.fieldHolder input, .fieldHolder select{
	padding: 3px;
}

.pageSection .formAction{
	border-top:1px solid #D0DAFD;
	}

div.formAction {
		text-align: center;
}

.formAction input{
	margin-left: 3px;
	margin-right: 2.5px;
}
