
#selectColumnForm {
	overflow:hidden;	
}

.columnGroup {
	float: left;
	margin: 10px 15px;
}

.columnGroup h4 {
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	border-bottom: 1px solid #D0DAFD;
}

.columnGroup div {
	margin-top: 10px;
}

#selectColumnNotificationArea {
	font-weight:normal;
	margin-left: 200px;
	line-height: 1.2em;
	padding: 5px;
}

.pageSection {
	overflow: hidden;
	width: 100%;
}
.contentSection {
	overflow: auto;
	zoom: 1;
}

.infoSet {
	width: 100%;
	overflow: hidden;
	clear: right;
}

.pageSection .infoSet label{
	width: 120px;
	}
	
#pageContent {
	overflow: visible;
}

#pageFooter {
	clear:both;
}

.ieFix{
	margin-bottom:6px;
}

.searchForm{
	width:100%;
	clear:both;
}

.fieldHolder input, .fieldHolder select{
	padding: 3px;
}

.pageSection .formAction{
	border-top:1px solid #D0DAFD;
	}

div.formAction {
		text-align: center;
}

.formAction input{
	margin-left: 3px;
	margin-right: 2.5px;
}

#modalBox_message {
	width: 500px;
}
#modalBox_message h3 {
	font-size : 1.5em;
	padding-left: 12px;
}

#modalBox_message p{
	padding-left: 10px;
	padding-top: 10px;
}

#modalBox_message input{
	margin-left: 10px;
}

#reportName {
	margin: 5px 0 25px 0;
	font-size : 1.2em;
	border: 1px solid #9C9C9C;
    color: #555555;
    overflow: hidden;
    padding: 4px;
	width: 400px;
}

#label {
	font-size : 1.2em;
	font-weight: bold;
}

.formActions {
	padding-top: 10px;
	border-top: 1px solid #D0DAFD;
}
