/* fieldid.css OVERRIDES 
------------------------------------*/
* { 
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */

	/**behavior: url(/scripts/boxsizing.htc);*/
}
body {
	background: #fff;
}
#page {
	border: none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	padding: 0;
}
#contentHeader {
	display: none;
}
strong {
	font-weight: bold;
}
h2 {
	font-size: 18px;
	padding: 0;
	line-height: 1;
	color: #3366cc;
	font-weight: normal;
}
h2 a {
	text-decoration: none;
}
h2 a span {
	color: #3366cc;
	font-size: 18px;
}


/* NEW SEARCH BAR
------------------------------------*/
.search-bar {
	margin-top: 40px;
	overflow: hidden;
}
.search-bar input[type=text]{
	width: 700px;
	height: 50px;
	border: 1px solid #cecece;;
	border-radius: 3px;
	font-size: 16px;
	padding-left: 10px;
	float: left;
}
.search.mattButton {
	width: 80px;
	height: 50px;
	font-size: 16px;
	line-height: 2.5;
	margin-left: 4px;
}


/* CONTAINER FOR PAGE CONTENT 
(excluding the search bar)
------------------------------------*/
.search-container {
	margin-top: 30px;
}


/* MASS ACTIONS BUTTON
------------------------------------*/
.actions {
	/*overflow: hidden;*/
	/* overrides */
	margin: 0;
}
	/* overrides */
	.actions .mattButton {
		width: 100px;
		/*height: 40px;
		font-size: 16px;*/
	}


/* SEARCH RESULTS LISTING
------------------------------------*/
.search-results {
	clear: both;
	margin-top: 10px;
}
.search-results input[type=checkbox] {
	/*float: left;
	width: 2%;*/
}



.asset-item .select {
	width: 3.5%;
	float: left;
	margin-top: 40px;
}
.asset-item .details {
	border: 2px solid #fff;
	border-bottom: 0;
	padding: 14px 10px;
	background: #f8f8f8;
	width: 96.5%;
	float: left;
}
	.asset-item .details:hover {
		background: #ffffd3;
	}

.asset-item ul {
	margin-top: 10px;
}
	/*.asset-item .location img {
		margin-right: 4px;
		vertical-align: middle;
	}*/

	
	.asset-item ul li {
		display: inline;
	}
	.asset-item .fixed-attributes {
		font-size: 14px;
	}
	.asset-item .custom-attribute {
		font-size: 12px;
	}
.asset-item .details > img {
	width: 72px;
	float: left;
	padding: 11px 10px 0 0;
}

