/* fieldid.css OVERRIDES & GLOBAL STYLES
-----------------------------------------*/
* { 
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	*behavior: url(/fieldid/javascript/boxsizing.htc); /* IE 6 & 7 */
}
body {
	background: #fff;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}
#page {
	border: none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	padding: 0;	
}
#contentHeader {
	display: none;
}
#pageContent {
	min-height: 625px;
}
strong {
	font-weight: bold;
}
em {
	text-decoration: none;
}
h2 {
	padding: 0;
	color: #3366cc;
	font-weight: normal;
}
	h2 a {
		text-decoration: none;
		font-size: 18px;
	}
	h2 a span {
		color: #3366cc;
	}

/* NEW SEARCH BAR
-----------------------------------------*/
.search-bar {
	margin: 40px auto;
	position: relative;
}
.search-bar input[type=text]{
	width: 825px;
	height: 42px;
	border: 1px solid #343434;
	font-size: 16px;
	padding-left: 10px;
	float: left;
}
a.search {
	width: 170px;
	height: 42px;
	font-size: 20px;
	line-height: 2;
	margin-left: 4px;
	background: #0066cc;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	text-align: center;
}
.syntax-help {
	position: absolute;
	right: 175px;
}
	.question,
	.close {
		font-size: 20px;
		padding: 9px 16px;
		height: 42px;
		position: absolute;
		right: 0;
		cursor: pointer;
	}
	.close {
		background: #343434;
		color: #fff;
		display: none;
	}
	.syntax-details {
		display: none;
		width: 318px;
		padding: 25px 20px;
		margin-top: 42px;
		background: #343434;
		color: #cccccc;
		-webkit-border-radius: 12px 0 12px 12px;
		border-radius: 12px 0 12px 12px;
		font-size: 13px;
	}
		.syntax-details h3 {
			color: #cccccc;
		}

		ul.syntax-terms {
			margin: 10px 0;
			overflow: hidden;
		}
			ul.syntax-terms > li {
				width: 50%;
				float: left;
				margin: 15px 0;
			}



/* CONTENT CONTAINER (excluding search bar)
-----------------------------------------*/
.search-container {
	margin-top: 30px;
	position: relative;
}


/* MASS ACTIONS
-----------------------------------------*/
.actions {
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}
	.actions.show {
		display: block
	}
.actions ul {
	width: auto;
}
.menu-items {
	left: 0;
}
.mattButton img {
	margin-left: 10px;
	vertical-align: middle;
}


/* SEARCH RESULTS LIST
-----------------------------------------*/
.select-options {
	height: 40px;
}
.select-options input[type=checkbox] {
	margin: 14px 24px 0 0;
}
.select-options label {
	font-size: 14px;
}
.select-options p {
	display: inline;
	font-style: italic;
	margin-left: 10px;
	color: #8F8F8F;
}

.asset-item .select {
	width: 35px;
	float: left;
	margin-top: 40px;
}
.asset-item .details {
	border: 2px solid #fff;
	border-bottom: 0;
	padding: 14px;
	background: #f8f8f8;
	width: 965px;
	float: left;
	position: relative;
}
	.asset-item .details.selected {
		background: #ffffd3;
		font-weight: normal;
	}
	.asset-item .details > img {
		width: 72px;
		float: left;
		padding: 11px 10px 0 0;
	}
	.asset-item .details .btn-group {
		display: none;
		position: absolute;
		top: 30px;
		right: 20px;
	}
	.asset-item .details:hover .btn-group {
		display: block;
	}

.asset-item .fixed-attributes {
	font-size: 14px;
	margin-bottom: 20px;
}
.asset-item .custom-attributes {
	color: #666;
	font-size: 13px; 
}

.btn-group {
	float: right;
}
.matched-text {
	font-weight: bold;
	background: #fff;
	padding: 0 2px;
}


/* PAGINATION
-----------------------------------------*/
.navigator {
	float: right;
	margin-top: 10px;
	font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
}
.navigator a {
	border: 1px solid #cecece;
	text-decoration: none;
	padding: 5px 8px;
	display: inline-block;
}
	.navigator a span {
		color: #3366cc;
	}
.navigator em {
	padding: 5px 8px;
}
#pageFooter {
	padding-bottom: 100px;
}

.messagge {
}

.not-loaded {
    display:none;
}

.loaded {
    display:block;
    outline: 1px dotted lightgray;
}
