
#selectColumnForm {
	overflow:hidden;	
}

.columnGroup {
	float: left;
	margin: 10px 15px;
}

.columnGroup h4 {
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	border-bottom: 3px solid #D0DAFD;
}

.columnGroup div {
	margin-top: 10px;
	border-bottom: 2px solid #D0DAFD;
}


#selectColumnNotificationArea {
	font-weight:normal;
	margin-left: 200px;
	line-height: 1.2em;
	padding:5px;
}

.pageSection {
	overflow:hidden;
	width: 100%;
}
.contentSection {
	overflow:auto;
	zoom:1;
}
.infoSet {
	width:100%;
	overflow:hidden;
	clear:right;
	}

	
#pageContent {
	overflow: visible;
}
#pageFooter {
	clear:both;
}

.fieldGroup .infoSet{
		border-top: none;
	border-bottom:none;
	}

.fieldGroup{
	display:block;
	float:left;
	overflow: hidden;
	width:500px;
}

.fieldGroup h2{
	margin-right:10px;
	}

.clearLeft{
	clear:left;
	}

.searchForm{
	width:100%;
}

.fieldHolder input, .fieldHolder select{
	padding: 3px;
	}
