.organizations {
	background-image: url(../../images/settings-manage-organizations-icon.png);
}

.systemConfig{
	background-image: url(../../images/settings-system-settings-icon.png);
}

.branding {
	background-image: url(../../images/branding-icon.png);
}

.fieldIdPlan {
	background-image: url(../../images/plan-icon.png);
}

.customers {
	background-image: url(../../images/owner-add-owner-icon.png);
}

.users{
	background-image: url(../../images/owner-manager-users-icon.png);
}

.userRegistrations{
	background-image: url(../../images/owner-user-registration-icon.png);
}

.locations{
	background-image: url(../../images/owner-predefined-locations-icon.png);
}

.eventTypeGroup{
	background-image: url(../../images/event-type-group-icon.png);
}

.eventTypes{
	background-image: url(../../images/event-types-icon.png);
}

.eventBooks{
	background-image: url(../../images/event-books-icon.png);
}

.assetTypeGroups{
	background-image: url(../../images/asset-type-groups-icon.png);
}

.assetTypes{
	background-image: url(../../images/asset-types-icon.png);
}

.eventStatusList{
    background-image: url(../../images/asset-statuses-icon.png);
}

.assetStatusList{
	background-image: url(../../images/asset-statuses-icon.png);
}

.priorityCodeList{
    background-image: url(../../images/asset-statuses-icon.png);
}

.autoAttributeCriteria{
	background-image: url(../../images/templates-auto-attributes-icon.png);
}

.commentTemplate{
	background-image: url(../../images/templates-comment-templates-icon.png);
}

.assetColumnsLayout{
	background-image: url(../../images/asset-column-icon.png);
}

.passwordPolicyLayout{
	background-image: url(../../images/password-policy.png);
}

.accountPolicyLayout{
	background-image: url(../../images/account-policy.png);  
}

.eventColumnsLayout{
	background-image: url(../../images/reporting-column-icon.png);
}

.scheduleColumnsLayout{
	background-image: url(../../images/schedules-column-icon.png);
}

.assetCodeMapping{
	background-image: url(../../images/templates-product-code-mappings-icon.png);
}
.signIn {
		background-image: url(../../images/widgets-portal-url.png);
}

.embeddedCode {
		background-image: url(../../images/widgets-embedded.png);
}

.import {
		background-image: url(../../images/xls-icon.png);
}

.setupWizard {
		background-image: url(../../images/setup-wizard-checkmark.png)
	}

.setupList{
	margin-bottom: 30px;
}

.setupOption{
	background-repeat: no-repeat;
	background-position: left 5.5px;
	margin-left: 30px;
	padding-left: 50px;
	margin-top: 20px;
}

.setupOption h1{
	font-size: 14px;	
}

.setupOption p{
	font-size: 13px;	
	line-height: 14px;
}

.setupOption h1, .setupOption p{
	padding: 5px;
}

.setupOption a{
	color: black;
}

.widget {
	margin-top: 10px;
	padding: 10px;
	border: 1px solid black;
	font-family: "courier";
}

fieldset {
	border: 1px solid #CACACA;
	padding: 3px;
	font-size: 13px;
	margin-top: 15px;
}
fieldset legend {
	padding: 6px;
	font-weight: bold;
	font-size: 14px;
}

fieldset p {
	padding-left: 10px;
	padding-bottom: 6px;
	width: 80%;
}

.importInfo {
	background-color: #EEEEEE; 
	border: 1px solid #CACACA;
}

.importInfo .setupOption{
	margin-top: 5px;
	margin-bottom: 10px;
}

.importInfo p {
	font-size: 13px;	
	line-height: 14px;
	margin-left: 30px;
	margin-bottom: 10px;
}

.importAction {
	font-size: 13px;	
	line-height: 14px;
	margin-left: 10px;
	margin-bottom: 6px;
}

.importAction select {
	margin-right: 5px;
}

.wwgrp {
	padding: 0;
	width: auto;
}