.fluidSets .infoSet .fieldHolder {
	width: 280px;
}

.fluidSets .infoSet .permissions {
	width:auto;
}

.permissions th, .permissions td {
	padding: 5px 5px 5px 0px;
	empty-cells: show;
}

td.permissionName{
	width: 350px;
}

.permissions .permissionAction{
	border-bottom: none;
	}

.permissions th {
	font-weight: bold;
}

.permissions td {
	border-bottom: 1px solid #ccc;
}

.radio {
	width: 60px;
	text-align:center;
	border-style: none;
}

.header {
	background-color:#D0DAFD;
	padding: 5px;
}

.fieldGroup{
	height: 400px;
}

.fieldGroup #welcomeMessageTextarea {
	margin-left: 165px;	
}

.fieldGroup .infoSet label{
	text-align: right;
}

.fieldGroup .infoSet select{
	padding: 4px;
    width: 260px;
}

.fluidSets .infoSet {
	padding: 0px;
}

#passwords .fieldHolder, #passwords input{
	width: 117px;
	display: inline;
	margin-right: 10px;
}

#passwords .increasedMargin{
 	margin-left: 170px;
 	margin-right: 117px;
 }

#passwords .labelContainers{
 	color: #999;
 	display: inline;
	margin-right: 90px;
 }
 
.fieldHolder label.checkBoxLabel {
 	color: #999;
 	font-size: 10px;
 	padding-top: 3px;
 	padding-left: 2px;
 }
