.permissions {
	margin: 5px 0px;
	width:250px;
}

.permissions th,.permissions td {
	padding: 5px 5px 5px 0px;
	empty-cells: show;
}

.permissions th {
	font-weight: bold;
}

.permissions td {
	border-top: 1px solid #999;
}


.radio {
	width: 60px;
	text-align:center;
}

.header {
	background-color:#D0DAFD;
	padding: 5px;
}

.extraActions {
	float: right;
	width: 220px;
	background-color:#E8EDFF;
	border: 1px solid #B5BACC;
	margin:5px 0;
	padding: 10px;
}

.extraActions p {
	margin-bottom:10px;
}