/* for fluid, widge pages that take up 100% width.   eg. search results pages */
/*
	-moz-box-shadow: 5px 5px 5px #888;
	-webkit-box-shadow: 5px 5px 5px #888;
	box-shadow: 5px 5px 5px #888;
*/
#page {
	margin-left:5px;
	width:100%;
	margin-left:0%;
}

#page .centre {
	margin-left:325px;
	padding-left:10px; 
}

.sub-menu .config a.true { 
   	background: #cbcbcb;
	background: -webkit-gradient(linear, left top, left bottom, from(#a8a8a8), color-stop(0.15, #c6c6c6), to(#d8d8d8)) !important;
	background: -webkit-linear-gradient(top, #a8a8a8, #c6c6c6 15%, #eeeeee) !important;
    background: -moz-linear-gradient(top, #a8a8a8, #c6c6c6 15%, #eeeeee) !important;
    background: -ms-linear-gradient(top, #a8a8a8, #c6c6c6 15%, #eeeeee) !important;
    background: -o-linear-gradient(top, #a8a8a8, #c6c6c6 15%, #eeeeee) !important;
}

.sub-menu .config a { 
	padding: 0px 5px;
	color: #484848;
	text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    font: 11px "lucida grande",tahoma,verdana,arial,sans-serif;
    line-height: 18px;
    display: block;
    float: left;
    border: solid 1px #7f7f7f;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
 	background:-webkit-linear-gradient(top, #f8f8f8, #bebebe);
	background:-moz-linear-gradient(top, #f8f8f8, #bebebe);
    background:-ms-linear-gradient(top, #f8f8f8, #bebebe);
    background:-o-linear-gradient(top, #f8f8f8, #bebebe);	
}

.sub-menu .config a:hover { 
    border: solid 1px #333;
    color: #282828;
    background: -webkit-linear-gradient(top, #ffffff, #dfdfdf);
    background: -moz-linear-gradient(top, #ffffff, #dfdfdf);
    background: -ms-linear-gradient(top, #ffffff, #dfdfdf);
    background: -o-linear-gradient(top, #ffffff, #dfdfdf);
}
.sub-menu .config a:active { 
    border: solid 1px #7f7f7f;
    background: #d0d0d0;
    background: -webkit-gradient(linear, left top, left bottom, from(#a8a8a8), color-stop(0.15, #c6c6c6), to(#d8d8d8));
    background: -webkit-linear-gradient(top, #a8a8a8, #c6c6c6 15%, #d8d8d8);
    background: -moz-linear-gradient(top, #a8a8a8, #c6c6c6 15%, #d8d8d8);
    background: -ms-linear-gradient(top, #a8a8a8, #c6c6c6 15%, #d8d8d8);
    background: -o-linear-gradient(top, #a8a8a8, #c6c6c6 15%, #d8d8d8);
}

.sub-menu .config a.left { 
    margin: 0;
    border-right: solid 1px #b0b0b0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
}
.sub-menu .config a.middle { 
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    margin: 0;
    border-left: solid 1px rgba(255, 255, 255, 0);
    border-right: solid 1px #b0b0b0;
}

.buttonBar a.middle:hover, a.right:hover { border-left: solid 1px #333 }
.buttonBar a.middle:active, a.right:active { border-left: solid 1px #7f7f7f }
.sub-menu .config a.right { 
    border-left: solid 1px rgba(255, 255, 255, 0);
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
}

/**
.buttonBar { 
	float:left;
}

.buttonBar a {
	height:24px;
}
*/

#left-menu {
	padding:0px;
	background:#fff;
	left:0;
	z-index:10;
	overflow-x:visible;
	overflow-y:auto; 
	margin-left:10px;
	border-right:3px solid #ccc;
	width:315px;
	top:149px;
	bottom:0px;
	position:fixed;
	float:left;
}

.right-menu {
	padding:0px;
	background:#fff;
	left:99%;
	width:1%;
	top:149px;
	bottom:0px;
	position:fixed;
}



.sub-menu a { 
	color:#333;
}

.sub-menu ul.dropdown li.hover a {
	color:#ddd; 
}

.sub-menu {
	border-bottom: 1px solid #ccc;
	height:30px;
	color:#333;
	background:#f9f9f9;	
}

.sub-menu .asset-actions { 
	float:right;
	margin-top:5px;
	margin-right:10px;	
}

.sub-menu .asset-actions .msg { 
	line-height:20px;
}

.sub-menu .config { 
	float:left;
	margin-top:5px;
	margin-left:10px;
}

.search-config .title .right {
	float:right; 
}

.search-config .title {
	font-size: 1.4em;
	margin-left:5px;
	margin-top:10px;
	margin-bottom:5px;
}

.search-config .title a {
	font-size:11px;
}

.search-config .title input {
	margin-right:5px;
	margin-top:-4px;
}

.search-config .content { 
	
}

#pageFooter { 
	display:none;
}


.adminLink { 
	float:right;
	background:#fff;
}

#pageContent .crudForm .pageSection {
	display:none;
}

.paginationWrapper {
	border-top:1px solid #ccc;
	position:fixed;
	height:40px;
	bottom:0px;
	left:325px;	
	background:#f9f9f9;	 
}


/*** hacks.  to be removed when the new asset search page completely replaces the old one.
 these are just to make both pages live together with minimal code changes 
*/
#contentTitle { 
	display:none;
}

#contentHeader { 
	margin-bottom:0px;
}

.emptyOptions {
	display:none;
}

.list { 
	margin-top:0px;
}
