/* for fluid, widge pages that take up 100% width.   eg. search results pages 
 * because we are currently trying to support two types of pages at once (legacy=fixed size & new = fluid, 100%) this page is 
 * a mish-mash of hacks.  
 * in order to achieve the look of the new page while maintaining the legacy Html/Java/CSS many css classes had to be overwritten.
 * 
 * in general, anything done in this file should be refactored out into common style when the transition to the new page is complete.
 */


/** 
 PAGE
   high level stuff that changes the overall layout of the page.
   this stuff is another good use case for SASS variables.     
*/
#page {
	margin-left:5px;
	width:100%;
	margin-left:0%;
}

#page .centre {
	margin-left:325px;
	/* this is due to "notification" taking up 30 pixels.  the menu is 50px high so we just need to offset the remaining 20px;
	   in future, notifications should be moved to bottom, or hidden until it has contents so it doesn't cause this awkward layout/css.
	*/
	margin-top:20px; 		 
}




/**
 * LEFT-MENU
 *  panel at the left hand side of screen.  
 * 	this is really just an empty shell that is application wide.  each page fills it with whatever they want.
 *  for the AssetSearch page, that is done with .search-config stuff. 
*/

#left-menu {
	padding:0px;
	background:#fff;
	left:0;
	z-index:10;
	overflow-x:visible;
	overflow-y:auto; 
	padding-left:10px;
	border-right:1px solid #ccc;
	width:315px;
	top:169px;
	bottom:0px;
	position:fixed;
	float:left;
}




/**
 * SEARCH-CONFIG
 *  panel on the left hand side with Filters & Columns 
 *  it is the meat of the left-menu panel.
*/
.search-config .title {
	zoom:0;
	margin-left:10px;
	margin-top:10px;
	margin-bottom:5px;
	display:inline-block;
}

.search-config .right {
	margin-top:15px;
	float:right; 
	display:inline-block;
}

.search-config .title a {
	font-size:11px;
}

.search-config .content { 
	
}


/**
 * RIGHT-MENU
 * currently only used for padding. later may contain panel like left-menu
*/

.right-menu {
	padding:0px;
	background:#fff;
	left:99%;
	width:1%;
	top:169px;
	bottom:0px;
	position:fixed;
}



/**
 COLUMNS
   checkboxes in Columns panel
*/
.columns {
	padding:3px; 
}

/**
 * SUB-MENU
 *  just below main black menu.  contains actions menu and stuff like that. 
 */

.sub-menu a { 
	color:#333;
}

.sub-menu .asset-actions ul li.hover a {
	color:#ddd; 
}

.sub-menu {
	border-bottom: 1px solid #ccc;
	height:50px;
	color:#333;
	background:white;	
}

.sub-menu .asset-actions { 
	float:right;
	margin-top:13px;
	margin-right:10px;	
}

.sub-menu  .msg { 
	line-height:20px;
	font-style:italic;
	color:#8F8F8F;
	float:right;
	margin-top:16px;
	margin-right:10px;	
}


.sub-menu .config { 
	float:left;
	margin-top:13px;
	margin-left:20px;
}



/*
 SUB-MENU .CONFIG  A
 used for toggle buttons in sub menu - Filter & Columns. 
   note : This would be a very good use case for a SASS parameterized mixin, because this is basically a tweaked version of the 
   buttonBar used in the EventHistory page.   
*/

.sub-menu .config a.true { 
   	background: #cbcbcb;
	background: -webkit-gradient(linear, left top, left bottom, from(#a8a8a8), color-stop(0.15, #c6c6c6), to(#d8d8d8)) !important;
	background: -webkit-linear-gradient(top, #a8a8a8, #c6c6c6 15%, #eeeeee) !important;
    background: -moz-linear-gradient(top, #a8a8a8, #c6c6c6 15%, #eeeeee) !important;
    background: -ms-linear-gradient(top, #a8a8a8, #c6c6c6 15%, #eeeeee) !important;
    background: -o-linear-gradient(top, #a8a8a8, #c6c6c6 15%, #eeeeee) !important;
}

.sub-menu .config a, .asset-actions > ul > li > a { 
	padding: 3px 10px;
	color: #333;
	text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    font: 11px "lucida grande",tahoma,verdana,arial,sans-serif;
    line-height: 18px;
    display: block;
    float: left;
    border: solid 1px #7f7f7f;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    background:#eee;	
 	background:-webkit-linear-gradient(top, #f8f8f8, #bebebe);
	background:-moz-linear-gradient(top, #f8f8f8, #bebebe);
    background:-ms-linear-gradient(top, #f8f8f8, #bebebe);
    background:-o-linear-gradient(top, #f8f8f8, #bebebe);
}

.sub-menu .config a:hover, .asset-actions > ul > li > a:hover  { 
    border: solid 1px #333;
    color: #282828;
    background: -webkit-linear-gradient(top, #ffffff, #ddd);
    background: -moz-linear-gradient(top, #ffffff, #ddd);
    background: -ms-linear-gradient(top, #ffffff, #ddd);
    background: -o-linear-gradient(top, #ffffff, #ddd);
}
.sub-menu .config a:active { 
    border: solid 1px #7f7f7f;
    background: #d0d0d0;
    background: -webkit-gradient(linear, left top, left bottom, from(#a8a8a8), color-stop(0.15, #c6c6c6), to(#d8d8d8));
    background: -webkit-linear-gradient(top, #a8a8a8, #c6c6c6 15%, #d8d8d8);
    background: -moz-linear-gradient(top, #a8a8a8, #c6c6c6 15%, #d8d8d8);
    background: -ms-linear-gradient(top, #a8a8a8, #c6c6c6 15%, #d8d8d8);
    background: -o-linear-gradient(top, #a8a8a8, #c6c6c6 15%, #d8d8d8);
}

.sub-menu .config a.left { 
    margin: 0;
    border-right: solid 1px #b0b0b0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
}
.sub-menu .config a.middle { 
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    margin: 0;
    border-left: solid 1px rgba(255, 255, 255, 0);
    border-right: solid 1px #b0b0b0;
}

.buttonBar a.middle:hover, a.right:hover { border-left: solid 1px #333 }
.buttonBar a.middle:active, a.right:active { border-left: solid 1px #7f7f7f }
.sub-menu .config a.right { 
    border-left: solid 1px rgba(255, 255, 255, 0);
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
}




/**
 ASSET-ACTIONS      the actions buttons/menu @ top right of results page.
*/


/* icon beside link button */
.asset-actions ul li a img {
	margin-left:5px;
	padding-bottom:2px;
} 

.asset-actions > ul > li               		{ float: left; position:relative; margin-right:5px; }
.asset-actions >ul >a:active                { color: #ffa500; }
.asset-actions > ul > li > a                { display: block;  text-decoration:none; }



									  
.asset-actions .menu-items {
	display:none; 		/* made visiblye by jquery click*/ 
	position: absolute;
	top:100%;
	width: 125px; 
	background:#fcfcfc;
	color:black;
	border-width:1px 1px 1px 1px;
	border-color:#777;
	border-style:solid;	 	
	border-radius:0px 3px 3px 3px;
	-moz-border-radius: 0px 3px 3px 3px;
	-moz-box-shadow: 2px 2px 2px #555;
	-webkit-box-shadow: 2px 2px 2px #555;
	box-shadow: 2px 2px 2px #555;
	padding-bottom:3px;			
	left:3px; 			/*account for border radius so it lines up smoothly */
	*left:0px; 			/*account for worlds crappiest browser */
} 

.asset-actions .menu-items li a {
	padding:6px;
	display: block;  
	text-decoration:none;	
} 

.asset-actions .menu-items li a:hover {
	background:#CCD7E5;
} 

.asset-actions ul { 
	display:inline;
}






/* 
 SEARCH
    used for the search button at top of filters/columns panel
*/
.search-config .title .search {
	text-decoration: none;
    font: 11px "lucida grande",tahoma,verdana,arial,sans-serif;
    line-height: 18px;
    border: solid 1px #7f7f7f;
    border-radius: 4px;
    text-shadow: 0 1px 0 #333;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
	color:#FFF;
	padding: 3px 20px 3px 20px;
	background: -webkit-linear-gradient(top, #52adea, #1A92e2);
	background:-moz-linear-gradient(top, #52adea, #1A92e2);
    background: -ms-linear-gradient(top, #52adea, #1A92e2);
    background: -o-linear-gradient(top, #52adea, #1A92e2);
	*background: #52adea;    
	border: solid 1px #888;
	font-size:12px;
}	

/** 
 * for modal windows 
 */
.wicket-modal {
	-moz-box-shadow: 4px 4px 4px #555;
	-webkit-box-shadow: 4px 4px 4px #555;
	box-shadow: 4px 4px 4px #555;	
	-moz-border-radius: 10px;
	border-radius: 10px;
	border:1px solid #999;
} 

.w_content_container > div {
	border-left:10px solid white;	 
	border-right:10px solid white;	 
}


/*** hacks.  to be removed when the new asset search page completely replaces the old one.
 these are just to make both pages live together with minimal code changes.
 i.e. instead of hiding an element, it should be removed from java/html code and this CSS hack deleted. 
*/

#pageFooter { 
	display:none;
}


.alternateActions { 
	display:none;
}

#pageContent .crudForm .pageSection {
	display:none;
}

.paginationWrapper {
	border-top:1px solid #ccc;
	position:fixed;
	height:40px;
	bottom:0px;
	right:0px;	
	background:#f9f9f9;	 
}




#contentTitle { 
	display:none;
}

#contentHeader { 
	margin-bottom:0px;
}

.emptyOptions {
	display:none;
}

.list { 
	margin-top:0px;
}

.orgSelector {
	width: 350px;
}


.freeFormLabel, .orgBrowserForm .infoSet label {
    font-weight:normal;
}
