/* FILTERS - filters.scss 
-------------------------*/
.filter {
	@include clearfix();
	padding-top: 14px;

	h3 {
		border: none;
		float: left;
		padding: 2px 0 0 0;
		margin: 0 12px 0 0;
		font-size: $base-font-size;
	}
	ul {
		list-style-type: none;
		float: left;

		li {
			display: inline-block;
		}
		.selected {
			a {
				text-decoration: none;
				color: $gray-darkest;
			}
		}
	}
	.divider {
		padding: 5px 5px 5px 20px;
		border-left: 1px solid $gray-medium;
	}
	.control-group {
		display: inline-block;
		margin: 0;

		label {
			display: inline-block;
			margin-right: 5px;
		}
		&.divider {
			padding-top: 0;
			padding-bottom: 0;
		}
	}
	.hide {
		display: none;
	}
}