@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?63976915');
  src: url('../font/fontello.eot?63976915#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?63976915') format('woff'),
       url('../font/fontello.ttf?63976915') format('truetype'),
       url('../font/fontello.svg?63976915#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?63976915#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;//
  text-decoration: inherit;
  width: 1em;//
  margin-right: .2em;//
  text-align: center;//
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;//
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-th-large:before { content: '\e840'; } /* '' */
.icon-flow-cascade:before { content: '\e83a'; } /* '' */
.icon-cancel-1:before { content: '\e83f'; } /* '' */
.icon-plus-squared-small:before { content: '\e836'; } /* '' */
.icon-minus-squared-small:before { content: '\e835'; } /* '' */
.icon-info-1:before { content: '\e84a'; } /* '' */
.icon-pin:before { content: '\e810'; } /* '' */
.icon-bookmark:before { content: '\e83b'; } /* '' */
.icon-bookmark-empty:before { content: '\e83c'; } /* '' */
.icon-download-1:before { content: '\e84b'; } /* '' */
.icon-upload-1:before { content: '\e84c'; } /* '' */
.icon-trash-1:before { content: '\e84d'; } /* '' */
.icon-calendar:before { content: '\e81d'; } /* '' */
.icon-calendar-empty:before { content: '\e820'; } /* '' */
.icon-zoom-in:before { content: '\e84e'; } /* '' */
.icon-zoom-out:before { content: '\e84f'; } /* '' */
.icon-down-dir-1:before { content: '\e811'; } /* '' */
.icon-up-dir-1:before { content: '\e813'; } /* '' */
.icon-left-dir-1:before { content: '\e814'; } /* '' */
.icon-right-dir-1:before { content: '\e817'; } /* '' */
.icon-angle-double-left:before { content: '\e821'; } /* '' */
.icon-angle-double-right:before { content: '\e822'; } /* '' */
.icon-angle-double-up:before { content: '\e827'; } /* '' */
.icon-angle-double-down:before { content: '\e829'; } /* '' */
.icon-cw-1:before { content: '\e806'; } /* '' */
.icon-ccw-1:before { content: '\e850'; } /* '' */
.icon-arrows-cw:before { content: '\e854'; } /* '' */
.icon-laptop:before { content: '\e851'; } /* '' */
.icon-tablet:before { content: '\e852'; } /* '' */
.icon-mobile:before { content: '\e853'; } /* '' */
.icon-table:before { content: '\e82c'; } /* '' */
.icon-columns:before { content: '\e82b'; } /* '' */
.icon-filter:before { content: '\e831'; } /* '' */
.icon-sort:before { content: '\e832'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e812'; } /* '' */
.icon-users:before { content: '\e839'; } /* '' */
.icon-user-add:before { content: '\e838'; } /* '' */
.icon-picture:before { content: '\e816'; } /* '' */
.icon-th-list:before { content: '\e849'; } /* '' */
.icon-layout:before { content: '\e802'; } /* '' */
.icon-menu:before { content: '\e803'; } /* '' */
.icon-check:before { content: '\e804'; } /* '' */
.icon-cancel:before { content: '\e805'; } /* '' */
.icon-plus:before { content: '\e808'; } /* '' */
.icon-plus-squared:before { content: '\e83d'; } /* '' */
.icon-minus:before { content: '\e80b'; } /* '' */
.icon-minus-squared:before { content: '\e83e'; } /* '' */
.icon-help:before { content: '\e80e'; } /* '' */
.icon-home:before { content: '\e818'; } /* '' */
.icon-link:before { content: '\e819'; } /* '' */
.icon-attach:before { content: '\e81a'; } /* '' */
.icon-lock:before { content: '\e81b'; } /* '' */
.icon-lock-open:before { content: '\e81c'; } /* '' */
.icon-download:before { content: '\e81e'; } /* '' */
.icon-upload:before { content: '\e81f'; } /* '' */
.icon-export:before { content: '\e823'; } /* '' */
.icon-pencil:before { content: '\e824'; } /* '' */
.icon-print:before { content: '\e825'; } /* '' */
.icon-comment:before { content: '\e826'; } /* '' */
.icon-attention:before { content: '\e828'; } /* '' */
.icon-location:before { content: '\e82a'; } /* '' */
.icon-map:before { content: '\e837'; } /* '' */
.icon-cog:before { content: '\e807'; } /* '' */
.icon-arrow-combo:before { content: '\e809'; } /* '' */
.icon-down-open:before { content: '\e82d'; } /* '' */
.icon-left-open:before { content: '\e82e'; } /* '' */
.icon-right-open:before { content: '\e82f'; } /* '' */
.icon-up-open:before { content: '\e830'; } /* '' */
.icon-down-open-mini:before { content: '\e80a'; } /* '' */
.icon-left-open-mini:before { content: '\e80c'; } /* '' */
.icon-right-open-mini:before { content: '\e80d'; } /* '' */
.icon-up-open-mini:before { content: '\e80f'; } /* '' */
.icon-down-thin:before { content: '\e841'; } /* '' */
.icon-left-thin:before { content: '\e842'; } /* '' */
.icon-right-thin:before { content: '\e843'; } /* '' */
.icon-up-thin:before { content: '\e844'; } /* '' */
.icon-target:before { content: '\e848'; } /* '' */
.icon-camera:before { content: '\e815'; } /* '' */