// -------------------------
// VARIABLES
// -------------------------

// Grays
// -------------------------
$gray-light: 	#ececec;
$gray: 			#dddddd; //mostly used for backgrounds
$gray-medium:	#c7c7c9; //mostly used for borders
$gray-dark:		#666666;
$gray-darkest:	#3a3a3a; //almost black, base font colour

// Other colors
// -------------------------
$blue: 			#008BD3;
$blue-dark: 	#0065A6;
$green: 		#5fb336;
$yellow: 		#FFFFB2;
$red: 			#e63300;
$white:   		#ffffff;
$black:  		#000000;


// Typography
// -------------------------
$xsmall-font-size: 		12px;
$small-font-size: 		13px;
$base-font-size:        14px;
$large-font-size: 		18px;
$xlarge-font-size: 		24px;
$base-line-height:      125%;

$helvetica-neue:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$proxima-nova: 			"proxima-nova", Helvetica, Arial, sans-serif;
$fontello: 				"fontello", sans-serif;

$light: 				300;
$regular: 				400;
$semi-bold:   			600;
$bold:   				700;


// Z-index master list
// -------------------------
$z-index-dropdown:		10;
$z-index-header:		50;
$z-index-top:			100; // generic variable for highest level


// GRID - 12 column 1280px grid 
// 20px gutter, 85px columns, 20px left/right margin
// --------------------------------------------------------------
$column: 				6.8548387%; // 85px / 1240px 
$column-fixed: 			85px;
$gutter: 				1.6129032%; // 20px / 1240px
$gutter-fixed: 			20px;

@mixin width($number-of-columns, $number-of-gutters) {
  	width: (($number-of-columns * $column) + ($number-of-gutters * $gutter));
}
@mixin max-width($number-of-columns, $number-of-gutters) {
  	max-width: (($number-of-columns * $column) + ($number-of-gutters * $gutter));
}
@mixin width-fixed($number-of-columns, $number-of-gutters) {
	width: (($number-of-columns * $column-fixed) + ($number-of-gutters * $gutter-fixed));
}

