<html xmlns:wicket="http://wicket.apache.org">
<wicket:panel>
    <h3><wicket:message key="label.account_heading"/></h3>

    <div class="control-group">
        <label class="label">* <wicket:message key="label.username"/></label>
        <input type="text" wicket:id="username"/>
    </div>
    <div wicket:id="newAccountFields">
        <div class="control-group">
            <label class="label"><wicket:message key="label.assign_password"/></label>
            <label class="checkBoxLabel">
                <input type="checkbox" wicket:id="assignPassword">
            </label>
        </div>
        <div id="passwords control-group">
            <div wicket:enclosure="password">
                <label class="label">* <wicket:message key="label.password"/></label>
                <input type="password" wicket:id="password"/>
                <input type="password" wicket:id="confirmPassword"/>
                <div class="labelContainers increasedMargin"><wicket:message key="label.password"/></div>
                <div class="labelContainers"><wicket:message key="label.vpassword"/></div>
            </div>
        </div>
        <div class="control-group">
            <label class="label"><wicket:message key="label.securityrfidnumber"/></label>
            <input type="text" wicket:id="rfidNumber"/>
        </div>
        <div class="control-group">
            <label class="label"><wicket:message key="label.send_welcome_email"/></label>
            <label class="checkBoxLabel">
                <input type="checkbox" wicket:id="sendWelcomeEmail"/>&nbsp;<wicket:message key="label.welcome_email_description"/>
            </label>
        </div>
        <div wicket:id="welcomeEmailMessageContainer" class="control-group" >
            <div class="personalMessageHeading"><wicket:message key="label.personal_message_title"/></div>
            <textarea wicket:id="welcomeEmailMessage" class="welcomeMessageTextarea"/>
        </div>
    </div>
</wicket:panel>
</html>