<html xmlns:wicket="http://wicket.apache.org">
<wicket:panel>

    <div class="setup-user identifiers-panel">
        <h3><wicket:message key="label.identifiers"/></h3>

        <div class="control-group owner-picker" >
            <label class="label">* <wicket:message key="label.owner"/></label>
            <div wicket:id="ownerPicker"/>
        </div>

        <div class="control-group user-group" wicket:enclosure="group">
            <label class="label"><wicket:message key="label.user_group"/></label>
            <select wicket:id="group"/>
        </div>

        <div class="control-group">
            <label class="label">* <wicket:message key="label.emailaddress"/></label>
            <input type="email" wicket:id="email"  maxlength="50"/>
        </div>

        <div class="control-group">
            <label class="label">* <wicket:message key="label.firstname"/></label>
            <input type="text" wicket:id="firstname" maxlength="30">
        </div>

        <div class="control-group">
            <label class="label">* <wicket:message key="label.lastname"/></label>
            <input type="text" wicket:id="lastname" maxlength="30">
        </div>

        <div class="control-group">
            <label class="label"><wicket:message key="label.initials"/></label>
            <input type="text" wicket:id="initials"  maxlength="255">
        </div>

        <div class="control-group">
            <label class="label"><wicket:message key="label.id"/></label>
            <input type="text" wicket:id="identifier" maxlength="20">
        </div>

        <div class="control-group">
            <label class="label"><wicket:message key="label.position"/></label>
            <input type="text" wicket:id="position"  maxlength="255">
        </div>

        <div class="control-group digital-signature" wicket:enclosure="uploadForm">
            <label class="label"><wicket:message key="label.digital_signature"/></label>
            <form wicket:id="uploadForm">
                <input type="file" wicket:id="digitalSignature">
                <span wicket:enclosure="digitalSignature"><wicket:message key="label.signature_size"/></span>
                <span class="displaySignature" wicket:id="fileDisplay">
                    <img src="/fieldid/images/attachment-icon.png" class="attachmentImage"> <label wicket:id="fileName" class="fileName"/> <a wicket:id="removeLink" class="removeLink"><wicket:message key="label.remove"/></a>
                </span>
            </form>
        </div>
    </div>

</wicket:panel>

</html>