<html xmlns:wicket="http://wicket.apache.org">
<wicket:panel>

    <div class="criteria-header">
        <wicket:message key="label.criteria_settings"/>
        <img wicket:id="tooltip"/>
    </div>

    <div wicket:id="specificDetailsPanel"/>

    <div wicket:enclosure="required" class="labelled-checkbox">
        <input type="checkbox" wicket:id="required" />
        <label wicket:for="required"><wicket:message key="label.set_as_required" /></label>
    </div>

    <div wicket:id="scoreRequired" class="labelled-checkbox">
        <label>*&nbsp;<wicket:message key="label.required" /></label>
    </div>

    <div wicket:id="modalWindow"/>
</wicket:panel>
</html>