<wicket:panel>

    <div class="deleteLinkSection">
        <img wicket:id="deleteImage"/>
    </div>

    <div wicket:id="viewContainer" class="viewLinkContainer">
        <div class="itemLinkTitle">
            <a wicket:id="viewLink" class="mainLink">
                <span wicket:id="linkLabel"></span>
                <br/>
                <div class="subTitle" wicket:id="subTitle"></div>
            </a>
        </div>
        <wicket:enclosure child="editLink">
            <div class="editCopyLinks">
                <a wicket:id="editLink"><wicket:message key="label.edit"/></a> <wicket:enclosure>| <a wicket:id="copyLink"><wicket:message key="label.copy"/></a></wicket:enclosure>
            </div>
        </wicket:enclosure>
    </div>

    <div class="editForm" wicket:id="editFormContainer">
        <form wicket:id="editForm">
            <div class="itemLinkTitle">
                <input type="text" wicket:id="newText"/>
            </div>
            <div class="editCopyLinks">
                <a wicket:id="storeLink"><span wicket:id="storeLabel"></span></a> | <a wicket:id="cancelLink"><wicket:message key="label.cancel"/></a>
            </div>
        </form>
    </div>

    <wicket:enclosure>
        <div class="reorderLinkSection">
            <img wicket:id="reorderImage"/>
        </div>
    </wicket:enclosure>

    <div style="width:0;height:0;clear:both;"></div>

</wicket:panel>
