.org-location {
    position: relative;
    float: left;
}
    .org-location .tree {
        display: block;
        height: 200px;
        overflow-y: auto;
        width: 258px;
        *left: 0px;
        position: absolute;
        z-index: 1234;
        border: 1px solid #aaa;
        top: 18px;
    }
    .org-location .tree .match > a {
        background: #fefee8;
        line-height: 1;
    }
    .org-location .no-results {
        position: absolute;
        display: block;
        top: 26px;
        border: 1px solid #aaa;
        padding: 5px;
        width: 178px;
        background: #ffffb2;
        font-weight: bold;
        z-index: 1;
    }
    .org-location .text {
        padding: 4px;
        float: left;
    }
    .org-location img {
        width: 24px;
        vertical-align: bottom;
    }
    .org-location .entypo-search {
        float: left;
        margin-left: 3px;
        cursor: pointer;
    }



