<wicket:panel>

    <!-- CAVEAT : the corresponding .js file relies on the structure and classes of this file.
        e.g. the javascript code to toggle calendar visibility relies on classes applied to the toggleButton.
        don't change it without checking first!
    -->

        <div wicket:id="calendar" class="datepicker"/>
        <span class="header">
            <p><wicket:message key="label.scheduled_events"></wicket:message></p>
            <a wicket:id="showCalendar" class="toggle-button"><img wicket:id="icon"/></a>
        </span>
        <div wicket:id="listContainer" class="agenda-table">
            <div wicket:id="days" class="agenda-day">
                <span wicket:id="day"/>
            </div>
        </div>
        <a class="limit-message" wicket:id="limit"><span wicket:id="message"/></a>







        <!--                                                                            -->
        <!-- this fragment is injected wherever you see "day" wicket component above    -->
        <!--                                                                            -->
        <wicket:fragment wicket:id="dayPanel">
            <div class="agenda-title" wicket:id="date"/>
            <table>
                <col width="6%" />
                <col width="40%" />
                <col width="52%" />
                <tr wicket:id="list" class="agenda-row">
                    <td><img wicket:id="icon"  class="agenda-icon"/></td>
                    <td><span wicket:id="asset"  class="agenda-asset"/></td>
                    <td><a wicket:id="startEvent"><span wicket:id="eventType"  class="agenda-event"/></a></td>
                </tr>
            </table>
        </wicket:fragment>


</wicket:panel>