<wicket:panel>

    <div class="agenda">

        <input type="checkbox" wicket:id="showCalendar"><wicket:message key="label.show_calendar"/></input>

        <div wicket:id="dayByDayView" class="agenda-day-to-day">
            <div wicket:id="calendar" class="datepicker"/>
            <div class="agenda-days">
                <div wicket:id="days" class="agenda-day">
                    <span wicket:id="day"/>
                </div>
            </div>
        </div>



        <!-- this fragment is injected wherever you see "day" wicket component above -->
        <wicket:fragment wicket:id="dayPanel">
            <div class="agenda-title" wicket:id="date"/>
            <div class="meta-data" wicket:id="meta"/>
            <ul>
                <li wicket:id="list" class="agenda-row">
                    <img wicket:id="icon"  class="agenda-icon"/>
                    <span wicket:id="asset"  class="agenda-asset"/>
                    <a wicket:id="startEvent"><span wicket:id="eventType"  class="agenda-event"/></a>
                </li>
            </ul>
        </wicket:fragment>

    </div>

</wicket:panel>