<wicket:extend>
	<div class="configContent">
	
            <div wicket:id="columns" class="columnGroup">

                    <h4><span wicket:id="groupLabel"></span></h4>

<!-- 
                    <div wicket:id="noCommonAttributesMessage"><wicket:message key="label.no_common_attributes"/></div>
 -->                    

                    <div wicket:id="columns">
                        <input type="checkbox" wicket:id="checkbox"/> <label wicket:id="checkboxLabel"></label>
                    </div>

            </div>
	 
	</div>			
</wicket:extend>