<wicket:panel>

     <span class="infoSet dateRange control-group">
        <label for="dateRange" wicket:id="dateRangeLabel"></label>
      	<select wicket:id="dateRange"></select>                
     </span>
     <div class="infoSet dateFrom control-group">
         <label for="fromDate"><wicket:message key="label.fdate"/></label>
         <span class="fieldHolder">
             <div wicket:id="fromDate"></div>
         </span>
     </div>
     <div class="infoSet dateTo control-group">
         <label for="toDate"><wicket:message key="label.tdate"/></label>
         <span class="fieldHolder">
             <div wicket:id="toDate"></div>
         </span>
     </div>

</wicket:panel>