<wicket:panel>

     <span class="infoSet">
        <label for="dateRange"><wicket:message key="label.daterange"/></label>
      	<select wicket:id="dateRange"></select>                
     </span>
     <div class="infoSet">
         <label for="fromDate"><wicket:message key="label.fdate"/></label>
         <span class="fieldHolder">
             <div wicket:id="fromDate"></div>
         </span>
     </div>
     <div class="infoSet">
         <label for="toDate"><wicket:message key="label.tdate"/></label>
         <span class="fieldHolder">
             <div wicket:id="toDate"></div>
         </span>
     </div>

</wicket:panel>