<wicket:panel>

    <h2><wicket:message key="label.asset_details"/></h2>
    <div class="infoSet">
        <label for="criteria.assetStatus"><wicket:message key="label.assetstatus"/></label>
        <span class="fieldHolder">
            <select wicket:id="assetStatus"></select>
        </span>
    </div>

    <div class="infoSet">
        <label for="criteria.assetTypeGroup"><wicket:message key="label.asset_type_group"/></label>
        <span class="fieldHolder">
            <select wicket:id="assetTypeGroup"></select>
        </span>
    </div>

    <div class="infoSet">
        <label for="criteria.assetType"><wicket:message key="label.assettype"/></label>
        <span class="fieldHolder">
            <select wicket:id="assetType"></select>
        </span>
    </div>

</wicket:panel>