<wicket:panel>

    <h2><wicket:message key="label.event_details"/></h2>
    <div class="infoSet">
        <label for="criteria.eventTypeGroup"><wicket:message key="label.eventtypegroup"/></label>
        <span class="fieldHolder">
            <select wicket:id="eventTypeGroup"></select>
        </span>
    </div>
    <div class="infoSet">
        <label for="criteria.eventType"><wicket:message key="label.eventtype"/></label>
        <span class="fieldHolder">
            <select wicket:id="eventType"></select>
        </span>
    </div>
    <div class="infoSet dateToFrom">
        <label for="criteria.performedBy"><wicket:message key="label.performed_by"/></label>
        <span class="fieldHolder">
            <select wicket:id="performedBy"></select>
        </span>
    </div>
    <div class="infoSet dateToFrom">
        <label for="criteria.eventBook"><wicket:message key="label.eventbook"/></label>
        <span class="fieldHolder">
            <select wicket:id="eventBook"></select>
        </span>
    </div>

    <div wicket:id="jobContainer" class="infoSet">
        <label for="criteria.job"><wicket:message key="label.job"/></label>
        <span class="fieldHolder">
            <select wicket:id="job"></select>
        </span>
    </div>
    <div class="infoSet">
        <label for="criteria.status"><wicket:message key="label.result"/></label>
        <span class="fieldHolder">
            <select wicket:id="result"></select>
        </span>
    </div>
    <div wicket:id="includeNetworkResultsContainer" class="infoSet">
        <label id="reducedLineHeightLabel" for="criteria.includeNetworkResults">
            <wicket:message key="label.includesafetynetworkresults"/>
        </label>
        <input wicket:id="includeSafetyNetwork" type="checkbox"/>
    </div>

</wicket:panel>