<wicket:panel>
    <h2><wicket:message key="label.identifiers"/></h2>
    <div class="infoSet">
        <label for="criteria.rfidNumber"><wicket:message key="label.rfidnumber"/></label>
        <span class="fieldHolder">
            <input wicket:id="rfidNumber" type="text" class="textbox"/>
        </span>
    </div>
    <div class="infoSet">
        <label for="criteria.identifier"><span wicket:id="identifierLabel"/></label>
        <span class="fieldHolder">
            <input wicket:id="identifier" type="text" class="textbox"/>
        </span>
    </div>
    <div class="infoSet">
        <label for="criteria.referenceNumber"><wicket:message key="label.referencenumber"/></label>
        <span class="fieldHolder">
            <input wicket:id="referenceNumber" type="text" class="textbox"/>
        </span>
    </div>
</wicket:panel>