<wicket:panel>

    <h2><wicket:message key="label.orderdetails"/></h2>
    <div class="infoSet">
        <label for="criteria.orderNumber"><wicket:message key="label.onumber"/></label>
        <span class="fieldHolder">
            <input wicket:id="orderNumber" type="text" class="textbox"/>
        </span>
    </div>
    <div class="infoSet">
        <label for="criteria.purchaseorder"><wicket:message key="label.purchaseorder"/></label>
        <span class="fieldHolder">
            <input wicket:id="purchaseOrder" type="text" class="textbox"/>
        </span>
    </div>

</wicket:panel>