<wicket:panel>
    <h2><wicket:message key="label.ownership"/></h2>
    <div wicket:id="assignedUserContainer" class="infoSet">
        <label for="criteria.assignedUser"><wicket:message key="label.assignedto"/></label>
        <span class="fieldHolder">
            <select wicket:id="assignedTo"></select>
        </span>
    </div>
    <div class="infoSet">
        <label for="criteria.location"><wicket:message key="label.location"/></label>
        <div wicket:id="location"></div>
    </div>
    <div class="infoSet">
        <label for="owner"><wicket:message key="label.owner"/></label>
        <div wicket:id="owner"></div>
    </div>
</wicket:panel>