<wicket:panel>

    <div wicket:id="feedbackPanel"></div>

    <div class="pageSection searchPageSection" id="criteriaForm">
        <div class="headerWithFootnote">
            <div class="tipContainer">
                <img wicket:id="tipIcon"/>
                <p class="footnoteText">
                    <wicket:message key="label.wildcard_explanation"/>
                </p>
            </div>
        </div>

        <form class="crudForm searchForm" wicket:id="reportCriteriaForm">

            <wicket:child/>

            <div style="clear:both;"></div>

            <div wicket:id="displayColumnsContainer">
                <div wicket:id="selectDisplayColumnsPanel"></div>
            </div>

            <div class="formAction enlargedInput">
                <div class="centerContents">
                    <input wicket:id="submitButton" type="submit" wicket:message="value:label.Run"/>
                    <wicket:message key="label.or"/>
                    <a wicket:id="clearFormLink"><wicket:message key="label.clearform"/></a>
                </div>
            </div>
        </form>

    </div>

</wicket:panel>