
.grey-message {
    background: #f4f4f4;
    color : #666;
    font-weight: bold;
    padding:20px;
}


.field {
    display:block;
    line-height: 20px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom:10px;
}

.field label {
    font-size: 14px;
    float:left;
    width:150px;
}

.field select, .field textarea, .field input {
    width:200px;
}

.form {
    background:#fff;
    padding:15px;
}

.title {
    padding:15px;
    font-size: 18px;
    color: #999;
}