<wicket:panel>

	<div class="feedback" wicket:id="feedbackPanel"></div>

	<h1><wicket:message key="label.mass_update_step3"/></h1>
	<div class="stepDetails">
		<label><span wicket:id="editDetailsMessage"></span></label>
	</div>
	
	<form class="editForm" wicket:id="form">
		<div wicket:id="assignedUserContainer" class="infoSet">
			<input type="checkbox" wicket:id="assignedUserCheck" />
	        <label for="massAssetUpdate.assignedUser"><wicket:message key="label.assignedto"/></label>
	        <span class="fieldHolder">
	            <select wicket:id="assignedTo"></select>
	        </span>
	    </div>
	    
	    <div class="infoSet">
	    	<input type="checkbox" wicket:id="ownerCheck" />
	        <label for="massAssetUpdate.owner"><wicket:message key="label.owner"/></label>
			<span class="fieldHolder">
	        	<div wicket:id="owner"></div>
	        </span>
	    </div>

	    <div class="infoSet">
	    	<input type="checkbox" wicket:id="assetStatusCheck" />
	        <label for="massAssetUpdate.assetStatus"><wicket:message key="label.assetstatus"/></label>
	        <span class="fieldHolder">
	            <select wicket:id="assetStatus"></select>
	        </span>
	    </div>
	    
	   	<div class="infoSet">
	    	<input type="checkbox" wicket:id="purchaseOrderCheck" />
	        <label for="massAssetUpdate.purchaseOrder"><wicket:message key="label.purchaseorder"/></label>
	        <span class="fieldHolder">
	            <input type="text" wicket:id="purchaseOrder"></input>
	        </span>
	    </div>
	    
	    <div wicket:id="nonIntergrationOrderNumberContainer" class="infoSet">
	    	<input type="checkbox" wicket:id="nonIntegrationOrderNumberCheck" />
	        <label for="massAssetUpdate.nonIntergrationOrderNumber"><wicket:message key="label.ordernumber"/></label>
	        <span class="fieldHolder">
	            <input type="text" wicket:id="nonIntergrationOrderNumber"></input>
	        </span>
	    </div>
    
		<div class="infoSet">
	    	<input type="checkbox" wicket:id="locationCheck" />
	        <label for="massAssetUpdate.location"><wicket:message key="label.location"/></label>
        	<div wicket:id="location"></div>
	    </div>
	    
	    <div class="infoSet">
	    	<input type="checkbox" wicket:id="identifiedCheck" />
        	 <label for="massAssetUpdate.identified"><wicket:message key="label.identified"/></label>
        	 <span class="fieldHolder">
             	<div wicket:id="identified"></div>
             </span>
     	</div>
     
     	<div class="infoSet">
	    	<input type="checkbox" wicket:id="publishedCheck" />
	        <label for="massAssetUpdate.published"><wicket:message key="label.publishedstateselector"/></label>
	        <span class="fieldHolder">
	            <select wicket:id="published"></select>
	        </span>
	    </div>
		<div class="formActions">
			<input type="submit" wicket:message="value:label.pagenavigation.next" />
			<wicket:message key="label.or"/>    
			<a wicket:id="cancelLink"><wicket:message key="label.cancel"/></a>
		</div>    
    </form>

</wicket:panel>