<wicket:panel>
	<ol>
		<li>
			<a wicket:id="backToSearch"><wicket:message key="label.select_items_to_mass_update"/></a>
		</li>
		<li>
			<span wicket:id="backToSelectOperationLabel"><wicket:message key="label.choose_operation"/></span>
			<a wicket:id="backToSelectOperation"><wicket:message key="label.choose_operation"/></a>
		</li>
		<li>
			<span wicket:id="backToOperationDetailsLabel"><wicket:message key="label.operation_details"/></span>
			<a wicket:id="backToOperationDetails"><wicket:message key="label.operation_details"/></a>
		</li>
		<li>
			<span wicket:id="confirmLabel"><wicket:message key="label.confirm"/></span>
		</li>
	</ol>
</wicket:panel>