<wicket:panel>

    <form wicket:id="scheduleForm">

        <input type="submit" wicket:id="openDialogButton" class="openSchedulePickerButton" wicket:message="value:label.add_a_schedule">

        <div wicket:id="scheduleEditorContainer" class="newScheduleForm schedulesAdd">

            <h2>Add a Schedule</h2>

            <div wicket:id="feedbackPanel"></div>

            <div class="scheduleRow">

                <label class="label">
                    <wicket:message key="label.what_should_be_scheduled"/>
                </label>

                <div class="rightSide">
                    <select wicket:id="eventTypeSelect"></select>
                </div>

            </div>

            <div class="scheduleRow" wicket:id="jobSelectRow">

                <label class="label">
                    <wicket:message key="label.assign_to_a_job"/>
                    <span class="optionalMessage">(<wicket:message key="label.optional"/>)</span>
                </label>

                <div class="rightSide">
                    <select wicket:id="jobSelect"></select>
                </div>

            </div>

            <div class="scheduleRow">

                <label class="label">
                    <wicket:message key="label.when_is_it_due"/>
                </label>

                <div class="rightSide">
                    <div wicket:id="datePicker"></div>
                </div>

                <span class="dateQuickLinks">
                    <a wicket:id="quickLinkToday"><wicket:message key="label.today"/></a> |
                    <a wicket:id="quickLinkTomorrow"><wicket:message key="label.tomorrow"/></a> |
                    <a wicket:id="quickLinkNextMonth"><wicket:message key="label.next_month"/></a> |
                    <a wicket:id="quickLinkSixMonths"><wicket:message key="label.in_6_months"/></a> |
                    <a wicket:id="quickLinkNextYear"><wicket:message key="label.next_year"/></a>
                </span>

            </div>

            <div class="blockSeparated">
                <input type="submit" wicket:id="addScheduleButton" wicket:message="value:label.addschedule" class="pickScheduleButton">
                <wicket:message key="label.or"/>
                <a wicket:id="cancelLink"><wicket:message key="label.cancel"/></a>
            </div>

        </div>

    </form>

</wicket:panel>