<wicket:panel>

    <form wicket:id="openForm">
        <input type="submit" wicket:id="openDialogButton" class="openSchedulePickerButton">
    </form>

    <form wicket:id="scheduleForm">

        <div wicket:id="scheduleEditorContainer" class="newScheduleForm schedulesAdd">

            <div wicket:id="feedbackPanel"></div>

            <div class="schedulePickerTitle">
                <wicket:message key="label.schedule_event"/>
                <img wicket:id="closeImage" class="closeImage" src="/fieldid/images/modal-close.png">
            </div>

            <select wicket:id="eventTypeSelect"></select>

            <div class="scheduleRow">

                <label class="label">
                    <wicket:message key="label.set_the_due_date"/>
                </label>

                <div wicket:id="datePicker"></div>

                <span class="dateQuickLinks">
                    <a wicket:id="quickLinkToday"><wicket:message key="label.today"/></a> |
                    <a wicket:id="quickLinkTomorrow"><wicket:message key="label.tomorrow"/></a> |
                    <a wicket:id="quickLinkNextMonth"><wicket:message key="label.next_month"/></a> |
                    <a wicket:id="quickLinkSixMonths"><wicket:message key="label.in_6_months"/></a> |
                    <a wicket:id="quickLinkNextYear"><wicket:message key="label.next_year"/></a>
                </span>

            </div>

            <div class="assignmentSection">

                <span class="assignmentSectionTitle"><wicket:message key="label.assignment"/></span>

                <wicket:message key="message.person_assigned_will_be_notified_by_email"/>

                <select wicket:id="assignee"></select>

                <div wicket:id="jobSelectContainer">
                    <select wicket:id="jobSelect"></select>
                </div>

            </div>

            <div class="formActions blockSeparated">
                <a wicket:id="addScheduleButton" class="mattButton blueButton"><wicket:message key="label.create_schedule"/></a>
                <div style="display:block;float:left;padding-top:5px;">
                    <wicket:message key="label.or"/>
                    <a wicket:id="cancelLink"><wicket:message key="label.cancel"/></a>
                </div>
            </div>

        </div>

    </form>

</wicket:panel>