.search .config { 
	width:30%;
	height: 100%;
	background:#fff;
	background-color:#fff;
	position: absolute;
	min-height:750px;
	display:block;
	border-left: 1px #aaa dotted;
	border-right: 1px #aaa dotted;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;	
}

.search .columns {
	width:230px;
}
	
.search .filter {
	width:350px;
}

.buttons {
	margin-top:12px;
	
}
	
.buttons-left {
	float:left;
	width:100px;
}

.buttons-right {
	float:right;
	margin-left:20px;
}

.buttons .search { 
	background: rgb(83,128,241);
	color:#eee;
}

.buttons .close {
	float:right;
	background:#eee;
	color:#444;
}

.buttons a { 
	background:#bbb;
	color:#fff;
	margin : 0px 1px 0px 1px;
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-size: 1em;
	padding: 5px;
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px;
	border-radius: 3px;
}
	
.config-menu { 
	position : absolute;
	width:100%;
}

.search .config .top { 
	top:0;
}

.search .config .bottom { 
	bottom:0px;
}


.search .config form .config-content { 
	position:absolute;
	width:100%;
	height:100%;
	top:45px; 	
}

.search .filter form .config-content {
	margin-top:4px; 
	margin-bottom:4px; 
}

.search .content { 
	width:100%;
	min-height :750px;
}

.search .menu {
	height:45px;
	background-color: #FFF;
}

.field {
	margin:5px 0px 5px 5px;
}

.field label { 
	width : 100px;
	vertical-align:top;
	margin-right:5px;
}

.field label {
	  text-align:right;
}

.field label, .field input, .field select, .field .popup {
  display:inline-block;
}

.field input, .field select, .field .component {
  width:150px;
}

.field .date { 
	display:inline;
}

.header {
	margin-left:5px;
	font-size:13px;
	padding:8px 0px 2px 0px;
}


/**
----------------------------------------------------------------------------------------------------------------------------
overrides to make things work without touching the shared codebase.

these are all hacks really and should be refactored into main code site wide when finished integrating new search/reporting screens. 
----------------------------------------------------------------------------------------------------------------------------
*/

.locationSelection {
	width:400px !important;
}

.orgSelector {
    width: 275px !important;
} 

.orgBrowserForm .infoSet label {
	font-size: 1em !important;
	width: 80px !important;
}

#pageContent {
    overflow: visible;
}

.emptyList {
	border:0px;
	background-color:#fff;
	text-align: center;
	margin: 20px 0px;
	clear: both;
}


.emptyList h2 {
	display:none;
}

.emptyList p {
	padding: 10px;
}
