div.chartTooltip {
    position: absolute;
    display: none;
    border: 2px solid #777777;
    text-align: center;
    padding: 4px;
    background-color: #fff;
    opacity: 0.80;
    z-index: 5;
}

.flotChart {
    height:400px;
    width:950px;
}
.date-picker {
	width: 200px;
}
a.mattButton {
	float: none;
}
p {
    margin: 10px 0;
}

.trend-options {
border-bottom: 1px solid gray;
padding: 10px 0 15px;
}