<wicket:panel>
	<div class="initialMessage" >
		<div class="textContainer">
			<h1><wicket:message key="label.no_events" /></h1>
			<p><wicket:message key="message.no_events" /></p>
		</div>
        <form wicket:id="form">
            <div class="eventActions">
                <input type="button" wicket:id="performFirstEventButton" wicket:message="value:label.perform_first_event"/>
                <wicket:message key="label.or" />
                <a wicket:id="massEventLink"><wicket:message key="label.mass_perform_first_event" /></a>
                <wicket:message key="label.or" />
                <a wicket:id="importPageLink"><wicket:message key="label.import_from_excel" /></a>
            </div>
        </form>
	</div>
</wicket:panel>