<wicket:border>

    <div class="pageSection">

        <div class="headerWithFootnote">

            <h2 class="decoratedHeaderAlternative">

                <div wicket:id="linksContainer">

                    <a wicket:id="expandLink">
                        <img wicket:id="expandImage"/>
                    </a>

                    <a wicket:id="collapseLink">
                        <img wicket:id="collapseImage"/>
                    </a>

                </div>

                <span wicket:id="titleLabel" class="headerText"></span>

            </h2>

            <wicket:body/>

        </div>

    </div>

</wicket:border>