<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:wicket="http://wicket.apache.org">

<wicket:panel>
    <table class="attachmentTable">
        <tr wicket:id="assetAttachments">
            <td><img wicket:id="attachmentImage"></td>
            <td>
                <a class="attachmentLink" wicket:id="attachmentLink"><span wicket:id="attachmentName"/> </a>
                <div class="attachmentText" wicket:id="attachmentNote"/>
            </td>
        </tr>

        <tr wicket:id="assetTypeAttachments">
            <td><img wicket:id="attachmentImage"></td>
            <td>
                <a class="attachmentLink" wicket:id="attachmentLink"><span wicket:id="attachmentName"/> </a>
                <div class="attachmentText" wicket:id="attachmentNote"/>
            </td>
        </tr>
    </table>
</wicket:panel>

</html>