<wicket:panel>
    <h1><wicket:message key="label.other"/></h1>
    <p>
        <label><wicket:message key="label.reference_number"/></label>
        <span wicket:id="referenceNumber"/>
    </p>
    <p>
        <label><wicket:message key="label.rfidnumber"/></label>
        <span wicket:id="rfidNumber"/>
    </p>
    <p>
        <label><wicket:message key="label.visibility"/></label>
        <span wicket:id="visibility"/>
    </p>
    <p>
        <label><wicket:message key="label.created_on"/></label>
        <span wicket:id="createdOn"/>
    </p>
    <p>
        <label><wicket:message key="label.createdby"/></label>
        <span wicket:id="createdby"/><span class="wideSpan" wicket:id="created"/>
    </p>
    <p>
        <label><wicket:message key="label.modified_on"/></label>
        <span wicket:id="modifiedOn"/>
    </p>
    <p>
        <label><wicket:message key="label.modifiedby"/></label>
        <span wicket:id="modifiedBy"/><span class="wideSpan" wicket:id="modified"/>
    </p>
    <p>
        <label><wicket:message key="label.identified"/></label>
        <span wicket:id="identified"/>
    </p>
</wicket:panel>