<wicket:panel>
    <h1><wicket:message key="label.other"/></h1>
    <div class="assetDetail">
        <label><wicket:message key="label.reference_number"/></label>
        <span wicket:id="referenceNumber"/>
    </div>
    <div class="assetDetail">
        <label><wicket:message key="label.rfidnumber"/></label>
        <span wicket:id="rfidNumber"/>
    </div>
    <div class="assetDetail">
        <label><wicket:message key="label.visibility"/></label>
        <span wicket:id="visibility"/>
    </div>
    <div class="assetDetail">
        <label><wicket:message key="label.createdby"/></label>
        <div class="createdModifiedInfo">
            <div wicket:id="createdby"/>
            <div wicket:id="created"/>
        </div>
        <div class="platformIcon" wicket:id="createdPlatform"></div>
    </div>
    <div class="assetDetail">
        <label><wicket:message key="label.modifiedby"/></label>
        <div class="createdModifiedInfo">
            <div wicket:id="modifiedBy"/>
            <div wicket:id="modified"/>
        </div>
        <div class="platformIcon" wicket:id="modifiedPlatform"></div>
    </div>
    <div class="assetDetail">
        <label><wicket:message key="label.identified"/></label>
        <span wicket:id="identified"/>
    </div>
</wicket:panel>