<wicket:panel>
    <h1><wicket:message key="label.details"/></h1>
    <div class="assetDetail" wicket:enclosure align="manufactureCertificateLink">
        <label><wicket:message key="label.manufacturecertificate"/></label>
        <span>
            <img src="/fieldid/images/pdf_small.gif"/><a wicket:id="manufactureCertificateLink"><wicket:message key="label.downloadnow"/></a>
        </span>
    </div>
    <div class="assetDetail" name="assignedTo" wicket:enclosure align="assignedTo">
        <label><wicket:message key="label.assignedto"/></label>
        <span wicket:id="assignedTo"/>
    </div>

    <div class="assetDetail" wicket:id="attributeListView">
        <label wicket:id="attributelabel"/>
        <span wicket:id="attribute" />
    </div>

</wicket:panel>