<wicket:panel>
    <table class="lastEventTable">
        <tr>
            <td class="resultIcon"><img wicket:id="resultIcon"/></td>
            <td class="eventDate">
                <div class="label" wicket:id="lastEventDate"/>
                <div><wicket:message key="label.date_completed"/></div>
            </td>
            <td class="eventType">
                <div class="label" wicket:id="lastEventType"/>
                <div><wicket:message key="label.eventcompleted"/></div>
            </td>
            <td class="performedBy">
                <div class="label" wicket:id="performedBy"/>
                <div ><wicket:message key="label.performed_by"/></div>
            </td>
            <td><div wicket:id="actions"/></td>
        </tr>
    </table>
</wicket:panel>