<wicket:panel>
    <table class="lastEventTable">
        <tr>
            <td><div wicket:id="result"><p wicket:id="lastEventResult"/></div></td>
            <td class="eventDate"><span wicket:id="lastEventDate"/></td>
            <td class="eventType"><span wicket:id="lastEventType"/></td>
            <td>
                <a wicket:id="viewLastEventLink"><wicket:message key="label.view"/></a>
                <wicket:message key="label.or"/>
                <a wicket:id="printLastEventLink"><wicket:message key="label.print"/></a>
            </td>
        </tr>
    </table>
</wicket:panel>