<wicket:panel>
    <h1><wicket:message key="label.subassets"/> </h1>
    <ul wicket:id="linkedAssetList">
        <li class="linkedAssetList" wicket:id="linkedAssetListView">
            <img wicket:id="sortImage"/>
            <div class="linkedAssetLabel">
                <label><span wicket:id="assetType"/></label>
                <a class="assetLink" wicket:id="linkedAssetLink"><span wicket:id="assetIdentifier"/></a>
            </div>
            <a wicket:id="removeLinkedAssetLink"><img src="/fieldid/images/remove-icon.png"/></a>
        </li>
    </ul>

    <a class="addLinkedAsset" wicket:id="addLinkedAsset"><img src="/fieldid/images/add-icon.png"/><wicket:message key="label.link_new_asset"/></a>

    <form wicket:id="form">
        <div id="formErrors" wicket:id="feedbackPanel"></div>
        <div wicket:id = "autocompletesearch"/>
        <div class="formActions">
            <a class="mattButton addLinkedAssetButton" wicket:id="saveLink"><wicket:message key="label.add"/></a>
            <span class="cancelLink">
                <wicket:message key="label.or"/>
                <a wicket:id="cancelLink"><wicket:message key="label.cancel"/></a>
            </span>
        </div>
    </form>

</wicket:panel>