<wicket:panel>

    <h1><wicket:message key="label.orderdetails"/></h1>

    <div class="assetDetail" wicket:enclosure="orderNumber">
        <label><wicket:message key="label.onumber"/></label>
        <span wicket:id="orderNumber"/>
    </div>

    <div class="assetDetail" wicket:enclosure="connectToOrder">
        <label><wicket:message key="label.onumber"/></label>
        <span><a wicket:id="connectToOrder"><wicket:message key="label.connectorder"/></a></span>
    </div>

    <span wicket:enclosure="assetCode">
        <div class="assetDetail">
            <label><wicket:message key="label.assetcode"/></label>
            <span wicket:id="assetCode"/>
        </div>
        <div class="assetDetail">
            <label><wicket:message key="label.quantity"/></label>
            <span wicket:id="quantity"/>
        </div>
        <div class="assetDetail">
            <label><wicket:message key="label.orderdate"/></label>
            <span wicket:id="orderDate"/>
        </div>
        <div class="assetDetail">
            <label><wicket:message key="label.orderdescription"/></label>
            <span wicket:id="orderDescription"/>
        </div>
    </span>
    <div class="assetDetail" wicket:enclosure="purchaseOrder">
        <label><wicket:message key="label.purchaseorder"/></label>
        <span wicket:id="purchaseOrder"/>
    </div>
</wicket:panel>