<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM 'log4j.dtd'>

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param value="%d{ISO8601} %-5p - %m%n" name="ConversionPattern"/>
			<!--  value="YYYY-MM-DD HH:mm:ss,SSS LEVEL - message\n" -->
		</layout>
	</appender>
	<root>
		<!-- priority value can be one of all, trace, debug, info, warn, error, fatal, off -->
		<!-- debug will give you everything and usually information to help debug the test case -->
		<!-- info will output a step by step list of the test case -->
		<priority value="off"/>
		<appender-ref ref="stdout"/>
	</root>
</log4j:configuration>
