<html xmlns:wicket="http://wicket.apache.org">
<wicket:panel>

    <form wicket:id="uploadForm">

        <div wicket:id="attachedFilesContainer" class="attached-files-container">

            <div wicket:id="attachedFiles" class="attached-file">
                <span wicket:id="fileName" class="filename"></span> <a wicket:id="removeLink" class="removeLink"><wicket:message key="label.remove"/></a>
                <textarea class="comments" wicket:id="comments"/>
            </div>
        </div>

        <input wicket:id="file" type="file"/>

        <span wicket:id="progress">[[upload progressbar]]</span>

    </form>

</wicket:panel>
</html>