<wicket:extend>

    <div wicket:id="identifiersCriteriaPanel" class="fieldGroup fieldGroupGap">
    </div>

    <div wicket:id="assetDetailsCriteriaPanel" class="fieldGroup">
    </div>

    <div wicket:id="ownershipCriteriaPanel" class="fieldGroup fieldGroupGap">
    </div>

    <div class="fieldGroup">
        <h2><wicket:message key="label.identifieddate"/></h2>
        <div class="container">
            <div class="infoSet">
                <label for="fromDate"><wicket:message key="label.fdate"/></label>
                <span class="fieldHolder">
                    <div wicket:id="fromDate"></div>
                </span>
            </div>
            <div class="infoSet">
                <label for="toDate"><wicket:message key="label.tdate"/></label>
                <span class="fieldHolder">
                    <div wicket:id="toDate"></div>
                </span>
            </div>
        </div>
    </div>

    <div wicket:id="orderDetailsCriteriaPanel" class="fieldGroup clearLeft">
    </div>

</wicket:extend>