<html xmlns:wicket="http://wicket.apache.org">
    <wicket:extend>
		<p wicket:id="text"/>

		<table class="borders">
			<tr>
				<th class="active"><a href="#">State<span class="fontello-down-open"></span></a></th>
				<th><a href="#">Completed</a></th>
				<th><a href="#">Due</a></th>
				<th><a href="#">Event</a></th>
				<th><a href="#">Completed By</a></th>
				<th><a href="#">Result</a></th>
				<th><a href="#">Event Status</a></th>
				<th></th>
			</tr>
			<tr>
				<td>Open</td>
				<td></td>
				<td>2012-11-25</td>
				<td>Pull Test</td>
				<td></td>
				<td></td>
				<td></td>
				<td>
					<div class="dropdown pull-right">
						<a class="btn-secondary">Dropdown</a>
						<ul class="pull-right">
							<li><a href="#">Edit</a></li>
							<li><a href="#">Print</a></li>
						</ul>
					</div>
				</td>
			</tr>
			<tr>
				<td>Open</td>
				<td></td>
				<td>2012-11-24 12:07 AM</td>
				<td>Chain Sling Visual</td>
				<td></td>
				<td></td>
				<td></td>
				<td>
					<div class="dropdown pull-right">
						<a class="btn-secondary">Dropdown</a>
						<ul class="pull-right">
							<li><a href="#">Edit</a></li>
							<li><a href="#">Print</a></li>
						</ul>
					</div>
				</td>
			</tr>
			<tr>
				<td>Open</td>
				<td></td>
				<td>No due date</td>
				<td>Pull Test</td>
				<td></td>
				<td></td>
				<td></td>
				<td>
					<div class="dropdown pull-right">
						<a class="btn-secondary">Dropdown</a>
						<ul class="pull-right">
							<li><a href="#">Edit</a></li>
							<li><a href="#">Print</a></li>
						</ul>
					</div>
				</td>
			</tr>
			<tr>
				<td>Completed</td>
				<td>2012-11-27</td>
				<td>10/22/10</td>
				<td>Chain Sling Visual</td>
				<td>N4 Systems</td>
				<td>Fail</td>
				<td>Could Not Inspect</td>
				<td>
					<div class="dropdown pull-right">
						<a class="btn-secondary">Dropdown</a>
						<ul class="pull-right">
							<li><a href="#">Edit</a></li>
							<li><a href="#">Print</a></li>
						</ul>
					</div>
				</td>
			</tr>
		</table>

    </wicket:extend>
</html>