<html xmlns:wicket="http://wicket.apache.org">
<wicket:extend>
    <span wicket:id="icon-th-large"></span><br>
    <span wicket:id="icon-flow-cascade"></span><br>
    <span wicket:id="icon-cancel-1"></span><br>
    <span wicket:id="icon-plus-squared-small"></span><br>
    <span wicket:id="icon-minus-squared-small"></span><br>
    <span wicket:id="icon-info-1"></span><br>
    <span wicket:id="icon-pin"></span><br>
    <span wicket:id="icon-bookmark"></span><br>
    <span wicket:id="icon-bookmark-empty"></span><br>
    <span wicket:id="icon-download-1"></span><br>
    <span wicket:id="icon-upload-1"></span><br>
    <span wicket:id="icon-trash-1"></span><br>
    <span wicket:id="icon-calendar"></span><br>
    <span wicket:id="icon-calendar-empty"></span><br>
    <span wicket:id="icon-zoom-in"></span><br>
    <span wicket:id="icon-zoom-out"></span><br>
    <span wicket:id="icon-down-dir-1"></span><br>
    <span wicket:id="icon-up-dir-1"></span><br>
    <span wicket:id="icon-left-dir-1"></span><br>
    <span wicket:id="icon-right-dir-1"></span><br>
    <span wicket:id="icon-angle-double-left"></span><br>
    <span wicket:id="icon-angle-double-right"></span><br>
    <span wicket:id="icon-angle-double-up"></span><br>
    <span wicket:id="icon-angle-double-down"></span><br>
    <span wicket:id="icon-cw-1"></span><br>
    <span wicket:id="icon-ccw-1"></span><br>
    <span wicket:id="icon-arrows-cw"></span><br>
    <span wicket:id="icon-laptop"></span><br>
    <span wicket:id="icon-tablet"></span><br>
    <span wicket:id="icon-mobile"></span><br>
    <span wicket:id="icon-table"></span><br>
    <span wicket:id="icon-columns"></span><br>
    <span wicket:id="icon-filter"></span><br>
    <span wicket:id="icon-sort"></span><br>
    <span wicket:id="icon-search"></span><br>
    <span wicket:id="icon-mail"></span><br>
    <span wicket:id="icon-user"></span><br>
    <span wicket:id="icon-users"></span><br>
    <span wicket:id="icon-user-add"></span><br>
    <span wicket:id="icon-picture"></span><br>
    <span wicket:id="icon-th-list"></span><br>
    <span wicket:id="icon-layout"></span><br>
    <span wicket:id="icon-menu"></span><br>
    <span wicket:id="icon-check"></span><br>
    <span wicket:id="icon-cancel"></span><br>
    <span wicket:id="icon-plus"></span><br>
    <span wicket:id="icon-plus-squared"></span><br>
    <span wicket:id="icon-minus"></span><br>
    <span wicket:id="icon-minus-squared"></span><br>
    <span wicket:id="icon-help"></span><br>
    <span wicket:id="icon-home"></span><br>
    <span wicket:id="icon-link"></span><br>
    <span wicket:id="icon-attach"></span><br>
    <span wicket:id="icon-lock"></span><br>
    <span wicket:id="icon-lock-open"></span><br>
    <span wicket:id="icon-download"></span><br>
    <span wicket:id="icon-upload"></span><br>
    <span wicket:id="icon-export"></span><br>
    <span wicket:id="icon-pencil"></span><br>
    <span wicket:id="icon-print"></span><br>
    <span wicket:id="icon-comment"></span><br>
    <span wicket:id="icon-attention"></span><br>
    <span wicket:id="icon-location"></span><br>
    <span wicket:id="icon-map"></span><br>
    <span wicket:id="icon-cog"></span><br>
    <span wicket:id="icon-arrow-combo"></span><br>
    <span wicket:id="icon-down-open"></span><br>
    <span wicket:id="icon-left-open"></span><br>
    <span wicket:id="icon-right-open"></span><br>
    <span wicket:id="icon-up-open"></span><br>
    <span wicket:id="icon-down-open-mini"></span><br>
    <span wicket:id="icon-left-open-mini"></span><br>
    <span wicket:id="icon-right-open-mini"></span><br>
    <span wicket:id="icon-up-open-mini"></span><br>
    <span wicket:id="icon-down-thin"></span><br>
    <span wicket:id="icon-left-thin"></span><br>
    <span wicket:id="icon-right-thin"></span><br>
    <span wicket:id="icon-up-thin"></span><br>
    <span wicket:id="icon-target"></span><br>
    <span wicket:id="icon-camera"></span><br>
   </wicket:extend>
</html>
