<!-- wraps all page content -->
<main class="" role="main">

	<!-- wraps page specific heading content -->
	<header class="page-header">

		<!-- This should reflect the hierarchy of the page structure and is not meant to replace the browser back button. -->
		<nav class="bread-crumb">
			<ol>
				<li><a href="#">Parent page</a></li>
				<li><a href="#">Next page in hierarchy</a></li>
				<li>Current page</li>
			</ol>
		</nav>

		<h1>Page Heading</h1>
		<div class="page-sub-header">
			<h2>Optional Sub-header</h2>
			<p>Content here can use any kind of HTML tags but should be related page header information.</p>
		</div>

		<nav class="nav-tabs">
			<ul>
				<li class="active"><a href="javascript:;">Tab item</a></li>
				<li><a href="javascript:;">Tab item</a></li>
			</ul>
		</nav>

		<div class="action-group">
			<div class="button-group">
				<a class="btn-secondary" href="#">Procedures</a>
				<a class="btn-secondary" href="#">Edit</a>
				<div class="dropdown">
					<a class="btn-secondary" href="#">Schedule</a>
					<ul class="pull-right">
						<li><a href="#">Event</a></li>
						<li><a href="#">Lockout/Tagout</a></li>
					</ul>
				</div>
				<a class="btn-primary" href="#">Start Event</a>
			</div>
		</div>
	</header>			
	
	<div class="page-content">
		<p>This layout shows all the possible page header options and a sample table listing in a no column layout.</p>

		<table class="borders">
			<tr>
				<th class="active"><a href="#">State<span class="fontello-down-open"></span></a></th>
				<th><a href="#">Completed</a></th>
				<th><a href="#">Due</a></th>
				<th><a href="#">Event</a></th>
				<th><a href="#">Completed By</a></th>
				<th><a href="#">Result</a></th>
				<th><a href="#">Event Status</a></th>
				<th></th>
			</tr>
			<tr>
				<td>Open</td>
				<td></td>
				<td>2012-11-25</td>
				<td>Pull Test</td>
				<td></td>
				<td></td>
				<td></td>
				<td>
					<div class="dropdown pull-right">
						<a class="btn-secondary btn-sml">Dropdown</a>
						<ul class="pull-right">
							<li><a href="#">Edit</a></li>
							<li><a href="#">Print</a></li>
						</ul>
					</div>
				</td>
			</tr>
			<tr>
				<td>Open</td>
				<td></td>
				<td>2012-11-24 12:07 AM</td>
				<td>Chain Sling Visual</td>
				<td></td>
				<td></td>
				<td></td>
				<td>
					<div class="dropdown pull-right">
						<a class="btn-secondary btn-sml">Dropdown</a>
						<ul class="pull-right">
							<li><a href="#">Edit</a></li>
							<li><a href="#">Print</a></li>
						</ul>
					</div>
				</td>
			</tr>
			<tr>
				<td>Open</td>
				<td></td>
				<td>No due date</td>
				<td>Pull Test</td>
				<td></td>
				<td></td>
				<td></td>
				<td>
					<div class="dropdown pull-right">
						<a class="btn-secondary btn-sml">Dropdown</a>
						<ul class="pull-right">
							<li><a href="#">Edit</a></li>
							<li><a href="#">Print</a></li>
						</ul>
					</div>
				</td>
			</tr>
			<tr>
				<td>Completed</td>
				<td>2012-11-27</td>
				<td>10/22/10</td>
				<td>Chain Sling Visual</td>
				<td>N4 Systems</td>
				<td>Fail</td>
				<td>Could Not Inspect</td>
				<td>
					<div class="dropdown pull-right">
						<a class="btn-secondary btn-sml">Dropdown</a>
						<ul class="pull-right">
							<li><a href="#">Edit</a></li>
							<li><a href="#">Print</a></li>
						</ul>
					</div>
				</td>
			</tr>
		</table>
	</div><!-- cls .page-content -->	
</main>