<html xmlns:wicket="http://wicket.apache.org">
    <wicket:extend>
        
        <section class="clearfix">
            <div class="column-right">
                <h3>column-right (default)</h3>
                <div class="feature-image">
                  <img src="/fieldid/img/examples/landscape.jpg">
                </div>
            </div>
            <div class="column-wide">
                <h3>column-wide (default)</h3>
                <p>Pudding pie jujubes chocolate chocolate bar. Marzipan bear claw powder cupcake sugar plum liquorice topping candy gingerbread. Cookie biscuit pudding chocolate pastry oat cake gummies. Croissant sweet roll dessert tootsie roll. Halvah lemon drops jelly-o lollipop biscuit lollipop cupcake sweet powder. Candy canes fruitcake gingerbread jelly apple pie cotton candy. Topping tiramisu soufflé jujubes. Unerdwear.com dessert toffee fruitcake icing. Chocolate bar topping fruitcake brownie. Fruitcake gummies topping ice cream chupa chups. Dessert lemon drops jelly beans. Halvah jujubes donut dessert chocolate cake lemon drops chocolate bar tootsie roll. Liquorice sweet roll carrot cake jelly croissant icing.</p>
            </div>
        </section>

        <section class="clearfix">
            <div class="column-right narrow">
                <h3>column-left narrow</h3>
                <div class="feature-image">
                  <img src="/fieldid/img/examples/landscape.jpg">
                </div>
            </div>
            <div class="column-wide narrow">
                <h3>column-wide narrow</h3>
                <p>Pudding pie jujubes chocolate chocolate bar. Marzipan bear claw powder cupcake sugar plum liquorice topping candy gingerbread. Cookie biscuit pudding chocolate pastry oat cake gummies. Croissant sweet roll dessert tootsie roll. Halvah lemon drops jelly-o lollipop biscuit lollipop cupcake sweet powder. Candy canes fruitcake gingerbread jelly apple pie cotton candy. Topping tiramisu soufflé jujubes. Unerdwear.com dessert toffee fruitcake icing. Chocolate bar topping fruitcake brownie. Fruitcake gummies topping ice cream chupa chups. Dessert lemon drops jelly beans. Halvah jujubes donut dessert chocolate cake lemon drops chocolate bar tootsie roll. Liquorice sweet roll carrot cake jelly croissant icing.</p>
            </div>
        </section>

        <section class="clearfix">
            <div class="column-right fixed">
                <h3>column-left fixed</h3>
                <div class="feature-image">
                  <img src="/fieldid/img/examples/landscape.jpg">
                </div>
            </div>
            <div class="column-wide fixed">
                <h3>column-wide fixed</h3>
                <p>Pudding pie jujubes chocolate chocolate bar. Marzipan bear claw powder cupcake sugar plum liquorice topping candy gingerbread. Cookie biscuit pudding chocolate pastry oat cake gummies. Croissant sweet roll dessert tootsie roll. Halvah lemon drops jelly-o lollipop biscuit lollipop cupcake sweet powder. Candy canes fruitcake gingerbread jelly apple pie cotton candy. Topping tiramisu soufflé jujubes. Unerdwear.com dessert toffee fruitcake icing. Chocolate bar topping fruitcake brownie. Fruitcake gummies topping ice cream chupa chups. Dessert lemon drops jelly beans. Halvah jujubes donut dessert chocolate cake lemon drops chocolate bar tootsie roll. Liquorice sweet roll carrot cake jelly croissant icing.</p>
            </div>
        </section>
       

         <wicket:fragment wicket:id="actions">
            <!-- Any combination of button styles can be contain within here. Refer to style guide documentaton. Example of single and grouped buttons below. -->
            <a wicket:id="secondaryLink" class="btn-secondary">Secondary</a>
            <div class="button-group">
                <div class="dropdown">
                    <a class="btn-secondary" href="#">Dropdown</a>
                    <ul class="pull-right">
                        <li><a href="#">item</a></li>
                        <li><a href="#">item</a></li>
                    </ul>
                </div>
                <a wicket:id="primaryLink" class="btn-primary">Primary</a>
            </div>
         </wicket:fragment>
    </wicket:extend>
</html>