<html xmlns:wicket="http://wicket.apache.org">
    <wicket:extend>
        <hr>

        <div class="page-content">
            <div class="columns-two">
                <h3>columns-two</h3>
                <p>Horribilem walking dead resurgere de crazed sepulcris creaturis, zombie sicut de grave feeding iride et serpens. Pestilentia, shaun ofthe dead scythe animated corpses ipsa screams. Pestilentia est plague haec decaying ambulabat mortuos. Sicut zeder apathetic malus voodoo. Aenean a dolor plan et terror soulless vulnerum contagium accedunt, mortui iam vivam unlife. Qui tardius moveri, brid eof reanimator sed in magna copia sint terribiles undeath legionis. Alii missing oculis aliorum sicut serpere crabs nostram. Putridi braindead odores kill and infect, aere implent left four dead.</p>
            </div>
            <div class="columns-two">
                <h3>columns-two</h3>
                <p>Candy apple pie candy liquorice pudding biscuit jujubes. Candy jujubes fruitcake fruitcake lollipop. Tiramisu marshmallow pudding. Marzipan liquorice cake liquorice jelly-o bear claw ice cream bonbon. Icing dragée caramels donut cookie dessert pastry cake. Macaroon pastry biscuit. Ice cream dessert gummi bears pudding dessert sweet gummi bears jelly-o. Tart dessert bear claw. Sweet gummies jujubes pie candy marzipan muffin. Lemon drops muffin halvah fruitcake soufflé. Liquorice ice cream liquorice cupcake bear claw. Muffin soufflé tiramisu. Wafer biscuit unerdwear.com bear claw gummi bears gummies oat cake pudding unerdwear.com.</p>
            </div>
        </div>

        <wicket:fragment wicket:id="actions">
            <!-- Any combination of button styles can be contain within here. Refer to style guide documentaton. Example of single and grouped buttons below. -->
            <a wicket:id="secondaryLink" class="btn-secondary">Secondary</a>
            <div class="button-group">
                <div class="dropdown">
                    <a class="btn-secondary" href="#">Dropdown</a>
                    <ul class="pull-right">
                        <li><a href="#">item</a></li>
                        <li><a href="#">item</a></li>
                    </ul>
                </div>
                <a wicket:id="primaryLink" class="btn-primary">Primary</a>
            </div>
        </wicket:fragment>
    </wicket:extend>
</html>



