.formErrors {
    padding: 10px;
    margin: 10px 0;
}

/* Added #contentHeader to restrict these changes to just the pre-framework pages */
#contentHeader #notifications span {
    line-height: 30px;
    padding: 0px 10px;
}
#contentHeader .message ul {
    font-weight: bold;
    padding-top:10px;
    padding-bottom:10px;
    border: 1px solid #5fb336;
    background-color: #e3f4db;
    text-align: center;
    font-size: 13px;
}

/* Top Feedback panel */
#contentHeader div.success {
    padding: 0;
    border: none;
}

/* FID Feedback panel */
#pageContent .errorMessage,
.wicket-modal .errorMessage {
    font-size: 13px;
    list-style-type: disc;
}
#contentHeader .formErrors ul li {
    list-style-type: disc;
}

/* Auto-logout notification */
#cboxLoadedContent div.error {
    display: none;
}

/* Modal forms */
div.formErrors.error {
    font-size: 13px;
}
div.formErrors.error h3 {
    margin: 4px 0;
}
div.dialog-modal h3.w_captionText {
    color: inherit;
    font-weight: bold;
}