/* 
Shared styles between Search, Reporting and Procedures
Search specific styles are in newCss/component/simple-advanced-search.css 
--------------------------------------------------------------------------*/


/* fieldid.css OVERRIDES 
-------------------------*/
html {
	background-color: #fff;
}
#headerPadding {
	display: none;
}
a {
	color: #008bd3;
}
.speedLink img {
	width: 12px;
	height: 6px;
}

/* results table action dropdown button */
.dropDownLink img {
	padding: 0;
	vertical-align: middle;
}
ul.floatingDropdown ul {
	right: 11px;
	left: auto;
	text-align: right;
	background-color: white;
	border: 1px solid #c7c7c9;
	width: auto;
}
ul.floatingDropdown ul li {
	background-color: transparent;
	width: 100%;
	white-space: nowrap;
}
ul.floatingDropdown li ul li.hover, 
ul.floatingDropdown li ul li:hover {
	background: #f5f5f5;
}
ul.floatingDropdown ul li a,
ul.floatingDropdown ul li a:visited {
	color: #008bd3;
	width: 82%;
}
#floatingDropdownStartEventLink a {
	padding: 7px 10px;
}


/* wide.css OVERRIDES 
----------------------*/
#page .centre {
	border-radius: 0;
	left: 30px;
	padding: 0;
}
#left-panel-controller {
	bottom: 8px;
	left: 13px;
	cursor: pointer;
}
#left-panel {
	left: 26px;
	width: 387px;
	border-radius: 0;
}
#bottom-panel {
	border-radius: 0;
	height: 41px;
	bottom: 8px;
	left: 30px;
}
#page.with-left-panel .centre,
#page.with-left-panel #bottom-panel {
	left: 425px;
}


/* ACTION BUTTONS BAR 
----------------------*/ 
.sub-menu {
	position: relative;
	padding: 0;
	background-color: #ffffff;
	/*margin-top: 14px;*/
	margin-top: 42px;
}
.sub-menu .header {
	/* header is between the filter buttons and search bar.
	this will place it above so to remove it from the action bar */
	position: absolute;
	top: -30px;
	left: 0;
}
.search-options {
	max-width: 74px;
	float: left;
	padding-left: 14px;
}
.sub-menu .action-group {
	text-align: right;
	margin-right: 11px;
}
.action-group .button-group {
	float: right;
}
.dropdown-btn ul li a {
	padding: 8px 12px;
}

/* moves the results panel down to make space for header */
#left-panel,
#left-panel-controller,
#page .centre {
	top: 197px;
}

/* FILTER CRITERIA - SIDEBAR 
-----------------------------*/
#left-panel {
	overflow-y: auto;
	overflow-x: hidden;
}
#left-panel h2 {
	position: fixed;
	background: white;
	z-index: 1;
	width: 357px;
	font-size: 18px;
	border-bottom: 1px solid #c7c7c9;
	padding: 12px 15px;
	height: 20px;
}

/* form */
.search-config {
	position: relative;
	top: 46px;
	padding-left: 12px;
	padding-bottom: 50px;
	*z-index: 5;
}
	.search-config .btn-primary {
		position: fixed;
		left: 340px;
		top: 206px;
		z-index: 1;
	}
#left-panel.filters .content.filters {
	display: block;
}
#left-panel.filters .content.columns {
	display: none;
}
#left-panel .control-group.checkbox {
	margin-left: 14px;
}
#left-panel .filters .control-group.checkbox {
	margin-left: 145px;
	width: 208px;
}
#left-panel .filters .control-group.checkbox input {
	margin-bottom: 18px; /*temp */
}
#left-panel .column-group .collapsible span {
	margin-left: 14px;
}


/* Popups & Location picker within forms 
-----------------------------------------*/
.control-group .popup {
	display: inline-block;
}
/* Org location dropdown search */
.form-horizontal.compact .org-location {
	border: 1px solid #c7c7c9;
}
.form-horizontal.compact .org-location input[type="text"] {
	width: 183px;
	border: none;
}
.form-horizontal.compact .org-location .entypo-search {
	margin-left: 0;
	margin-right: 3px;
}
.form-horizontal.compact .org-location .tree {
	right: -1px;
	*left: auto;
	top: 19px;
}
.form-horizontal.compact .org-location .no-results {
	width: 196px;
	margin-left: -1px;
	top: 27px;
}


/* previous CSS form overrides
-------------------------------*/
.infoSet.control-group {
	padding-top: 0;
	min-height: inherit
}
.infoSet.control-group input[type="text"],
.infoSet.control-group select,
.infoSet.control-group textarea { 
	border: 1px solid #c7c7c9;
}
.infoSet.control-group label {
	margin-right: 0;
}
.infoSet.control-group .ui-datepicker-trigger {
	margin-left: -20px;
	padding-left: 0;
	vertical-align: top;
	padding-top: 5px;
	cursor: pointer;
}


/* BLANK SLATE RESULTS PANEL 
-----------------------------*/
.no-results h2 {
	font-size: 22px;
	font-weight: normal;
	padding-left: 0;
}


/* RESULTS TABLE 
-----------------*/
#pageContent .status {
	height: 26px;
	padding: 9px 2px;
}
p.mass-actions-msg em {
	font-style: italic;
	text-decoration: none;
	color: #666666;
}
.list {
	font-size: 12px;
	border-bottom: none;
}
.list th, 
.list td {
	padding: 6px 5px;
}
.list th {
	background-color: #ddd;
	border-bottom: 1px solid #c7c7c9;
	border-top: 1px solid #c7c7c9;
}
.list td {
	border: none;
}
.list tr:hover {
	background-color: #ddd;
}
.list .row-odd {
	background-color: #f5f5f5;
}
.list .row-odd.pastDue {
	background-color: #ffebeb;
}
th.wicket_orderUp,
th.wicket_orderDown {
	background-color: #c7c7c9;
}


/* PAGINATION 
--------------*/
.pagination input[type="text"] {
	height: auto;
	width: auto;
	margin: 0;
}
.pagination label {
	display: inline-block;
}





