.navHeader .new-procedure {
    float: right;
    margin-right:1px;
}

.new-procedure-types {
    background: none repeat scroll 0 0 white;
    border: 1px solid #DDDDDD;
    box-shadow: 5px 0 2px -5px #CCCCCC, -5px 0 2px -5px #CCCCCC, 0 2px 5px 0 #CCCCCC;
    right: 0;
    padding: 10px 20px;
    position: absolute;
    top: 78px;
    width: 100px;
    z-index: 10;
}

.new-procedure-types a {
    display: block;
    line-height: 2em;
    color: #777777;
    font-size: 1.2em;
    text-decoration: none;
}

.blankSlate img {
    display: table-caption;
    margin: 50px auto 25px auto;
}

.blankSlate p {
    font-size: 18px;
    color: #777777;
    margin: 20px auto 40px auto;
    width: 400px;
}

.blankSlate a {
    float:none;
    margin: 0 auto 0 auto;
    width: 135px;
    display: block;
}