<html xmlns:wicket="http://wicket.apache.org">
<wicket:panel>
    <div wicket:id="feedbackPanel"/>

    <form wicket:id="form" class="observation-box observationBox">

        <p class="observation-text observationText" wicket:id="preConfiguredObservations">
            <span wicket:id="observationName"></span>
        </p>

        <p class="observation-comment observationComment">

            <label><wicket:message key="label.comments"/></label>

            <span>
                <textarea wicket:id="comments" cols="53" rows="3"/>
            </span>

        </p>

        <div class="observation-actions observationActions">
            <a wicket:id="saveButton" class="btn-primary"><wicket:message key="label.store"/></a>
            <div class="observation-actions-text observationsActionsText">
                <wicket:message key="label.or"/>
                <a wicket:id="clearLink"><wicket:message key="label.clear"/></a>
                <wicket:message key="label.or"/>
                <a wicket:id="cancelLink"><wicket:message key="label.cancel"/></a>
            </div>
        </div>

    </form>

</wicket:panel>
</html>