<wicket:panel>

    <div class="observationBox">

        <p class="observationText" wicket:id="preConfiguredObservations">
            <span wicket:id="observationName"></span>
        </p>

        <p class="observationComment">

            <label><wicket:message key="label.comments"/></label>

            <span>
                <textarea wicket:id="comments" cols="53" rows="3"/>
            </span>

            </p>
        
        <p class="observationActions">
            <input type="button" wicket:id="saveButton">
            <wicket:message key="label.or"/>
            <a wicket:id="clearLink"><wicket:message key="label.or"/></a>
            <wicket:message key="label.or"/>
            <a wicket:id="cancelLink"><wicket:message key="label.cancel"/></a>
        </p>

    </div>

</wicket:panel>