.mobile-offline {
	position: relative;
	padding-top: 15px;
}
.mobile-offline .meta {
	font-size: 13px;
	padding-left: 6px;
	margin-bottom: 10px;
}
.mobile-offline .meta label {
	font-weight: bold;
}
.mobile-offline .btn.clear {
	position: absolute;
	margin: 0;
}
a {
	color: #008bd3;
}

/* pagination */
.list tr.navigation:hover {
	background-color: #fff;
}
.list tr.navigation td {	
	font-size: 12px;
}
.navigatorLabel {
	float: right;
	padding-top: 4px;
	margin-left: 10px;
}
.navigator {
	float: right;
	margin-left: 10px;
}
.navigator a,
.navigator .goto em {	
	text-decoration: none;
	padding: 4px 7px;
}
.navigator a {
	border: 1px solid #c7c7c9;
}
.navigator em {
	display: none;
}
.navigator .goto em {
	display: inline-block;
}

/* Table */
.list {
	border-bottom: none;
	margin-top: -3px;
}
.list .odd {
	background-color: #f5f5f5;
}
.list tr:hover {
	background-color: #ddd;
}
.list th {	
	border-bottom: 1px solid #c7c7c9;
	border-top: 1px solid #c7c7c9;
	padding: 6px;
}
	.list th:last-child span {
		display: none;
	}
.list td {
	border: none;
	padding: 6px;
}
	.list td:last-child {
		text-align: right;
	}




