#page {
    background: none;
    border: none;
    box-shadow: none;
    padding: 0;
}

.options {
    border-bottom: none;
}

.viewLinks {
    position: absolute;
    right: 17px;
    top: 3px;
}

.viewLinks .padLeft {
    margin-left: 5px;
}

.horizontalGrouping {
    list-style: none;
    text-align: center; /* center aligns the li and text */
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 5px 0 2px -5px #CCCCCC, -5px 0 2px -5px #CCCCCC, 0 2px 5px 0 #CCCCCC;
    margin: 5px;
    padding-bottom: 20px;
}

.horizontalGrouping .horizontalGroup {
    display: inline-block; /* floats element but is still center aligned */
    width: 100px;
    padding: 20px;
    border: 1px solid #E8E8E8;
}

.horizontalGrouping h2{
    font-size: 1.3em;
    text-align: center;
}

.horizontalGroup {
    margin: 20px 20px 0;
}

.horizontalGroup p{
    font-size: 13px;
    padding: 5px;
}

.horizontalGroup .addUserAction, .horizontalGroup .upgradeUserAction {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
}

.addUserAction input, .upgradeUserAction input{
    padding: 5px;
    font-size: 14px;
    overflow: visible;
    margin-bottom: 10px;
}

div.groupContents{
    height: 220px;
}

.horizontalGrouping .horizontalGroup{
    width: 225px;
    overflow: hidden;
    padding: 10px;
}

.horizontalGroup .permissionListing{
    padding-left: 10px;
    padding-top: 10px;
}

.permissionListing li{
    text-align: center;
    padding: 2px;
    font-size: 13px;
}

.permissionListing label{
    padding-top: 5px;
    position: relative;
    top: -5px;
    color: #666
}

div.userLimitWarning{
    font-size: 13px;
    padding: 45px 0px 0px 15px;
    background: no-repeat scroll 90px 0 transparent url('/fieldid/images/warning-icon.png');
    margin-top: 35px;
}
