<wicket:extend>
    <span class="actions">
    	<ul>
            <li>
                <a class="mattButton" wicket:id="exportToExcelLink"><wicket:message key="label.exporttoexcel"/></a>
            </li>
            <li wicket:id="print" class="menu wide">
            </li>
            <li>
                <a wicket:id="emailLink" class="mattButton"><wicket:message key="label.email"/></a>
            </li>
        </ul>
	</span>
    
    <!-- TO BE REMOVED -->
    <span wicket:id="msg" class="msg" style="display:none;"/>
</wicket:extend>
		
