<wicket:panel>

    <fieldset>
        <div class="control-group">
            <label><wicket:message key="label.event_state"/></label>
            <select wicket:id="workflowStateSelect"></select>
        </div>
        <div class="control-group">
            <label><wicket:message key="label.search_type"/></label>
            <select wicket:id="searchTypeSelect"></select>
        </div>
    </fieldset>
    <fieldset wicket:id="eventStatusAndDateRangePanel"/>
    <fieldset wicket:id="eventDetailsCriteriaPanel"/>
    <fieldset wicket:id="peopleDetailsCriteriaPanel"/>
    <fieldset wicket:id="resolutionDetailsCriteriaPanel"/>
    <fieldset wicket:id="assetDetailsCriteriaPanel"/>
    <fieldset wicket:id="ownershipCriteriaPanel"/>
    <fieldset wicket:id="identifiersCriteriaPanel"/>
    <fieldset wicket:id="orderDetailsCriteriaPanel"/>

</wicket:panel>	
