body {
	background: #FFF url('/fieldidadmin/images/jboss.jpg') no-repeat -50px 100px fixed;
	margin: 0 0 20px 0;
	padding: 0;
	font-family: Verdana, sans-serif;
	font-size: 0.95em;
	color: #000;
	line-height: 1.5em;
}

#header {
 width: 80%;
 background:transparent;
 margin: 0 auto;
 padding: 0;
 height: 101px;
 
}

#header h1 {
	padding: 30px 0;
	color: #999;
	font-size: 1.4em;
	letter-spacing: 3px;
	margin: 0;
	text-align: right;
}

#nav {
	background: transparent url('/fieldidadmin/images/trans8.png') repeat;
	border-bottom: 1px solid;
	margin: 0 auto;
	width: 80%
}

#nav label {
	padding-left: 10px;
	font-weight: bold;
	font-size: 1.2em;
}

#nav select {
	font-size: 1.2em;
}

#container {
	background: transparent url('/fieldidadmin/images/trans8.png') repeat;
	width: 80%;
	margin: 0 auto;
	padding: 0;
}

#content {
	margin: 0;
	padding: 40px;
	
}

#footer {
	background: transparent;
	padding: 5px 10px 2px 0;
	text-align: right;
	font-size: 0.75em;
	clear: both;
	line-height: 1.15em;
}

a, a:visited {
	background: transparent;
	color: #333;
	border-bottom: 1px solid #333;
	text-decoration: none;
	font-weight: bold;
}

a:hover, a:active {
	background: transparent;
	color: #666;
}

h2 {
	color: #666;
	border-bottom: 1px solid #666;
	margin: 0;
	padding: 10px 0 1px 0;
	font-size: 1.2em;
}	


.fileList {
	float: left;
	margin-right: 10px;
	min-width: 200px
}

.clearBoth {
	clear: both;
}

.list {
	width: 100%;
	border-spacing: 2px;
	background-color: #000;
}

.list td {
	background-color: #e8e8e8;
}
.list th {
	background-color: #e0e0e0;
}