@import "../components/variables.less";
@import "../components/mixins.less";

/*----------------------------------------- 
  CUSTOM STYLES FOR ALL PAGES UNDER PLACES
-------------------------------------------*/

// Landing page - list/tree view & add form
// -----------------------------------------
// Add Descendant message
.info.column-wide {
	margin-top: 22px;
}

// List/Tree view buttons and text search
.action-bar {
	margin-bottom: 30px;

	.text-search {
		.width(4,3);
		
		input[type="text"] {
			width: 98%;
		}
	}
}

// Tree view / left column
//overrides for jstree plugin
.tree-custom {
	margin-top: 13px;

	.jstree {
		ins {
			cursor: pointer;
			float: left;
			padding: 1px 2px;

			//makes the hit area of the icon bigger
			width: 22px;
			height: 20px;
		}
		a {
			padding: 2px 0;
			//Adds ellipsis for place names that span wider than max width.
			.truncate(60%);
		}
		> ul > li {
			// adds a border between the top level place
			border-bottom: 1px solid @gray;
			padding-top: 4px;
		}
		.org {
			color: @blue;
			text-decoration: underline;
			
			&:hover {
				text-decoration: none;
			}
		}
		li.internal-org {
			font-size: @base-font-size;
			font-weight: @regular;
			
			//only applied when the parent org is also shown
			li.customer-org {
				padding: 2px 0;
				border-top: 1px dashed @gray-light;

				span {
					font-size: @small-font-size;
				}
			}
		}
		//applied when only this level is showing without parent org
		li.customer-org {
			font-size: @base-font-size;
			border-bottom: none;
		}
		li.division-org {
			font-size: @small-font-size;
			border-bottom: none;

			&:first-child {
				padding-top: 2px;
			}
		}
	}
	.jstree-default {
		//overrides icons with fontello icons
		li, 
		ins {
			background: none;
		}
		ins {
			font-size: @base-font-size;
		}
		&.jstree-focused {
			margin-top: 0;
		}
		// changes the background to yellow for newly added Places 
		li.added {
		    background: @yellow;
		}
		.jstree-hovered,
		.jstree-clicked {
			background: none;
			border: none;
			padding: 2px 0;
		}
		//primary icons
		.primary {
			&.jstree-open > ins:before {
				.fontello-minus-squared(0 3px);
			}
			&.jstree-closed > ins:before  {
				.fontello-plus-squared(0 3px);
			}
			> a .org {
				font-weight: @bold;
			}
		}
		//secondary and customer/jobsite icons
		.secondary,
		.customer-org {
			&.jstree-open > ins:before  {
				.fontello-minus-squared-small;
			}
			&.jstree-closed > ins:before  {
				.fontello-plus-squared-small;
			}
		}	

		// add links
		.action {
			float: right;
			cursor: pointer;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
		.no-permission .action {
		    display: none;
		}
	}
	
	//Firefox only
	@-moz-document url-prefix() { 
		.tree-custom .jstree > ul > li {
			position: relative;
		}
		.tree-custom .jstree-default .action {
			position: absolute;
			right: 0;
		}
	}	
}

// Right column / add form
.column-wide {
	.two-columns {
		label {
			width: 30%;
		}
		input[type="text"], 
		select, textarea,
		.input-combo {
			width: 65%;
		}
		.chzn-container {
			width: 65%!important;
		}
		.text-block {
			margin-left: 30%;
		}
	}
}

// Places add descendants form
// ----------------------------
// Using on the landing/tree view page AND on the 
// add/view descendants for a specific tenant page
.add-descendants-form {
	.primary-selection {
		.chzn-container {
			margin: 0;
		}
		.two-columns {
			padding-top: 5px;
		}
	}
	.address {
		display: inline;
	}
}

// List view
.list-view tr {
	height: 33px;
}


// Action Group styles
// --------------------
.dropdown ul .add-descendant {
	em {
		display: block;
		color: @gray-dark;
		// font-style: normal
	}
	a {
		white-space: normal;
	}
}
.options ul {
	width: 200px;
}



// Places Summary page
// --------------------
.place-summary {
	.uploads {
		p {
			margin: 0;
		}
		.remove {
			margin-top: 4px;
			display: inline-block;
		}
		.feature-image {
			// background: @black;
			margin-top: 4px;
			border: 1px solid @gray-medium;
			padding: 5px;

			img {
				background: @white;
			}
		}
		label {
			text-align: left;
			width: 29%;
			font-weight: bold;
		}
		.controls {
			width: 70%;
		}

		&.pdf-report-img {
			label,
			.controls {
				float: left;
			}
		}
	}
	.info.empty-schedule {
		margin-top: 5px;
	}
	.google-map {
		width: 100%;
		height: 225px;
		margin-bottom: 20px;
	}
	.editable-inputs {
		margin-top: 30px;

		.actions a {
			margin-left: 4px;
		}
		label {
			font-weight: bold;
			text-align: left;
			width: 28%;
		}
		input[type="text"], select, textarea {
			width: 70%;
		}
		.chzn-container {
			width: 70%!important;
			margin: 0;
		}
		input[type="text"] {
			text-overflow: ellipsis;
		}
		.timezone {
			label {
				float: left;
				line-height: 29px;
			}
			.chzn-container {
				float: left;
				margin: 0 0 0 3px;
			}
		}
	}
}


// Places add descendants page
// ----------------------------
.place-add-descendant {
	
	.descendants-list {
		position: relative;

		// override default table heading styles
		th {
			background: transparent;
			padding-bottom: 0;
			font-size: @large-font-size;
			font-weight: @regular;

			&:first-child,
			&:last-child {
				border-left: none;
				border-right: none;
			}
		}
		tr {
			border-bottom: none;
		}

		// move nav to bottom of table
		.navigation {
			position: absolute;
			bottom: -65px;
			right: 0;
			left: 0;
			padding: 0 5px 5px 0;
			border-bottom: 1px solid @gray;
			border-top: 1px solid @gray;
			
			//float nav to the right
			td {
				float: right;
			}
			.navigatorLabel {
				float:none;
				border: none;
				text-align: right;
				margin-right: 0;
				padding-right: 0;
			}
		}	
	}
			
	.column-wide {
		padding-top: 7px;
	}
}


// Places Event page
// --------------------
.place-event {
	.event-panel {
		table {
			position: relative;
		}
		.navigation {
			position: absolute;
			right: 0;
			top: -37px;
			border-bottom: none;
		}
		.navigator {
			float: left;
		}
	}
	.all-events-map {
		margin-top: 10px;
		width: 100%;
		height: 550px;
	}
}	


// Place Recurring Schedules
// -------------------------
//overriding styles for chosen dropdowns
.chzn-container .chzn-results {
	max-height: 155px!important;
}
.chzn-drop,
.chzn-search input {
	width: 100%!important;
}



// Media Queries
// --------------
@media (max-width: 1150px) {
	.column-wide .two-columns {
		width: 100%;
		
		label {
			width: 25%;
		}
	}
}
