@import "../components/variables.less";
@import "../components/mixins.less";

/*----------------------------------------- 
  CUSTOM STYLES FOR ALL PAGES UNDER PLACES
-------------------------------------------*/

// Landing page - list/tree view & add form
// -----------------------------------------
// List/Tree view buttons and text search
.action-bar {
	margin-bottom: 30px;
}

// Tree view / left column
//overrides for jstree plugin
.tree-custom {
	.jstree {
		ins {
			cursor: pointer;
			float: left;
			padding: 1px 2px;

			//makes the hit area of the icon a bit bigger
			width: 22px;
			height: 20px;
		}
		a {
			padding: 2px 0;
			//Adds ellipsis for place names that span wider than max width.
			.truncate(60%);
		}
		> ul > li {
			// adds a border between the top level place
			border-bottom: 1px solid @gray;
			padding-top: 4px;
		}
		.org {
			color: @blue;
			text-decoration: underline;
			
			&:hover {
				text-decoration: none;
			}
		}
		li.internal-org {
			font-size: @baseFontSize;
			font-weight: @regular;
			
			//only applied when the parent org is also shown
			li.customer-org {
				padding: 2px 0;
				border-top: 1px dashed @grayLight;

				span {
					font-size: @smallFontSize;
				}
			}
		}
		//applied when only this level is showing without parent org
		li.customer-org {
			font-size: @baseFontSize;
			border-bottom: none;
		}
		li.division-org {
			font-size: @smallFontSize;
			border-bottom: none;

			&:first-child {
				padding-top: 2px;
			}
		}
	}
	.jstree-default {
		li, 
		ins {
			background: none;
		}
		ins {
			font-size: @baseFontSize;
		}
		&.jstree-focused {
			margin-top: 0;
		}
		.primary {
			&.jstree-open > ins:before {
				.fontello-minus-squared(0 3px);
			}
			&.jstree-closed > ins:before  {
				.fontello-plus-squared(0 3px);
			}
			> a .org {
				font-weight: @bold;
			}
		}
		.secondary,
		.customer-org {
			&.jstree-open > ins:before  {
				.fontello-minus-squared-small;
			}
			&.jstree-closed > ins:before  {
				.fontello-plus-squared-small;
			}
		}
		.jstree-hovered,
		.jstree-clicked {
			background: none;
			border: none;
			padding: 2px 0;
		}
		// add links
		.action {
			float: right;
			cursor: pointer;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
		.no-permission .action {
		    display: none;
		}
	}
	
	//Firefox only
	@-moz-document url-prefix() { 
		.tree-custom .jstree > ul > li {
			position: relative;
		}
		.tree-custom .jstree-default .action {
			position: absolute;
			right: 0;
		}
	}	
}


// Right column / add form
.column-wide {
	.two-columns {
		padding-top: 8px;

		label {
			width: 40%;
		}
		input[type="text"], 
		select, textarea,
		.input-combo {
			width: 58%;
		}
		.chzn-container {
			width: 58%!important;
		}
		.text-block {
			margin-left: 40%;
		}
	}
}
.add-place-form {
	.primary-selection {
		label {
			width: 19.5%;
		}
	}
}


// List view
.list-view tr {
	height: 33px;
}


// Action Group styles
// --------------------
.dropdown ul li.add-descendant a {
	white-space: normal;
}
.options ul {
	width: 200px;
}



// Places Summary page
// --------------------
.place-summary {
	.uploads {
		position: relative;

		p {
			margin: 0;
		}
		.remove {
			margin-top: 4px;
			display: inline-block;
		}
		.feature-image {
			background: @black;
			margin-top: 4px;

			img {
				background: @white;
			}
		}
		label {
			text-align: left;
			width: 28%;
			font-weight: bold;
		}
		.controls {
			width: 70%;
		}

		&.pdf-report-img {
			label,
			.controls {
				float: left;
			}
		}
	}
	.google-map {
		width: 100%;
		height: 225px;
		margin-bottom: 20px;
	}
	.editable-inputs {
		margin-top: 30px;

		.actions a {
			margin-left: 4px;
		}
		label {
			font-weight: bold;
			text-align: left;
			width: 28%;
		}
		input[type="text"], select, textarea {
			width: 70%;
		}
		.chzn-container {
			width: 70%!important;
			margin: 0;
		}
		input[type="text"] {
			text-overflow: ellipsis;
		}
		.timezone {
			label {
				float: left;
				line-height: 29px;
			}
			.chzn-container {
				float: left;
				margin: 0 0 0 3px;
			}
		}
	}
}


// Places add descendants page
// ----------------------------
.place-add-descendant {
	.column-left {
		table {
			margin-top: 20px;
		}
		th {
			background: transparent;

			&:first-child,
			&:last-child {
				border-left: none;
				border-right: none;
			}
		}
	}
	.column-wide {
		padding-top: 58px;
	}
}

// Places add descendants form
// Using on the landing/tree view page and on the 
// add/view descendants for a specific tenant page
.add-descendants-form {
	.address {
		display: inline;
	}
}


// Places Event page
// --------------------
.place-event {
	.event-panel {
		table {
			position: relative;
		}
		.navigation {
			position: absolute;
			right: 0;
			top: -37px;
			border-bottom: none;
		}
		.navigator {
			float: left;
		}
	}
	.all-events-map {
		margin-top: 10px;
		width: 100%;
		height: 550px;
	}
}	

// Place Recurring Schedules
// -------------------------
//overriding styles for chosen dropdowns
.chzn-container .chzn-results {
	max-height: 160px!important;
}
.chzn-drop,
.chzn-search input {
	width: 100%!important;
}



// Media Queries
// --------------
@media (max-width: 1150px) {
	.two-columns {
		width: 100%;
	}
}
