body {
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
}

div.leftBar {
    display: block;
    float: left;
    width: 210px;
    height: 500px;
    border-right: 1px solid #888;
}

div.mainArea {
    display:block;
    float:left;
    width:720px;
    padding-left: 20px;
    padding-top: 15px;
}

.selectedColumnsContainer {
    display:block;
    background: #eee;
    border: 1px solid #ddd;
    padding: 15px 35px 15px 35px;
    margin-left:10px;
    height:400px;
    display:block;
    float:left;
    overflow:auto;
}

.sortSelectorContainer {
    display:block;
    background: #eee;
    border: 1px solid #ddd;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    height:80px;
    width:400px;
    display:block;
    float:right;
    margin-left:15px;
}

.selectedColumn {
    display:block;
    margin-right: 5px;
}

div.selectedColumn div.reportColumn {
    margin-bottom: 3px;
}

.availableColumns {
    display:block;
    float:left;
    padding-bottom: 3px;
}

.dragContainer {
    display:block;
    float:left;
    margin:0;
    padding:0 0 0 0;
}

.column_box_event_details {
    background-color: #5581A2;
}

.column_body_event_details {
    background-color: #99B3C7;
}

.column_box_identifiers {
    background-color: #4BA578;
}

.column_body_identifiers {
    background-color: #93C9AE;
}

.column_box_ownership {
    background-color: #D2781E;
}

.column_body_ownership {
    background-color: #E4AE78;
}

.column_box_order_details {
    background-color: #496565;
}

.column_body_order_details {
    background-color: #899B9B;
}

.column_box_asset_details {
    background-color: #787878;
}

.column_body_asset_details {
    background-color: #AEAEAE;
}

.column_box_proof_test_details {
    background-color: #AB5882;
}

.column_body_proof_test_details {
    background-color: #C993AE;
}

.column_box_date_identified {
    background-color: #262626;
}

.column_body_date_identified {
    background-color: #5E5E5E;
}

.column_box_custom_fields {
    background-color: #A51E1E;
}

.column_body_custom_fields {
    background-color: #C97878;
}

.column_box_schedule_details {
    background-color: #003366;
}

.column_body_schedule_details {
    background-color: #2E5882;
}

.leftBox {
    display:block;
    float:left;
    padding: 8px 8px 8px 8px;
    margin:0 0 0 0;
}

.leftBox img {
    margin:0 0 0 0;
    padding: 0 0 0 0;
    display: block;
}

.reportColumn {
    width: 200px;
    height: 30px;
    display: block;
    text-align: center;
}

.reportColumnTitle {
    display:block;
    float:left;
    padding-top: 8px;
    padding-left: 5px;
    color: #ffffff;
    font-size: 10px;
    text-align:left;
}

.collapseExpandLink {
    display:block;
    text-decoration:none;
    color:#000000;
    font-size: 12px;
    padding-bottom: 5px;
}

div.deleteColumnImageContainer {
    display:block;
    float:right;
    margin: 0 0 0 0;
    padding: 10px 7px 0 0;
}

.deleteColumnImageContainer img {
    display:block;
}

div.availableSectionTitle {
    display:block;
    padding-top :10px;
    padding-bottom:5px;
    font-weight :bold;
    font-size: 12px;
}

.createCustomColumnPanel a {
    font-size: 10px;
}

.createCustomColumnPanel input[type='text'] {
    width: 100px;
    display:block;
    float:left;
}

.addNewCustomAttributeContainer {
    display: block;
    float:left;
    padding-bottom:5px;
}

.saveCancelLinks {
    display:block;
    float:left;
    font-size:10px;
    padding-top:5px;
    padding-left:4px;
}

.newColumnForm {
    padding:0 0 0 0;
    margin:0 0 0 0;
}

.areaClickableForAdd {
    display:block;
    float:left;
    width:90%;
    height:100%;
}

.collapseExpandLink img {
    border-style:none;
}

.buttonsContainer {
    display:block;
    float:left;
    padding-top: 4px;
    padding-left: 10px;
}

.buttonsContainer a {
    font-size:10px;
    color:#0000ff;
}

.buttonsContainer a:visited {
    font-size:10px;
    color:#0000ff;
}

.sectionSubTitle {
    display:block;float:left;
    color: #666;
    font-size: 11px;
    line-height:15px;
    padding-bottom:3px;
}

.currentLayoutDescription {
    padding-left: 10px;
    width:230px;
    display:block;
    float:left;
    height:50px;
    font-size:11px;
}

.mainArea h2 {
    font-weight:bold;
    font-size:12px;
    padding:0 0 0 0;
    margin:0 0 0 0;
}

.mainArea h3 {
    font-weight:normal;
    font-size:11px;
    line-height:15px;
    color:#666;
    padding:0 0 0 0;
    margin:0 0 0 0;
}

.sortDescription {
    padding-left: 50px;
    width:300px;
    display:block;
    float:left;
    margin-left:15px;
    height:50px;
}

.columnsLayoutFeedbackPanel ul {
    background-color: #fdd;
    border: 1px solid #faa;
    color: #a00;
    font-size:12px;
    margin-left:10px;
    margin-bottom:2px;
    margin-top:0;
    padding: 2px 6px 2px 6px;
    list-style-type: none;
}

.columnLayoutInstructions {
    font-size: 11px;
    background: #eee;
    border: 1px solid #ddd;
    display:block;
    float:right;
    height: 278px;
    width:385px;
    margin: 10px 0 0 0;
    padding: 15px 15px 15px 15px;
}
