<html xmlns:wicket="http://wicket.apache.org">
<wicket:panel>
    <div wicket:enclosure="optionsContainer" class="dropdown" style="float: right">
        <a class="btn-secondary"><wicket:message key="label.actions"/></a>
        <ul wicket:id="optionsContainer" class="pull-right">
            <li>
                <a wicket:id="editLink">
                    <wicket:message key="label.edit"/>
                </a>
            </li>
            <li>
                <a wicket:id="deleteLink">
                    <wicket:message key="label.delete"/>
                </a>
            </li>
        </ul>
    </div>
</wicket:panel>
</html>