<html xmlns:wicket="http://wicket.apache.org">
<wicket:panel>
    <div wicket:id="feedbackPanel"/>

    <form class="form-horizontal extra-narrow" wicket:id="templateForm">
        <fieldset>
            <legend><wicket:message key="label.add_new_warning_template"/></legend>
            <div class="control-group">
                <label><wicket:message key="label.name"/></label>
                <input type="text" wicket:id="name"/>
            </div>
            <div class="control-group">
                <label><wicket:message key="label.warning"/></label>
                <textarea wicket:id="warning"/>
            </div>

            <div class="control-group">
                <a wicket:id="submit" type="submit" class="btn-primary"><wicket:message key="label.save"/></a>
                <a wicket:id="cancelLink" class="btn-secondary"><wicket:message key="label.cancel"/></a>
            </div>
        </fieldset>
    </form></wicket:panel>
</html>