<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:wicket="http://git-wip-us.apache.org/repos/asf/wicket/repo?p=wicket.git;a=blob_plain;f=wicket-core/src/main/resources/META-INF/wicket-1.5.xsd;hb=master"
      xml:lang="en"
      lang="en">
<wicket:panel>

    <legend><wicket:message key="label.attributes"/></legend>
    <p>Use Attributes to setup any number of entry fields for this asset type. For example, Manufacturer, Size, Model.</p>
    <table wicket:id="existingAttributesContainer">
        <thead>
            <tr>
                <th colspan="2" class="width-sml"><wicket:message key="label.name"/></th>
                <th class="width-xsml"><wicket:message key="label.type"/></th>
                <th class="required"><wicket:message key="label.required"/></th>
                <th colspan="2" class="width-lrg"><wicket:message key="label.options"/></th>
            </tr>
        </thead>
        <tbody>
            <tr wicket:id="existingAttributes">
                <td>icon</td>
                <td>
                    <input type="text" wicket:id="attributeName" class="width-sml" />
                </td>
                <td>
                    <select wicket:id="attributeType" class="width-xsml" />
                </td>
                <td class="required">
                    <input type="checkbox" wicket:id="required"/>
                </td>
                <td class="width-lrg">
                    <input type="text" wicket:id="selectOptions" class="width-lrg" />
                    <input type="checkbox" wicket:id="dateOption"/>
                    <label wicket:enclosure="dateOption"><wicket:message key="label.include_time"/></label>
                    <select wicket:id="unitOfMeasureChoice"/>
                </td>
                <td>
                    <a href="javascript:void(0);"><wicket:message key="label.delete"/></a>
                </td>
            </tr>
        </tbody>
    </table>
    <a wicket:id="add"><wicket:message key="label.add"/></a>
</wicket:panel>
</html>