<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:wicket="http://git-wip-us.apache.org/repos/asf/wicket/repo?p=wicket.git;a=blob_plain;f=wicket-core/src/main/resources/META-INF/wicket-1.5.xsd;hb=master"
      xml:lang="en"
      lang="en">
<wicket:panel>
    <div wicket:id="existingAttachmentsContainer">
        <div wicket:id="existingAttachments" class="existing">
            <img wicket:id="attachmentImage"/>
            <p><span wicket:id="fileName"></span>
            <a wicket:id="removeLink"><wicket:message key="label.remove"/></a></p>
            <textarea wicket:id="comments"></textarea>
        </div>
    </div>

    <form wicket:id="uploadAttachmentForm">
        <input type="file" wicket:id="attachmentUpload"/>
    </form>

    <wicket:message key="message.attachment"/>
</wicket:panel>
</html>
