<wicket:panel>

    <div wicket:id="imageUploadPanel">
        <form wicket:id="fileUploadForm">
            <p><wicket:message key="label.assetimageslookbest"/></p>

            <input type="file" wicket:id="assetTypeImageFile">
        </form>

    </div>

    <div wicket:id="uploadedFileDisplayPanel">

        <img src="/fieldid/images/asset-image-icon.png"> <span wicket:id="fileName"></span>

        <a wicket:id="removeLink"><wicket:message key="label.remove"/></a>

    </div>

</wicket:panel>