<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:wicket="http://git-wip-us.apache.org/repos/asf/wicket/repo?p=wicket.git;a=blob_plain;f=wicket-core/src/main/resources/META-INF/wicket-1.5.xsd;hb=master"
      xml:lang="en"
      lang="en">
<wicket:panel>
    <div class="listFilterHeader">
        <h2><wicket:message key="label.filter"/></h2>
        &nbsp;
        <span class="egColor"><wicket:message key="message.filter_asset_types"/></span>
    </div>
    <form wicket:id="form">
        <label><wicket:message key="label.name"/><input type="text" wicket:id="name"/></label>
        <label><wicket:message key="label.asset_type_group"/><select wicket:id="group"/></label>
        <a wicket:id="submit"><wicket:message key="label.submit"/></a>
        <a wicket:id="clear"><wicket:message key="label.clear"/></a>
    </form>
</wicket:panel>
</html>