<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:wicket="http://git-wip-us.apache.org/repos/asf/wicket/repo?p=wicket.git;a=blob_plain;f=wicket-core/src/main/resources/META-INF/wicket-1.5.xsd;hb=master"
      xml:lang="en"
      lang="en">
<wicket:panel>

    <legend><wicket:message key="label.attributes"/></legend>
    <p><wicket:message key="label.use_attributes_setup"/></p>

    <ul class="attributes-setup-list" wicket:id="existingAttributesContainer">
        <li class="headings clearfix">
            <span class="width-sml attribute-name"><wicket:message key="label.attribute_name"/></span>
            <span class="width-xsml"><wicket:message key="label.data_type"/></span>
            <span class="required"><wicket:message key="label.required"/></span>
            <span class="width-lrg"><wicket:message key="label.attribute_options"/></span>
        </li>
        <li wicket:id="existingAttributes" class="clearfix disabled">
            <span class="entypo-icons entypo-list">reorder</span>
            <span><input type="text" wicket:id="attributeName" class="width-sml" maxlength="255"/></span>
            <span><select wicket:id="attributeType" class="width-xsml" /></span>
            <span class="required"><input type="checkbox" wicket:id="required"/></span>
            <span class="width-lrg">
                <label wicket:id="textOption">--</label>
                <input type="text" wicket:id="selectOptions" class="width-lrg" maxlength="255"/>
                <input type="checkbox" wicket:id="dateOption"/>
                <label wicket:enclosure="dateOption" class="date-option"><wicket:message key="label.include_time"/></label>
                <select class="width-lrg" wicket:id="unitOfMeasureChoice"/>
            </span>
            <span class="attribute-actions">
                <a class="entypo-icons entypo-x" wicket:id="delete" href="javascript:void(0);">delete</a>
                <a class="entypo-icons entypo-x" wicket:id="retire"><wicket:message key="label.retire"/></a>
                <a class="btn btn-gray" wicket:id="unretire"><wicket:message key="label.restore"/></a>
            </span>
        </li>
    </ul>
    <span wicket:id="add" class="btn btn-gray"><wicket:message key="label.addattribute"/></span>
    <span class="example-text"><wicket:message key="label.add_attribute_example"/></span>
</wicket:panel>
</html>