<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:wicket="http://git-wip-us.apache.org/repos/asf/wicket/repo?p=wicket.git;a=blob_plain;f=wicket-core/src/main/resources/META-INF/wicket-1.5.xsd;hb=master"
      xml:lang="en"
      lang="en">
<wicket:panel>


    <form wicket:id="form" class="new-rules">
        <div wicket:id="feedbackPanel" />
        
        <h3>Event Triggered</h3>
        <p>Schedules will be created at the specified interval from the date the last event is completed.</p>
    
        <div class="clearfix">
            <div class="left"><label><wicket:message key="label.schedule_a.uppercase"/></label></div>
            <div class="right"><select wicket:id="eventType"/></div>
        </div>
        <div class="clearfix">
            <div class="left"><label><wicket:message key="label.every"/></label></div>
            <div class="right"><input class="days" wicket:id="frequencyInDays" type="text"/><wicket:message key="label.days_lowercase"/></div>
        </div>
        <div class="clearfix">
            <div class="left"><label><wicket:message key="label.for"/></label></div>
            <div class="right" wicket:id="owner"/>
        </div>
        <div class="clearfix">
            <div class="left"><input wicket:id="autoSchedule" type="checkbox"></div>
            <div class="right"><label wicket:id="autoScheduleMessage"/></div>
        </div>
    
        <a wicket:id="submit" class="btn btn-blue btn-sml"><wicket:message key="label.create_event_frequency"/></a>
    </form>

</wicket:panel>
</html>