<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:wicket="http://git-wip-us.apache.org/repos/asf/wicket/repo?p=wicket.git;a=blob_plain;f=wicket-core/src/main/resources/META-INF/wicket-1.5.xsd;hb=master"
      xml:lang="en"
      lang="en">
<wicket:panel>

    <div wicket:id="feedbackPanel"/>
    <form wicket:id="form" class="event-triggered">
        <div class="row">
            <label class="left"><wicket:message key="label.schedule_a.uppercase"/></label>
            <span class="right"><select wicket:id="eventType"/></span>
        </div>
        <div class="row">
            <label class="left"><wicket:message key="label.every"/></label>
            <span class="right"><input class="days" wicket:id="frequencyInDays" type="text"/><wicket:message key="label.days_lowercase"/></span>
        </div>
        <div class="row">
            <label class="left"><wicket:message key="label.for"/></label>
            <span class="right" wicket:id="owner"/>
        </div>
        <div class="row">
            <span class="left"><input wicket:id="autoSchedule" type="checkbox"></span>
            <label class="right" wicket:id="autoScheduleMessage" />
        </div>
        
        <a wicket:id="submit" class="btn btn-blue"><wicket:message key="label.create_event_frequency"/></a>
    </form>

</wicket:panel>
</html>