<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:wicket="http://git-wip-us.apache.org/repos/asf/wicket/repo?p=wicket.git;a=blob_plain;f=wicket-core/src/main/resources/META-INF/wicket-1.5.xsd;hb=master"
      xml:lang="en"
      lang="en">
<wicket:panel>

    <form wicket:id="form" class="new-rules">
        <div wicket:id="feedbackPanel"></div>

        <h3>Recurring</h3>
        <p>Schedules will automatically be created in the future at the predetermined interval.</p>

        <div wicket:id="createContainer" class="new-event">
            <div class="clearfix">
                <label class="left"><wicket:message key="label.capital_schedule_a"/></label>
                <div class="right"><select wicket:id="eventType"></select></div>
            </div>
            <div class="clearfix">
                <label class="left"><wicket:message key="label.every"/></label>
                <div class="right">
                    <select wicket:id="recurrence" class="recurrence"></select>
                </div>
            </div>
            <div class="clearfix">
                <label class="left"><wicket:message key="label.at"/></label>
                <div class="right">
                    <span wicket:id="timeContainer" class="time-container">
                        <select class="time" wicket:id="time"/>
                        <select class="time" wicket:id="multipleTimes"/>
                    </span>
                    <span wicket:id="dateTime" class="date-time"/>
                </div>
            </div>
            <div wicket:enclosure="organization" class="clearfix">
                <label class="left"><wicket:message key="label.for"/></label>
                <div class="right">
                    <div wicket:id="organization" class="organization clearfix"></div>
                </div>
            </div>
            <div class="right">
                <div wicket:enclosure="ownerAndDown" class="checkbox">
                    <label><wicket:message key="label.affect_all"/><input type="checkbox" wicket:id="ownerAndDown"><img class="tooltip tipsy-tooltip" wicket:id="tooltip"/></label>
                </div>
                <div wicket:enclosure="autoassign" class="checkbox">
                    <label><wicket:message key="label.auto_assign_recurring_schedule"/><input type="checkbox" wicket:id="autoassign"><img class="tooltip tipsy-tooltip" wicket:id="autotooltip"/></label>
                </div>
            </div>

            <a class="btn btn-blue btn-sml btn-primary" wicket:id="create"><wicket:message key="label.create_recurring_event"/></a>
        </div>
    </form>

</wicket:panel>
</html>