<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:wicket="http://git-wip-us.apache.org/repos/asf/wicket/repo?p=wicket.git;a=blob_plain;f=wicket-core/src/main/resources/META-INF/wicket-1.5.xsd;hb=master"
      xml:lang="en"
      lang="en">
<wicket:panel>

    <form wicket:id="form">

        <div wicket:id="feedbackPanel"></div>

        <div wicket:id="createContainer" class="new-event">
            <div class="row">
                <label class="left"><wicket:message key="label.capital_schedule_a"/></label>
                <span class="right"><select wicket:id="eventType"></select></span>
            </div>  
            <div class="row">
                <label class="left"><wicket:message key="label.every"/></label>
                <span class="right">
                    <select wicket:id="recurrence" class="recurrence"></select>
                    <label><wicket:message key="label.at"/></label>
                    <span wicket:id="timeContainer">
                        <select class="time" wicket:id="time"/>
                        <select class="time" wicket:id="multipleTimes"/>
                    </span>
                    <span wicket:id="dateTime"/>  
                </span>                    
            </div>
            <div class="row">
                <label class="left"><wicket:message key="label.for"/></label>
                <span class="right"> <div style="display:inline" wicket:id="organization"></div></span>
            </div>

            <a class="btn btn-blue" wicket:id="create"><wicket:message key="label.create_recurring_event"/></a>
         
            <div class="affect-all">
                <input type="checkbox" wicket:id="ownerAndDown"><label><wicket:message key="label.affect_all"/></label><img class="tooltip tipsy-tooltip" wicket:id="tooltip"/>
            </div>
        </div>
    </form>

</wicket:panel>
</html>