<wicket:panel>

    <form wicket:id="criteriaEditForm">

        <div class="infoSet" wicket:id="criteria">
            <label class="label eventFormLabel" wicket:id="criteriaName"></label>

            <div wicket:id="criteriaEditor" class="criteriaEditContainer">

            </div>

            <div class="recDefButtons event-actions">

                <a wicket:id="recommendationsButton"/>

                <a wicket:id="deficienciesButton"/>

                <a wicket:id="criteriaImageButton"/>

                <a wicket:id="actionsLink"/>

            </div>
            <div class="expand-button">
                <div wicket:id="showActionsButton"/>
            </div>

        </div>

    </form>

    <div wicket:id="observationWindow" class="observationWindow"/>
    <div wicket:id="actionsWindow" class="actionsWindow"/>
    <div wicket:id="imagesWindow" class="observationWindow"/>

</wicket:panel>