<html xmlns:wicket="http://wicket.apache.org">
<wicket:panel>

    <form wicket:id="criteriaEditForm" name="criteriaEditForm" class="criteria-edit-form">

        <div class="control-group" name="criteria" wicket:id="criteria">
            <div class="tooltip"><img wicket:id="tooltip"/></div>
            <label class="label">
                <span wicket:id="requiredIndicatior"/>
                <span wicket:id="criteriaName"/>
            </label>

            <div wicket:id="criteriaEditor" class="criteria-edit-container" name="criteriaContainer">

            </div>

            <div class="rec-def-buttons event-actions button-group" name="actionButtons">

                <a wicket:id="deficienciesButton" name="deficienciesButton"/>

                <a wicket:id="recommendationsButton" name="recommendationsButton"/>

                <a wicket:id="criteriaImageButton" name="criteriaImageButton"/>

                <a wicket:id="actionsLink" name="actionsLink"/>

            </div>
            <div class="expand-button" name="expand-button">
                <div wicket:id="showActionsButton" name="showActionsButton"/>
            </div>

        </div>

    </form>

    <div wicket:id="observationWindow" class="observationWindow"/>
    <div wicket:id="actionsWindow" class="actionsWindow"/>
    <div wicket:id="imagesWindow" class="observationWindow"/>

    <div wicket:id="instructionsDialog" class="instructions-dialog"/>

</wicket:panel>
</html>