<html xmlns:wicket="http://wicket.apache.org">
<wicket:panel>

    <h2>
        <span id="formTitle" class="formTitle">
            <wicket:message key="label.eventform"/>
        </span>

        <span class="jumpto" id="jumpToSections">

            <img src="/fieldid/images/jump-to-icon.png"/>

            <wicket:message key="label.jumpto"/>

            <select wicket:id="jumpToSection"/>

        </span>

        <div style="clear:both;"/>

    </h2>

    <h3>
        <span class="eventSectionIndex pagination" wicket:id="topSectionPager"></span>
    </h3>

    <div wicket:id="criteriaSectionsContainer">

        <div wicket:id="criteriaSectionsList">

        <div wicket:id="sectionContainer" class="section-container">

            <h3><a wicket:id="hideSectionLink" class="mattButton"><wicket:message key="label.hide_section"/></a></h3>
            <h3 class="event-section-title">
                <span class="eventSectionTitle" wicket:id="sectionName"></span>
            </h3>

            <div class="display-horizontal" name="criteriaPanel" wicket:id="criteriaPanel"/>

            <div class="display-horizontal" name="sectionScore" wicket:enclosure="sectionScore">
                <div class="control-group" name="score">
                    <label class="label"><wicket:message key="label.section_score"/></label>
                    <div class="value">
                        <span wicket:id="sectionScore"/>&nbsp;
                        <span wicket:enclosure="sectionScorePercentage">(<span wicket:id="sectionScorePercentage"/>)</span>
                    </div>
                </div>
            </div>

            <div class="display-horizontal" name="sectionObservation" wicket:enclosure="sectionObservation">
                <div class="control-group" name="observation">
                    <label class="label"><wicket:message key="label.section_observations"/></label>
                    <div class="value">
                        <div wicket:id="sectionObservation"/>
                    </div>
                </div>
            </div>

            <div wicket:id="disabledOverlay" class="disabled-overlay">
                <div class="background"></div>
                <div class="message">
                    <wicket:message key="label.section"/>&nbsp;<span class="strong" wicket:id="name"/>&nbsp;<wicket:message key="label.is_hidden"/>
                </div>
                <div class="button">
                    <a wicket:id="restoreLink" class="mattButton blueButton"><wicket:message key="label.restore_section"/></a>
                </div>
            </div>
        </div>


    </div>

    </div>

    <h3>
        <span class="eventSectionIndex pagination" wicket:id="bottomSectionPager"></span>
    </h3>

</wicket:panel>
</html>