<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:wicket="http://wicket.apache.org">

<wicket:panel>
    <h3><wicket:message key="label.result"/></h3>

    <div class="control-group">
        <label class="label"><wicket:message key="label.score"/></label>
        <span class="value">
            <span wicket:id="score"/>&nbsp;
            <span wicket:enclosure="percentage">(<span wicket:id="percentage"/>)</span>
        </span>
    </div>
    <div class="control-group">
        <label class="label"><wicket:message key="label.result"/></label>
        <span class="value result"><span wicket:id="result"/></span>
    </div>
    <div class="control-group">
        <label class="label"><wicket:message key="label.event_status"/></label>
        <span class="value" wicket:id="eventStatus"/>
    </div>
</wicket:panel>

</html>