<html xmlns:wicket="http://wicket.apache.org">
<wicket:panel>
    <h3><wicket:message key="label.gpslocation"/></h3>
    <div class="event-location" wicket:id="eventLocation"/>

    <div class="control-group latitude">
        <label class="label"><wicket:message key="label.latitude"/></label>
        <span class="value" wicket:id="latitude"/>
    </div>
    <div class="control-group longitude">
        <label class="label"><wicket:message key="label.longitude"/></label>
        <span class="value" wicket:id="longitude"/>
    </div>
</wicket:panel>
</html>