<wicket:panel>

    <h2>
        <span id="formTitle" class="formTitle">
            <wicket:message key="label.eventform"/>
        </span>

        <span class="jumpto" id="jumpToSections">

            <img src="/fieldid/images/jump-to-icon.png"/>

            <wicket:message key="label.jumpto"/>

            <select wicket:id="jumpToSection"/>

        </span>

        <div style="clear:both;"/>

    </h2>

    <h3>
        <span class="eventSectionIndex" wicket:id="topSectionPager"></span>
    </h3>

    <div wicket:id="criteriaSections">


        <div wicket:id="sectionContainer">

            <h3>
                <span class="eventSectionTitle" wicket:id="sectionName"></span>
            </h3>

            <div wicket:id="criteriaEditPanel">
            </div>

        </div>


    </div>

    <h3>
        <span class="eventSectionIndex" wicket:id="bottomSectionPager"></span>
    </h3>



</wicket:panel>