<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:wicket="http://wicket.apache.org">

<wicket:panel>
    <h3 wicket:id="title"/>

    <div class="control-group" name="performedBy">
        <label class="label"><wicket:message key="label.performed_by"/></label>
        <span class="value" wicket:id="performedBy"/>
    </div>
    <div class="control-group" name="datePerformed">
        <label class="label"><wicket:message key="label.date_performed"/></label>
        <span class="value" wicket:id="datePerformed"/>
    </div>
    <div class="control-group" name="assignedTo" wicket:enclosure="assignedTo">
        <label class="label"><wicket:message key="label.assigned_to"/></label>
        <span class="value" wicket:id="assignedTo"/>
    </div>
    <div class="control-group" name="scheduledOn">
        <label class="label"><wicket:message key="label.scheduledon"/></label>
        <span class="value" wicket:id="scheduledOn"/>
    </div>
    <div class="control-group" name="eventbook">
        <label class="label"><wicket:message key="label.eventbook"/></label>
        <span class="value" wicket:id="eventbook"/>
    </div>
    <div wicket:id="eventAttribute" class="control-group" name="eventAttribute">
        <label class="label" wicket:id="label"/>
        <span class="value" wicket:id="value"/>
    </div>
</wicket:panel>

</html>