<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:wicket="http://wicket.apache.org">

<wicket:panel>
    <h1>
        <span wicket:id="assetType"/> / <span wicket:id="assetIdentifier"/>
    </h1>
    <div>
        <span class="icon-location"/> <span wicket:id="ownerInfo"/>
    </div>
    <div>
        <a class="clear btn-secondary" wicket:id="assetSummary"><wicket:message key="label.assetsummary"/></a>
    </div>

</wicket:panel>

</html>