<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:wicket="http://wicket.apache.org">

<wicket:panel>
    <h3><wicket:message key="label.posteventinformation"/></h3>
    <div class="control-group">
        <label class="label"><wicket:message key="label.comments"/></label>
        <span class="value" wicket:id="comments"/>
    </div>
    <div class="control-group">
        <label class="label"><wicket:message key="label.createdby"/></label>
        <span class="value">
            <span wicket:id="createdBy"/>&nbsp;<span wicket:id="created"/>&nbsp;<img wicket:id="createdIcon"/>
        </span>
    </div>
    <div class="control-group">
        <label class="label"><wicket:message key="label.modifiedby"/></label>
        <span class="value">
            <span wicket:id="modifiedBy"/>&nbsp;<span wicket:id="modified"/>&nbsp;<img wicket:id="modifiedIcon"/>
        </span>
    </div>
    <div class="control-group" wicket:enclosure="assetStatus">
        <label class="label"><wicket:message key="label.assetstatus"/></label>
        <span class="value" wicket:id="assetStatus"/>
    </div>
</wicket:panel>

</html>