<html xmlns:wicket="http://wicket.apache.org">
<wicket:panel>

    <h3><wicket:message key="label.assetsummary"/></h3>
    <div wicket:id="attribute" class="control-group narrow" name="attribute">
        <label class="label" wicket:id="label"/>
        <span class="value" wicket:id="value"/>
    </div>
    <div class="event-form clearfix" name="eventFormPanel" wicket:id="eventFormPanel"/>
    <h3><wicket:message key="label.posteventinformation"/></h3>
    <div class="control-group" name="comments">
        <label class="label"><wicket:message key="label.comments"/></label>
        <span class="value" wicket:id="comments"/>
    </div>
    <div wicket:id="eventAttachmentsPanel"/>

</wicket:panel>
</html>