/*--------------------------------------- 
  UTILITY AND HELPER CLASSES
-----------------------------------------*/
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.border {
  border: 1px solid #c7c7c9;
}
.border-top {
  border-top: 1px solid #c7c7c9;
}
.border-bottom {
  border-bottom: 1px solid #c7c7c9;
}
.no-border {
  border: none;
}
.vertical-divider {
  border-left: 1px solid #c7c7c9;
  padding-left: 10px;
  margin-bottom: 10px;
}
.inline {
  display: inline-block;
}
.block {
  display: block;
}
.clear {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.match {
  background: #ffffb2;
}
/*--------------------------------------- 
  TYPOGRAPHY
-----------------------------------------*

/* BODY TEXT */
body {
  color: #3a3a3a;
  font-size: 14px;
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
}
a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  outline: none;
}
a:hover {
  color: #3a3a3a;
  text-decoration: none;
}
a:active {
  outline: none;
}
main a {
  color: #008bd3;
}
/* HEADINGS */
h1,
h2,
h3,
h4 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1,
h2 {
  margin: 0;
}
h1 {
  font-size: 24px;
  font-weight: normal;
  margin: 15px 0 10px;
  min-height: 29px;
}
h2 {
  font-size: 18px;
  font-weight: 400;
}
h3,
h4 {
  margin: 5px 0;
}
h3 {
  font-size: 16px;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 4px;
}
h3 a {
  font-weight: normal;
}
h4 {
  font-size: 14px;
}
/*--------------------------------------- 
  PAGE LAYOUT
-----------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(../scripts/boxsizing.htc);
}
hr {
  border: 0;
  border-top: 1px solid #c7c7c9;
  margin: 0;
  clear: both;
}
header {
  *zoom: 1;
}
header:before,
header:after {
  display: table;
  content: "";
  line-height: 0;
}
header:after {
  clear: both;
}
header:before,
header:after {
  display: table;
  content: "";
  line-height: 0;
}
header:after {
  clear: both;
}
header hr {
  margin-bottom: 15px;
}
.page-sub-header {
  margin-bottom: 10px;
}
main,
.content-wrap {
  max-width: 1400px;
  width: 96%;
  margin: 0 auto;
  *zoom: 1;
  position: relative;
}
main:before,
.content-wrap:before,
main:after,
.content-wrap:after {
  display: table;
  content: "";
  line-height: 0;
}
main:after,
.content-wrap:after {
  clear: both;
}
main:before,
.content-wrap:before,
main:after,
.content-wrap:after {
  display: table;
  content: "";
  line-height: 0;
}
main:after,
.content-wrap:after {
  clear: both;
}
main {
  margin-bottom: 40px;
  padding-top: 125px;
}
section {
  margin-bottom: 25px;
}
.action-group,
.action-bar {
  *zoom: 1;
}
.action-group:before,
.action-bar:before,
.action-group:after,
.action-bar:after {
  display: table;
  content: "";
  line-height: 0;
}
.action-group:after,
.action-bar:after {
  clear: both;
}
.action-group:before,
.action-bar:before,
.action-group:after,
.action-bar:after {
  display: table;
  content: "";
  line-height: 0;
}
.action-group:after,
.action-bar:after {
  clear: both;
}
.page-header {
  position: relative;
}
.page-header .action-group {
  position: absolute;
  bottom: 4px;
  right: 0;
}
.page-content {
  *zoom: 1;
}
.page-content:before,
.page-content:after {
  display: table;
  content: "";
  line-height: 0;
}
.page-content:after {
  clear: both;
}
.page-content:before,
.page-content:after {
  display: table;
  content: "";
  line-height: 0;
}
.page-content:after {
  clear: both;
}
.page-content > hr {
  margin-bottom: 15px;
}
.page-content .action-group {
  margin-bottom: 4px;
}
.column-wide {
  width: 66.129032%;
  float: left;
}
.column-wide.narrow {
  width: 74.5967739%;
}
.column-left,
.column-right {
  width: 32.2580644%;
  float: left;
}
.column-left .upload,
.column-right .upload {
  margin-bottom: 40px;
}
.column-left .upload p,
.column-right .upload p {
  background: #ececec;
  border: 1px solid #c7c7c9;
  padding: 50px 20px;
  margin-bottom: 2px;
  text-align: center;
}
.column-left.narrow,
.column-right.narrow {
  width: 23.7903225%;
}
.column-left {
  margin-right: 1.6129032%;
}
.column-right {
  margin-left: 1.6129032%;
}
.column-full {
  width: 99.9999996%;
  clear: both;
}
.two-columns {
  width: 49%;
}
/*--------------------------------------- 
  MEDIA QUERIES for page layout
-----------------------------------------*/
@media all and (max-width: 1280px) {
  
}
@media (max-width: 1100px) {
  main,
  .content-wrap {
    width: 984px;
  }
}
/*--------------------------------------- 
	FONTELLO ICON FONTS
-----------------------------------------*/
/* 
	Generated from http://fontello.com (all available icons listed here)
	Icons are from the Entypo and Font Awesome icon set.
	http://www.entypo.com/
	http://fortawesome.github.io/Font-Awesome/
*/
@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?10576970');
  src: url('../fonts/fontello.eot?10576970#iefix') format('embedded-opentype'), url('../fonts/fontello.woff?10576970') format('woff'), url('../fonts/fontello.ttf?10576970') format('truetype'), url('../fonts/fontello.svg?10576970#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="fontello-"] {
  cursor: pointer;
  font-size: 0;
}
[class^="fontello-"]:before {
  font-size: 14px;
  font-family: "fontello", sans-serif;
  speak: none;
  text-decoration: inherit;
  padding-right: 4px;
  line-height: 1;
  font-variant: normal;
  text-transform: none;
}
.fontello-plus-squared-small:before {
  content: '\e836';
}
.fontello-flow-cascade:before {
  content: '\e83a';
}
.fontello-calendar:before {
  content: '\e81d';
}
.fontello-calendar-empty:before {
  content: '\e820';
}
.fontello-down-dir:before {
  content: '\e811';
}
.fontello-up-dir:before {
  content: '\e813';
}
.fontello-left-dir:before {
  content: '\e814';
}
.fontello-right-dir:before {
  content: '\e817';
}
.fontello-angle-double-left:before {
  content: '\e821';
}
.fontello-angle-double-left-sml:before {
  content: '\00AB';
}
.fontello-angle-double-right:before {
  content: '\e822';
}
.fontello-angle-double-right-sml:before {
  content: '\00BB';
}
.fontello-angle-double-up:before {
  content: '\e827';
}
.fontello-angle-double-down:before {
  content: '\e829';
}
.fontello-table:before {
  content: '\e82c';
}
.fontello-columns:before {
  content: '\e82b';
}
.fontello-filter:before {
  content: '\e831';
}
.fontello-sort:before {
  content: '\e832';
}
.fontello-sort-down:before {
  content: '\e833';
}
.fontello-sort-up:before {
  content: '\e834';
}
.fontello-search:before {
  content: '\e801';
}
.fontello-mail:before {
  content: '\e800';
}
.fontello-user:before {
  content: '\e812';
}
.fontello-users:before {
  content: '\e839';
}
.fontello-user-add:before {
  content: '\e838';
}
.fontello-picture:before {
  content: '\e816';
}
.fontello-camera:before {
  content: '\e815';
}
.fontello-layout:before {
  content: '\e802';
}
.fontello-menu:before {
  content: '\e803';
}
.fontello-check:before {
  content: '\e804';
}
.fontello-cancel:before {
  content: '\e805';
}
.fontello-plus:before {
  content: '\e808';
}
.fontello-plus-squared:before {
  content: '\e83d';
}
.fontello-minus:before {
  content: '\e80b';
}
.fontello-minus-squared:before {
  content: '\e83e';
}
.fontello-help:before {
  content: '\e80e';
}
.fontello-minus-squared-small:before {
  content: '\e835';
}
.fontello-home:before {
  content: '\e818';
}
.fontello-link:before {
  content: '\e819';
}
.fontello-attach:before {
  content: '\e81a';
}
.fontello-lock:before {
  content: '\e81b';
}
.fontello-lock-open:before {
  content: '\e81c';
}
.fontello-download:before {
  content: '\e81e';
}
.fontello-upload:before {
  content: '\e81f';
}
.fontello-export:before {
  content: '\e823';
}
.fontello-pencil:before {
  content: '\e824';
}
.fontello-print:before {
  content: '\e825';
}
.fontello-comment:before {
  content: '\e826';
}
.fontello-attention:before {
  content: '\e828';
}
.fontello-location:before {
  content: '\e82a';
}
.fontello-map:before {
  content: '\e837';
}
.fontello-trash:before {
  content: '\e806';
}
.fontello-cog:before {
  content: '\e807';
}
.fontello-arrow-combo:before {
  content: '\e809';
}
.fontello-down-open:before {
  content: '\e82d';
}
.fontello-left-open:before {
  content: '\e82e';
}
.fontello-right-open:before {
  content: '\e82f';
}
.fontello-up-open:before {
  content: '\e830';
}
.fontello-down-open-mini:before {
  content: '\e80a';
}
.fontello-left-open-mini:before {
  content: '\e80c';
}
.fontello-right-open-mini:before {
  content: '\e80d';
}
.fontello-up-open-mini:before {
  content: '\e80f';
}
.fontello-down-thin:before {
  content: '\e841';
}
.fontello-left-thin:before {
  content: '\e842';
}
.fontello-right-thin:before {
  content: '\e843';
}
.fontello-up-thin:before {
  content: '\e844';
}
.fontello-ccw:before {
  content: '\e845';
}
.fontello-cw:before {
  content: '\e846';
}
.fontello-arrows-ccw:before {
  content: '\e847';
}
.fontello-target:before {
  content: '\e848';
}
.fontello-info:before {
  content: '\e810';
}
.icon-lrg,
[class^="fontello-"].icon-lrg:before {
  font-size: 18px;
}
[class^="fontello-"].icon-lrg {
  font-size: 0;
}
.icon-lrg {
  height: 24px;
  width: 24px;
}
[class^="icon-"] {
  vertical-align: middle;
  cursor: pointer;
  display: inline-block;
  height: 16px;
  width: 16px;
  background-repeat: no-repeat;
}
[class^="icon-"] {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
[class^="icon-"]:before {
  color: #3a3a3a;
  font-size: 14px;
}
.icon-calendar {
  background-image: url(/img/icon-calendar.png);
}
.icon-database {
  background-image: url(/img/icon-database.png);
}
[class^="icon-event"] {
  width: 26px;
  height: 28px;
  background-image: url(/img/sprite-event-status.png);
}
.icon-event-open {
  background-position: 0 0;
}
.icon-event-open-overdue {
  background-position: -26px 0;
}
.icon-event-completed-pass {
  background-position: -52px 0;
}
.icon-event-completed-fail {
  background-position: -78px 0;
}
/*--------------------------------------- 
  DROPDOWNS - for buttons and nav lists
-----------------------------------------*/
.dropdown,
.dropup {
  position: relative;
  display: inline-block;
}
.dropdown a,
.dropup a {
  text-decoration: none;
}
.dropdown:hover > ul,
.dropup:hover > ul {
  display: block;
}
.dropdown ul,
.dropup ul {
  display: none;
  list-style-type: none;
  border: 1px solid #c7c7c9;
  position: absolute;
  left: 0;
  z-index: 10;
  background: #fff;
  min-width: 100%;
  -webkit-box-shadow: 0px 6px 20px -10px #666666;
  box-shadow: 0px 6px 20px -10px #666666;
}
.dropdown ul li a,
.dropup ul li a {
  padding: 8px 16px;
  display: inline-block;
  white-space: nowrap;
  width: 100%;
}
.dropdown ul li a:hover,
.dropup ul li a:hover {
  background: #ececec;
}
.dropdown ul .divider,
.dropup ul .divider {
  border-top: 1px solid #c7c7c9;
}
.dropdown ul.pull-right,
.dropup ul.pull-right {
  left: auto;
  right: 0;
  text-align: right;
}
.dropdown .btn-sml + ul li a,
.dropup .btn-sml + ul li a {
  padding: 6px 10px;
  font-size: 13px;
}
.dropdown.hide,
.dropup.hide {
  display: none;
}
.dropdown ul {
  top: 100%;
}
.dropdown [class^="btn"] {
  margin-bottom: 1px;
}
.dropup ul {
  bottom: 100%;
  -webkit-box-shadow: 0px -4px 20px -10px #666666;
  box-shadow: 0px -4px 20px -10px #666666;
}
.dropup [class^="btn"] {
  margin-top: 1px;
}
.secondary-dropdown {
  position: relative;
}
.secondary-dropdown ul {
  top: -1px;
  left: 100%;
  min-width: inherit;
}
.secondary-dropdown:hover > a {
  background: #ececec;
}
.secondary-dropdown:hover ul {
  display: block;
}
.secondary-dropdown > a:after {
  font-family: "fontello", sans-serif;
  content: '\00BB';
  padding: 0 4px;
}
.pull-right .secondary-dropdown ul {
  right: 100%;
  left: auto;
}
.pull-right .secondary-dropdown > a:after {
  content: "";
}
.pull-right .secondary-dropdown > a:before {
  font-family: "fontello", sans-serif;
  content: '\e82e';
  padding: 0 4px;
}
.dropdown.icon {
  padding: 8px 8px 10px;
  cursor: pointer;
}
.dropdown.icon [class^="fontello-"]:before {
  font-size: 18px;
}
.dropdown.icon:hover [class^="fontello-"]:before {
  color: #008bd3;
}
/*--------------------------------------- 
  NAVIGATION
-----------------------------------------*/
nav a {
  text-decoration: none;
}
/* HORIZONTAL NAVIGATION */
.nav-horizontal {
  font-size: 0;
  /* Removes default space from between list items (caused by line break) when using display: inline-block; font-size to be redeclared in <li>. */

}
.nav-horizontal > li {
  display: inline-block;
  position: relative;
  font-size: 15px;
}
.nav-horizontal > li > a {
  padding: 8px 0 6px;
  margin: 0 16px;
  display: inline-block;
  display: block;
}
/* BREAD CRUMBS */
.bread-crumb {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 10px 0 0;
}
.bread-crumb a {
  text-decoration: underline;
}
.bread-crumb a:hover {
  text-decoration: none;
}
.bread-crumb ol {
  font-size: 0;
}
.bread-crumb ol li {
  display: inline;
  font-size: 12px;
}
.bread-crumb ol li + li:before {
  font-family: "fontello", sans-serif;
  content: '\e82f';
  padding: 0 2px;
}
/* TABBED NAVIGATION */
.nav-tabs {
  position: relative;
  border-bottom: 1px solid #c7c7c9;
  margin-bottom: 15px;
}
.nav-tabs > ul {
  overflow: hidden;
  margin-bottom: -2px;
}
.nav-tabs > ul > li {
  float: left;
  border: 1px solid transparent;
  cursor: pointer;
}
.nav-tabs > ul > li.selected {
  border-color: #c7c7c9;
  border-bottom-color: transparent;
  background: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.nav-tabs > ul > li.selected a {
  color: #3a3a3a;
}
.nav-tabs > ul > li span {
  padding: 10px 20px;
  display: inline-block;
}
.nav-tabs > ul > li span:hover {
  color: #666666;
}
.nav-tabs + .action-group {
  bottom: 20px;
}
/*--------------------------------------- 
  BUTTONS
-----------------------------------------*/
[class^="btn"] {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #c7c7c9;
  font-size: 14px;
  color: #fff;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  width: auto;
  cursor: pointer;
  margin: 0;
  white-space: nowrap;
}
[class^="btn"]:hover {
  color: #fff;
}
[class^="btn"].disabled {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}
[class^="btn"].disabled:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
[class^="btn"].hide {
  display: none;
}
.btn-primary {
  background: #008bd3;
  border-color: #007aba;
}
.dropdown:hover .btn-primary,
.btn-primary:hover,
.btn-primary.selected {
  -webkit-box-shadow: inset 0 0 18px #00486d;
  box-shadow: inset 0 0 18px #00486d;
}
.btn-secondary {
  background: #eeeeee;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #eeeeee, #ffffff);
  background: -moz-linear-gradient(center bottom, #eeeeee 0%, #ffffff 100%);
  background: -o-linear-gradient(#ffffff, #eeeeee);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
  color: #3a3a3a;
}
.dropdown:hover .btn-secondary,
.btn-secondary:hover,
.btn-secondary.selected {
  background: #ffffff;
  color: #3a3a3a;
}
.btn-save {
  background: #5fb336;
  border-color: #559f30;
}
.dropdown:hover .btn-save,
.btn-save:hover {
  -webkit-box-shadow: inset 0 0 18px #4a8c2a;
  box-shadow: inset 0 0 18px #4a8c2a;
}
.btn-info {
  background: #0065a6;
  border-color: #00558d;
}
.dropdown:hover .btn-info,
.btn-info:hover {
  -webkit-box-shadow: inset 0 0 18px #002740;
  box-shadow: inset 0 0 18px #002740;
}
.btn-warning {
  background: #ffff7f;
  border-color: #e5e500;
  color: #666666;
}
.dropdown:hover .btn-warning,
.btn-warning:hover {
  -webkit-box-shadow: inset 0 0 18px #e5e500;
  box-shadow: inset 0 0 18px #e5e500;
  color: #3a3a3a;
}
.btn-danger {
  background: #e63300;
  border-color: #cd2d00;
}
.dropdown:hover .btn-danger,
.btn-danger:hover {
  -webkit-box-shadow: inset 0 0 18px #801c00;
  box-shadow: inset 0 0 18px #801c00;
}
.btn-link {
  border: 0;
  color: #008bd3;
  text-decoration: underline;
}
.btn-link:hover {
  color: #008bd3;
  text-decoration: none;
}
input[class^="btn"],
button[class^="btn"] {
  height: 35px;
}
input[class^="btn"].btn-sml,
button[class^="btn"].btn-sml {
  height: 29px;
}
.btn-lrg {
  padding: 8px 25px;
  font-size: 18px;
}
.btn-sml {
  padding: 5px 12px;
}
.btn-xsml {
  padding: 4px 8px;
  font-size: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn-icon {
  padding: 8px;
}
.btn-icon.btn-sml {
  padding: 5px;
}
.btn-icon [class^="fontello-"] {
  padding-left: 4px;
}
.dropdown > [class^="btn"]:after {
  font-family: "fontello", sans-serif;
  content: '\e811';
  padding: 0 4px;
  padding-right: 0;
}
.dropdown:hover [class^="btn"]:after {
  content: '\e813';
}
.dropup > [class^="btn"]:after {
  font-family: "fontello", sans-serif;
  content: '\e813';
  padding: 0 4px;
  padding-right: 0px;
}
.dropup:hover [class^="btn"]:after {
  content: '\e811';
}
.dropdown .btn-link,
.dropup .btn-link {
  text-decoration: none;
  color: #3a3a3a;
  padding-right: 12px;
  padding-left: 12px;
  margin-bottom: 2px;
}
.dropdown .btn-link + ul a,
.dropup .btn-link + ul a {
  padding-left: 12px;
  padding-right: 12px;
}
.dropdown.disabled,
.dropup.disabled {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}
.dropdown.disabled ul,
.dropup.disabled ul {
  display: none;
}
.dropdown.disabled:hover [class^="btn"],
.dropup.disabled:hover [class^="btn"] {
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.dropdown.disabled:hover [class^="btn"]:after,
.dropup.disabled:hover [class^="btn"]:after {
  content: '\e811';
}
.button-group {
  font-size: 0;
  display: inline-block;
}
.button-group > [class^="btn"],
.button-group > .split-btn,
.button-group > .dropdown {
  margin-right: -1px;
}
.button-group .dropdown {
  font-size: 14px;
}
.button-group > [class^="btn"]:not(:last-child),
.button-group .dropdown:not(:last-child) [class^="btn"],
.button-group .split-btn:not(:last-child) [class^="btn"] {
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-right-radius: 0px;
}
.button-group > [class^="btn"]:not(:first-child),
.button-group .dropdown:not(:first-child) [class^="btn"],
.button-group .split-btn:not(:first-child) [class^="btn"] {
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-left-radius: 0px;
}
.button-group .input-combo {
  display: inline-block;
}
.split-btn {
  display: inline-block;
  position: relative;
  white-space: nowrap;
  font-size: 0;
}
.split-btn > [class^="btn"] {
  margin-bottom: 1px;
  margin-right: -1px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-right-radius: 0px;
}
.split-btn .dropdown {
  position: static;
  font-size: 14px;
}
.split-btn .dropdown [class^="btn"] {
  padding-left: 5px;
  padding-right: 10px;
}
.split-btn.btn-sml {
  padding: 0;
}
.split-btn.btn-sml [class^="btn"] {
  padding: 5px 10px;
}
.split-btn.btn-sml .dropdown [class^="btn"] {
  padding-left: 6px;
}
.split-btn.btn-sml .dropdown ul li a {
  padding: 6px 10px;
  font-size: 13px;
}
/*--------------------------------------- 
  FORMS
-----------------------------------------*/
fieldset {
  border: 0;
  margin: 0 0 -1px;
  padding: 15px 0 25px;
  position: relative;
}
legend {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  position: absolute;
  top: 0;
  font-size: 15px;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 4px;
  width: 100%;
}
input[type="text"],
select,
textarea {
  width: 295px;
  padding-left: 4px;
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  border: 1px solid #c7c7c9;
}
input[type="text"] {
  height: 28px;
  margin-bottom: 10px;
}
label {
  display: block;
}
textarea {
  height: 100px;
  resize: none;
  outline: none;
  padding-top: 4px;
}
textarea:focus,
input:focus {
  outline: none;
  border-color: #666666;
}
form .action-group {
  padding-top: 5px;
}
.label {
  font-weight: 600;
}
.label.inline {
  margin-right: 8px;
}
.inline .label {
  margin-right: 8px;
  display: inline-block;
}
label input[type="radio"],
label input[type="checkbox"] {
  margin: 0 4px 0 -14px;
}
.checkbox {
  overflow: hidden;
}
.checkbox label {
  padding-left: 15px;
  margin: 5px 12px 5px 0;
  line-height: 1;
}
.checkbox.inline label {
  display: inline-block;
  margin-right: 12px;
}
input[type="radio"],
input[type="checkbox"] {
  float: left;
  margin: 1px 4px 1px 1px;
  line-height: 1;
}
.input-combo {
  display: inline-block;
  position: relative;
  border: 1px solid #c7c7c9;
  margin: 4px 0;
}
.input-combo input[type="text"] {
  margin: 0;
  border: none;
}
.input-combo [class^="btn"] {
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 0 0 1px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  height: 100%;
}
.input-combo.hide {
  display: none;
}
.input-combo.file-upload input[type="file"] {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.01;
  filter: alpha(opacity=1);
}
.input-combo.fluid {
  width: 100%;
}
.input-combo.fluid input[type="text"] {
  width: 99%;
}
.text-block {
  display: block;
  padding: 6px;
  margin: 4px 0 6px;
}
input:disabled {
  border: none;
  background: #ffffff;
  color: #3a3a3a;
}
.editable-inputs {
  position: relative;
}
.editable-inputs input[type="text"]:disabled {
  height: auto;
  margin: 0;
  padding-left: 0;
}
.editable-inputs .form-horizontal label {
  text-align: left;
}
.editable-inputs .actions {
  position: absolute;
  top: 0;
  right: 0;
}
.control-group {
  margin: 6px 0;
}
.control-group input,
.control-group select,
.control-group textarea,
.control-group .chzn-container {
  margin: 0;
}
.control-group input + [class^="fontello-"]:before {
  padding-left: 0;
}
legend + .control-group {
  margin: 25px 0 6px;
}
legend + label,
legend + p {
  margin-top: 20px;
}
.search-box {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 280px;
  border: 1px solid #c7c7c9;
  height: 28px;
  background: #fff;
}
.search-box input {
  border: none;
  background: transparent;
  margin: 0;
  width: 260px;
}
.search-box .fontello-search:before {
  font-size: 17px;
}
.text-search {
  border: 1px solid #c7c7c9;
}
.text-search .fontello-search:before {
  color: #c7c7c9;
  padding-left: 6px;
}
.text-search input[type="text"] {
  border: none;
  padding-left: 20px;
  margin-left: -20px;
  background: transparent;
  margin-bottom: 0;
}
.control-combo label {
  padding-top: 4px;
}
.control-combo .controls {
  width: 285px;
  display: inline-block;
  vertical-align: top;
}
.control-combo .chzn-container {
  margin-bottom: 2px;
}
.primary-selection {
  padding-bottom: 15px;
  background: #ececec;
  border: 1px solid #dddddd;
}
.primary-selection label {
  font-weight: 700;
}
.primary-selection input,
.primary-selection select,
.primary-selection .chzn-container {
  background: #ffffff;
}
form .column-wide {
  width: 66.129032%;
}
form .column-narrow-left,
form .column-narrow-right {
  width: 32.2580644%;
}
form .column-wide,
form .column-narrow-left,
form .column-narrow-right,
form .two-columns {
  padding-top: 20px;
}
.form-horizontal fieldset {
  clear: both;
}
.form-horizontal label {
  width: 190px;
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
}
.form-horizontal input[type="text"] {
  margin-bottom: 0;
}
.form-horizontal .link {
  font-size: 13px;
}
.form-horizontal .text-block {
  margin-left: 194px;
}
.form-horizontal [class^="fontello-"]:before {
  font-size: 16px;
}
.form-horizontal .input-combo {
  width: auto;
}
.form-horizontal .input-combo input[type="text"] {
  width: 295px;
}
.form-horizontal .input-combo.fluid input[type="text"] {
  width: 99%;
}
.form-horizontal .control-group.checkbox input[type="checkbox"],
.form-horizontal .control-group.checkbox input[type="radio"] {
  float: none;
}
.form-horizontal.compact {
  padding: 0 15px;
}
.form-horizontal.compact .control-group {
  font-size: 0;
  position: relative;
  *zoom: 1;
}
.form-horizontal.compact .control-group:before,
.form-horizontal.compact .control-group:after {
  display: table;
  content: "";
  line-height: 0;
}
.form-horizontal.compact .control-group:after {
  clear: both;
}
.form-horizontal.compact .control-group:before,
.form-horizontal.compact .control-group:after {
  display: table;
  content: "";
  line-height: 0;
}
.form-horizontal.compact .control-group:after {
  clear: both;
}
.form-horizontal.compact .control-group label,
.form-horizontal.compact .control-group .text-block {
  font-size: 13px;
}
.form-horizontal.compact .control-group .text-block {
  margin-top: 0;
}
.form-horizontal.compact input[type="text"],
.form-horizontal.compact select,
.form-horizontal.compact textarea {
  width: 55%;
}
.form-horizontal.compact .chzn-search input {
  width: 100%;
}
.form-horizontal.compact label {
  width: 44.5%;
}
.form-horizontal.compact .checkbox label {
  width: auto;
  text-align: left;
  margin-left: 44%;
}
.form-horizontal.compact input + [class^="icon-"],
.form-horizontal.compact input + [class^="fontello-"] {
  position: absolute;
  right: 6px;
  top: 5px;
}
.form-horizontal.compact .text-block {
  margin-left: 45%;
}
.form-horizontal.compact .primary-selection label {
  font-size: 14px;
  font-weight: 600;
}
@media (max-width: 1150px) {
  
}
/*--------------------------------------- 
  TABLE STYLES
-----------------------------------------*/
table {
  width: 100%;
}
table p {
  margin: 0;
}
th {
  text-align: left;
  background: #dddddd;
  border-bottom: 1px solid #c7c7c9;
  padding: 8px 6px;
}
th:first-child {
  border-left: 1px solid #dddddd;
}
th:last-child {
  border-right: 1px solid #dddddd;
}
td {
  padding: 4px 6px;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
td,
td p,
td h4 {
  font-size: 13px;
}
tr {
  margin-left: 5px;
}
/* Table headings that contain sortable links */
th a {
  color: #3a3a3a;
  display: inline-block;
}
th.active {
  background: #c7c7c9;
}
th.active a {
  text-decoration: none;
}
th.active [class^="fontello-"] {
  padding-left: 3px;
}
/* Each row has a bottom border */
table.borders tr {
  border-bottom: 1px solid #ececec;
}
table.borders tr:last-child {
  border-bottom: none;
}
/* Every other row has a bg color */
table.striped tr:nth-child(odd) {
  background: #ececec;
}
table.striped th,
table.striped td {
  padding-top: 2px;
  padding-bottom: 2px;
}
/* Two column table, 2nd column is right text aligned */
table.two-columns {
  width: 100%;
}
table.two-columns td {
  width: 50%;
  text-align: right;
  padding: 2px 0;
}
table.two-columns td:first-child {
  text-align: left;
}
table.two-columns td input {
  text-align: right;
  padding-right: 6px;
}
table.two-columns td input:disabled {
  padding-right: 0;
}
table.comfortable th,
table.comfortable td {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* A list that displays data in a table style */
.list-table {
  list-style-type: none;
}
.list-table > li {
  position: relative;
  padding: 5px 0;
  *zoom: 1;
}
.list-table > li:before,
.list-table > li:after {
  display: table;
  content: "";
  line-height: 0;
}
.list-table > li:after {
  clear: both;
}
.list-table > li:before,
.list-table > li:after {
  display: table;
  content: "";
  line-height: 0;
}
.list-table > li:after {
  clear: both;
}
.list-table.borders > li {
  border-bottom: 1px solid #ececec;
}
.list-table .action-group {
  position: absolute;
  bottom: 4px;
  right: 0;
}
/* More spacing/padding than default layout */
.list-table.comfortable > li {
  padding-top: 10px;
  padding-bottom: 10px;
}
.list-table.comfortable .action-group {
  bottom: 10px;
}
.pagination {
  padding: 8px;
  overflow: hidden;
  text-align: right;
}
.pagination ul {
  display: inline-block;
}
.pagination ul li {
  display: inline-block;
}
.pagination ul li a {
  padding: 5px 8px;
  text-decoration: none;
  border: 1px solid #dddddd;
  display: block;
  color: #008bd3;
}
.pagination ul li a:hover {
  text-decoration: underline;
}
.pagination form {
  display: inline-block;
  margin-left: 5px;
  padding-bottom: 0;
}
.pagination form label {
  display: inline-block;
}
.pagination form input[type="text"] {
  width: 50px;
  margin: 0;
}
.pagination-compact {
  display: inline-block;
}
.pagination-compact .count {
  margin-right: 5px;
}
.navigation td {
  padding: 0;
}
.navigation .navigatorLabel {
  float: left;
  margin-right: 10px;
  border-right: 1px solid #c7c7c9;
  padding-right: 10px;
}
.navigation .navigatorLabel span {
  display: inline-block;
  padding: 6px 0;
}
.navigation .navigator a {
  display: inline-block;
  padding: 5px 8px;
  text-decoration: none;
  border: 1px solid #dddddd;
  color: #008bd3;
}
.navigation .navigator em {
  display: inline-block;
  padding: 5px 8px;
  font-style: normal;
}
.navigation .navigator .first em,
.navigation .navigator .prev em,
.navigation .navigator .next em,
.navigation .navigator .last em {
  display: none;
}
/* FILTERS - filters.less 
-------------------------*/
.filter {
  *zoom: 1;
  padding-top: 14px;
}
.filter:before,
.filter:after {
  display: table;
  content: "";
  line-height: 0;
}
.filter:after {
  clear: both;
}
.filter:before,
.filter:after {
  display: table;
  content: "";
  line-height: 0;
}
.filter:after {
  clear: both;
}
.filter h3 {
  border: none;
  float: left;
  padding: 2px 0 0 0;
  margin: 0 12px 0 0;
  font-size: 14px;
}
.filter ul {
  list-style-type: none;
  float: left;
}
.filter ul li {
  display: inline-block;
}
.filter ul .selected a {
  text-decoration: none;
  color: #3a3a3a;
}
.filter .divider {
  padding: 5px 5px 5px 20px;
  border-left: 1px solid #c7c7c9;
}
.filter .control-group {
  display: inline-block;
  margin: 0;
}
.filter .control-group label {
  display: inline-block;
  margin-right: 5px;
}
.filter .control-group.divider {
  padding-top: 0;
  padding-bottom: 0;
}
.filter .hide {
  display: none;
}
.modal.fade {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1000;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.modal.fade.in {
  display: block;
}
.modal .fontello-cancel:before {
  border: 1px solid #666666;
  position: absolute;
  right: 8px;
  top: 8px;
  padding-left: 4px;
  font-size: 18px;
}
.modal h2 {
  font-size: 24px;
  padding-bottom: 10px;
}
.modal.modal-lrg .modal-dialog {
  width: 850px;
}
.modal .list-table > li {
  padding-right: 0;
  padding-left: 0;
}
.modal.warning {
  border: none;
}
.modal.warning .modal-dialog {
  width: 325px;
  min-height: inherit;
}
.modal-dialog {
  position: relative;
  background: #ffffff;
  width: 650px;
  min-height: 400px;
  margin: 150px auto 0;
  padding: 25px 20px;
  border: 1px solid #666666;
}
.modal-header,
.modal-body,
.modal-footer {
  *zoom: 1;
}
.modal-header:before,
.modal-body:before,
.modal-footer:before,
.modal-header:after,
.modal-body:after,
.modal-footer:after {
  display: table;
  content: "";
  line-height: 0;
}
.modal-header:after,
.modal-body:after,
.modal-footer:after {
  clear: both;
}
.modal-header:before,
.modal-body:before,
.modal-footer:before,
.modal-header:after,
.modal-body:after,
.modal-footer:after {
  display: table;
  content: "";
  line-height: 0;
}
.modal-header:after,
.modal-body:after,
.modal-footer:after {
  clear: both;
}
.modal-header {
  border-bottom: 1px solid #dddddd;
}
.modal-footer {
  padding-top: 20px;
}
/*--------------------------------------- 
  IMAGES, VIDEO AND OTHER MEDIA FILES
-----------------------------------------*/
/* THUMBNAILS with description
---------------------------------*/
figure {
  overflow: hidden;
}
figure img {
  float: left;
  margin-right: 10px;
}
figure p {
  margin: 0;
}
.column-left .feature-image img,
.column-right .feature-image img {
  max-width: 100%;
  max-height: 250px;
  display: block;
  margin: 0 auto;
}
/*--------------------------------------- 
  GLOBAL HEADER STYLES
-----------------------------------------*/
.global-header {
  position: fixed;
  width: 100%;
  z-index: 50;
  background: #fff;
}
.global-header .tenant-logo {
  padding: 11px 0 7px;
}
.global-header .tenant-logo img {
  height: 55px;
}
.global-header .nav-list {
  font-size: 0;
}
.global-header .nav-list > li {
  display: inline-block;
  font-size: 14px;
}
.global-header .nav-list > li > a {
  display: inline-block;
}
.global-header .nav-list .dropdown > a:after,
.global-header .nav-list .dropdown > span:after {
  font-family: "fontello", sans-serif;
  content: '\e82d';
  padding: 0 4px;
  font-size: 13px;
  padding-right: 0;
}
.global-header .nav-list .dropdown:hover > a:after,
.global-header .nav-list .dropdown:hover > span:after {
  content: '\e830';
  padding-right: 0;
}
.global-header .nav-list .dropdown ul li {
  border-top: 1px solid #ececec;
}
.global-header .nav-list .dropdown ul li a {
  color: #3a3a3a;
}
.global-header .nav-list .dropdown ul li:hover > a {
  color: #e63300;
}
.global-header .nav-user {
  text-align: right;
  position: absolute;
  top: 0;
  width: 100%;
  height: 75px;
  z-index: 100;
}
.global-header .nav-user .nav-list {
  padding-top: 10px;
}
.global-header .nav-user .nav-list > li {
  border-left: 1px solid #c7c7c9;
  font-size: 13px;
}
.global-header .nav-user .nav-list > li:first-child {
  border: none;
}
.global-header .nav-user .nav-list > li > span {
  display: inline-block;
  margin-right: 10px;
  color: #e63300;
}
.global-header .nav-user .nav-list > li > span:after {
  color: #666666;
}
.global-header .nav-user .nav-list > li > a {
  padding: 0 10px;
  color: #e63300;
}
.global-header .nav-user .nav-list > li > a:hover {
  color: #3a3a3a;
}
.global-header .nav-user li.username > a {
  padding-left: 0;
}
.global-header .nav-user .saved-items #mySavedItemsLink {
  padding-left: 10px;
  color: #e63300;
}
.global-header .nav-user .saved-items #mySavedItemsLink:after {
  font-family: "fontello", sans-serif;
  content: '\e82d';
  padding-left: 4px;
  color: #666666;
}
.global-header .nav-user .saved-items .downArrow {
  display: none;
}
.global-header .nav-user .saved-items #mySavedItemsBox {
  right: 9px;
}
.global-header .nav-user .saved-items #mySavedItemsBox .manageLinkSection:hover {
  background-color: #f0f0f0;
}
.global-header .nav-user .saved-items #mySavedItemsBox .manageLinkSection a {
  color: #008bd3;
  line-height: 32px;
  padding-right: 14px;
}
.global-header .nav-user .saved-items #mySavedItemsBox .savedItemContainer a {
  color: #3a3a3a;
}
.global-header .nav-main {
  background: #666666;
  -webkit-box-shadow: 0px 4px 8px -4px #666666;
  box-shadow: 0px 4px 8px -4px #666666;
}
.global-header .nav-main .nav-list {
  float: left;
}
.global-header .nav-main .nav-list > li > a {
  border-top: 2px solid transparent;
  color: #ececec;
  padding: 10px 14px;
}
.global-header .nav-main .nav-list > li:hover > a {
  border-top: 2px solid #e63300;
  background: #e2e2e2;
  color: #3a3a3a;
}
.global-header .nav-main .nav-list .dropdown > ul {
  left: -1px;
}
.global-header .nav-main .fontello-home:before {
  vertical-align: baseline;
  padding-right: 0;
}
.global-header .nav-main .search {
  float: right;
}
.global-header .nav-main .search input[type="text"] {
  width: 230px;
  border: 1px solid #999;
  margin: 5px 0;
}
/*--------------------------------------- 
  MEDIA QUERIES for the global header
-----------------------------------------*/
@media (max-width: 1150px) {
  .global-header .nav-main .nav-list > li > a {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
  }
  .global-header .nav-main .nav-list .dropdown ul li a {
    width: 170px;
    white-space: normal;
  }
  .global-header .search-box {
    width: 215px;
  }
  .global-header .search-box input {
    width: 195px;
  }
}
/*--------------------------------------- 
  FOOTER
-----------------------------------------*/
.footer-global {
  background: #f3f3f3;
}
.footer-global img {
  float: right;
}
/*
Sticky Footer based on:
Ryan Fait http://ryanfait.com/
Chris Coyier http://css-tricks.com/snippets/css/sticky-footer/
*/
html,
body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  *height: auto !important;
  *height: 100%;
  margin: 0 auto -125px;
}
.wrapper:after {
  content: "";
  display: block;
}
.footer-global,
.wrapper:after {
  height: 125px;
}
/* --------------------------------
   Existing wicket modal structure
-----------------------------------*/
.wicket-modal a {
  color: #008bd3;
}
.wicket-modal a.mattButton {
  padding: 5px 12px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 14px;
  width: auto;
  cursor: pointer;
  margin: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: auto;
}
.wicket-modal [class^="btn"] {
  color: #ffffff;
}
.wicket-modal .btn-secondary {
  color: #3a3a3a;
}
.wicket-modal div.dialog-modal {
  -webkit-box-shadow: 0px 1px 5px #c7c7c9;
  box-shadow: 0px 1px 5px #c7c7c9;
}
.wicket-modal .left,
.wicket-modal .right {
  float: left;
}
.wicket-modal .left {
  width: 110px;
  text-align: right;
  padding: 10px 10px 0 0;
}
.wicket-modal .right .checkbox {
  margin-left: 109px;
}
.wicket-modal img.tooltip {
  padding-left: 5px;
  vertical-align: middle;
}
.wicket-modal .btn {
  float: right;
  margin: 20px 30px 0 0;
}
.wicket-modal .newScheduleForm .schedulePickerTitle {
  font-size: 16px;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 4px;
  font-weight: 700;
  color: #3a3a3a;
  margin-bottom: 5px;
}
.wicket-modal .newScheduleForm .scheduleRow {
  padding-top: 0;
}
.wicket-modal .newScheduleForm .scheduleRow .datetimepicker {
  float: left;
  border: 1px solid #c7c7c9;
}
.wicket-modal .newScheduleForm .scheduleRow .ui-datepicker-trigger {
  float: left;
  margin-top: 6px;
}
.wicket-modal .newScheduleForm .scheduleRow input[type="checkbox"] {
  margin: 8px 5px 0 12px;
}
.wicket-modal .newScheduleForm .scheduleRow label {
  float: left;
  margin-top: 6px;
}
.wicket-modal .newScheduleForm .scheduleRow .dateQuickLinks {
  font-size: 12px;
}
.wicket-modal .newScheduleForm .scheduleRow .dateQuickLinks a {
  padding: 0 1px;
}
.wicket-modal .newScheduleForm .scheduleRow label,
.wicket-modal .newScheduleForm .assignmentSection .assignmentSectionTitle {
  color: #3a3a3a;
  font-size: 14px;
}
.wicket-modal .newScheduleForm .formActions {
  padding: 10px 0;
}
.wicket-modal .newScheduleForm .formActions .blueButton {
  background: #008bd3;
  border: 1px solid #007aba;
}
