/* IE8 and below
-----------------*/
body,
input[type="text"],
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.input-combo input[type="text"] {
  height: 20px;
}
.editable-inputs input[type='text'][disabled] {
  background-color: transparent;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* IE7 and below
-----------------*/
.global-header .nav-list > li {
  *display: inline;
}
[class^="fontello-"] {
  *font-size: 14px;
}
.dropdown,
.dropup {
  *display: inline;
}
.dropdown ul li a,
.dropup ul li a {
  *display: inline;
}
.column-left,
.column-right {
  *width: auto;
}
