.modalLoadingPanel {
	position: absolute;
	background-color: #FFFFFF;
	filter: alpha(opacity=60);	/* IE */
    opacity: 0.6;				/* Safari, Opera */
    -moz-opacity:0.60;			/* FireFox */
    z-index: 100;
}

.loadingAnimationImage {
	z-index: 101;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 55px;
	height: 55px;
	margin-left: -50px;
	margin-top: -50px;
}