h2 {
	padding:0;
}

a, a:hover, a:visited, a:active {
	color: #333;
}

#otherActions li{
	padding: 5px 0;
}
#otherActions {
	padding-top:5px;
	border-top: 1px dotted #999;
}

#siteForm input[type="text"]{
	width: 200px;
	display: inline;
}

#searchByEmail .label, #searchById .label{
	margin-bottom: 5px;
	margin-bottom: 15px;
	}

#searchById .prefix, #searchById .suffix{
	font-weight: bold;
	size: 13px;
	color: #888;
} 
	
#searchById .suffix{
	padding-left: 2.5px;
}

#searchByEmail .fieldHolder, #searchById .fieldHolder{
	display: inline;
}

p.actionInstructions{
	min-height: 45px;
}

#page {
	width: 900px;
}
#pageHeader {
	background-image: none;
	padding: 30px 0 10px 0;
}
#companyLogo, #systemLogo {
	padding:11px 0 0 10px;
}

#notifications {
	width:660px;
	float:right;
}

#error, #message {
	margin-top: 10px;
}

.error ul, .message ul {
	padding: 10px 15px;
}

#pageContent .brandedContainer {
	width: 888px;
}

#mainContent {
	width: 564px;
	float:left;
}

#secondaryContent {
	width: 264px;
	float:right;
	padding:15px;
}

#searchById, #searchByEmail{
	display: block;
	border:4px solid #BBB;
	width: 400px;
	height: 265px;
	float: left;
	padding: 20px;
}

#siteForm, #emailForm{
	float:left;
}

#searchByEmail{
	border-left: none;	
}

#searchByEmail input[type='text']{
	width: 300px;
}

#plansAndPricing {
	height: 55px;
	width:900px;
}
.titleBlock {
	margin-bottom: 20px;
}
.titleSummary  {
	color:#666;
	padding:5px 0px;
	font-size:1.2em;
}	

.actionButton {
	margin: 20px 0;	
}
#pageFooter #sslCert {
	float:right;
	text-align: center;
}

#sslCert a, #sslCert a:hover, #sslCert a:visited, #sslCert a:active {
	font-size: 8px;
}

div.oneLine span, div.oneLine label {
	display: inline;
}
div.oneLine {
	padding: 5px 0 0 0;
}

#pageFooter {
	border:none;
}

.imageButton a span {
	position:absolute;
	left: -10000px;
}
.imageButton a {
	border:none;
	text-decoration:none;
}


.formErrors {
	margin:10px 0;
}


#requestAccountButton a {
	display: block;
	width: 252px;
	height: 62px;
	background-image: url(../images/request_account_button.png);
	background-repeat: no-repeat;
}


#requestAccountButton a {background-position: 0 0;}
#requestAccountButton a:hover {background-position: 0 -62px;}
#requestAccountButton a:active {background-position: 0 -124px;}


#plansPricingButton a {
	display: block;
	width: 252px;
	height: 62px;
	background-image: url(../images/plans_and_pricing_button.png);
	background-repeat: no-repeat;
}


#plansPricingButton a {background-position: 0 0;}
#plansPricingButton a:hover {background-position: 0 -62px;}
#plansPricingButton a:active {background-position: 0 -124px;}

#plansPricingButtonChooseCompany a {
	display: block;
	float: right;
	width: 183px;
	height: 30px;
	background-image: url(../images/see-plans-pricing-button.png);
	background-repeat: no-repeat;
}


