pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

em {
	text-decoration: underline;
}

#systemNotices {
	background-color:#FFE7B3;	
	border-bottom:1px solid #CCCCCC;
	zoom:0;
}

.systemNotice {
	margin-top:0;
	padding:10px 5px;
}

.strong {
	font-weight:bold;
}
.prominent {
	font-size:1.2em;
}

.weak { 
	color: #767676;
}

.very-weak {
	color: #999;
	font-size:0.8em;
}

#mainContent {
	padding:15px;
	min-height:160px;
}

.contentBlock {
	padding:15px;
}

.secondaryNav {
	overflow: hidden;
	margin: 10px 0;
}
.secondaryNav li {
	float:left;
	margin-right: 10px;
	cursor: pointer;
}

.secondaryNav li.button a {
	background: #fff repeat-x url(../images/button_background.jpg);
	border:1px solid #ddd;
}

.secondaryNav li.button a.activated {
	background: #fff repeat-x url(../images/button_background_activated.jpg);	
}

.secondaryNav a {
	display: block;
	padding: 5px 15px 5px 0;
}
.secondaryNav .button a, .secondaryNav .button a:hover {
	text-decoration:none;
	color: #333;
	padding-left: 15px;
}
.secondaryNav .button a:hover {
	border-color: #999;
}

.minForm input, .minForm button  {
	font-size: 1.2em;
	padding:5px 0;
	
}
.minForm input[type="text"], .minForm input[type="password"], .minForm input.textbox, .minForm input.passwordBox, .minForm textarea {
	width: 444px;
	border: 1px solid #666
}
.minForm textarea {
	height: 150px;
}

.minForm input[type="submit"], .minForm button {
	padding-left: 5px;
	padding-right: 5px;
}

.minForm .fieldHolder, .minForm .label{
	font-size: 1.2em;
	display:block;
	padding: 5px 0 0 0;
}

.minForm .label {
	font-weight: bold;
}

.sectionTitle {
	background-color: #D0DAFA;
	margin: 5px 0;
	padding: 5px 5px;
}

.fullForm input, .fullForm button  {
	padding:1px 0;
	
}
.fullForm input[type="text"], .fullForm input[type="password"] {
	width: 250px;
	border: 1px solid #666;
}
 .fullForm input.textbox, .fullForm input.passwordBox, .fullForm textarea, .fullForm select {
	width: 250px;
}
.fullForm textarea {
	height: 100px;
}

.fullForm input[type="submit"], .fullForm button {
	padding-left: 2px;
	padding-right: 2px;
	font-size: 1.2em;
}

.fullForm .fieldHolder, .fullForm .label{
	display:block;
	padding: 5px 0 0 0;
	line-height: 18px;
}

.fullForm .label {
	font-weight: bold;
}

.actionInstructions {
	font-size: 1.3em;
	margin:5px 0;
}

.actionInstructions.important {
	font-weight:bold;
	padding: 10px 0;
}

.multiColumn {
	overflow:hidden;
}
.multiColumn .infoBlock {
	float:left;
	margin-right: 25px;
	min-width:256px;
}

.percentBarUsed, .percentBar{
	height: 26px;
}

.borderedSets .infoSet {
	border-top:1px solid #999;
	padding-top:5px;
	padding-bottom:5px;
}


.fluidSets .infoSet {
	min-width:430px;
}

.fluidSets h2{
	background-color: #EEEEEE;
	border-bottom:1px solid #CCCCCC;
	border-top:1px solid #CCCCCC;	
}

.fluidSets .infoSet .label, .fluidSets .infoSet .fieldHolder {
	display:block;
	float:left;
	width:160px;
	padding-left:5px;
	padding-top: 5px;
	padding-bottom: 5px;
}


.fluidSets .infoSet .fieldHolder {
	width:260px;
}
.fluidSets .infoSet {
	padding:5px 0;
	border-bottom: 1px solid #E2E2E2;
	overflow:hidden;
}

.fluidSets .borderLess{
	border-style: none;
}

.limitWarning {
	padding: 10px;
	text-align: center;
	font-weight: bold;
}

.infoSet .fieldHolder .unitOfMeasure input, .infoSet .fieldHolder input.dateTime, .infoSet .fieldHolder input.date {
	width: 250px;
}	

#noPermissionMessage, #planLimitExceeded, #ieOnlyMessage {
	padding:20px;
	font-size: 2em;
	text-align: center;
}

#noPermissionMessage p, #planLimitExceeded p, ieOnlyMessage p {
	margin: 5px 0;
}

.highlightBlock {
	border: 1px solid #d9cb6a;
	background-color: #FFFF99;
	padding:5px;
	margin:5px 0;
}

.lightBoxAction {
	text-align: center;
	font-size: 1.5em;
	margin-top:10px;
}

.blockSeparated {
	padding-top:10px;
}

.fullPageForm {
	width: 901px;
}
.hide {
	display:none;
}

.twoColumSubSystem {
	width:600px;
}

.separated {
	margin-top: 5px;
	margin-bottom: 5px;
}


.offScreen {
	position: absolute;
	left: -10000px;
}

.locationSelection {
	position:absolute;
	left: -10000px;
	background-color:#fff;
	width:450px;
	padding:4px;
	border: 1px solid #333;
}


.debug-info  {
    position: fixed;
    top: 20px;
    left: 20px;
    border: 1px solid #2f4f4f;
    z-index: 1000000;
    padding:4px;
    border-radius:6px;
    background: #fafad2;
    color : #0000ff;
}




/*
 default style for Watermarked text fields.  note that is possible to configure components to use other css class.

  arrghh : see http://code.google.com/p/jquery-watermark/#Watermark_only_appears_in_gray_text for explanation
  lots of duplicate styling here.  this is because the browser will invalidate the class if i doesn't recognize an item.
  i.e. if you have a class definition =>    input::-webkit-input-placeholder, input:-moz-placeholder { ...
      a moz browser will barf after not recognizing the -webkit stuff and skip it altogether.
  CAVEAT : make sure you update them all if you make changes to one!
*/

input::-webkit-input-placeholder {
    color: #bbb;
    font-style:italic;
    background-size: 22px 22px;
    background-repeat: no-repeat;
}


input:-moz-placeholder {
    color: #bbb;
    font-style:italic;
    background-size: 22px 22px;
    background-repeat: no-repeat;
}

.watermark {
    color: #bbb !important;
    background-size: 20px 20px !important;
    background-repeat: no-repeat !important;
}



/*
 Blue submit button.
*/
.blue-submit {
    background: #4C8FFC;
    background: -moz-linear-gradient(top, #4C8FFC 0%, #4787ED 100%);
    background: -webkit-gradient(linear, left 4 C8FFC, left bottom, color-stop(0%, #4C8FFC), color-stop(100%, #4787ED));
    background: -webkit-linear-gradient(top, #4C8FFC 0%, #4787ED 100%);
    background: -o-linear-gradient(top, #4C8FFC 0%, #4787ED 100%);
    background: -ms-linear-gradient(top, #4C8FFC 0%, #4787ED 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#4C8FFC', endColorstr = '#4787ED', GradientType = 0);
    background: linear-gradient(top, #4C8FFC 0%, #4787ED 100%);
    border: 1px solid #999;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 1px 1px rgba(255, 255, 255, .25) inset;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 1px 1px rgba(255, 255, 255, .25) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 1px 1px rgba(255, 255, 255, .25) inset;
    color: #FFFFFF;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, .33);
    text-decoration: none;
    padding:5px 10px;
    margin-top:7px;
    text-align: center;
}

.blue-submit:hover {
    background: #4C8FFC;
    background: -moz-linear-gradient(top, #4D90FE 0%, #357AE8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4D90FE), color-stop(100%, #357AE8));
    background: -webkit-linear-gradient(top, #4D90FE 0%, #357AE8 100%);
    background: -o-linear-gradient(top, #4D90FE 0%, #357AE8 100%);
    background: -ms-linear-gradient(top, #4D90FE 0%, #357AE8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#4D90FE', endColorstr = '#357AE8', GradientType = 0);
    background: linear-gradient(top, #4D90FE 0%, #357AE8 100%);
    border: 1px solid #6699FF;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 1px 1px rgba(255, 255, 255, .25) inset;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 1px 1px rgba(255, 255, 255, .25) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 1px 1px rgba(255, 255, 255, .25) inset;
    color: #FFFFFF;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, .33);
}

.blue-submit:active {
    background: #4C8FFC;
    background: -moz-linear-gradient(top, #357AE8 0%, #4D90FE 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #357AE8), color-stop(100%, #4D90FE));
    background: -webkit-linear-gradient(top, #357AE8 0%, #4D90FE 100%);
    background: -o-linear-gradient(top, #357AE8 0%, #4D90FE 100%);
    background: -ms-linear-gradient(top, #357AE8 0%, #4D90FE 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#357AE8', endColorstr = '#4D90FE', GradientType = 0);
    background: linear-gradient(top, #357AE8 0%, #4D90FE 100%);
}


input.wavy-underline {
    background-image: url("../images/wavy-underline.gif");
    background-position: bottom;
    background-repeat:  repeat-x;
    background-size: 3px 3px;
}

.all-day-checkbox {
    vertical-align: middle;
    width:20px;
}

.all-day-checkbox-label {
    margin-top: 10px;
    float: left;

}




