.helpfulHints {
	float: right;
	width: 220px;
	background-color: #ECF2F5;
	border: 1px solid #B5BACC;
	margin:5px 0;
	padding: 10px;
}

.helpfulHints p {
	margin-bottom: 10px;
}

#steps {
	float:left;
	width:750px;
}

.step {
	background-color:#fff;
	border: 1px solid #B5BACC;
	margin:5px 0;
}

.step h2 {
	background-color: #EEEEEE;
	border-bottom:1px solid #CCCCCC;
}
.stepClosed h2 {
	border-bottom:none;
}

.stepContent {
	margin: 5px 5px 5px 15px;
	overflow:hidden;
}

.stepContent p {
	margin: 10px 0;
}

.stepContent .instructions {
	font-size: 1em;
	padding:0;
}

.stepAction {
	margin-top: 10px;
	padding-top: 5px;
	border-top:1px solid #D0DAFA;
}

.stepAction input, .stepAction button {
	padding: 5px 10px;
	font-size: 1.4em;
}


.loading {
	padding:20px;
	text-align: center;
}

.loader p {
	text-align: center;
}

.step .list, .step .emptyList {
	background-color:#fff;
	padding: 5px;
	border: 1px solid #B5BACC;
}

div .treeHeading {
	margin: 0;
}

.top .treeHeading {
	margin:0px 0px;
}