body {
	color: #333333;
	background-color: #fff;
}

.brandedContainer, .publicContainer {
	border: 6px solid #bbb;
}

#pageContent.public {
	background: #F6F6F6;
}

#mainContent {
	background: #FFF;
}


#sslCert a, #sslCert a:hover, #sslCert a:visited, #sslCert a:active {
	color: #AD0034;
}

.percentBarUsed {
	background: #79c5e5 url(../../images/barForeground.png) repeat-x;
}
.percentBar {
	border: 2px solid #79c5e5;
	background: url(../../images/barBackground.png) repeat-x;
}

.actions {
	border-color: #D0DAFA;
}
.limitWarning {
	background-color: #FFEBEB;
	color: #FF0000;
}