.mySavedItemsBox {
    display:none;
    width: 325px;
    position:absolute;
    background-color:#fff;
    border:1px solid #ebebeb;
    padding: 16px 0 8px 0;
    text-align:left;
}

.mySavedItemsBox .savedItem {
    padding: 8px 0 8px 16px;
    overflow:hidden;
    clear:left;
    display:block;
}

.mySavedItemsBox .savedItem img {
    padding-right:16px;
    display:block;
    float:left;
}

.mySavedItemsBox div.savedItem:hover {
    background-color:#f0f0f0;
}

#pageHeader #mySavedItemsBox a, #pageHeader #mySavedItemsBox a:hover, #pageHeader #mySavedItemsBox a:visited {
    text-decoration: none;
    color: #444;
}

.mySavedItemsBox .blankSlateContainer {
    font-style: italic;
    padding-left:16px;
}

.listOfLinks .openedSavedItemsLink {
    background-color:#ebebeb;
}

.listOfLinks img.divider {
    height: 8px;
    padding-left:8px;
}

.listOfLinks img.downArrow {
    padding-top:2px;
    vertical-align: middle;
}