/* Search page specific */
.sub-menu .advanced-search-form {
	margin-left: 5px;
	width: auto;
	overflow: auto;
	float: none;
	margin-right: 325px;	
}
.input-combo {
	width: 99%;
}
.input-combo [class^="btn"] {
	float: right;
}
.search-switch {
	font-size: 13px;
	float: left;
	margin-left: 8px;
	padding-top: 5px;
}
.action-group {
	/*width: 236px;*/
}