/* Search page specific */
.sub-menu .advanced-search-form {
	margin-left: 5px;
	width: auto;
	overflow: auto;
	/*float: none;
	margin-right: 325px;*/
	float: left;	
}
.search-switch {
	float: left;
	font-size: 13px;
	margin-left: 8px;
	padding-top: 5px;
}
.action-group {
	width: 233px;
}
.action-group .button-group {
	float: right;
}
.mass-actions {
	margin-left: 5px;
}