/* Search page specific */
.sub-menu .advanced-search-form {
	overflow: auto;
	margin-right: 358px;	
}
.input-combo {
	width: 99%;
}
.input-combo [class^="btn"] {
	float: right;
}
.search-switch {
	font-size: 13px;
	float: left;
	margin-left: 8px;
	padding-top: 5px;

	*position: absolute;
	*top: 0;
	*left: 88px;
}
	.search-switch .simple-search {
		position: absolute;
		top: 6px;
		right: 270px;
	}
.sub-menu .action-group {
	position: absolute;
	right: 0;
	top: 0;
	width: 232px;
}