/* Search page specific */
.sub-menu {
	*height: 25px;
}
.filters-title {
	/**width: 275px!important;*/
}
.search-options-wrap {
	position: relative;
	margin-right: 250px;

	*position: absolute;
	*top: 0;
	*left: 90px;
}

/* text search */
.advanced-search-form {
	margin-right: 110px;
	position: relative;
	margin-left: 55px
}
.advanced-search-form .remaining-assets {
	position: absolute;
	top: 2px;
	right: 0;
}
.input-combo {
	margin-right: 35px;
	display: block!important;
}
.input-combo input[type="text"] {
	margin: 0;
	width: 88%;
	width: 100%;
}
.input-combo [class^="btn"] {
	border-width: 1px;
}
.input-combo .btn {
	position: absolute;
	top: 1px;
	right: 36px;
	height: 25px;
}

/* search links */
.search-switch {
	float: left;
	font-size: 13px;
	margin-left: 8px;
	padding-top: 5px;
}
	.search-switch a {
		outline: none;
	}
	.search-switch .simple-search {
		position: absolute;
		top: 6px;
		right: 10px;
	}

/* action buttons */
.sub-menu .action-group {
	position: absolute;
	right: 0;
	top: 0;
	width: 232px;
}
