.newProcedureForm .newScheduleForm {
    overflow:hidden;
    width:320px;
    height:360px;
}

.blankSlate h2 {
    color: #777777;
    font-size: 20px;
    padding: 5px 10px;
}

.blankSlate img {
    display: table-caption;
    margin: 20px auto;
    width: 120px;
}

.blankSlate p {
    font-size: 18px;
    color: #777777;
    margin: 20px 0 40px;
    text-align: center;
}

.blankSlate a {
    float:none;
    margin: 0 auto;
    width: 135px;
    display: block;
}