.result-config {
    padding:10px;
    font-size: 12px;
}

.result-config .leftColumn {
    width: 33%;
    display:block;
    float:left;
    text-align:right;
    clear:both;
}

.observation-result-config .leftColumn {
    padding:3px 5px 1px 0;
}

.score-result-config .leftColumn {
    padding:8px 5px 1px 0;
}

.result-config .rightColumn {
    width: 63%;
    display:block;
    float:left;
    padding:3px;
}

.observation-result-config .rightColumn {
    padding:3px;
}

.score-result-config .rightColumn {
    padding:0 3px;
}

.result-config .rowContainer {
    display:inline-block;
    width: 100%;
    overflow:visible;
    padding-top:8px;
    padding-bottom:8px;
}

.result-config .passText {
    color:#00aa00;
    font-weight:bold;
}

.result-config .failText {
    color:#aa0000;
    font-weight:bold;
}

.result-config .totalTypeSection {
    display:inline-block;
    overflow:visible;
    padding-bottom:20px;
    width: 100%;
}

.result-config .totalTypeSection .leftColumn {
    padding:8px 5px 1px 0;
}

.result-config input[type="text"] {
    padding: 4px;
    color: #555555;
    width: 100px;
    vertical-align: bottom;

}

.result-config input[type="checkbox"] {
    margin-top:4px;
}

.result-config .leftColumn .chzn-single span {
    text-align: left;
}

.result-config .formAction {
    margin-left: 130px;
    margin-top: 40px;
}

