.configureMessage {
    font-size:13px;
    font-weight:bold;
    color:#999999;
    text-align:center;
    padding:0px 0 20px;
    margin-top: -17px;
}

.configureArrow {
    margin-left: 383px;
    margin-top: -10px;
}


.kpi {
    position:relative;
    margin-right: auto;
    margin-left: auto;
    height: 70px;
    padding-bottom:10px;
}

.kpi .owner {
    width:70%;
    text-align: center;
    position:absolute;
    left:15%;
    text-overflow: ellipsis;
    z-index:222;
    margin-top:9px;
}

.kpi .bar-chart {
    width:90%;
    height:50%;
    border: 1px solid #ccc;
    position: relative;
    background:white;
    float:left;
}

.kpi .total {
    float: right;
    font-size:17px;
    text-align: right;
    margin-top:9px;
}


.kpi .bar-chart .bar {
    display:inline-block;
    float:left;
    height:100%;
    opacity:.5;
    z-index:10;
}

.kpi .bar-chart .bar:hover {
    opacity: .8;
}

.kpi .bar-chart .bar.completed:hover {
    opacity: .8;
    background:#9DDFA1;
}

.kpi .bar-label:hover .span-line {
    border-top: 1px dotted #666;
    border-right:1px dotted #666;
    border-left:1px dotted #666;
}


.kpi .bar-chart .bar.completed {
    background:#BDFFD1;
    border-right: 1px solid #8DDDAD;
}

.kpi .bar-chart .bar.closed {
    background:#75DAD6;
}

.kpi .bar-chart .bar.failed {
    background:#D691AA;
}

.kpi .bar-label {
    clear:both;
    height:20px;
    margin-top:-16px;
    position:absolute;
    top:0;
    text-align:center;
}


.kpi .bar-label.incomplete {
    width:100%;
    left:0;
}

.bar-label span {
    background: #f7f7f7;
    letter-spacing: 2px;
    color:#666;
    font-size:10px;
    display:inline-block;
    line-height: 8px;
}

.bar-label .span-line {
    border-top: 1px dotted #eee;
    border-right:1px dotted #ccc;
    border-left:1px dotted #ccc;
    margin-top:-8px;
    height:3px;
    border-radius:3px;
}

.kpi .tick {
    width: 0;
    height: 0;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 4px solid;
    position: absolute;
    padding-top:5px;
}

.kpi .tick-label {
    color:#aaa;
    font-size:8px;
}


.kpi .tick.failed {
    border-bottom-color: #E097C4;
}

.kpi .tick.closed {
    border-bottom-color: #76BBC0;
}

.kpi .tick.completed {
    border-bottom-color: #b5DFb5;
}

.kpi .bars {
    height:100%;
    width:100%;
    position:absolute;
}



