.configureMessage {
    font-size:13px;
    font-weight:bold;
    color:#999999;
    text-align:center;
    padding:0px 0 20px;
    margin-top: -17px;
}

.configureArrow {
    margin-left: 383px;
    margin-top: -10px;
}


.kpi {
    height:100%;
    width:100%;
    float:left;
    padding-bottom:10px;
    display:block;
}

.kpi .owner {
    text-overflow: ellipsis;
    display:inline-block;
    float:left;
}

.kpi .bar-chart {
    width:100%;
    height:25px;
    position: relative;
    background:white;
    float:left;
}


.kpi .bar-chart .bar {
    display:inline-block;
    float:left;
    height:100%;
}

.kpi .bar-chart .bar.passed {
    background:#aDFFb1;
    border-right: 1px solid #8DDDAD;
}

.kpi .bar-chart .bar.closed {
    background:#75DAD6;
}

.kpi .bar-chart .bar.na {
    background: #e3e83f;
}

.kpi .bar-chart .bar.failed {
    background:#D691AA;
}

.kpi .bars {
    height:100%;
    width:100%;
}

.kpi-header {
    height:32px;
    margin-top:-32px;
    float:right;
}

.kpi-header .legend {
    height:6px;
    padding-left:6px;
    display:inline-block;
    margin-bottom:1px;
    opacity:.5;
    border: 1px solid #666;
}

.kpi-header .legend.passed {
    background:#b5DFb5;
}

.kpi-header .legend.failed {
    background:#E097C4;
}

.kpi-header .legend.na {
    background:#b8b828;
}

.kpi-header .legend.closed {
    background:#76BBC0;
}

.kpi .label {
    height:20px;
}
.kpi .label .total {
    float:right;
}


.kpi .section.bottom .bar {
    outline:2px solid white;
}

.kpi .section.bottom .bar-chart {
    height:0px;
}

.kpi .section.top .bar-chart {
}

.bars.incomplete {
    top:0;
    position:absolute;
}

.kpi .bar {
    opacity:.6;
}

.kpi .bar.highlight {
    opacity:.9;
}

.kpi .blank {
    background:white;
    height: 25px;
    padding-left:5px;
    display:block;
    color:#aaa;
    text-align: center;
}