.configureMessage {
    font-size:13px;
    font-weight:bold;
    color:#999999;
    text-align:center;
    padding:0px 0 20px;
    margin-top: -17px;
}

.configureArrow {
    margin-left: 383px;
    margin-top: -10px;
}


.kpi {
    height:100%;
    width:100%;
    float:left;
    padding-bottom:10px;
    display:block;
}

.kpi .owner {
    text-overflow: ellipsis;
    display:inline-block;
    float:left;
}

.kpi .bar-chart {
    width:100%;
    position: relative;
    background:white;
    height: 100%;
    float:left;
}


.kpi .bar-chart .bar {
    display:inline-block;
    float:left;
    height:100%;
}

.kpi .bar-chart .bar.passed {
    background:#aDFFb1;
    border-right: 1px solid #9DeDb2;
}

.kpi .bar-chart .bar.closed {
    background:#75DAD6;
}

.kpi .bar-chart .bar.na {
    background: #e3e83f;
}

.kpi .bar-chart .bar.failed {
    background:#D691AA;
}

.kpi .bars {
    height:100%;
    width:100%;
}

.kpi-header {
    height:32px;
    margin-top:-32px;
    float:right;
}

.kpi-header .legend {
    height:6px;
    padding-left:6px;
    display:inline-block;
    opacity:.5;
    border: 1px solid #666;
}

.kpi-header .legend.passed {
    background:#b5DFb5;
}

.kpi-header .legend.failed {
    background:#E097C4;
}

.kpi-header .legend.na {
    background:#b8b828;
}

.kpi-header .legend.closed {
    background:#76BBC0;
}

.kpi .title {
    height:20px;
}
.kpi .title .total {
    float:right;
}

.bars.incomplete {
    top:0;
    position:absolute;
}

.kpi .bar {
    opacity:.6;
}

.kpi .bar-chart .bar:hover {
    opacity:1;
    outline: 1px solid #888;
}

.kpi .blank {
    background:white;
    line-height: 25px;
    padding-left:5px;
    display:block;
    color:#aaa;
    text-align: center;
}

.kpi .section.top {
    height:25px;
}

.kpi .content {
    border: 1px solid lightgray;
}

.kpi .section.bottom {
    height:20px;
    border-top:1px dotted lightgray;
    overflow:hidden;
    background: white;
    padding-left:5px;
}

.kpi .section.bottom .label div {
    display:inline-block;
}

.kpi .section.bottom .label .passed.highlight {
    background:#aDFFb1;
}

.kpi .section.bottom .label .closed.highlight {
    background:#75DAD6;
}

.kpi .section.bottom .label .na.highlight {
    background: #e3e83f;
}

.kpi .section.bottom .label .failed.highlight {
    background:#D691AA;
}


.kpi .section.bottom .label div.highlight {
    cursor: pointer;
}

.kpi .section.bottom .label div {
    line-height:14px;
    padding:0px 2px;
    color: #666;
}

.kpi .section.bottom .label span {
    color: #ccc;
}
