#orgSelector { 
	border: 3px solid #999;
	background-color: white;
}

#orgSelector .selections {
	background-color:#ddd;
	overflow:hidden;
	border-bottom: 1px solid #000;
	margin-bottom:5px;
}

#orgSelector .selections .selected { 
	background-color:white;
	border-left:1px solid #000;
	border-right:1px solid #000;
	
}

#orgSelector .selections a {
	display:block;
	float:left;
	padding:5px;
	margin-right:5px;
}

#orgSelector .selections a#closeOrgPicker {
	float:right;
	clear:right;
	margin-right:0;
	background-color:#fff;
}

#orgBrowser, #orgSearch {
	padding:5px;	
}

#orgSelector .searchedName {
	font-size:1.2em;	
}
#orgSelector .orgSearchResult {
	padding: 5px 0;
	border-bottom: 1px solid #999;
}

#orgSelector .heirarchy {
	color: #999;
}



#orgSelector .resultCount {
	padding:5px 0;
}

#orgSelector {
	width: 450px;
}
