

#linkedProductContainer {
	padding:10px 20px 10px 70px;
	background-color: #fdf1d8;
	border: 1px solid #fce1a9;
	background-image:url(../../images/safety_network_company_registered.png);
	background-repeat: no-repeat;
	background-position:  center left;
	margin-left:5px;
}


#networkSmartSearchContainer { 
	border: 2px solid #999;
	background-color:#fff;
	padding: 5px;
	max-width:500px;
}

