<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd">
               
     <context:annotation-config/>
     
	<!-- EJB EJBContainerS -->

    <bean id="productTypeEJBContainer" class="com.n4systems.ejb.legacy.wrapper.LegacyProductTypeEJBContainer"   />
    
    <bean id="productSerialEJBContainer" 	class="com.n4systems.ejb.legacy.wrapper.LegacyProductSerialEJBContainer"   />

	<bean id="optionEJBContainer"  class="com.n4systems.ejb.legacy.wrapper.OptionEJBContainer" />
    
    <bean id="userEJBContainer"   	class="com.n4systems.ejb.legacy.wrapper.UserEJBContainer"   />
    
    <bean id="unitOfMeasureEJBContainer"   	class="com.n4systems.ejb.legacy.wrapper.UnitOfMeasureManagerEJBContainer"    />
    
    <bean id="orderMappingEJBContainer"     	class="com.n4systems.ejb.legacy.wrapper.OrderMappingEJBContainer"    />
    
    <bean id="serialNumberCounterEJBContainer"     	class="com.n4systems.ejb.legacy.wrapper.SerialNumberCounterEJBContainer"    />
    
    <bean id="productCodeMappingEJBContainer"     	class="com.n4systems.ejb.legacy.wrapper.ProductCodeMappingEJBContainer"/>
    
    <bean id="persistenceEJBContainer" 		class="com.n4systems.ejb.wrapper.PersistenceManagerEJBContainer"	/>
	
	<bean id="autoAttributeEJBContainer"     	class="com.n4systems.ejb.wrapper.AutoAttributeManagerEJBContainer"    />
    
    <bean id="scheduleEJBContainer"     	class="com.n4systems.ejb.wrapper.InspectionScheduleManagerEJBContainer"    />
    
    <bean id="massUpdateEJBContainer"     	class="com.n4systems.ejb.wrapper.MassUpdateManagerEJBContainer"     />
    
    <bean id="configEJBContainer"     	class="com.n4systems.ejb.wrapper.ConfigManagerEJBContainer"    />
    
    <bean id="inspectionEJBContainer"     	class="com.n4systems.ejb.wrapper.InspectionManagerEJBContainer"    />
    
    <bean id="proofTestHandler"     	class="com.n4systems.ejb.wrapper.ProofTestHandlerEJBContainer"    />
    
    <bean id="aggregateReportEJBContainer"     	class="com.n4systems.ejb.wrapper.AggregateReportManagerEJBContainer"    />
    
    <bean id="orderEJBContainer"    	class="com.n4systems.ejb.wrapper.OrderManagerEJBContainer"    />
    
    <bean id="productEJBContainer"     	class="com.n4systems.ejb.wrapper.ProductManagerEJBContainer"    />
    <bean id="projectEJBContainer"     	class="com.n4systems.ejb.wrapper.ProjectManagerEJBContainer"    />
    
     <bean id="populatorLog"     	class="com.n4systems.ejb.legacy.wrapper.PopulatorLogEJBContainer"    />
    
</beans>