<wicket:panel>

    <div class="kpi-header">
        <span class="legend failed"></span>
        <span><wicket:message key="label.failed"/></span>
        <span class="legend closed"></span>
        <span><wicket:message key="label.closed"/></span>
        <span class="legend na"></span>
        <span><wicket:message key="label.na"/></span>
        <span class="legend passed"></span>
        <span><wicket:message key="label.passed"/></span>
    </div>

    <div wicket:id="customerEventKpiList" class="kpi">

        <div class="title">
            <div wicket:id="customerName" class="owner"></div>
            <div wicket:id="total" class="total"></div>
        </div>

        <div class="content">
            <div class="section top">
                <span wicket:id="blankSlate" class="blank"><wicket:message key="label.no_scheduled_events"/></span>
                <div wicket:id="kpiBarChart" class="bar-chart">
                    <div class="bars completed">
                        <div wicket:id="failed" class="bar failed"></div>
                        <div wicket:id="closed" class="bar closed"></div>
                        <div wicket:id="na" class="bar na"></div>
                        <div wicket:id="passed" class="bar passed"></div>
                    </div>

                    <div class="bars incomplete southwest" wicket:id="incomplete">
                    </div>
                </div>
            </div>

            <div class="section bottom">
                <div wicket:id="kpiLabel" class="label">
                    <div wicket:id="failed" class="failed"></div> /
                    <div wicket:id="closed" class="closed"></div> /
                    <div wicket:id="na" class="na"></div> /
                    <div wicket:id="passed" class="passed"></div>
                </div>
            </div>
        </div>
    </div>

</wicket:panel>



