<wicket:panel>

    <div wicket:id="customerEventKpiList" class="kpi">
        <div wicket:id="customerName" class="owner"></div>

        <div wicket:id="barChart" class="bar-chart">
            <div class="bars all-completed">
                <div wicket:id="failed" class="bar failed northeast"></div>
                <div class="tick failed"><span wicket:id="failedTickMark" class="northeast"/></div>

                <div wicket:id="closed" class="bar closed north"></div>
                <div class="tick closed"><span wicket:id="closedTickMark" class="north"/></div>

                <div wicket:id="completed" class="bar completed northwest"></div>
                <div class="tick completed"><span wicket:id="completedTickMark" class="northwest" /></div>

                <div wicket:id="completeLabel" class="bar-label complete southeast"/>
            </div>

            <div class="bars all-incomplete southwest" wicket:id="incomplete">
                <div wicket:id="incompleteLabel" class="bar-label incomplete"/>
            </div>
        </div>

        <div><a wicket:id="total" class="total"><span wicket:id="label"/></a></div>

    </div>

</wicket:panel>



