<html xmlns:wicket="http://wicket.apache.org">
<wicket:panel>
    <div class="loto-printout-modal">
        <p>
            <wicket:message key="message.download_change_name"/>
        </p>
        <form wicket:id="printForm">
            <p>
                <span id="label"><wicket:message key="label.downloadname"/></span>
                <span class="eg-color"><wicket:message key="message.downloadname"/></span>
            </p>
            <input class="report-name" type="text" wicket:id="name"/>
            <div class="form-actions">
                <input type="submit" wicket:message="value:hbutton.savetomydownloads" wicket:id="saveAndGoToDownloadsButton">
                <wicket:message key="label.or"/>
                <a wicket:id="saveAndCloseLink"><wicket:message key="hbutton.saveclosemessage"/></a>
            </div>
        </form>
    </div>
</wicket:panel>
</html>