<html xmlns:wicket="http://wicket.apache.org">
<wicket:panel>
    <div wicket:id="modal"/>
    <div class="split-btn">
        <a wicket:id="primaryActionLink" class="btn-secondary">
            <label wicket:id="label"/>
        </a>
        <div wicket:enclosure="deleteLink" class="dropdown">
            <button class="btn-secondary">Toggle Dropdown</button>
            <ul class="pull-right">
                <li>
                    <a wicket:id="deleteLink">
                        <wicket:message key="label.delete"/>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div wicket:enclosure="printOptionsContainer" class="dropdown">
        <button class="btn-secondary">Print</button>
        <ul wicket:id="printOptionsContainer" class="pull-right">
            <li>
                <a wicket:id="shortLink">
                    <wicket:container wicket:id="label"/>
                </a>
            </li>
            <li>
                <a wicket:id="longLink">
                    <wicket:container wicket:id="label"/>
                </a>
            </li>
        </ul>
    </div>

</wicket:panel>
</html>