<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
     
	<!-- EJB EJBContainerS -->

    <bean id="productTypeEJBContainer" class="com.n4systems.ejb.legacy.wrapper.LegacyAssetTypeEJBContainer"   />
    
    <bean id="productSerialEJBContainer" 	class="com.n4systems.ejb.legacy.wrapper.LegacyAssetEJBContainer"   />

	<bean id="optionEJBContainer"  class="com.n4systems.ejb.legacy.wrapper.OptionEJBContainer" />
    
    <bean id="userEJBContainer"   	class="com.n4systems.ejb.legacy.wrapper.UserEJBContainer"   />
    
    <bean id="unitOfMeasureEJBContainer"   	class="com.n4systems.ejb.legacy.wrapper.UnitOfMeasureManagerEJBContainer"    />
    
    <bean id="orderMappingEJBContainer"     	class="com.n4systems.ejb.legacy.wrapper.OrderMappingEJBContainer"    />
    
    <bean id="serialNumberCounterEJBContainer"     	class="com.n4systems.ejb.legacy.wrapper.SerialNumberCounterEJBContainer"    />
    
    <bean id="productCodeMappingEJBContainer"     	class="com.n4systems.ejb.legacy.wrapper.AssetCodeMappingEJBContainer"/>
    
    <bean id="persistenceEJBContainer" 		class="com.n4systems.ejb.wrapper.PersistenceManagerEJBContainer"	/>
	
	<bean id="autoAttributeEJBContainer"     	class="com.n4systems.ejb.wrapper.AutoAttributeManagerEJBContainer"    />
    
    <bean id="scheduleEJBContainer"     	class="com.n4systems.ejb.wrapper.EventScheduleManagerEJBContainer"    />
    
    <bean id="massUpdateEJBContainer"     	class="com.n4systems.ejb.wrapper.MassUpdateManagerEJBContainer"     />
    
    <bean id="configEJBContainer"     	class="com.n4systems.ejb.wrapper.ConfigManagerEJBContainer"    />
    
    <bean id="inspectionEJBContainer"     	class="com.n4systems.ejb.wrapper.EventManagerEJBContainer"    />
    
    <bean id="proofTestHandler"     	class="com.n4systems.ejb.wrapper.ProofTestHandlerEJBContainer"    />
    
    <bean id="aggregateReportEJBContainer"     	class="com.n4systems.ejb.wrapper.AggregateReportManagerEJBContainer"    />
    
    <bean id="orderEJBContainer"    	class="com.n4systems.ejb.wrapper.OrderManagerEJBContainer"    />
    
    <bean id="productEJBContainer"     	class="com.n4systems.ejb.wrapper.AssetManagerEJBContainer"    />
    
    <bean id="projectEJBContainer"     	class="com.n4systems.ejb.wrapper.ProjectManagerEJBContainer"    />
    
    <bean id="populatorLog"     	class="com.n4systems.ejb.legacy.wrapper.PopulatorLogEJBContainer"    />
    
    
    <!--  FROM FIELDID ADMIN -->
    <bean id="userSecurityManager" class="com.n4systems.fieldidadmin.managers.UserSecurityManagerImpl" />
	<bean id="importManager" class="com.n4systems.importing.ImportManagerEJBContainer"/>
	
	<!-- bean id="configManager" class="com.n4systems.ejb.wrapper.ConfigManagerEJBContainer" />
	<bean id="persistenceManager" class="com.n4systems.ejb.wrapper.PersistenceManagerEJBContainer" />
	<bean id="assetTypeManager" class="com.n4systems.ejb.legacy.wrapper.LegacyAssetTypeEJBContainer" />
	<bean id="assetManager" class="com.n4systems.ejb.legacy.wrapper.LegacyAssetEJBContainer" />
	<bean id="optionManager" class="com.n4systems.ejb.legacy.wrapper.OptionEJBContainer" />
	<bean id="userManager" class="com.n4systems.ejb.legacy.wrapper.UserEJBContainer" />
	<bean id="orderMappingManager" class="com.n4systems.ejb.legacy.wrapper.OrderMappingEJBContainer" />
	<bean id="serialNumberCounterManager" class="com.n4systems.ejb.legacy.wrapper.SerialNumberCounterEJBContainer" />
	<bean id="productCodeMappingMnager" class="com.n4systems.ejb.legacy.wrapper.AssetCodeMappingEJBContainer" />
	<bean id="importManager" class="com.n4systems.importing.ImportManagerEJBContainer"/-->
    
</beans>
