<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<bean id="userSecurityManager" class="com.n4systems.fieldidadmin.managers.UserSecurityManagerImpl" />
	<bean id="configManager" class="com.n4systems.ejb.wrapper.ConfigManagerEJBContainer" />
	<bean id="persistenceManager" class="com.n4systems.ejb.wrapper.PersistenceManagerEJBContainer" />
	<bean id="productTypeManager" class="com.n4systems.ejb.legacy.wrapper.LegacyProductTypeEJBContainer" />
	<bean id="productSerialManager" class="com.n4systems.ejb.legacy.wrapper.LegacyProductSerialEJBContainer" />
	<bean id="optionManager" class="com.n4systems.ejb.legacy.wrapper.OptionEJBContainer" />
	<bean id="userManager" class="com.n4systems.ejb.legacy.wrapper.UserEJBContainer" />
	<bean id="orderMappingManager" class="com.n4systems.ejb.legacy.wrapper.OrderMappingEJBContainer" />
	<bean id="serialNumberCounterManager" class="com.n4systems.ejb.legacy.wrapper.SerialNumberCounterEJBContainer" />
	<bean id="productCodeMappingMnager" class="com.n4systems.ejb.legacy.wrapper.ProductCodeMappingEJBContainer" />
	<bean id="importManager" class="com.n4systems.importing.ImportManagerEJBContainer" />

</beans>

