.fileUpload {
	width:100%;
	overflow:hidden;
}

.fileUploadShow {
	width:100%;
	overflow:hidden;
	margin: 5px 0px;
	padding:5px 15px 5px 30px;
}

.fileUploadShow label {
	overflow: hidden;
}

.fileUploadShow span pre {
	margin-left: 5px;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	font-size: 1em;
}

.fileUpload div {
	overflow: hidden;
}

.fileUpload div label {
	float:left;
	width:150px;
	padding:5px 15px 5px 0;
	display:block;
}

.fileUpload div span {
	float:left;
	padding:5px 0;
	display:block;
}

.limitWarning {
	background-color: #FFEBEB;
	color: #FF0000;
	padding: 10px;
	text-align: center;
	font-weight: bold;
}	

.uploaded{
	padding-top: 10px;
}

.commentsLabel{
	font-weight: bold;
	padding: 5px 99px 5px 5px;
}

.commentContainer{
	padding-top:5px;
}

.actions .uploadActions{
	padding-left: 5px;
}

div.uploadAction, #uploadedfiles div{
	border-top: none;
}

div.uploadAction{
	padding-top: 10px;
}

.uploadAction a{
	display:block;
	width: 80px;
	position: relative;
	top: 4px;
	padding-left: 30px;
	font-size: 14px;
	height: 24px;
	background-image: url("../../images/attachment.png");
	background-repeat: no-repeat;
	background-position: left -7px;
	}
