.fileUpload {
	width:100%;
	overflow:hidden;
}

.fileUploadShow {
	width:100%;
	overflow:hidden;
	margin: 5px 0px;
	padding:5px 15px 5px 30px;
}

.fileUploadShow label {
	overflow: hidden;
}

.fileUploadShow span pre {
	margin-left: 5px;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	font-size: 1em;
}

.limitWarning {
	background-color: #FFEBEB;
	color: #FF0000;
	padding: 10px;
	text-align: center;
	font-weight: bold;
}	

.commentsLabel{
	font-weight: bold;
	padding: 5px 99px 5px 5px;
}

.commentContainer{
	padding-top:10px;
}

.commentContainer textarea{
	margin-left: 20px;
	height: 50px;
	width: 270px;
}


.actions .uploadActions{
	padding-left: 5px;
}

div.uploadAction, #uploadedfiles div{
	border-top: none;
}

div.uploadAction{
	padding-top: 5px;
}

.uploadAction a{
	display:block;
	width: 100px;
	position: relative;
	top: 4px;
	padding-left: 30px;
	font-size: 14px;
	height: 24px;
	background-image: url("../../images/attachment.png");
	background-repeat: no-repeat;
	background-position: left -7px;
	}

.fileUploadShow{
	width: auto;
}

p.fileUploadShow label{
	padding-right: 0; 
	width: auto;
	padding: 5px;
}

.crudForm label.defaultImage {
	padding: 20px 0;
	width: 60px;
	background-repeat: no-repeat;
	background-image: url("../../images/default-filetype.png");
	background-position: 7px -3px;
}

.previewImageLabel {
	margin-left: 20px;
}

.previewImageDisplay {
	width: 20px;
}

.previewImageDisplay img{
	position: absolute;
}

.imageUploadPreview .assetImageLabel, .previewImageLabel .attachmentLabel{ 
	float: left;
	display: block;
	width: 220px;
	padding-right: 10px;
}


.imageUploadPreview .ellipsis_text, .previewImageLabel .ellipsis_text{
	width: 200px;
}

.imageUploadPreview span a{ 
	float: right;
	display: block;
}

.attachementsPreview {
	padding: 10px 5px;
}

.attachementsPreview span{
	padding-right: 7px;
}

.attachementsPreview{
	border-bottom:1px dotted #CCCCCC;
}