.orgSelector {
	border: 3px solid #999;
	background-color: white;
	z-index:1000;
}

.orgSelector .selections {
	background-color:#ddd;
	overflow:hidden;
	border-bottom: 1px solid #000;
	margin-bottom:5px;
}

.orgSelector .selections .selected a {
	background-color:white;
	border-left:1px solid #000;
	border-right:1px solid #000;
}

.selections ul {
    display:inline;
}

.selections li.last {
    padding:0 0 0 0;
    float:right;
    clear:right;
    background-color:#fff;
}

.selections li.last a {
    padding-right:0;
}

.orgSelector .selections a {
	display:block;
	float:left;
    padding: 2px 6px 2px 6px;
    margin-right: 3px;
}

span.closeImage a {
	float:right;
	clear:right;
	margin-right:0;
	background-color:#fff;
}

.crudForm .infoSet span.closeImage {
    padding:0;
}

.orgBrowser, .orgSearch {
	padding:5px;
}

.orgSelector .searchedName {
	font-size:1.2em;
}
.orgSelector .orgSearchResult {
	padding: 5px 0;
	border-bottom: 1px solid #999;
}

.orgSelector .hierarchy {
	color: #999;
    line-height: normal;
}

.orgSelector .resultCount {
	padding:5px 0;
}

.orgSelector {
	width: 450px;
	z-index:1000;	
}


.orgBrowser {
	overflow:hidden;
}

.orgBrowserForm {
	float:left;
	width:300px;
}

.orgBrowserLoading {
	float:right;
	margin-right:50px;
	margin-top: 60px;
}

.orgPickerLoading {
	padding-left: 5px;
}

.orgBrowserForm {
	float:left;
	width:300px;
}

.orgBrowserForm .infoSet label {
    padding-top:0;
    padding-bottom:0;
    padding-left:0;
    padding-right:0;
}

.orgBrowserForm .infoSet {
    padding-top:0;
    padding-bottom:0;
    padding-left:0;
    padding-right:0;
}

.pageContent .selections li span {
    width: auto;
}

.selections li {
    display: block;
    float:left;
    margin:0;
    padding:0;
}

.orgSelector input[type="text"] {
	padding: 4px;
	border: 1px solid #9C9C9C;
	color: #555555;
	width: 250px;
}

.orgBrowserForm .infoSet label {
    float:left;
    display:block;
    line-height:18px;
    color:#333;
    overflow:hidden;
    width:120px;
    padding:0;
    font-weight:bold;
    text-align:left;
    font-size:14px;
}

.orgBrowserForm select {
    border: 1px solid #9c9c9c;
    width:260px;
    padding:4px;
}

.orgBrowserForm span.fieldHolder {
    padding: 5px 0px;
    width: 100%;
}