/*--------------------------------------------- 
  Error/warning messages, notes, notifications
-----------------------------------------------*/
.error {
  border: 1px solid #FFC2C2;
  background-color: #FFEBEB;
  font-size: 13px;
}
.warning {
  border: 1px solid #e5e500;
  background: #ffffb2;
  font-size: 13px;
}
.info {
  border: 1px solid #dddddd;
  background: #f1f1f1;
  font-size: 13px;
}
.success {
  border: 1px solid #5fb336;
  background: #e3f4db;
  font-size: 13px;
}
div.info,
div.success,
div.warning,
div.error {
  padding: 20px;
  margin: 10px 0;
  font-size: 14px;
}
div.info p,
div.success p,
div.warning p,
div.error p {
  margin-bottom: 0;
}
div.error {
  padding: 10px 15px;
}
div.info h3 {
  font-weight: 300;
  font-size: 24px;
  border: none;
}
div.info h3 strong {
  font-weight: normal;
}
div.info p {
  color: #666666;
}
.note {
  display: inline-block;
  font-style: italic;
  color: #666666;
  font-size: 12px;
}
label + .note {
  margin-left: 12px;
}
/* Top Feedback panel - success messaging
------------------------------------------*/
.feedback-panel .success {
  padding: 15px;
}
.feedback-panel .success ul {
  list-style-type: none;
  text-align: center;
  font-weight: 700;
}
#contentHeader div.success {
  padding: 0;
  border: none;
}
#pageContent div.error {
  font-size: 13px;
}
/* FID Feedback panel - error messaging
----------------------------------------*/
.error h3 {
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  border-bottom: none;
}
.error ul {
  margin-left: 15px;
}
.error ul span.errorMessage {
  color: #e63300;
}
