/*----------------------------------------- 
  CUSTOM STYLES FOR ALL PAGES UNDER PLACES
-------------------------------------------*/
.text-search {
  margin-left: 5px;
}
.action-bar {
  margin-bottom: 30px;
}
.column-custom-left {
  width: 375px;
  float: left;
  margin-right: 30px;
}
.tree-view ins {
  text-decoration: none;
}
.tree-view ul li {
  padding-top: 4px;
  list-style-type: none;
}
.tree-view .level-one {
  padding: 8px 0;
  border-bottom: 1px solid #dddddd;
}
.tree-view .level-two {
  margin-left: 20px;
  border-top: 1px dashed #dddddd;
  margin-top: 5px;
}
.tree-view .level-three,
.tree-view .level-four {
  margin-left: 30px;
}
.tree-view .add-place {
  font-size: 13px;
  float: right;
  cursor: pointer;
  text-decoration: underline;
}
.tree-view .add-place:hover {
  text-decoration: none;
}
.column-custom {
  width: auto;
  overflow: auto;
}
.column-custom .two-columns {
  padding-top: 8px;
}
.column-custom .two-columns .form-horizontal label {
  width: 40%;
}
.column-custom .two-columns input[type="text"],
.column-custom .two-columns select,
.column-custom .two-columns textarea,
.column-custom .two-columns .input-combo {
  width: 58%;
}
.column-custom .two-columns .text-block {
  margin-left: 40%;
}
.add-place-form .primary-selection label {
  width: 19.5%;
}
.add-place-form .primary-selection .chzn-container {
  width: 286px!important;
}
.list-view tr {
  height: 33px;
}
.place-summary .attachments {
  padding-bottom: 20px;
  display: block;
}
.place-event .event-panel table {
  position: relative;
}
.place-event .event-panel .navigation {
  position: absolute;
  right: 0;
  top: -37px;
  border-bottom: none;
}
.place-event .event-panel .navigator {
  float: left;
}
@media (max-width: 1150px) {
  .two-columns {
    width: 100%;
  }
}
