.column {
    width: 500px;
    float: left;
    padding-bottom: 100px;
}

.widget {
    margin: 0 1em 1em 0;
    line-height: 19px;
}

.widget-header {
    padding-bottom: 4px;
    padding-left: 20px;
    margin: 0.1em 0.1em 0 0.1em;
}

.widget-header:hover {
    cursor:pointer;
}

.widget-header .ui-icon {
    float: right;
}

.widget .widget-content {
    padding: 10px 20px 20px 20px;
    margin: 0 0.1em 0.1em 0.1em;
    font-size: 12px;
    color: #666;
}

.widget .widget-content .small-text {
    font-size:11px;
    color:#666;
}

.widget .widget-content a {
    color:#346ca1;
    text-decoration:none;
    font-weight:normal;
}

.widget-buttons {
    display: block;
    float: right;
    padding-right:20px;
}

.pageContent .ui-sortable-placeholder {
    border: 3px dashed #e3e3e3; visibility: visible !important; height: 50px !important;
    background: #fdfdfd;
    margin-right:13px;
    margin-bottom:13px;
}

.ui-sortable-placeholder * {
    visibility: hidden;
}

.widget .ui-widget-header {
    background:#f7f7f7;
    border:none;
    padding: 5px 0 4px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #585858;
}

.widget .widget-content {
    background:#f7f7f7;
}

img.widget-drag-image {
    display:block;
    padding-left:230px;
    padding-bottom:4px;
}

.addWidgetForm {
    text-align:right;
    display:block;
    float:right;
    width:800px;
    padding:2px 10px 6px 0;
}

.addWidgetForm select {
    padding:3px;
}

.column .ui-widget-content {
    border: 1px solid #e3e3e3;
}

.flotChart { 
	height : 200px;
}

.widgetContent { 
}

.assetsStatusWidget { 
	height : 200px;
}

div.chartTooltip {
    position: absolute;
    display: none;
    border: 2px solid #777777;
    text-align: center;
    padding: 4px;
    background-color: #fff;
    opacity: 0.80;
}

div.loadingText {
    font-size:16px;
    color:#cccccc;
    text-align:center;
    font-weight:bold;
    padding-bottom:20px;
}

.configureMessage {
    font-size:16px;
    font-weight:bold;
    color:#999999;
    text-align:center;
    padding:5px 0 20px;
}

.configureArrow {
	margin-left: 375px;
}

div.chartButtonsContainer {
    width:auto;
    float:right;
    padding: 5px 0 8px 0;
    font-size: 11px;
}

.widget .widget-content a.chartButton {
    color:#fff;
}

a.chartButton {
    height:20px;
    width:54px;
    background-color: #888888;
    margin-left: 5px;
    padding-top:2px;
    display:block;
    float:left;
    overflow:hidden;
    text-align:center;
}

.widget .widget-content a.selected {
    background-color: #60986B;
}

div.buttonsLabel {
    display: block;
    float: left;
}

.chartButtonsContainer .wicket-ajax-indicator {
    display:block;
    float:left;
}

.widgetConfig { 
	display:none;
}