.headerPanel {
    padding-bottom: 15px;
}

.selectLayout {
    width: 860px;
}

.selectLayout h2{
    font-size: 2em;
}

.selectLayout h2 a{
    text-decoration:none;
    color: #999;
}

.headerPanel, .selectLayout, .configureLayout{
    float:left;
}

.configureLayout {
    width: 165px;
}

.configureLayout a.mattButton {
    margin-right: 5px;
}

.downArrow {
    vertical-align: middle;
    margin-left: 3px;
}

.layoutList {
    margin-left: 132px;
    padding: 10px;
    border: 1px solid #DDDDDD;
    box-shadow:5px 0 2px -5px #CCCCCC, -5px 0 2px -5px #CCCCCC, 0 2px 5px 0 #CCCCCC;
    width: 220px;
    position: absolute;
    top: 30px;
    background: white;
    z-index: 10;
}

.layoutList label {
    font-size: 1.2em;
}

.layoutItem {
    line-height: 30px;
}


.layoutItem a {
    color: #777;
    font-size: 1.2em;
    text-decoration: none;
}