.manage_title {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    padding-bottom: 20px;
}

.manage_title h2 {
    font-size: 2em;
    margin-left: 55px;
    padding: 10px 0;
}

.layoutListView {
    margin: 0 15px;
    padding: 20px 5px;
    border-bottom: #CCC solid 1px;
}

.layoutListView * {
    float: left;
}

.layoutListView label {
   font-size: 1.3em;
}

.layoutListView a.mattButton, .addAction a.mattButton{
    float: none;
    margin-left: 5px;
}

.form input[type="text"] {
    border: 1px solid #9C9C9C;
    color: #555555;
    padding: 5px;
}

.layoutListView .form input[type="text"] {
    width: 250px;
}

.addAction {
    padding: 20px 5px 0 5px;
    margin: 0 15px;
}

.addAction .form input[type="text"] {
    width: 525px;
    margin-top: 3px;
}

.addAction a img{
    vertical-align: middle;
    padding-right: 5px;
}

.layoutView, .layoutView label {
    width: 560px;
}

.layoutListView a.rename_only {
    margin-left: 70px;
}

.closeLink {
    font-size: 1.2em;
    position: absolute;
    bottom: 10px;
    right: 35px;
}

.listViewContainer{
    overflow-y: auto;
    max-height: 400px
}

* .listViewContainer {
   height: expression( this.scrollHeight > 399 ? "400px" : "auto" ); /* sets max-height for IE */
}