.widgetConfiguration {
    font-size: 12px;
    height:100%;
}

.widgetConfiguration h2 {
    font-size:15px;
    padding-bottom:5px;
}  

.widgetConfiguration form fieldset {
	width : 100%;
	padding : 10px 0px 10px 0px;
}

.widgetConfiguration form fieldset .row { 
	clear : both; 
	padding-top : 10px;
    overflow: hidden;
}

.widgetConfiguration .largeInstruction {
    color:#999999;
    padding-top: 6px;
    padding-left: 50px;
    font-size:10px;
}

.widgetConfiguration form fieldset .row>label {
  float: left;
  width: 130px;
  text-align: right;
  padding-right : 10px;
  font-weight:bold;
}

.widgetConfiguration .actionsRow {
    padding-top:22px;
    padding-left:138px;
}

.widgetConfiguration form fieldset .row .value {
  float: left;
  text-align: left;
} 

.widgetConfiguration form fieldset legend {
	display : none; /* just for readability, semantic html purposes */
}

.widgetConfiguration input[type='submit'] {
    margin-right:2.5px;
    font-size:1.2em;
    padding: 0 2px;
}

.widgetConfiguration input[type='text'] {
    padding:4px;
    border: 1px solid #999;
    width:180px;
}

.widgetConfiguration select {
    width:180px;
    padding:2px;
}

.widgetConfiguration .orgNameLabel {
    display:block;
    float:left;
    padding-top:10px;
}

.widgetConfiguration .title {
	padding : 5px 0px 5px 20px;
	font-size : 13px;
	border-bottom : 1px dotted #dddddd;
}

.orgsListContainer {
    display:block;
    overflow:hidden;
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 140px;
}

.removeOrgImage {
    display:block;
    float:left;
    padding-top: 10px;
    padding-right: 10px;
}

.orgPickerContainer {
    display:block;
    float:left;
    overflow:hidden;
}

.orgSelector {
	width: 300px;
	z-index:1000;	
}

.orgListItem {
    padding-top:5px;
    clear:both;
}

.configContainer {
	position : relative;
    overflow:hidden;
}

.configContainer .config {
	height : 100%;
	width : 100%;
	position : absolute;
	left: 0;
	top : 0;
	background-color:#f7f7f7;
    margin-left:600px;
}

/* TODO DD : these should move into the widgets own .CSS file.   e.g. news.css, jobsassigned.css etc.. */ 

.jobsAssignedConfig { 
	max-height : 140px;
}

.commonLinksConfig { 
	max-height : 155px;
}

.eventKpiConfig { 
	max-height : 275px;
}

.newsConfig { 
	max-height : 155px;
}

.assetsStatusConfig {
	max-height : 250px;
}

.completedEventsConfig {
	max-height: 250px;
}

.assetsIdentifiedConfig {
	max-height : 250px;
}

.upcomingScheduledEventsConfig {
	max-height : 250px;
}
