.widgetConfiguration {
    font-size: 12px;
    background-color : #ffffff;
}

.widgetConfiguration h2 {
    font-size:15px;
    padding-bottom:10px;
}

.widgetConfiguration .leftColumn {
    padding-top: 2px;
    padding-right:12px;
    text-align: right;
    display:block;
    float:left;
    width:30%;
}

.widgetConfiguration .formAction {
    margin-top:15px;
    width:96%;
}

.widgetConfiguration input[type='submit'] {
    margin-right:2.5px;
    font-size:1.2em;
    padding: 0 2px;
}

.widgetConfiguration .orgNameLabel {
    display:block;
    float:left;
    padding-top:10px;
}

.orgsListContainer {
    display:block;
    overflow:hidden;
    padding-top: 10px;
    padding-bottom:10px;
}

.removeOrgImage {
    display:block;
    float:left;
    padding-top: 10px;
    padding-right: 10px;
}

.orgPickerContainer {
    display:block;
    float:left;
    overflow:hidden;
}

.orgListItem {
    padding-top:5px;
    clear:both;
}

.widgetConfiguration input[type='text'] {
    padding:2px;
    border: 1px solid #999;
}


.configContainer {
	position : relative; 
	overflow : hidden;
}

.configContainer .config {
	height : 800px;
	width : 100%;
	position : absolute;
	left: 0;
	top : 0;
	background-color:#ffffff;
}

