@import "../components/variables.less";
@import "../components/mixins.less";

/*--------------------------------------------- 
  Error/warning messages, notes, notifications
-----------------------------------------------*/

// For inline messages
.error {
	border: 1px solid #FFC2C2;
	background-color: #FFEBEB;
	font-size: @small-font-size;
}
.warning {
	.border-bg(darken(@yellow, 40%), 40%);
}
.info {
	.border-bg(@gray, 8%);
}
.success {
	.border-bg(@green, 45%);
}

// Block messages
div.info,
div.success,
div.warning,
div.error {
	padding: 20px;
	margin: 10px 0;
	font-size: @base-font-size;

	p {
		margin-bottom: 0;
	}
	&:first-of-type {
		margin-top: 0;
	}
}
div.error {
	padding: 10px 15px;
}
div.info {
	h3 {
		font-weight: @light;
		font-size: @xlarge-font-size;
		border: none;

		strong {
			font-weight: normal;
		}
	}
	p {
		color: @gray-dark;
	}
}

.note {
	display: inline-block;
	font-style: italic;
	color: @gray-dark;
	font-size: @xsmall-font-size;
}
	label + .note {
		margin-left: 12px;
	}


/* Top Feedback panel - success messaging
------------------------------------------*/
.feedback-panel .success {
	padding: 15px;

	ul {
		list-style-type: none;
		text-align: center;
		font-weight: @bold;
	}
}


/* FID Feedback panel - error messaging
----------------------------------------*/
.error {
	h3 {
		border-bottom: none;
	}
	ul {
		margin-left: 15px;

		span.errorMessage {
			color: @red;
		}
	}
}
























