/*--------------------------------------- 
  DROPDOWNS - for buttons and nav lists
-----------------------------------------*/

// Defaults as a horizontal dropdown
.dropdown,
.dropup {
	position: relative;
	display: inline-block;
		
	a {
		text-decoration: none;
	}
	&:hover > ul {
		display: block;
	}
	ul {
		display: none;
		list-style-type: none;
		padding: 0;
		border: 1px solid @gray-medium;
		position: absolute;
		left: 0;
		z-index: @z-index-dropdown;
		background: #fff;
		min-width: 100%;
		.shadow(0px 6px 20px -10px @gray-dark);
		
		li a {
			padding: 8px 12px;
			display: inline-block;
			white-space: nowrap; //keeps the text from wrapping, the width of the dropdown will be as long as the longest line of copy
			width: 100%; //makes the link stretch all the way across to expand hover area

			&:hover {
				background: @gray-light;
			}
		}
		.divider {
			border-top: 1px solid @gray-medium;
		}
		&.pull-right {
			left: auto;
			right: 0;
			text-align: right;
		}
	}

	// Makes the dropdown size relative to the button size
	.btn-sml + ul {	
		li a {
			padding: 6px 10px;
			font-size: @small-font-size;
		}
	}
	&.hide {
		display: none;
	}
}

// aligns the dropdown below
.dropdown {
	ul {
		top: 100%;	
	}
	[class^="btn"]{
		margin-bottom: 1px;
	}
}

// aligns the dropdown above
.dropup {
	ul {
		bottom: 100%;
		.shadow(0px -4px 20px -10px @gray-dark);
	}
	[class^="btn"]{
		margin-top: 1px;
	}
}

// Dropdown within a dropdown
// Secondary dropdown flies out to the right
.dropdown-secondary {
	position: relative;

	ul {
		top: -1px;
		left: 100%;
		min-width: inherit;
	}
	&:hover {
		> a {
			background: @gray-light;
		}
		ul {
			display: block;
		}
	}
	> a:after {
		font-family: @fontello;
		content: '\00BB';
		padding-left: 4px;
	}

	// Right floated dropdown but secondary
	// flies out to the left
	.pull-right & {
		ul {
			right: 100%;
			left: auto;
		}
		> a:after {
			display: none;
		}
		> a:before {
			font-family: @fontello;
			content: '\00AB';
			padding-right: 4px;
		}
	}
}

// Dropdown with icon only
.dropdown.icon {
	padding: 8px 8px 10px;
	cursor: pointer;

	[class^="fontello-"]:before {
		font-size: @large-font-size;
	}
	// Changes colour of icon on hover
	&:hover [class^="fontello-"]:before {
		color: @blue;
	}
}
