@import "../variables.less";
@import "../mixins.less";

/*--------------------------------------- 
  GLOBAL HEADER STYLES
-----------------------------------------*/
.global-header {
	//position: relative;
	position: fixed;
	width: 100%;
	z-index: @z-index-header;
	background: #fff;

	.tenant-logo {
		padding: 11px 0 7px;

		img {
			height: 55px;	
		}
	}

	// Shared styles for navigation list
	.nav-list {
		font-size: 0; // Removes default space from between list items (caused by line break) when using display: inline-block; font-size to be redeclared in <li>.
	
		> li {
			display: inline-block;
			font-size: @base-font-size;

			> a {
				display: inline-block;
			}
		}
		.dropdown {
			> a:after,
			> span:after {
				.fontello-icon('\e82d');
				font-size: @small-font-size;
				padding-right: 0;
			}
			&:hover > a:after,
			&:hover > span:after  {
				content: '\e830';
				padding-right: 0;
			}
			ul li {
				border-top: 1px solid @gray-light;
				
				a {
					color: @gray-darkest;
				}
				&:hover > a {
					color: @red;
				}
			}
		}
	}
	
	// top nav - user specific
	.nav-user {
		text-align: right;
		position: absolute;
		top: 0;
		width: 100%;
		height: 75px;
		z-index: @z-index-top;

		.nav-list {
			padding-top: 10px;

			> li {
				border-left: 1px solid @gray-medium;
				font-size: 13px;

				&:first-child {
					border: none;
				}
				> span {
					display: inline-block;
					margin-right: 10px;
					color: @red;

					&:after {
						color: @gray-dark;
					}
				}
				> a {
					padding: 0 10px;
					color: @red;

					&:hover {
						color: @gray-darkest;
					}
				}
			}
		}
		li.username {
			> a {
				padding-left: 0;
			}
			// ul {
			// 	min-width: inherit;
			// 	right: 2px;
			// 	left: auto;
			// }
		}

		//My Saved items overrides
		.saved-items {
			#mySavedItemsLink {
				padding-left: 10px;
				color: @red;

				&:after {
					font-family: "fontello", sans-serif;
					content: '\e82d';
					padding-left: 4px;
					color: @gray-dark;
				}
			}
			.downArrow {
				display: none;
			}
	
			#mySavedItemsBox {
				right: 9px;

				.manageLinkSection {

					&:hover {
						background-color: #f0f0f0;
					}
					a {
						color: @blue;
						line-height: 32px;
						padding-right: 14px;
					}
				}
				.savedItemContainer a {
					color: @gray-darkest;
				}
			}
		}
	}
	
	// main nav specific css
	.nav-main {
		background: @gray-dark;
		.shadow(0px 4px 8px -4px @gray-dark);
		
		.nav-list {
			float: left;

			> li > a {
				border-top: 2px solid transparent;
				color: @gray-light;
				padding: 10px 14px;
			}
			> li:hover > a {
				border-top: 2px solid @red;
				background: lighten(@gray, 2%);
				color: @gray-darkest;
			}
			.dropdown > ul {
				left: -1px;
			}
		}
		.fontello-home:before {
			vertical-align: baseline;
			padding-right: 0;
		}		
		.search {
			float: right;

			input[type="text"] {
				width: 230px;
				border: 1px solid #999;
				margin: 5px 0;
			}
		}
		
	}
}


/*--------------------------------------- 
  MEDIA QUERIES for the global header
-----------------------------------------*/
@media (max-width: 1150px) {
	.global-header {
		.nav-main .nav-list {
			> li > a {
				padding-left: 10px;
				padding-right: 10px;
			}
			.dropdown ul li a {
				width: 170px;
				white-space: normal;
			}
		}
		.search-box {
			width: 215px;

			input {
				width: 195px;
			}
		}
	}	
}






