//---------------------------
// PAGE LAYOUT
//---------------------------
// Layout rules divide the page into sections and defines page structure.


// Applies a natural box layout model to all elements. 
// Padding and border won't affect the width of the box.
* {  
	.box-sizing(border-box);
}

// Horizonal line used to separates sections of the page
// ex. Page title and page content
hr {
	border: 0;
	border-top: 1px solid @gray-medium;
	margin: 0;
	clear: both;
}

header {
	.clearfix;
	
	hr {
		margin-bottom: 15px;
	}
}

//Sub heading container, immediately follows the <h1>
.page-sub-header {
	margin-bottom: 4px;
}

// The <main> element wraps all the content on the page excluding the global header, main site navigation and footer.
// .content-wrap can be used for center aligning page content when the parent container (<main>) needs to span 100% of the page 
// (ex. adding a background color that spans across the viewport).
main,
.content-wrap {
	max-width: 1400px;
	width: 95%;
	margin: 0 auto;
	.clearfix;
	position: relative;
	// background: url(../img/_temp/grid.png) repeat-y;
	// background-size: 100%;
}
main {
	margin-bottom: 40px;
	padding-top: 125px;

	&.wide {
		max-width: 100%;
	}
}

// Use to group content within a page.  Should contain a natural heading, otherwise, use a <div>
section {
	margin-bottom: 25px;
}

// Used to group action items, such as buttons, together.
.action-group,
.action-bar {
	.clearfix;
}

// Single page heading
.page-header {
	position: relative;

	.action-group {
		position: absolute;
		bottom: 8px;
		right: 0;
	}
	.btn-back {
		vertical-align: top;
		margin-top: 18px;
	}
}

// Single page content
.page-content {
	.clearfix;

	> hr {
		margin-bottom: 15px;
	}

	.action-group {
		margin-bottom: 4px;
	}
}


// Page columns
// ---------------

// Sidebar style column
.column-left,
.column-right {
	.width(4,3);
	float: left;

	.upload {
		margin-bottom: 40px;

		p {
			background: @gray-light;
			border: 1px solid @gray-medium;
			padding: 50px 20px;
			margin-bottom: 2px;
			text-align: center;
		}
	}
	//add this class to use a smaller sidebar
	&.narrow {
		.width(3,2);
	}
}
.column-left {
	margin-right: @gutter;
}
.column-right {
	margin-left: @gutter;
}

// Second column used with the above sidebar style columns
.column-wide {
	.width(8,7);
	float: left;

	//add this class when using a smaller sidebar
	&.narrow {
		.width(9,8);
	}
}

// Two columns - equal width
.columns-two {
	.width(6,5);
	float: left;

	&:nth-of-type(2n+1) {
		margin-right: @gutter;
	}
	&.narrow {
		// Form overrides for narrow styles
		label {
			width: 30%;
		}
		input[type="text"], 
		select, 
		textarea, 
		.input-combo {
			width: 65%;
		}
		.chzn-container {
			width: 65%!important;
		}
		.text-block {
			margin-left: 30%;
		}
	}
}

// Fixed width sidebar
.column-left,
.column-right {
	&.fixed {
		.width-fixed(4,3);
	}
	&.narrow.fixed {
		.width-fixed(3,2);
	}
}
.column-wide.fixed {
	width: auto;
	overflow: auto;
	float: none;
}


//---------------------------
// MEDIA QUERIES
//---------------------------
@media (max-width: 1100px) {
	main,
	.content-wrap {
		min-width: 980px;
	}
	.columns-two {
		// Collapses 2 equal width & narrow columns
		// to one column for smaller resolutions
		&.narrow {
			width: 100%;
		}
	}
}

