/*--------------------------------------- 
  IMAGES, VIDEO AND OTHER MEDIA FILES
-----------------------------------------*/


/* THUMBNAILS with description
---------------------------------*/
figure {
	overflow: hidden;

	img {
		float: left;
		margin-right: 10px;
	}
	p {
		margin: 0;
	}
}

/* expands feature image to the width of the column */
[class^="column-narrow-"] .feature-img {
	width: 100%;
}

