// -------------------------
// MIXINS
// -------------------------

// For clearing floats h5bp.com/q
// Can also be used as a helper class. Found in utilities.less
.clearfix() {
	*zoom: 1;
	&:before,
	&:after {
		display: table;
		content: "";
		// Fixes Opera/contenteditable bug:
		// http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
		line-height: 0;
	}
	&:after {
		clear: both;
	}
}

// IE7 inline-block
.ie7-inline-block() {
  *display: inline; /* IE7 inline-block hack */
  *zoom: 1;
}

// Opacity
.opacity(@opacity) {
	zoom: 1;
	filter: alpha(opacity=@opacity);
	opacity: @opacity / 100;
}

// Set opacity to only the background (not text/content)
.bg-opacity(@color, @opacity) {
	background: rgba(red(@color), green(@color), blue(@color), @opacity);
}

// Hides text that is included for accessibility but hidden for style
// ex. icon button
.text-hide() {
	font: ~"0/0" a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

//Used for button hover effects. The only variable that changes is the inset color based on the color of the of the button
.btn-hover(@color, @percent) {
  .shadow(inset 0 0 18px darken(@color, @percent));
}

//Creates a border around a block of text with a lighter background colour.
//Used for warnings, errors and messages.
.border-bg(@color, @percent) {
	border: 1px solid @color;
	background: lighten(@color, @percent);
	font-size: @small-font-size;
}

// Truncate string with ellipsis. Width should be set to the max width string should be before it gets truncated.
.truncate(@width) {
	width: @width;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

// TYPOGRAPHY
// --------------------------------------------------
// Defaults to normal weight. Use variables for semibold and bold
.proxima-nova() {
	font-family: @proxima-nova;
	font-style: normal;
	font-weight: 400;
}
//TODO: replace this mixin
.fontello-icon(@value, @padding: 4px) {
	font-family: @fontello;
	content: @value;
	padding: 0 @padding;
}

// Fontello icon mixins - TODO: add all the other icons
.fontello-plus-squared-small(@padding: 0 4px) { 
	font-family: @fontello;
	padding: @padding;
	content: '\e836';
}
.fontello-plus-squared(@padding: 0 4px) {
	font-family: @fontello;
	padding: @padding;
	content: '\e83d';
} 
.fontello-minus-squared(@padding: 0 4px) {
	font-family: @fontello;
	padding: @padding; 
	content: '\e83e';
}
.fontello-minus-squared-small(@padding: 0 4px) { 
	font-family: @fontello;
	padding: @padding;
	content: '\e835';
}


// CSS3 PROPERTIES
// --------------------------------------------------
// Border Radius
.border-radius(@radius) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}

// Single Corner Border Radius
.border-top-left-radius(@radius) {
	-webkit-border-top-left-radius: @radius;
	-moz-border-radius-topleft: @radius;
	border-top-left-radius: @radius;
}
.border-top-right-radius(@radius) {
	-webkit-border-top-right-radius: @radius;
	-moz-border-radius-topright: @radius;
	border-top-right-radius: @radius;
}
.border-bottom-right-radius(@radius) {
	-webkit-border-bottom-right-radius: @radius;
	-moz-border-radius-bottomright: @radius;
	border-bottom-right-radius: @radius;
}
.border-bottom-left-radius(@radius) {
	-webkit-border-bottom-left-radius: @radius;
	-moz-border-radius-bottomleft: @radius;
	border-bottom-left-radius: @radius;
}

// Single Side Border Radius
.border-top-radius(@radius) {
	.border-top-right-radius(@radius);
	.border-top-left-radius(@radius);
}
.border-right-radius(@radius) {
	.border-top-right-radius(@radius);
	.border-bottom-right-radius(@radius);
}
.border-bottom-radius(@radius) {
	.border-bottom-right-radius(@radius);
	.border-bottom-left-radius(@radius);
}
.border-left-radius(@radius) {
	.border-top-left-radius(@radius);
	.border-bottom-left-radius(@radius);
}

// Drop shadows
// horizontal offset, vertical offset, blur radius, spread radius, color
.shadow(@shadow) {
	-webkit-box-shadow: @shadow;
	box-shadow: @shadow;
}

// Transitions
.transition(@transition) {
	-webkit-transition: @transition;
	-moz-transition: @transition;
	-o-transition: @transition;
	transition: @transition;
}


//---------------------------------------------------
//  LESS Elements 0.9
//  More info at: http://lesselements.com
//---------------------------------------------------

.gradient(@color, @start, @stop) {
  background: @color;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, @start), color-stop(1, @stop));
  background: -ms-linear-gradient(bottom, @start, @stop);
  background: -moz-linear-gradient(center bottom, @start 0%, @stop 100%);
  background: -o-linear-gradient(@stop, @start);
  filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));
}


