/*--------------------------------------- 
  NAVIGATION
-----------------------------------------*/
nav {
	ul, ol {
		padding: 0;
	}
	a {
		text-decoration: none;
	}
}


/* HORIZONTAL NAVIGATION */
.nav-horizontal {
	font-size: 0; /* Removes default space from between list items (caused by line break) when using display: inline-block; font-size to be redeclared in <li>. */
	
	> li {
		display: inline-block;
		position: relative;
		font-size: @base-font-size + 1;

		> a {
			padding: 8px 0 6px; 
			margin: 0 16px;
			display: inline-block;
			display: block;
		}
	}
}


/* BREADCRUMB */
.breadcrumb {
	font-family: @helvetica-neue;
	margin: 10px 0 0;

	a {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
	ol {
		font-size: 0;

		li {
			display: inline;
			font-size: 12px;
		}
		li + li:before {
			.fontello-icon('\e82f', 2px);
		}
	}
}


/* TABBED NAVIGATION */
.nav-tabs {
	position: relative;
	border-bottom: 1px solid @gray-medium;
	margin-bottom: 15px;

	> ul {
		overflow: hidden;
		margin-bottom: -2px;

		> li {
			float: left;
			border: 1px solid transparent;
			cursor: pointer;

			&.selected {
				border-color: @gray-medium;
				border-bottom-color: transparent;
				background: #fff;
				.border-radius(2px);

				a {
					color: @gray-darkest;
				}
			}
			span {
				padding: 10px 20px;
				display: inline-block;

				&:hover {
					color: @gray-dark;
				}
			}
		}
	}
}
.nav-tabs + .action-group {
	bottom: 20px;
}
