<wicket:panel>
    <p wicket:id="noSchedulesIndicator">No schedules have been added.</p>
    
    <div wicket:id="currentSchedulesContainer" class="current-schedule">
        <div wicket:id="currentSchedules" style="clear:both;">
            <span wicket:id="dueDate" class="due-date"></span>
            <span wicket:id="eventTypeName" class="event-name" />
            <span wicket:id="assignee" class="event-assignee" />
            <a class="remove-link" wicket:id="removeLink"><img src="/fieldid/images/small-x.png"/></a>
        </div>
    </div>

    <form wicket:id="addScheduleForm" class="add-schedule-form">
        <input type="button" wicket:id="addScheduleButton" wicket:message="value:label.add_a_schedule">
    </form>

</wicket:panel>