<wicket:panel>

    <div wicket:id="currentSchedulesContainer">

        <div wicket:id="currentSchedules">

            <div>
                <span wicket:id="dueDate"></span>
            </div>

            <span wicket:id="eventTypeName"/>

            <a wicket:id="removeLink">
                <img src="/fieldid/images/small-x.png"/>
            </a>

        </div>

    </div>

    <form wicket:id="addScheduleForm">
        <input type="button" wicket:id="addScheduleButton" wicket:message="value:label.add_a_schedule">
    </form>

</wicket:panel>