<wicket:panel>

    <div wicket:id="feedbackPanel"></div>

    <div wicket:id="step1Panel" class="step1">
        <form wicket:id="step1Form">
            <label wicket:for="howMany">How many assets do you want to identify? (Maximum 250)</label>
            <input type="text" wicket:id="howMany">
            <input type="submit" wicket:id="continueButton" wicket:message="value:label.continue">
        </form>
    </div>

    <div wicket:id="step2Panel">

        <form wicket:id="step2Form" class="step2">

            <div wicket:id="identifierMethodGroup">

                <div wicket:id="identifierMethod" class="method">
                    <input type="radio" wicket:id="methodRadio">
                    <div wicket:id="methodConfigurationPanel"></div>
                </div>

            </div>

            <input type="submit" wicket:id="continueButton" wicket:message="value:label.continue"> or <a wicket:id="backLink"><wicket:message key="label.back"/></a>

        </form>

    </div>

    <div wicket:id="step3Panel" class="step3">

        <form wicket:id="step3Form">

            <table class="identifiers-grid">
                <tr>
                    <th>
                        <wicket:message key="label.identifier"/>
                    </th>
                    <th>
                        <wicket:message key="label.rfidnumber"/>
                    </th>
                    <th>
                        <wicket:message key="label.customer_reference"/>
                    </th>
                </tr>
                <tr wicket:id="identifierGrid">
                    <td>
                        <input type="text" wicket:id="identifier"/>
                    </td>
                    <td>
                        <input type="text" wicket:id="rfidNumber"/>
                    </td>
                    <td>
                        <input type="text" wicket:id="customerRefNumber"/>
                    </td>
                </tr>
            </table>

            <div wicket:id="duplicateRfidWarning" class="duplicate-field">
                <wicket:message key="warning.duplicate_rfid_numbers"/>
            </div>

            <input type="submit" wicket:id="confirmButton" wicket:message="value:label.confirm"> or <a wicket:id="backLink"><wicket:message key="label.back"/></a>

        </form>

    </div>

</wicket:panel>