<wicket:panel>
	<div class="infoSet">
		<label class="label"><wicket:message key="label.streetaddress"/></label>
		<span class="fieldHolder">
			<input type="text" class="textbox" wicket:id="streetAddress"/>
		</span>
	</div>
	<div class="infoSet">
		<label class="label"><wicket:message key="label.city"/></label>
		<span class="fieldHolder">
			<input type="text" class="textbox" wicket:id="city"/>
		</span>
	</div>
	<div class="infoSet">
		<label class="label"><wicket:message key="label.state"/></label>
		<span class="fieldHolder">
			<input type="text" class="textbox" wicket:id="state"/>
		</span>
	</div>
	<div class="infoSet">
		<label class="label"><wicket:message key="label.country"/></label>
		<span class="fieldHolder">
			<input type="text" class="textbox" wicket:id="country"/>
		</span>
	</div>
	<div class="infoSet">
		<label class="label"><wicket:message key="label.zip"/></label>
		<span class="fieldHolder">
			<input type="text" class="textbox" wicket:id="zip"/>
		</span>
	</div>
	<div class="infoSet">
		<label class="label"><wicket:message key="label.phonenumber"/></label>
		<span class="fieldHolder">
			<input type="text" class="textbox" wicket:id="phone"/>
		</span>
	</div>
	<div class="infoSet">
		<label class="label"><wicket:message key="label.fax"/></label>
		<span class="fieldHolder">
			<input type="text" class="textbox" wicket:id="fax"/>
		</span>
	</div>
</wicket:panel>