.add_widget_title {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    padding-bottom: 20px;
}

.add_widget_title h2 {
    font-size: 2em;
    margin-left: 80px;
    padding: 10px 0;
}

.widget_details {
    padding: 20px 10px;
    width: 350px;
    height: 25px;
    float: left;
}

.widget_details label, .widget_details span {
    float: left;
    padding-left: 5px;
    width: 280px;
}

.widget_details span.mattButton {
    width: auto;
}

.widget_details label {
    font-size: 1.4em;
}

.widget_details span {
    font-size: 1.1em;
    color: #666666
}

.widget_details a {
    margin-top: 2px;
    margin-right: 5px;
    width: 37px;
    margin-bottom: 20px;
}

.widget_details a em {
    text-decoration: none;
}

.widget_details span.mattButton {
    background: #ececec;
    background: -moz-linear-gradient(top, #ececec 0%, #dadada 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ececec), color-stop(100%,#dadada));
    background: -webkit-linear-gradient(top, #ececec 0%,#dadada 100%);
    background: -o-linear-gradient(top, #ececec 0%,#dadada 100%);
    background: -ms-linear-gradient(top, #ececec 0%,#dadada 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#dadada',GradientType=0 );
    background: linear-gradient(top, #ececec 0%,#dadada 100%);
    border: 1px solid #ababab;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 1px 1px rgba(255, 255, 255, .8) inset;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 1px 1px rgba(255, 255, 255, .8) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 1px 1px rgba(255, 255, 255, .8) inset;
    color: #999999;
    font-family: 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size: 12px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    margin: 2px 5px 20px 0;
    outline: none;
    padding: 5px 10px;
    float: left;
    text-align: center;
}

.widget_details span.mattButton em{
    text-decoration:none;
}

.closeLink {
    font-size: 1.2em;
    position: absolute;
    bottom: 10px;
    right: 35px;
}


/* Dashboard tabs */
.dashboard-add-widget-panel .tab-row {
    margin-bottom: -1px;
}
.dashboard-add-widget-panel .tab-row ul li span {
    padding: 10px 20px;
    display: inline-block;
}
.dashboard-add-widget-panel .tab-row ul li.selected {
    border-color: #c7c7c9;
    border-bottom-color: transparent;
    background: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.dashboard-add-widget-panel .tab-row ul li.selected a {
    color: #3a3a3a;
}
.dashboard-add-widget-panel .tab-row ul li {
    display: inline-block;
    border: 1px solid transparent;
    cursor: pointer;
}
.dashboard-add-widget-panel .tab-row ul li a {
    color: #008bd3;
}
.dashboard-add-widget-panel .tab-panel {
    border: 1px solid #c7c7c9;
    margin-bottom: 34px;
    padding-bottom: 12px;
    width: 754px;
}
.dashboard-add-widget-panel .tab-panel .widget_details {
    display: inline-block;
    float: none;
    width: 364px;
    height: 30px;
    padding: 20px 0px 20px 10px;
}
.dashboard-add-widget-panel .tab-panel .widget_details span {
    width: 290px;
}
.dashboard-add-widget-panel .tab-panel .widget_details span.mattButton {
    width: auto;
}
.dashboard-add-widget-panel .closeLink {
    bottom: -37px;
    right: 0px;
}