.headerPanel {
    padding-bottom: 15px;
    color: #666666;
    font-size: 30px;
    font-family: "proxima-nova";
    font-weight: 200;
}

.selectLayout {
    width: 860px;
}

.selectLayout h2{
    font-size: 2em;
}

.selectLayout h2 a{
    text-decoration:none;
    color: #999;
}

.headerPanel, .selectLayout, .configureLayout{
    float:left;
}

.configureLayout {
    position:absolute;
    right: 0;
}

.configureLayout a.mattButton {
    margin-right: 5px;
}

.menuButton {
    padding-bottom: 10px;
}

.downArrow {
    vertical-align: middle;
    margin-left: 3px;
}

.layoutList {
    margin-left: 0px;
    margin-top: 60px;
    padding: 25px;
    border: 1px solid #DDDDDD;
    box-shadow:5px 0 2px -5px #CCCCCC, -5px 0 2px -5px #CCCCCC, 0 2px 5px 0 #CCCCCC;
    width: 385px;
    position: absolute;
    top: 30px;
    background: black;
    z-index: 10;
}

.layoutList label {
    font-size: 1.2em;
}

.layoutItem {
    line-height: 50px;
}

.manageDashboard a {
    color: green;
    font-size: 1.2em;
    text-decoration: none;
}

.layoutItem a {
    color: #777;
    font-size: 1.2em;
    text-decoration: none;
}

.printIcon {
    float:left;
    padding:15px 20px 0 0;
}