.search { 
	position:relative;
}

.search .config { 
	width:30%;
	height: 100%;
	position: absolute;
	top:0px;
	left:0;
	background-color:#f0ffff;
}

.search .filter {
	width:180px;
}

.search .columns {
	width:200px;
}

.search .buttons {
	margin-top:12px;	
}
	
.search .buttonsLeft {
	float:left;
}

.search .buttonsRight {
	float:right;
}

.buttons .search { 
	background: rgb(83,128,241);
	color:#eee;
}

.buttons a { 
	margin : 0px 3px;
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-size: .9em;
	padding: 4px;
	-webkit-border-radius: 4px; 
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.4);
}
	
.configMenu { 
	position : absolute;
	width:100%;
}

.search .config .top { 
	top:0;
}

.search .config .bottom { 
	bottom:0px;
}
	

/**change to  .search .config .configContent*/
.configContent { 
	height: 300px;
	margin-top:45px;
	overflow-y:auto; 
}


.menu .buttons { 
	color:#777;
}

.menu .buttons .button .disabled { 
	color: #aaa;
}

.search .content { 
	width:100%;
	height : 300px;
}

.search .menu {
	height:45px;
	background-color: #F3F3F3;
}
	
.search .configPanel {
	height:100%;
}

