<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:wicket="http://git-wip-us.apache.org/repos/asf/wicket/repo?p=wicket.git;a=blob_plain;f=wicket-core/src/main/resources/META-INF/wicket-1.5.xsd;hb=master"
      xml:lang="en"
      lang="en">

<wicket:panel>

    <div class="select-layout">
        <h2>

            <a class="tipsy-tooltip" id="layoutListLink" wicket:id="layoutListLink" href="javascript:void(0);">
                <img id="menuButton" wicket:id="menuButton" class="menuButton">
                <img id="hideMenuImage" wicket:id="hideMenuImage" style="display: none" class="menuButton">
            </a>

            <span wicket:id="name"/>
        </h2>
    </div>

    <input type="hidden" wicket:id="layoutCount"/>


    <div class="configure-layout">
        <img class="print-icon" wicket:id="printIcon" onclick="window.print();"/>

        <a class="tipsy-tooltip btn-secondary" wicket:id="addWidgetsLink"><wicket:message key="label.widgets"/></a>
    </div>

    <div id="layoutList" class="layout-list" style="display: none">
        <div class="layout-item" wicket:id="layoutList">
            <a wicket:id="link"><span wicket:id="name"/></a>
        </div>
    </div>
</wicket:panel>

</html>