<html xmlns:wicket="http://wicket.apache.org">

<wicket:panel>
    <div>
        <wicket:enclosure child="archiveLink">
            <a class="btn-secondary" wicket:id="openLink"><wicket:message key="label.open"/></a>
            <a class="btn-secondary" wicket:id="closeLink"><wicket:message key="label.close"/></a>
            <a class="btn-secondary" wicket:id="archiveLink"><wicket:message key="label.archive"/></a>
        </wicket:enclosure>
        <a wicket:id="unarchiveLink"><wicket:message key="label.unarchive"/></a>
    </div>
</wicket:panel>

</html>
