<wicket:panel>

        <div class="textCriteriaContainer unitOfMeasureCriteriaContainer">

            <span class="fieldHolder">
                <input type="text" wicket:id="primaryUnit" class="criteriaUnitOfMeasureField">
            </span>

            <div class="unitOfMeasureName" wicket:id="primaryUnitLabel"></div>

            <div style="clear:both"></div>

            <div wicket:id="secondaryUnitContainer">
                <span class="fieldHolder">
                    <input type="text" wicket:id="secondaryUnit" class="criteriaUnitOfMeasureField">
                </span>
                <div class="unitOfMeasureName" wicket:id="secondaryUnitLabel"></div>
            </div>

        </div>


</wicket:panel>