<wicket:panel>

        <div class="textCriteriaContainer unitOfMeasureCriteriaContainer">

            <input type="text" wicket:id="primaryUnit" class="criteriaUnitOfMeasureField">
            <div class="unitOfMeasureName" wicket:id="primaryUnitLabel"></div>

            <div wicket:id="secondaryUnitContainer">
                <div style="clear:both;padding-top:2px;"></div>
                <input type="text" wicket:id="secondaryUnit" class="criteriaUnitOfMeasureField">
                <div class="unitOfMeasureName" wicket:id="secondaryUnitLabel"></div>
            </div>

            <div style="clear:both;"></div>

        </div>


</wicket:panel>