$color-page:             #ffffff;
$color-text:             #000000;
$color-border:           #000000;
$color-next-audio-text:  #8f8f8f;
$color-light-background: #eeeff0;
$color-heading:          #FF0047;
$color-heading-text:     #ffffff;
$color-heading-light:    #FFE0E0;
$color-caution:          #fff8ad;

$page-margin:      0.5100in; // top bottom
$grid-height:      0.21390in;
$grid-width:       10%;
$border-thickness: 0.01388in;

*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
	background: $color-page;
	width:  100%;
}
body {
	font-family: sans-serif;
}
ul, li {
	display: block;
	padding: 0;
	margin: 0;
}


//-----------------------------------------------------------------
//  Layout
//-----------------------------------------------------------------
.print-form {
	height: 11in;
	width: 100%;
	margin: 0;
	padding: 0;
}
.print-form-page {
	width: 100%;
	padding: $page-margin $page-margin 0.9in $page-margin;
	position: relative;
	margin: 0;
}
.data-container-revision-and-points {
	position: absolute;
	width:  100%;
	height: $grid-height * 10;
	padding: 0 $page-margin;
	top: $page-margin;
	right: 0;
	z-index: 20;

	table {
		position: absolute;
		width:  40%;
		height: 100%;
		right: 10px;
	}
	th, td {
		height: $grid-height;
		width:  25%;
	}
	td.lockout-number {
		height: $grid-height * 6;
	}
}
.data-container-asset-info {
	width: 55%;
	min-height: $grid-height * 5;
}
.data-container-caution {
	width:  95%;
	min-height: ($grid-height * 5) + ($grid-height / 2);
	margin-bottom: ($grid-height / 2);
	padding: $grid-height / 2;
	padding-right: 36%;

	th {
		height: $grid-height;
	}
	td {
		height: ($grid-height*3) + ($grid-height / 2);
		padding: 0 $grid-height 0 $grid-height;
	}
}
.data-container {
	height: 595px;
	//outline: 1px solid black;
}
.data-item.images {
	table {
		margin-top: -1px;
	}
	td {
		width: $grid-width * 2;
		height: ($grid-height * 8) - $border-thickness;
		padding: 0;
		img {
			display: block;
			margin: 0;
			width: 100%;
			height: 100%;
		}
	}
	td.landscape {
		width: $grid-width * 4;
	}
}
.data-item.application-process,
	.data-item.short-form-steps,
	.data-item.removal-process {

	table {
		width: 100%;
	}
	th {
		height: $grid-height;
	}
	td {
		min-height: $grid-height * 2;
		padding: 0.095in 0.04in 0.095in 0.04in;
	}
	.steps-identifier, 
		.steps-source {
		width: $grid-width;
	}
	.steps-device,
		.steps-location,
		.steps-method,
		.steps-check {
		width: $grid-width * 2;
	}
	.steps-heading {
		width: 100%;
	}
}
.removal-process {
	margin-bottom: ($grid-height / 4);
}
.data-container-next-audit {
	float: right;
	margin-top: 68px;

	p, ul, li {
		display: inline-block;
		margin: 0;
		padding: 0;
	}
}
.seperator {
	margin-bottom: ($grid-height / 2);
}
.logo {
	display: inline-block;
}


//-----------------------------------------------------------------
//  Print Layout
//-----------------------------------------------------------------
@media print {
	.print-form-page {
		padding: 0;
	}
	.data-item {
		page-break-inside: avoid;
	}
	.data-container-revision-and-points {
		top:   0.11in;
		right: 0;
		padding: 0;

		table {
			right: 0;
		}
	}
}
@page :first {
	margin: $page-margin $page-margin 0.3in $page-margin;
}


//-----------------------------------------------------------------
//  Typography & Color & Borders
//-----------------------------------------------------------------
.print-form {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 7pt;
}
.data-container-revision-and-points,
	.data-container-caution,
	.images,
	.application-process,
	.short-form-steps,
	.removal-process {

	table, th, td {
		border-collapse: collapse;
		border: $border-thickness solid $color-border;
	}
}
.data-container-revision-and-points {
	th, td {
		text-align: center;
		background: $color-page;
	}
	.revision {
		background: $color-light-background;
	}
	td.revision {
		font-family: 'Anton', sans-serif;
		font-size: 14pt;
		font-weight: 700;
	}
	th.lockout-number {
		background: $color-heading;
		color: $color-heading-text;
		text-transform: uppercase;
		font-size: 8pt;
	}
	td.lockout-number {
		background: $color-light-background;
		text-transform: uppercase;
		font-family: 'Anton', sans-serif;
		font-size: 55pt;
		font-weight: 500;
		letter-spacing: 2pt;
	}
}
.data-container-asset-info {
	margin-bottom: 7pt;

	.form-type {
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: 800;
		text-transform: uppercase;
		font-size: 24pt;
		margin-top: -7pt;
		letter-spacing: -0.6pt;
	}
	.asset-type {
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: 300;
		text-transform: uppercase;
		font-size: 14pt;
		margin-top: -8pt;
	}
	.asset-number,
		.asset-location,
		.asset-building {
		font-weight: 400;
		font-size: 8pt;
		line-height: 9pt;

		.asset-info-heading {
			font-weight: 700;
			text-transform: uppercase;
		}
	}
	.asset-number {
		margin-top: 6px;
	}
}
.data-container-caution {
	border: $border-thickness solid $color-border;

	th, td {
		background: $color-caution;
	}
	th {
		text-transform: uppercase;
		font-size: 8pt;
	}
	td {
		font-size: 9pt;
	}
}
.application-process,
	.short-form-steps,
	.removal-process {
	table {
		// Collapse borders while keeping the border for page break
		margin-top: -1px;
	}
	th, td {
		border-left: none;
		text-align: center;
		font-size: 8pt;
	}
	.heading {
		text-transform: uppercase;
		background: $color-heading;
		color: $color-heading-text;
	}
}
.data-container-next-audit {
	p, ul, li {
		color: $color-next-audio-text;
		text-transform: uppercase;
	}
}
