$color-page:                    #ffffff;
$color-text:                    #000000;
$color-border:                  #000000;
$color-next-audio-text:         #8f8f8f;
$color-light-background:        #eeeff0;
$color-heading:                 #333;
$color-heading-verification:    #FFE900;
$color-heading-removal-process: #2CFF4D;
$color-heading-text:            #ffffff;
$color-heading-light:           #FFE0E0;
$color-caution:                 #fff8ad;

$fs-base:      11px;
$fs-small:     1.1em;
$fs-heading:   1.16em;
$fs-title:     3.1em;
$fs-title-lineheight: 0.75em;

$page-margin:      50px;
$page-margin-set:  $page-margin $page-margin 24px $page-margin;

$grid-height:      (1056/40) *1px;
$grid-width:       10%;
$section-space:    10px;

$border-thickness: 1px;
$button-size: 20px;



html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  width:  100%;
  height: 100%;
  background: $color-page;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  width:  100%;
  height: 100%;
  margin:  0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: $fs-base;
}
table, th, td {
  border-collapse: collapse;
  border: $border-thickness solid $color-border;
}
img {
  display: block;
  margin:  0;
  padding: 0;
}


//-----------------------------------------------------------------
// Overlay elements
//-----------------------------------------------------------------
.watermark {
  position: absolute;
  z-index: 1000;
  top:  50%;
  left: 50%;
  margin-left: -306px;
  margin-top:  -392px;
}
.print-bar {
  height: 38px;
  background: black;
  padding-top: 10px;
  padding-right: 13px;

  p {
    margin: 0;
    color: white;
    float: right;
    padding-top: 1px;
    text-transform: uppercase;
    font-size: $fs-base;
  }
  img {
    float: right;
    margin-left: 7px;
  }
}



//-----------------------------------------------------------------
// Layout
//-----------------------------------------------------------------
.print-container {
  width:  100%;
  height: 100%;
}
.print-page {
  padding: $page-margin-set;
  margin: ($page-margin/2) auto;
  outline: 1px dotted #A8A8A8;

  > header {
    position: relative;
    margin-bottom: $section-space;
  }
}
.procedure-info {
  width: 500px;
  min-height: $grid-height*4;

  .procedure-type {
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: $fs-title-lineheight;
    font-size:   $fs-title;
    font-weight: 800;
    letter-spacing: -0.6pt;
    text-transform: uppercase;
  }
  .procedure-code {
    margin-top: -3px;

    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    font-size: 14pt;
    text-transform: uppercase;
  }
  .asset-type {
    margin-top: 5px;
  }
  .asset-type,
  .asset-number,
  .asset-location,
  .asset-building {
    font-weight: 400;
    font-size:   $fs-small;
    line-height: 1.2em;

    .heading {
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}
.procedure-user-and-device {
  position: absolute;
  top: 0;
  right: 0;

  table {
    width: 300px;
  }
  th, td {
    height: $grid-height;
    text-align: center;
    font-size: $fs-small;
  }
  th {
    background: $color-heading;
    color: $color-heading-text;
    text-transform: uppercase;
    font-size: $fs-heading;
    font-weight: bold;
  }
  th.number-of-devices {
    width: 88px;
  }
  td.number-of-devices {
    font-family: 'Anton', sans-serif;
    font-size: 35pt;
    font-weight: 400;
    background: $color-light-background;
  }
}
.page-content {
  // height is set by javascript
  width: 100%;

  section {
    border: $border-thickness solid $color-border;
    margin-bottom: $section-space;
  }
  header, .mainheading th {
    text-align: center;
    font-weight: bold;
    font-size: $fs-heading;
    height: $grid-height;
    line-height: $grid-height;
    text-transform: uppercase;
    background: $color-heading;
    color: $color-heading-text;
    border-bottom: $border-thickness solid $color-border;
  }
  p {
    padding: 10px 20px 0 20px;
    margin: 0;
    font-size: $fs-small;
  }
  ul {
    padding: 0 20px 0 20px;
  }
  li {
    list-style-type: none;
    padding-right: 24px;
    font-size: $fs-small;
  }
  .caution {
    background: $color-caution;
  }
}
.application-steps {
  position: relative;
  border: none !important;
  margin-bottom: $section-space;

  table {
    width: 100%;
  }
  th, td {
    text-align: center;
  }
  th {
    height: $grid-height;
    font-size: $fs-heading;
  }
  td {
    min-height: $grid-height * 2;
    padding: 0.095in 0.04in 0.095in 0.04in;
    font-size: $fs-small;
  }
  td.source {
    font-weight: bold;
  }
  .notes {
    background: $color-caution;
  }
}

footer {
  position: relative;

  .page-number {
    position: absolute;
    bottom: 0;
    right: 0;
    font-weight: bold;
  }
  .logo img {
    height: 50px;
    width: auto;
  }
}

// .images {
//   position: relative;
//   .panzoom-parent {
//     width: 100%;
//     height: 100%;
//   }
//   .buttons {
//     position: absolute;
//     top: 11px;

//     .zoom-in, 
//       .zoom-out,
//       .zoom-reset,
//       .cell-expand,
//       .cell-shrink {
//       width:  $button-size;
//       height: $button-size;
//       line-height: $button-size;
//       margin-bottom: 0px;
//       cursor:pointer;
//       background-color: white;
//       background-size: $button-size;
//     }
//     .zoom-in    { background-image: url("../images/icon_plus.png"); }
//     .zoom-out   { background-image: url("../images/icon_minus.png"); }
//     .zoom-reset { background-image: url("../images/icon_x.png"); }
//   }
// }


//-----------------------------------------------------------------
// Short Form
//-----------------------------------------------------------------
.short-form {
  .image-group {
    font-size: 0;
    border: none;
  }
  .images {
    display: inline-block;
    width: 33.44%;
    height: 200px;
    border: 1px solid black;
    margin-left: -1px;
    margin-bottom: -1px;

    .buttons {
      left: -($button-size/2);
    }

    img {
      width: 100%;
      height: auto;
    }
  }
  .application-steps {
    .method, .device {
      width: 21%;
    }
    .source, .identifier {
      width: 10%;
    }
  }
}

//-----------------------------------------------------------------
// Long Form
//-----------------------------------------------------------------
.long-form .application-steps {
  .images {
    width: 20%;
    padding: 0;

    img {
      display: block;
      margin: 0;
      width: 100%;
      height: auto;
    }
  }
  .source, .identifier {
    width: 10%;
  }
  .method, .device {
    width: 20%;
  }
  .device {
    padding: 0 10px 0 10px;
  }
}

//-----------------------------------------------------------------
//  Print Layout
//-----------------------------------------------------------------
@media print {
  .print-bar {
    display: none;
  }
  .print-page {
    margin: 0 auto;
    outline: none;
    page-break-after: always;
  }
  section {
    page-break-inside: avoid;
  }
  .images .buttons {
    display: none;
  }
}

