<wicket:panel>

    <div class="availableSectionTitle">Common Fields</div>
    <div class="sectionSubTitle">Click + to add a field to your report</div><div style="clear:both;"></div>

    <div wicket:id="columnGroups">

        <div wicket:id="columnGroup">
        </div>

        <div style="clear:both;"></div>

    </div>

    <div class="availableSectionTitle">Custom Fields</div>
    <div class="sectionSubTitle">Click add new and type the name of the attribute as it appears on the screen. Then click + to add it to your report.</div><div style="clear:both;"></div>

    <div wicket:id="assetAttributesContainer">
    </div>

    <div style="clear:both;"></div>

    <div wicket:id="eventAttributesContainer">
    </div>

    <div style="clear:both;"></div>

</wicket:panel>