<html xmlns:wicket="http://wicket.apache.org">
    <wicket:panel>
        <div class="button-group">
            <a wicket:id="proceduresLink" class="btn-secondary">Procedures</a>
            <a wicket:id="editLink" class="btn-secondary">Edit</a>
            <div class="dropdown">
                <a class="btn-secondary" href="#">Schedule</a>
                <ul class="pull-right">
                    <li><a href="#">Event</a></li>
                    <li><a href="#">Lockout/Tagout</a></li>
                </ul>
            </div>
            <a class="btn-primary" href="#">Start Event</a>
        </div>
    </wicket:panel>
</html>