<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="trace" />
			<param name="levelMax" value="warn" />
		</filter>
	</appender>
	<appender name="stderr" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.err" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="error" />
			<param name="levelMax" value="fatal" />
		</filter>
	</appender>
	<logger name="com.n4systems.persistence.utils.DefaultEntityModifiedCreatedHandler">
		<level value="error" />
	</logger>
	<logger name="com.n4systems.taskscheduling">
		<level value="error" />
	</logger>
	<logger name="org.hibernate">
		<level value="warn" />
	</logger>
	<root>
		<priority value="info" />
		<appender-ref ref="stdout" />
		<appender-ref ref="stderr" />
	</root>
</log4j:configuration>