#multipleEvents p {
	background: no-repeat url(../../images/multi-event.jpg) -4px 5px;
}

#singleEvent p {
	background: no-repeat url(../../images/single-asset.jpg) 0px 5px;
}

#multipleProofTests p {
	background: no-repeat url(../../images/proof_test.jpg) 0px 5px;
}

