#initialSetup {
	background: no-repeat url(../../images/predefined-locations-logo.png) 0px 5px;
	background-color:#EAEAEA;
	min-height:65px;
	padding: 20px 10px 0 65px;
	border:1px solid #CCCCCC;
}

#initialPicture p{
	
}