.serialNumberStatus {
	margin-left: 25px;
	font-weight: bold;
	padding:0px
}

.subProductAdd {
	margin-left: 15px;
}

#commentTemplateSelection {
	margin-bottom:5px;
}

h2 {
	background-color:#DADFFA;
}