.serialNumberStatus {
	margin-left: 25px;
	font-weight: bold;
	padding:0px
}

.subProductAdd {
	margin-left: 15px;
}

#commentTemplateSelection {
	margin-bottom:5px;
}

h2 {
	background-color:#DADFFA;
}

#registerOverNetworkLinkContainer {
	padding: 5px;
}


.locationSelection {
	position:absolute;
	left: -10000px;
	background-color:#fff;
	width:450px;
	padding:4px;
	border: 1px solid #333;
}
