#referralTitle {
	font-size: 1.4em;
}

#referralsBottom {
	padding-top: 20px;
	width: 600px;
}

#referralInstructions {
	float: left;
	width: 600px;
}

#referralLinkBox {
	overflow: hidden;
	background: #FFF2D7;
	text-align: center;
	height: 210px;
}

#referralLinkBox h2 {
	text-align: inherit;
	font-size: 1.4em;
	padding-top: 40px;
}

#referralLinkBox p {
	font-size: 1.4em;
	padding: 5px;
	margin: 5px;
	border: 2px solid;
}

#referralLinkBox span {
	padding-top: 10px;
	display: block;
}

#referralMainText {
	display: block;
	padding: 5px 20px 0 0;
}

.referralStep {
	padding: 20px 10px 0;
	overflow: hidden;
}

#referralInstructions img {
	float: left;
	padding-top: 10px;
}

.referralStep h4 {
	font-size: 1.2em;
}

.referralStep span {
	display: block;
}

.referralStep .referralSubStep {
	padding-top: 5px;
}

.referralStep .referralSubStep .subStepTitle {
	font-weight: bold;
	padding-top: 5px;
}

.referralStep .referralSubStep span {
	padding: 2px 10px 0 0;
}