.print ul {
	display:none;
	position:absolute;
	background-image: url(../../images/dropdownArrow-bottom-left.gif);
	padding-bottom:11px;
	background-position:bottom left;
	background-repeat: no-repeat;
	width:200px;
}

.print ul li {
	background-color: #333;
	color:#cccccc;
	padding: 10px;
}

.print ul li a {
	color:#cccccc;
}

.print ul li a.disabled {
	color: #999;
	text-decoration: none;
}

.print ul li:hover {
	background: #1b5ccd;
}

.print ul li:hover a, .print ul li:hover {
	color:#fff;
}

.print ul li:hover a.disabled {
	color:#999;
}

.print:hover ul {
	display:block;
	text-align:left;
	font-size:1em;
}

.printRelative:hover ul a {
	font-size:1em;
}

.print:hover ul li {
	display:block;
	border:5px solid #333;
}