.subSystemList {
	float: left;
	overflow:hidden;
	width: 600px;
}

.subSystemList li { 
	float:left;
	width: 300px;
}

.subSystemList li h2 {
	font-size:1.5em;
}

.subSystemList li:hover h2 {
	text-decoration: underline;
}

#mainContent .subSystemList li p {
	min-height:65px;
	padding: 20px 10px 0 65px;
	color: #000;
}
	
#manage_connections p {
	background: no-repeat url(../../images/connections.png) -10px 5px;
}

#inbox p {
	background: no-repeat url(../../images/inbox.png) -6px 5px;
}

#manage_catalog p {
	background: no-repeat url(../../images/manage_catalog.png) -10px 5px;
}

#privacy_settings p {
	background: no-repeat url(../../images/privacy.png) -13px 5px;
}

#sideBox {
	overflow: hidden;
	border: 1px solid;
	background: #F8F8F8 none repeat scroll 0 0;
	height: 200px;
	padding: 10px;
}

#sideBox h2 {
	padding: 0;
}

#sideBox p {
	padding-top: 15px;
}

#sideBox a {
	min-height:25px;
	margin-top: 15px;
	padding-left: 20px;
	display: block;
}

#help_link {
	background: no-repeat url(../../images/small-help-logo.png);
}

#video_link {
	background: no-repeat url(../../images/small-video-logo.png);
}

#settings_privacy_heading {
	min-height: 35px;
	padding: 8px 0 0 35px;
	background: no-repeat url(../../images/privacy-small.png);
}

.infoSet {
	min-height: 40px;
	padding-top: 10px;
	padding-bottom: 5px;
	border-top: 1px solid #D0DAFA;
}

.infoSet .desc {
	float: left;
	width: 500px;
}

.infoSet .desc p {
	padding: 5px 50px 0 0;
}

.infoSet .desc {
	float: left;
	width: 500px;
}

.infoSet .check {
	overflow: hidden;
	padding-top: 10px;
}

.infoSet .check span {
	float: left;
}

.infoSet .check label {
	overflow: hidden;
	padding-left: 10px;
}