
#selectColumnForm {
	overflow:hidden;	
}

.columnGroup {
	float: left;
	margin: 10px 15px;
}

.columnGroup h4 {
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	border-bottom: 3px solid #D0DAFD;
}

.columnGroup div {
	margin-top: 10px;
	border-bottom: 2px solid #D0DAFD;
}


#selectColumnNotificationArea {
	font-weight:normal;
	margin-left: 200px;
	line-height: 1.2em;
	padding:5px;
}

.pageSection {
	width: 812px;
}
.contentSection {
	overflow:auto;
	zoom:1;
}
.infoSet {
	width:405px;
	overflow:hidden;
	}