.autoSize {
	width:auto !important;
}

.shortField input[type="text"], .shortField select {
	width: 100px;
}

#mainContent.fullScreen {
	width:858px;
}
h1 {
	text-align:center;
	font-size: 2em;
}
#packages {
	margin: 10px 0;
	width:100%;
	border-collapse:separated;
	text-align: center;	
	empty-cells: show;
}

#packages .nonFeatureSection {
	background-color: #ddd;
}



#packages th {
	font-size: 1.2em;
}

#packages #priceRow {
	font-weight: bold;
}

#packages td, #packages th {
	padding:8px;
	text-align: center;
}

#packages tbody td {
	border-bottom: 1px solid #ccc;
}


#packages .signUp td, #packages tbody .signUp .preferred {
	border-bottom: none;
}

#packages .nonFeatureSection td {
	border-bottom: 1px solid #bfbfbf;
}
#packages .description {
	text-align: right;
}

#packages .preferred {
	border: 2px solid black;
	font-size:1.5em;
	font-weight: bold;
	background-color: #EEE;
}		
#packages thead .preferred {
	border-bottom: none;
}

#packages tbody .preferred {
	border-top:none;
	border-bottom: 1px solid #fff;
}


#packages tfoot .preferred {
	border-top:none;
}

.perferredChoice {
	font-size: 1.5em;
}

.favouredChoice {
	font-size: 1.2em;
}

