<wicket:panel>

    <div class="columnHeader">Criteria</div>

    <div wicket:id="criteria" class="criteria">
        <div wicket:id="editCopyDeletePanel">
        </div>
        <div style="clear:both;"></div>
    </div>

    <div class="addCriteriaForm">
        <div class="addCriteriaTitle">New Criteria</div>
        <form wicket:id="criteriaAddForm">
            <input wicket:id="criteriaName" style="width:80%;"></input> <button wicket:id="submitButton">Add</button> <br/>
            <select wicket:id="criteriaType" style="width:40%;"></select>
        </form>
    </div>

    <div class="feedback" wicket:id="feedbackPanel">
    </div>

</wicket:panel>