<wicket:panel>
	
	<div class="columnHeader">
		<div wicket:id="reorderCriteriaButton"></div>
	</div>
	
	<div wicket:id="sortableCriteriaContainer">
	    <div wicket:id="stringList" class="stringListItem">
	        <div wicket:id="itemEditor">
	        </div>
	        <div style="clear:both;"></div>
	    </div>
	</div>
	
    <div class="addStringForm">
        <div wicket:id="addItemTitle" class="addItemTitle"></div>
        <form wicket:id="addStringForm">
            <input wicket:id="string"/><button wicket:id="addButton">Add</button>
        </form>
    </div>

</wicket:panel>