#page {
    padding: 24px;
    width: 976px;
}
#contentHeader {
	margin-bottom: 0;
}
p {
	font-size: 12px;
}

/* GENERAL FORM STYLES */
fieldset {
    padding: 14px 0;
}
input, select, textarea {
    padding-left: 4px;
}
input {
    border: 1px solid #c7c7c9;
    height: 25px;
}
label {
    font-size: 13px;
    display: block;
}
textarea {
    height: 115px;
    resize: none;
    border: 1px solid #c7c7c9;
    outline: none;
}
textarea:focus, input:focus {
    outline: none;
    border: 1px solid #3a3a3a;
}
legend {
    border-top: 1px solid #c7c7c9;
    width: 100%;
    padding-top: 8px;
    font-size: 17px;
    padding-top: 14px;
}

/* Width variations for inputs and table headers - TODO clean up*/
.attributes-setup-list span {
	display: inline-block;
	font-size: 13px;
}
.width-full { 
	width: 920px; 
}
.width-xxlrg { 
	width: 675px; 
}
.width-xlrg { 
}
.width-lrg { 
	width: 387px; 
}
	.width-lrg select {
		width: 393px; 
	}
.width-med  { 
	width: 271px; /*284px*/
}
.width-sml { 
	width: 225px; 
}
.width-xsml { 
	width: 134px; 
}

/* Chosen plugin overrides */
.chzn-container {
    margin: 4px 0 10px;
}
.chzn-single.chzn-default,
.chzn-container-single .chzn-single {
    border-radius: 0;
    box-shadow: none;
    background: none;
    height: 23px;
    padding-top: 2px;
    border-color: #c7c7c9;
}
.chzn-container-single .chzn-single span,
.chzn-container-single .chzn-default {
    /*color: #7a7a7a;*/
}
.chzn-container-single .chzn-single {
    line-height: 20px;
}

/* Used to group and align labels and controls */
.control-group {
    margin: 6px 0;
}
.control-group label {
	margin-bottom: 4px;
}
.control-group input, .control-group select, .control-group textarea, .chzn-container {
    margin: 0;
}
.control-group.inline {
    display: inline-block;
    vertical-align: top;
}
	.control-group.inline input {
		margin-right: 6px;
	}

/* For using multiple controls with one label */
.control-combo label {
    padding-top: 4px;
}
.control-combo .controls {
    width: 285px;
    display: inline-block;
    vertical-align: top;
}
.control-combo .chzn-container {
    margin-bottom: 3px;
}

/* CSS trickery for custom file inputs */
.uploads {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    position: relative;
}
.uploads .file-input {
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.uploads .file-uploaded {
    position: relative;
}

/* GENERAL TABLE STYLES */
table {
	margin-top: 20px;
}
tr {
	border-bottom: 1px solid #ccc;
}
th, td {
	padding: 10px 5px;
}
th {
	font-size: 13px;
}


/* ICONS */
.entypo-icons {
	background: url(/fieldid/images/icons/entypo.png) no-repeat; /* 100 x 20 */
	width: 20px;
	height: 20px;
	text-indent: -9999px;
	display: block;
}
.entypo-checkmark {
	background-position: 0 0;
}
.entypo-x {
	background-position: -20px 0;
}
.entypo-list {
	background-position: -40px 0;
}
.entypo-caret-down {
	background-position: -60px 0;
}
.entypo-caret-up {
	background-position: -80px 0;
}

/* BUTTON STYLES */
.btn-gray {
	text-decoration: none;
	display: inline-block;
	padding: 8px 16px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #dfdddd;
	font-size: 14px;
	color: #fff;
	width: auto;
	cursor: pointer;

	color: #3a3a3a;
	background: #eaeaea;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eaeaea), color-stop(1, #ffffff));
	background: -ms-linear-gradient(bottom, #eaeaea, #ffffff);
	background: -moz-linear-gradient(center bottom, #eaeaea 0%, #ffffff 100%);
	background: -o-linear-gradient(#ffffff, #eaeaea);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eaeaea', GradientType=0);
}

/* PAGE SPECIFIC STYLES */
.asset-type .required {
	text-align: center;
	padding: 0 20px;
}
.asset-type .btn-gray {
	margin: 10px 5px 10px 36px;
}










