/* force self-clearing of child elements */
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
} 
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

/* GENERAL PAGE STYLES */
#page {
    padding: 24px;
    width: 976px;
}
#contentHeader {
	margin-bottom: 0;
}
#contentHeader h1 {
	color: #999;
	float: none;
}
	h1 span {
		color: #666;
	}
h3 {
	font-size: 13px;
	border-bottom: 1px dashed #ddd;
	padding-bottom: 2px;
}
p {
	font-size: 12px;
}
a {
	outline: none;
}
strong {
	font-weight: bold;
}
.backToLink {
	margin-left: 0px;
	margin-top: 4px;
}

/* GENERAL FORM STYLES */
fieldset {
    padding: 14px 0;
}
input, select, textarea {
    padding-left: 4px;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}
input {
    border: 1px solid #c7c7c9;
    height: 29px;
    font-size: 13px;
}
	input[type=file] {
		padding: 4px;
		height: auto;
	}
	input[type=checkbox] {
		border: none;
	}
label {
    font-size: 13px;
    display: block;
}
textarea {
    height: 115px;
    resize: none;
    border: 1px solid #c7c7c9;
    outline: none;
    font-size: 13px;
    padding: 6px 8px;
}
textarea:focus, input:focus {
    outline: none;
    border: 1px solid #3a3a3a;
}
legend {
    border-top: 1px solid #c7c7c9;
    width: 100%;
    padding-top: 8px;
    font-size: 17px;
    padding-top: 14px;
}
legend a {
	text-decoration: none;
	color: #000;
}

.example-text {
	color: #999999;
	font-size: 13px;
}

/* Width variations for inputs and headers */
.width-full { width: 975px;}
.width-xxlrg { width: 688px;}
.width-lrg { width: 387px;}
.width-med  { width: 271px; /*284px*/}
.width-sml { width: 225px;}
.width-xsml { width: 134px;}


/* CHOSEN PLUGIN OVERRIDES */
.chzn-container {
    margin: 4px 0 10px;
}
.chzn-single.chzn-default,
.chzn-container-single .chzn-single {
    border-radius: 0;
    box-shadow: none;
    background: none;
    height: 25px;
    padding-top: 2px;
    border-color: #c7c7c9;
}
.chzn-container-single .chzn-single {
    line-height: 20px;
}

/* Used to group and align labels and controls */
.control-group {
    margin: 10px 0;
}
	.control-group label {
		margin-bottom: 4px;
	}
	.control-group input, .control-group select, 
	.control-group textarea, .chzn-container {
	    margin: 0;
	}
	.control-group input[type=file] {
		margin-bottom: 4px;
	}
	.control-group.inline {
	    display: inline-block;
	    vertical-align: top;
	}
		.control-group.inline input {
			margin-right: 6px;
		}

.checkbox input {
	float: left;
	margin-top: 2px;
	height: auto;
}
.checkbox label {
	margin-left: 20px;
}

/* For using multiple controls with one label */
.control-combo label {
    padding-top: 4px;
}
.control-combo input {
	margin-bottom: 2px;
}
.control-combo .controls {
    width: 475px;
    display: inline-block;
    vertical-align: top;
}
.control-combo .chzn-container {
    margin-bottom: 3px;
}
.chzn-container-single .chzn-single abbr {
	display: none;
}

/* For forms with the label on the left and input on the right */
.form-horizontal label {
	width: 180px;
	margin-right: 14px;
	padding-top: 4px;
	float: left;
}
/*.form-horizontal .text-block {
	margin-left: 193px;
}*/


/* ICONS */
.entypo-icons {
	background: url(/fieldid/images/icons/entypo.png) no-repeat; /* 100 x 20 */
	width: 20px;
	height: 20px;
	text-indent: -9999px;
	display: inline-block;
	margin-top: 4px;
}
.entypo-checkmark { background-position: 0 0;}
.entypo-x { background-position: -20px 0;}
.entypo-list { background-position: -40px 0;}
.entypo-caret-down { background-position: -60px 0;}
.entypo-caret-up { background-position: -80px 0;}

/* BUTTON STYLES */
[class^="btn"] {
	text-decoration: none;
	display: inline-block;
	padding: 8px 16px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #ababab;
	font-size: 14px;
	color: #fff;
	width: auto;
	cursor: pointer;
}
.btn-gray {
	color: #3a3a3a;
	background: #dadada;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dadada), color-stop(1, #efefef));
	background: -ms-linear-gradient(bottom, #dadada, #efefef);
	background: -moz-linear-gradient(center bottom, #dadada 0%, #efefef 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dadada', endColorstr='#eaeaea', GradientType=0);
}
.btn-green {
  background: #60986b;
  border-color: #568860;
}
.btn-green:hover {
	color: #000;
}
.btn-cancel {
	border: none;
	text-decoration: underline; 
	color: #356CA2;
}
.btn-cancel:hover {
	color: #000;
	text-decoration: none;
}

/* PAGE SPECIFIC STYLES */
.asset-type .required {
	text-align: center;
	width: 85px;
}
.asset-type .btn-gray {
	margin: 10px 6px;
}

.attributes-setup-list {
	margin-top: 20px;
}
	.attributes-setup-list > li {
		border-bottom: 1px solid #ccc;
		padding: 10px 5px;
	}
	/* fades inputs to make it appear to be disabled */
	.attributes-setup-list input:disabled {
		opacity: 0.5;
	   	filter: alpha(opacity=50); /* IE8 and lower */
	   	zoom: 1; /* set to trigger "hasLayout" in IE 7 and lower */ 
	}
	.attributes-setup-list span {
		font-size: 13px;
		margin-right: 10px;
		float: left;
	}
	.attribute-name {
		margin-left: 32px;
	}
	/* list item delete */
	.attributes-setup-list .li-delete {
		/*float: right;*/
	}

.more-info textarea, 
.more-info .form-horizontal input {
	width: 286px;
}
/* custom select sizing */
.more-info .manufacturer-cert-text {
	width: 480px;
	height: 90px;
}
.more-info h3 {
	margin-top: 30px;
}
.more-info h3:first-child {
	margin-top: 0;
}
.other-files textarea {
	margin: 4px 0 10px;
}

.date-option {
	display: inline-block;
	vertical-align: top;
	margin-top: 7px;
	margin-left: 4px;
}

legend .entypo-icons {
	margin-bottom: -5px;
}


	











