#pageContent {
	width: 98%;
	padding: 15px 1%;
}
h3 {
	font-size: 14px;
	font-weight: bold;
	display: inline;
	margin-right: 10px;
}


/* FILTER LINKS */
.filters {
	display: inline-block;
    *display: inline;
}
.filters li {
    color: #333333;
    display: inline-block;
    *display: inline;
    padding: 0 5px 0 10px;
    cursor: pointer;
    font-size: 13px;
    border-left: 1px solid #666;
}
	.filters li:first-child {
		border-left: none;
		padding-left: 0;
	}

.filters .filter-type {
	color: #0093FF;
	text-decoration: underline;
}
	.filters .filter-type:hover {
		text-decoration: none;
	}

/* active state */
.filters li.active .filter-type {
    text-decoration: none;
}


/* BUTTON DROPDOWN */
.dropdown-btn {
	float: right;
	text-align: right;
	font-size: 13px;
	margin-bottom: 6px;
}
.btn {
	font-size: 13px;
}

/* MODALS */
form .row {
	margin-bottom: 10px;
}
.wicket-modal .left {
	width: 65px;
	margin-right: 6px;
	text-align: right;
	display: inline-block;
}
.wicket-modal .right {
	width: 270px;
	display: inline-block;
}
	.wicket-modal label.right {
		vertical-align: middle;
	}
.wicket-modal input {
	padding: 4px;
}
	.wicket-modal input.days {
		width: 40px;
		margin-right: 6px;
	}

.wicket-modal .btn {
	float: right;
	margin: 10px 10px 0 0;
}	
.chzn-container, 
select {
	width: 175px;
}


/* hack */
.entypo-search {
	float: right;
	padding-right: 70px;
	cursor: pointer;
}

.formErrors {
	margin-top: 0;
}