/* overrides */
#pageContent {
	width: 98%;
	padding: 15px 1%;
}
h3 {
	font-size: 14px;
	font-weight: bold;
	display: inline;
	margin-right: 10px;
}
.formErrors {
	margin-top: 0;
}

/* FILTER LINKS */
.filters {
	display: inline-block;
    *display: inline;
}
.filters li {
    color: #333333;
    display: inline-block;
    *display: inline;
    padding: 0 5px 0 10px;
    cursor: pointer;
    font-size: 13px;
    border-left: 1px solid #666;
}
	.filters li:first-child {
		border-left: none;
		padding-left: 0;
	}

.filters .filter-type {
	color: #0093FF;
	text-decoration: underline;
}
	.filters .filter-type:hover {
		text-decoration: none;
	}

/* active state */
.filters li.active .filter-type {
    text-decoration: none;
}


/* BUTTON DROPDOWN */
.dropdown-btn {
	float: right;
	text-align: right;
	font-size: 13px;
	margin-bottom: 6px;
}
.btn {
	font-size: 13px;	
	/*padding: 5px 10px;*/
}
.dropdown-btn.dropdown-sml ul li a {
	padding-left: 12px;
	padding-right: 12px;
}


/* MODALS */
.new-rules {
	font-size: 13px;
}
.new-rules h3 {
	color: #0093FF;
	font-size: 16px;
}
.new-rules p {
	margin: 4px 0 20px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 8px;
}
.new-rules .row {
	margin-bottom: 10px;
}
.new-rules .left {
	width: 76px;
	margin-right: 6px;
	text-align: right;
	display: inline-block;
	vertical-align: top;
	margin-top: 6px;
}
.new-rules .right {
	width: 320px;
	display: inline-block;
}
	.new-rules label.right {
		vertical-align: middle;
	}
	.new-rules .right .organization {
		height: 25px;
		margin-bottom: 5px;
	}
	.new-rules .right .checkbox label {
		padding: 0 5px;
	}
	.new-rules .right .checkbox img {
		margin-top: 2px;
	}
.new-rules input {
	padding: 4px;
}
	.new-rules input.days {
		width: 40px;
		margin-right: 6px;
	}
.new-rules .btn {
	float: right;
	margin: 10px 20px 0 0;
}

.chzn-container, 
select {
	width: 200px;
}
select.time {
	width: 100px;
}
.time-container {
	display: inline-block;
}


/* hacks */
.org-location .text {
	float: left;
}
.entypo-search {
	float: left;
	cursor: pointer;
	margin-left: 4px;
}
.jstree-default.jstree-focused {
	margin-top: 11px!important;
}

/* modal.css overrides */
div.dialog-modal div.w_caption {
	padding: 0;
}
div.wicket-modal div.w_right_1 {
	margin-left: 15px;
}
div.wicket-modal div.w_content_1 {
	margin-right: 15px;
}