<html xmlns:wicket="http://wicket.apache.org">
<wicket:panel>

    <div class="setup-user identifiers-panel">
        <div class="control-group digital-signature" wicket:enclosure="uploadForm">
            <label class="label" style="vertical-align: top; margin-top: unset;"><wicket:message key="label.system_logo"/></label>
            <form wicket:id="uploadForm" style="width: 295px;">
                <input type="file" wicket:id="internalOrgLogoImage">
                <span wicket:enclosure="internalOrgLogoImage"><wicket:message key="label.account_image_looks_best"/></span>
                <span class="displaySignature" wicket:id="fileDisplay">
                    <img wicket:id="logoImage" class="attachmentImage" width="215" height="61"> <a wicket:id="removeLink" class="removeLink"><wicket:message key="label.remove"/></a>
                </span>
            </form>
        </div>
    </div>

</wicket:panel>

</html>