<html xmlns:wicket="http://wicket.apache.org">
<wicket:panel>
    <a wicket:id="scheduleLink" class="btn-secondary"><wicket:message key="label.uc_schedule"/></a>

    <div class="dropdown">
        <span class="btn-secondary" href="#"><wicket:message key="label.start_event"/></span>
        <ul class="pull-right">
            <li class="secondary-dropdown">
                <a href="#"><wicket:message key="label.scheduled"/></a>
                <ul>
                    <li wicket:id="scheduled">
                        <a wicket:id="event">
                            <span wicket:id="name"/><br><span wicket:id="note" class="note js-has-time"/>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="secondary-dropdown divider">
                <a href="#"><wicket:message key="label.unscheduled"/></a>
                <ul>
                    <li wicket:id="unscheduled">
                        <a wicket:id="event">
                            <span wicket:id="name"/>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="button-group">
        <div class="dropdown icon">
            <span class="fontello-cog" href="#"><wicket:message key="label.options"/></span>
            <ul class="pull-right">
                <li><a wicket:id="archiveLink" data-toggle="modal"><wicket:message key="label.archive"/></a></li>
                <li><a wicket:id="mergeLink"><wicket:message key="label.merge"/></a></li>
                <li><a wicket:id="recurringSchedulesLink"><wicket:message key="label.recurring_schedules"/></a></li>
                <li><a wicket:id="eventTypesLink"><wicket:message key="label.places.event.message.3"/></a></li>
                <li class="add-descendant"><a wicket:id="descendants"><span wicket:id="label"/></a></li>
            </ul>
        </div>
    </div>

    <div wicket:id="schedulePicker"/>

</wicket:panel>
</html>