<html xmlns:wicket="http://wicket.apache.org">
<wicket:panel>
    <div class="setup-user user-account-panel">
        <h3><wicket:message key="label.account_heading"/></h3>

        <div class="control-group">
            <label class="label">* <wicket:message key="label.name"/></label>
            <input type="text" wicket:id="secondaryOrgName" maxlength="255"/>
        </div>
        <div wicket:id="newDetailsFields">
            <div class="control-group">
                <label class="label"><wicket:message key="label.name_on_pdf_reports"/></label>
                <input type="text" wicket:id="nameOnPdfReports">
            </div>
        </div>
    </div>
</wicket:panel>
</html>