#progressBar { padding-top: 5px; }
#progressBarBox { width: 350px; height: 20px; border: 1px inset; background: #eee;}
.status-text {
	color: #0000FF;
	font-weight: bold;
    font-size: 12px;
}

