<wicket:panel>

    <table class="list">
        <tr>
            <th><wicket:message key="label.priority_code" /></th>
            <th><wicket:message key="label.created" /></th>
            <th><wicket:message key="label.last_modified" /></th>
            <th>&nbsp;</th>
        </tr>
        <tr wicket:id="priorityCode">
            <td><span wicket:id="name"/></td>
            <td><span wicket:enclosure="createdBy"><span wicket:id="createdBy"/>, </span><span wicket:id="created"/></td>
            <td><span wicket:enclosure="modifiedBy"><span wicket:id="modifiedBy"/>, </span><span wicket:id="lastModified"/></td>
            <td>
                <a class="mattButton tipsy-tooltip" wicket:id="unarchive"><img src="/fieldid/images/unarchive.png"/></a>
            </td>
        </tr>
    </table>
</wicket:panel>