<wicket:panel>

    <div class="header">
        <h2><wicket:message key="label.create_your_priority_code_group"/></h2>

        <form class="openForm" wicket:id="openForm">
            <input type="submit" wicket:id="openFormButton" wicket:message="value:label.add_custom_group"/>
        </form>

        <form class="form" wicket:id="form">
            <div wicket:id="formContainer" class="formContainer">
                <div wicket:id="feedbackPanel"/>
                <label wicket:message="value:label.name"/>
                <input type="text" wicket:id="name">
                <a class="mattButton" wicket:id="addActionTypeButton"><wicket:message key="label.add"/></a>
                <wicket:message key="label.or"/>
                <a wicket:id="cancelLink"><wicket:message key="label.cancel"/></a>
            </div>
        </form>
        </div>
    <div class="actionType" wicket:id="actionType">
            <label wicket:id="name"/>
    </div>
</wicket:panel>