<html xmlns:wicket="http://wicket.apache.org">
<wicket:panel>

    <table class="list">
        <tr>
            <th><wicket:message key="label.priority_code" /></th>
            <th><wicket:message key="label.created" /></th>
            <th><wicket:message key="label.last_modified" /></th>
            <th><wicket:message key="label.auto_schedule" /></th>
            <th>&nbsp;</th>
        </tr>
        <tr wicket:id="priorityCode">
            <td>
                <span wicket:id="name"/>
            </td>
            <td><span wicket:enclosure="createdBy"><span wicket:id="createdBy"/>, </span><span wicket:id="created"/></td>
            <td><span wicket:enclosure="modifiedBy"><span wicket:id="modifiedBy"/>, </span><span wicket:id="lastModified"/></td>
            <td><span wicket:id="autoSchedule"/></td>
            <td>
                <a class="btn-link" wicket:id="edit"><wicket:message key="label.edit"/></a>
                <a class="btn-link" wicket:id="archive"><wicket:message key="label.archive"/></a>
            </td>
        </tr>
    </table>
</wicket:panel>
</html>