.setup-event-book {

  .control-group.owner {
    display:inline-block;
  }

  input[type="radio"],
  input[type="checkbox"] {
    float: none;
  }

  .form-action {
    margin-top: 10px;
    margin-left: 0px;
    border-top: 1px solid #E2E2E2;
    padding-top: 10px;
    width: 570px
  }
}