.limited-edit-asset-picker {
	> div {
		display: inline-block;
	}
	label.owner {
		margin-top: -21px;
	}
	label.location {
		margin-top: -47px;
	}
}
#limited-edit-asset-save-buttons {
	margin-left: 194px;
}