.page-procedureListPage td.procedure-code {   width: 14%; }
.page-procedureListPage td.revision-number {  width: 63px; }
.page-procedureListPage td.equipment-number { width: 111px; }
.page-procedureListPage td.equipment-loc {    width: 220px; }
.page-procedureListPage td.building {     min-width: 137px; }
.page-procedureListPage td.developed-by { min-width: 137px; }
.page-procedureListPage td.created {      min-width: 76px; }

.procedure-text-search {
  margin-bottom: 14px;
  width: 308px;
}

.procedure-search-loading {
  padding-top: 9px;
  padding-right: 10px;
}