.page-procedure-list-page td.procedure-code {   width: 14%; }
.page-procedure-list-page td.revision-number {  width: 63px; }
.page-procedure-list-page td.equipment-number { width: 111px; }
.page-procedure-list-page td.equipment-loc {    width: 160px; }
.page-procedure-list-page td.building {     min-width: 137px; }
.page-procedure-list-page td.developed-by { min-width: 137px; }
.page-procedure-list-page td.date {      min-width: 76px; }

.page-procedure-list-page td {
  line-height: 1.35em;
}

.page-procedure-list-page td.overdue {  background-color: #E68269;}
.page-procedure-list-page td.sevenDays {  background-color: #FFFF99;}

.procedure-text-search {
  margin-bottom: 14px;
  width: 308px;
}

.procedure-search-loading {
  padding-top: 9px;
  padding-right: 10px;
}

.published_list .actions {
  width: 177px;
}

.drafts_list .actions {
  width: 160px;
}