.setup-user.user-list {
  .form-horizontal {
    margin: -14px 0 0 0;
    padding: 15px 0 15px;
    border-bottom: 1px solid #c7c7c9;
  }
  .control-group {
    width: 390px;
    display: inline-block;

    label {
      width: 130px;
    }
    input[type="text"],
      select,
      textarea {
      width: 255px;
    }
    > div {
      width: 255px;
    }
  }
  .btn-link {
    padding-left: 0;
  }
  .form-horizontal > span {
    display: inline-block;
    margin-left: 134px;
  }
}
.setup-user.mobile-passcode {
  .buttonForm {
    padding-top: 20px;
  }

  .form button {
    display: inline;
  }

  .edit-mobile-passcode-form {
    padding-top: 20px;
  }

  .control-group label {
    padding-bottom: 5px;
  }

  .control-group input {
    width: 650px;
    padding-bottom: 15px;
    margin-bottom: 20px;
  }
}
.setup-user.view {
  .user-actions {
    padding: 20px 0 20px 0;

    a {
      margin-right: 17px;
    }
  }
  .display-horizontal {
    margin-bottom: 30px;

    h3 {
      border-bottom: 1px solid #B6B6B6;
      padding-bottom: 2px;
      margin-right: 90px;
    }
    .control-group {
      padding: 4px 22px 4px 0;
      border-bottom: 1px solid rgb(231, 231, 231);
      margin: 0;
      margin-right: 110px;
    }
  }
}
.setup-user.registration-request {
  .info {
    margin-bottom: 17px;
    display: block;
  }
  .control-group.owner {
    margin-top: 10px;
    border-bottom: 1px solid #ececec;
    padding-bottom: 12px;
    margin-bottom: 4px;

    > label {
      margin-top: -20px;
    }
    > div {
      display: inline-block;
    }
  }
  form > div {
    .btn-link {
      padding-left: 1px;
    }
  }
}
.setup-user.change-password {
  fieldset {
    margin-top: 0px;
    .btn-link {
      padding-left: 1px;
    }
  }
  .confirm-password {
    border-bottom: 1px solid #ececec;
    padding-bottom: 23px;
    margin-bottom: 11px;
  }
  div.info {
    position: relative;
    margin-top: 29px;
    padding-top: 40px;
    padding-bottom: 40px;

    .label-or {
      position: absolute;
      left: -23px;
      top: 25px;
      padding: 0px 12px 2px 11px;
      font-size: 22px;
      background: white;
      border: 1px solid #C4C4C4;
      color: #5E5E5E;
    }
    .btn-secondary {
      margin-left: 236px;
    }
  }
}
.setup-user.user-page {
  fieldset {
    margin-right: 90px;
    h3 {
      border-bottom: 1px solid #B6B6B6;
    }
  }
}
.setup-user.identifiers-panel {
  .owner {
    label {
      margin-top: -20px;
    }
    > div {
      display: inline-block;
    }
  }
  .user-group {
    margin-top: -4px;
  }
  .digital-signature {
    > label {
      margin-top: -44px;
    }
    > div {
      display: inline-block;
      input {
        display: block;
      }
      > span {
        display: block;
        margin-top: 4px;
      }
    }
  }
}
.setup-user.permissions-panel {
  border-bottom: 1px solid #B6B6B6;

  td {
    position: relative;
  }
  td > div,
    th > div {
    display: inline-block;
    width: 30px;
  }
  .all-on {
    position: absolute;
    left: -27px;
  }
  .all-off {
    position: absolute;
    left: 39px;
  }
}
.select-user-container {
  float: left;
  border: 1px solid #ececec;
  margin: 4px;
  min-height: 289px;
  width: 271px;
  padding-top: 27px;
  padding-bottom: 50px;
  position: relative;

  h2 {
    text-align: center;
  }
  img {
    display: block;
    margin: 10px auto 10px auto;
    width: 74px;
  }
  ul {
    list-style: none;
    text-align: center;
    padding: 0;
  }
  a, span {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 249px;
  }
}
.setup-user.user-account-panel {
  input[type="checkbox"] {
    float: none;
  }
  .confirm-password {
    margin-top: 7px;
  }
}