.setup-user.user-list {
  .form-horizontal {
    margin: -14px 0 0 0;
    padding: 15px 0 15px;
    border-bottom: 1px solid #c7c7c9;
  }
  .control-group {
    width: 390px;
    display: inline-block;

    label {
      width: 130px;
    }
    input[type="text"],
      select,
      textarea {
      width: 255px;
    }
    > div {
      width: 255px;
    }
  }
  .btn-link {
    padding-left: 0;
  }
  .form-horizontal > span {
    display: inline-block;
    margin-left: 134px;
  }
}
.setup-user.mobile-passcode {
  .buttonForm {
    padding-top: 20px;
  }

  .form button {
    display: inline;
  }

  .edit-mobile-passcode-form {
    padding-top: 20px;
  }

  .control-group label {
    padding-bottom: 5px;
  }

  .control-group input {
    width: 650px;
    padding-bottom: 15px;
    margin-bottom: 20px;
  }
}
.setup-user.view {
  .user-actions {
    padding: 20px 0 20px 0;

    a {
      margin-right: 17px;
    }
  }
  .display-horizontal {
    margin-bottom: 30px;

    h3 {
      border-bottom: 1px solid #B6B6B6;
      padding-bottom: 2px;
      margin-right: 90px;
    }
    .control-group {
      padding: 4px 22px 4px 0;
      border-bottom: 1px solid rgb(231, 231, 231);
      margin: 0;
      margin-right: 110px;
    }
  }
}
.setup-user.registration-request {
  .info {
    margin-bottom: 17px;
    display: block;
  }
  .control-group.owner {
    margin-top: 10px;
    border-bottom: 1px solid #ececec;
    padding-bottom: 12px;
    margin-bottom: 4px;

    > label {
      margin-top: -20px;
    }
    > div {
      display: inline-block;
    }
  }
  form > div {
    .btn-link {
      padding-left: 1px;
    }
  }
}