
/* Reorder page */

.buttonForm {
     height: 45px;
 }

.drag {
    cursor: move;
}

.groupList {
    padding: 10px 10px;
    overflow:hidden;
    border-bottom: 1px solid #CCCCCC;
}

.groupList li {
    height: 30px;
    list-style-type: none;
}

.imageWidth {
    width: 15px;
}





