.sendSavedItem .mattBar {
    padding-bottom:5px;
}

.sendSavedItem select {
    padding:3px;
}

.sendSavedItem input[type="text"] {
    padding:3px;
}

.sendSavedItem textarea {
    width:250px;
    height:70px;
}

.sendSavedItem select {
    width:120px;
}

.sendSavedItem .emailAddress {
    padding-top:2px;
}

.sendSavedItem .left {
    clear:both;
    display:block;
    float:left;
    width:100px;
    padding-top:20px;
}

.sendSavedItem .right {
    display:block;
    float:left;
    padding-top:15px;
}

.sendSavedItem .addLinkContainer {
    padding-top:3px;
}

.sendSavedItem .sendToMeContainer {
    padding-bottom:3px;
}

.sendSavedItem .sendActions {
    clear:both;
    padding-top: 18px;
    overflow:hidden;
}

.sendSavedItem input[type='text'],
.sendSavedItem textarea {
    padding:2px;
    font-size:12px;
    border:1px solid #999;
    width:200px;
}

.sendSavedItem .sendActions .cancelLinkContainer {
    overflow: hidden;
    padding-top:4px;
    padding-left:10px;
}

.sendSavedItem .mattBar {
    padding-top: 4px;
}