<wicket:panel xmlns:wicket="http://www.w3.org/1999/html">

    <form wicket:id="form" class="translation">
        <div><select wicket:id="language"/></div>
        <table>
            <tr wicket:id="localization">
                <td wicket:id="label" class="title"></td>
                <td wicket:id="defaultValue" class=""></td>
                <td wicket:id="translations">
                    <input wicket:id="translation" class="translation" type="text"/>
                </td>
                <td><span wicket:id="misc"/></td>
            </tr>
        </table>
        <div><a wicket:id="submit" class="btn btn-green btn-sml"><wicket:message key="label.save"></wicket:message></a></div>
    </form>

</wicket:panel>
