<wicket:panel xmlns:wicket="http://www.w3.org/1999/html">

    <form wicket:id="form" class="translation">
        <div><select wicket:id="language"/></div>
        <table>
            <!-- add cssClass depending on class.   e.g. Sections will have different than criteria. -->
            <tr wicket:id="translations">
                <td wicket:id="label" class="title"></td>
                <td wicket:id="defaultValue" class=""></td>
                <td wicket:id="translations">
                    <input wicket:id="translation" class="translation" type="text"/>
                </td>
                <td><span wicket:id="misc"/></td>
            </tr>
        </table>
        <div><a wicket:id="submit"><wicket:message key="hbutton.submit"></wicket:message></a></div>
    </form>

</wicket:panel>
