.agenda {
    height:475px;
}

/*.agenda .on {*/
    /*background:#d0e5f5;*/
/*}*/

.agenda .agenda-table {
    overflow-y:auto;
    height:50%;
}

.agenda.no-calendar .agenda-table {
    height:93%;
}

.agenda .datepicker {
    font-size: 12px;
}

.agenda .header {
    font-size: 14px;
    line-height: 32px;
}

.agenda .header p {
    display:inline;
}

.agenda .header {
    line-height: 32px;
}

.agenda .datepicker .ui-datepicker-inline {
    width:100%;
    border:none;
    padding:0;
}

.agenda-list .overdue img {
    border: 1px solid #8b0000;
    border-radius: 5px;
    padding:2px;
}

.agenda .ui-datepicker-calendar .ui-state-default {
    background:#EFEFF5;
}

.agenda .ui-datepicker-calendar .ui-state-highlight {
    background:#CCDDFF;
    border: 1px solid #a0a0f7;
}

.agenda .agenda-title {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    background:#efeff5;
    font-size: 13px;
    color: #1166cc;
}


.agenda-day-to-day ul li {
    list-style: none outside none;
    height:30px;
}

.agenda-icon {
    float:left;
    padding-right:5px;
    padding-top:5px;
}

.agenda-asset {

}

.agenda-event {

}

.agenda .ui-datepicker-calendar .ui-state-default.eventful {
    background: #D9EAF7;
}

.agenda-row {
    line-height: 30px;
}


.agenda .toggle-button img {
    float: right;
    margin-top:8px;
}

.agenda table {
    width:100%;
    table-layout: fixed;
}

.agenda-table table td {
    white-space:nowrap;
    overflow:hidden;
    width:100px;
    height:30px;
    text-overflow: ellipsis;
}