/*z-index notes :   READONLY NOTES -->  EDITABLE NOTES   (lowest to highest )*/

/* NOTES - SPEECH BUBBLES
----------------------------------*/
.notes-container {/* created a class to make the styles more specific */
	position: relative;  
}
.note {
	padding: 2px;
	/*background-color: #fff0a0;*/
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 2px 2px 10px -3px #888;
	box-shadow: 2px 2px 10px -3px #888;
	z-index: 10;
	
	position: absolute;
}
	/* top left */
	.note.arrow-left {
		margin-left: 28px;
	}
	.note.arrow-left:before {
		content: url('/fieldid/images/loto/arrow-left.png');
		left: -28px;
		top: 4px;
		position: absolute;
	}
	/* top right */
	.note.arrow-right {
		margin-right: 28px;
	}
	.note.arrow-right:after {
		content: url('/fieldid/images/loto/arrow-right.png');
		right: -28px;
		top: 4px;
		position: absolute;
	}
/* temp - just for testing edge cases, to be deleted */
.note.arrow-left {
	top: 0;
	left: 0;
}
.note.arrow-right {
	bottom: 0;
	right: 0;
}


/* INPUTS */
.notes-container .note input {
	width: 30px; /* temp, generated dynamically via JS */
	outline: 1px solid #DDDD99;
	border: none;
	height: 16px;
	margin-left: 0px;
}
.note.readonly {
	z-index: 2;
}
.notes-container .note.readonly input {
	border: none;
	background-color: transparent;
	outline: none;
	height:16px;
	margin-left:0px;
}


/* ICONS 
-----------------------------------------------*/
.note .icon {
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
	float:left;
}
/* energy source icons */
/* Note: control-pane has no icon. */
.water .icon {
	background-image: url(/fieldid/images/loto/icon-water.png);
}
.valve .icon {
	background-image: url(/fieldid/images/loto/icon-valve.png);
}
.steam .icon {
	background-image: url(/fieldid/images/loto/icon-steam.png);
}
.pneumatic .icon {
	background-image: url(/fieldid/images/loto/icon-pneumatic.png);
}
.gas .icon {
	background-image: url(/fieldid/images/loto/icon-gas.png);
}
.electrical .icon {
	background-image: url(/fieldid/images/loto/icon-electrical.png);
}



/* energy sources colors 
-----------------------------------------------*/
.control-panel { /*orange w/white bg*/
	color: #f78f1e;
	background: #fff;
}
.electrical { /*red w/white bg*/
	color: #ee1c25;
	background: #fff;
}
.gas { /*purple w/white bg*/
	color: #a5439a;
	background: #fff;
}
.pneumatic { /*white w/blue bg*/
	color: #fff;
	background: #0055a5;
}
.note.steam { /*white w/lighter red bg*/
	color: #fff;
	background: #ef3e36;
}
.valve { /* almost black w/white bg*/
	color: #231f20;
	background: #FFF;
}
.water { /*white w/green bg*/
	color: #fff;
	background: #00a650;
}
