/**
1 * @see AutoComplete.java
*/

.ui-autocomplete-input {
    padding:4px;
}

.ui-autocomplete .matched {
    color : #3344DD;
}

.ui-menu.ui-autocomplete.ui-widget {
    opacity:0.85;
    filter:alpha(opacity=85);
    border:1px solid #777;
    font-size:11px;
    background:white;
    padding-left:110px;
    padding-top:0;
    padding-bottom:0;
    padding-right:1px;
    /*min-width:220px; *//*category size + minwidth*/
}

.ui-menu.empty {
    border-left:0;
}

.ui-autocomplete .category {
    margin-left:-110px;
    width:105px;
    color: #2f4f4f;
    padding:.3em 0;
    float: left;
    height:13px;
    font-style: italic;
    font-size:11px;
    text-overflow: ellipsis;
    overflow:hidden;
    text-align:right;
}

.ui-menu .ui-menu-item {
    background:#ddd;
    border-left:1px solid #999;
}

.ui-menu .ui-menu-item .link {
    padding-left:5px;
    padding-right:0;
    overflow:hidden;
}

li .no-results {
    color: #4466aa;
    padding:.2em .4em;
    float: left;
    font-style:italic;
    font-size:11px;
    word-wrap: break-word;
    margin-left:-100px;
}

li .max-results-container {
    background:white;
}

li .max-results {
    font-size:11px;
    color: #4466aa;
    line-height: 25px;
    text-align: left;
    font-style:italic;
    word-wrap: break-word;
}

