.collapsibleSectionTitle {
	font-size:12px;	
	background:#eee;
	color:#333;
	padding:4px 0px;
}

.collapsibleSectionTitle + .collapsiblePanel {
	margin-left:15px;
	margin-top:4px;
	margin-bottom:8px;
}