/*.image-gallery {*/
    /*width:400px;*/
    /*height:300px;*/
    /*border:1px solid black;*/
/*}*/

.image-gallery .uploadForm {
    display:none;
}

.galleria-container {
    width:  400px;
    height:300px;
}

.galleria-container .submit {
    background: grey;
    border-radius: 4px;
    color:white;
    font-size:14px;
    padding:8px;
    z-index:5;
    position: absolute;
    top: 5px;
    left:5px;
}

.galleria-container .submit:hover {
    cursor:pointer;
    cursor:hand;
}

.galleria-thumbnails .galleria-image{
    /*height:100px*/
}

.galleria-image .image-container {
    position:relative;
}