.image-list {
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;
}
.image-list img {
    max-width: 100%;
}
.image-list ul {
    padding: 0;
    margin: 0;
    overflow: hidden;
    width:9000px;  /*to be overridden via javascript */
}
.image-list ul li {
    margin-right: 6px;
    float:left;
    background-color: #000;
    text-align: center;
    width: 239px;
    height: 200px;
}
.image-list .navigation {
    text-align: right;
    margin-top: 6px;
}
    .image-list .navigation span {
        cursor: pointer;
        padding: 8px 0 8px 10px;
    }


.blank-slate {
    height:100px;
    width:95%;
    background:#eee;
    border: 1px solid #bbb;
    display:block;
}
