.image-list {
    width: 100%;
    overflow: hidden;
}

.image-list ul {
    padding: 0;
    margin: 0;
    overflow: hidden;
    width:9000px;  /*to be overridden via javascript */
}
.image-list ul li {
    position: relative;
    width: 239px;
    height: 200px;
    margin-right: 6px;
    float:left;
    background-color: #000;
    text-align: center;
}
.carousel ul li img {
    max-width: 100%;
}

.image-list .navigation {
    text-align: right;
    margin-top: 6px;
}
    .image-list .navigation span {
        cursor: pointer;
        padding: 8px 0 8px 10px;
    }
.isolation-points {
    position: relative;
}
.isolation-points span {
    background: white;
    -webkit-border-radius: 4px;
    border-radius: 4px; 
    display: inline-block;
    padding: 1px 4px;
    border: 1px solid;

    position: absolute; /* for positioning isolation points */
}
    /* Temp class names & CSS for testing positioning */
    .isolation-points .point-1 {
        top: 50px;
        left: 65px;
    }
    .isolation-points .point-2 {
        top: 30px;
        right: 35px;
    }

.isolation-points .water {
    color: #009966; /* red */
}
.isolation-points .electrical {
    color: #ff0000; /* green */
}


.blank-slate {
    height:100px;
    width:95%;
    background:#eee;
    border: 1px solid #bbb;
    display:block;
}
