#carousel {
    width: 100%;
    overflow: hidden;
}

#carousel ul {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#carousel .navigation {
    text-align: right;
    margin-top: 6px;
}

#carousel .navigation span {
    cursor: pointer;
    padding: 8px 0 8px 10px;
}

.image-list li {
    position: relative;
    width: 239px;
    height: 200px;
    margin-right: 6px;
    float:left;

    /* Derek: Just background-image to be set via java code but the rest can stay here. Currently it's added inline in the HTML. I still need to find a hack for IE8 and below. */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    background-color: #000;
}

.blank-slate {
    height:100px;
    width:95%;
    background:#eee;
    border: 1px solid #bbb;
    display:block;
}