.image-gallery {
    width:600px;
    height:400px;
    /*border:1px solid black;*/
}

.galleria-container .submit {
    background: grey;
    border-radius: 4px;
    color:white;
    font-size:14px;
    padding:8px;
    z-index:5;
    position: absolute;
    top: 5px;
    left:5px;
}

.galleria-container .submit:hover {
    cursor:pointer;
    cursor:hand;
}

.galleria-thumbnails .galleria-image{
    /*height:100px*/
}

.galleria-image .image-container {
    position:relative;
}