.org-location {
    position: relative;
    display: block;
}
    .org-location .tree {
        display: block;
        height:200px;
        overflow-y: auto;
        width:300px;
        position:absolute;
        z-index:1234;
        border: 1px solid #aaa;
        top:18px;
    }
    .org-location .tree .match > a {
        background: #fefee8;
        line-height: 1;
    }
    .org-location .text {
        padding: 4px;

        float: left;
    }
    .org-location img {
        width:24px;
        vertical-align: bottom;
    }
    .entypo-search {
        float: left;
        margin-left: 3px;
        cursor: pointer;
    }



