.field {
	margin:5px 0px 5px 5px;
}

.field label, .collapsible .dateRange label, .collapsible .dateFrom label, .collapsible .dateTo label { 
	width : 105px;
	vertical-align:top;
	margin-right:5px;
	display:inline-block;
	text-align:right;
}

.field label {
	text-align:right;
    position: relative;
}

.assignTo label, .assignee label{
    position: relative;
}


.field label, .field input, .field select, .field .popup {
  display:inline-block;
  *display:inline;
    vertical-align: top;
}

.field input, .field select, .field .component, .collapsible select {
  width:150px;
  padding:3px;
}

.field input[type='checkbox'] {
    width:10px;
}

.field .date { 
	display:inline;
}

.infoSet .fieldHolder input.date  {
	width:140px;
}

.infoSet .fieldHolder div  {
	display:inline;	
}

.dateTo .dateFrom .dateRange { 
	min-height:30px;
}

.due-date-range label {
    margin-right:0px;
}

/** hack to make width consistent in new search page. 
*/
.popup .fieldHolder input, .dateFrom .fieldHolder input, .dateTo .fieldHolder input {
	padding-left:0px;
	padding-right:0px;
}

.dateFrom, .dateTo {
	padding-top:8px;
    min-height:0;
}

.dateRange select, .field select, .popup  { 
	width:160px;
}

.fieldHolder input {
	width:150px;
}

.chzn-container .chzn-results li {
    line-height:200%;
}

.chzn-container {
    font-size:10px;
}

.eventState {
    margin-bottom: 8px;
    margin-left: 22px;
    margin-top: 15px;
}