.field {
	margin:5px 0px 5px 5px;
}

.field label, .collapsible .dateRange label, .collapsible .dateFrom label, .collapsible .dateTo label { 
	width : 105px;
	vertical-align:top;
	margin-right:5px;
	display:inline-block;
	text-align:right;
}

.field label {
	  text-align:right;
}

.field label, .field input, .field select, .field .popup {
  display:inline-block;
  *display:inline;
}

.field input, .field select, .field .component, .collapsible select {
  width:150px;
}

.field .date { 
	display:inline;
}

.infoSet .fieldHolder input.date  {
	width:150px;	
}

.infoSet .fieldHolder div  {
	display:inline;	
}

.dateTo .dateFrom .dateRange { 
	min-height:30px;
}
