.field {
	margin:5px 0px 5px 5px;
}

.field label, .collapsible .dateRange label, .collapsible .dateFrom label, .collapsible .dateTo label { 
	width : 105px;
	vertical-align:middle;
	margin-right:5px;
	display:inline-block;
	text-align:right;
}

.field label {
	  text-align:right;
}

.location label, .owner label {
	vertical-align:top; 
} 

.field label, .field input, .field select, .field .popup {
  display:inline-block;
  *display:inline;
}

.field input.ui-autocomplete-input {
    width: 144px;
}

.field input, .field select, .field .component, .collapsible select {
  width:150px;
  padding:3px;
}

.field input[type='checkbox'] {
    width:10px;
}

.field .date { 
	display:inline;
}

.infoSet .fieldHolder input.date  {
	width:140px;
}

.infoSet .fieldHolder div  {
	display:inline;	
}

.dateTo .dateFrom .dateRange { 
	min-height:30px;
}


/** hack to make width consistent in new search page. 
*/
.popup .fieldHolder input, .dateFrom .fieldHolder input, .dateTo .fieldHolder input {
	padding-left:0px;
	padding-right:0px;
}

.dateFrom, .dateTo {
	padding-top:8px;
}

.dateRange select, .field select, .popup  { 
	width:148px;
}

.fieldHolder input {
	width:150px;
}