<html xmlns:wicket="http://wicket.apache.org">
<wicket:panel>
    <div class="arrow-style-annotation-panel">
        <div wicket:id="editorAndGalleryContainer" class="editor">
            <div class="svg-container">
                <svg wicket:id="imageEditor"/>
                <img class="placeholder" wicket:id="placeholderImage"/>
            </div>
            <div wicket:id="imageGallery"/>
        </div>
        <form wicket:id="uploadForm">
            <input type="file" wicket:id="fileUpload" class="add-image"/>
        </form>
        <span wicket:id="instructions" class="instructions"/>
        <a wicket:id="done" class="mattButton done">
            <wicket:message key="label.done"/>
        </a>
    </div>
</wicket:panel>
</html>