<html xmlns:wicket="http://wicket.apache.org">
<wicket:panel>
        <defs>
            <marker id="arrow" markerUnits="strokeWidth" orient="auto" markerWidth="4.6" markerHeight="4.6" refX="0.9199999999999999" refY="2.3">
                <polygon id="arrow-poly" points="0,2.3 4.6,0 3.4499999999999997,2.3 4.6,4.6" fill="#ff0000"/>
            </marker>
        </defs>

        <image wicket:id="imageElement" xlink:href="data:image/png;base64," x="0" y="0"></image>

        <g class="annotations">
            <line wicket:id="lineElement" stroke="#ff0000" marker-start="url(#arrow)"/>
        </g>
</wicket:panel>
</html>