<html xmlns:wicket="http://wicket.apache.org">
<wicket:panel>
        <defs>
            <g wicket:id="group">
                <path wicket:id="path" d="M 0 0 l -12 12 l 0 -8 l -82 0 l 0 -8 l 82 0 l 0 -8 z"  stroke-width="1" fill="#FFFFFF" stroke="#FFFFFF"/>
                <rect wicket:id="rect" height="24" rx="5" ry="5"  stroke-width="2" width="60" x="-155" y="-13"/>
                <text wicket:id="text" font-size="16"><span wicket:id="content"/></text>
            </g>
        </defs>

        <image wicket:id="imageElement" xlink:href="data:image/png;base64," x="0" y="0" width="100%" height="100%"></image>

        <use wicket:id="annotation"/>

</wicket:panel>
</html>