<wicket:panel>

    <div>
        <ul>
            <li wicket:id="list"><div class="notes-container"><img wicket:id="image"/></div></li>
        </ul>
    </div>
	
	<!-- temp hard-coded HTML for CSS, can be deleted when integrated -->
	<div>
        <ul>
        	<li>
        		<div class="notes-container">
        			<img src="https://s3.amazonaws.com/fieldid_dev/tenants%2F15511493%2Ffoo%2Fbar%2Fstuff%2Fsquare.png.medium?Expires=1365520591&amp;AWSAccessKeyId=AKIAJYAZBOFFRZAZSIGA&amp;Signature=BUhk79tO3jbiRpwbyjqYPAfjNDA%3D">
        			<span class="readonly note bottom-left">
        				<span class="icon-water"></span>
        				<input type="text" value="44piuii" disabled="disabled">
        			</span>
        			<span class="readonly note top-left control-pane">
        				<span class="icon"></span>
        				<input type="text" value="44piuii" disabled="disabled">
        			</span>
    			</div>
    		</li>
    		<li>
				<div class="notes-container">
					<img src="https://s3.amazonaws.com/fieldid_dev/tenants%2F15511493%2Ffoo%2Fbar%2Fstuff%2Fwide.png.medium?Expires=1365261690&amp;AWSAccessKeyId=AKIAJYAZBOFFRZAZSIGA&amp;Signature=%2FLNsiHFSFIFCffndBqVjG8fSR%2FY%3D" />
					<span class="readonly note bottom-right valve">
    					<span class="icon"></span>
    					<input type="text" value="44erd" disabled="disabled">
    				</span>
			   </div>
			</li>
			<li>
				<div class="notes-container">
					<img src="http://placeimg.com/233/145/tech" />
					<span class="note top-right steam">
    					<span class="icon"></span>
    					<input type="text" value="44erd">
    				</span>
			   </div>
			</li>
			<li>
				<div class="notes-container">
					<img src="http://placeimg.com/300/131/tech" />
					<span class="note top-left pneumatic">
    					<span class="icon"></span>
    					<input type="text" value="44erd">
    				</span>
    				<span class="note bottom-left gas">
    					<span class="icon"></span>
    					<input type="text" value="44erd">
    				</span>
			   </div>
			</li>
			<li>
				<div class="notes-container">
					<img src="http://placeimg.com/131/233/tech" />
					<span class="note top-right electrical">
    					<span class="icon"></span>
    					<input type="text" value="44erd">
    				</span>
			   </div>
			</li>
        </ul>
    </div>

	<div class="navigation">
		<span class="prev"><img src="/fieldid/images/arrow-prev.png"></span>
		<span class="next"><img src="/fieldid/images/arrow-next.png"></span>
	</div>

	<div style="display:none;" wicket:id="blankSlate" class="blank-slate">
		<wicket:message key="label.no_images"/>
	</div>

</wicket:panel>
