/*
	HEADER DROP DOWN STYLING
*/

/* 
	LEVEL ONE
*/

ul.dropdown							{ position: relative; }
ul.dropdown li                      { float: left; }
ul.dropdown a:hover		            { color: #000; }
ul.dropdown a:active                { color: #ffa500; }
ul.dropdown li a                    { display: block; padding: 4px 11px; text-decoration:none; }
ul.dropdown li:last-child a         { border-right: none; } /* Doesn't work in IE */
ul.dropdown li.hover,
ul.dropdown li:hover                { color: black; position: relative; }
ul.dropdown li.hover a              { color: #000; }


/* 
	LEVEL TWO
*/
ul.dropdown ul 						{ z-index:300; visibility: hidden; position: absolute; top: 100%; left: 0; list-style: disc outside none; width: 200px; border: 1px solid #AAA }
ul.dropdown ul li 					{ font-weight: normal; background-color: #FFF; color: #000; float: none; padding: 5px 0;}
ul.dropdown ul li a,
ul.dropdown ul li.hover a           { color: #000; }
									  
                                    /* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a					{ border-right: none; width: 178px; display: inline-block; }

ul.dropdown li ul li.hover,
ul.dropdown li ul li:hover          { background: #F5F5F5; position: relative; }


/* 
	LEVEL THREE
*/
ul.dropdown ul ul 					{ left: 100%; top: 0; }
ul.dropdown li:hover > ul 			{ visibility: visible; }

/*
	FLOATING DROP DOWN STYLING
*/

/* 
	LEVEL ONE
*/
ul.floatingDropdown li                      { float: left;}
ul.floatingDropdown a:active                { color: #ffa500; }
ul.floatingDropdown li a                    { display: block; padding: 4px 11px;}
ul.floatingDropdown li:last-child a         { border-right: none; } /* Doesn't work in IE */
ul.floatingDropdown li:hover                { position: relative; }

/* 
	LEVEL TWO
*/
ul.floatingDropdown ul 						{ visibility: hidden; position: absolute; top: 100%; left: 0; list-style: disc outside none; width:130px; z-index: 5; background-color: #525252;}
ul.floatingDropdown ul li 					{ font-weight: normal; background: #333; color: #FFF; border-bottom: 1px solid #ccc; float: none; }
									  
                                    /* IE 6 & 7 Needs Inline Block */
ul.floatingDropdown ul li a, 
ul.floatingDropdown ul li a:visited         { color:#cccccc; text-decoration: none; display: inline-block; padding: 7px 10px 7px 10px; }
ul.floatingDropdown li ul li.hover,
ul.floatingDropdown li ul li:hover          { background: #1b5ccd; position: relative; }

/* 
	LEVEL THREE
*/
ul.floatingDropdown ul ul 					{ left: 100%; top: 0; }
ul.floatingDropdown li:hover > ul 			{ visibility: visible; }