.tooltip {
    padding:5px;
    background-color:#888888;
    border:1px solid #fff;
    display:none;
    color:#fff;
    text-align:left;
    font-size:12px;
    width:250px;
	position:relative;
	z-index: 5;
	
    /* outline radius for mozilla/firefox only */
    -moz-box-shadow:0 0 10px #000;
    -webkit-box-shadow:0 0 10px #000;
}
