<wicket:panel>
    <table class="attachmentTable">
        <tr wicket:id="assetAttachments">
            <td><img class="attachmentImage" wicket:id="attachmentImage"></td>
            <td>
                <a wicket:id="attachmentLink"><span wicket:id="attachmentName"/> </a>
                <div wicket:id="attachmentNote"/>
            </td>
        </tr>

        <tr wicket:id="assetTypeAttachments">
            <td><img class="attachmentImage" wicket:id="attachmentImage"></td>
            <td>
                <a wicket:id="attachmentLink"><span wicket:id="attachmentName"/> </a>
                <div wicket:id="attachmentNote"/>
            </td>
        </tr>
    </table>
</wicket:panel>