<wicket:panel>
    <h1><wicket:message key="label.other"/></h1>
    <p>
        <label><wicket:message key="label.reference_number"/></label>
        <span wicket:id="referenceNumber"/>
    </p>
    <p>
        <label><wicket:message key="label.rfidnumber"/></label>
        <span wicket:id="rfidNumber"/>
    </p>
    <p>
        <label><wicket:message key="label.identifiedby"/></label>
        <span wicket:id="identifiedBy"/>
    </p>
    <p>
        <label><wicket:message key="label.modifiedby"/></label>
        <span wicket:id="modifiedBy"/>
    </p>
    <p>
        <label><wicket:message key="label.visibility"/></label>
        <span wicket:id="visibility"/>
    </p>
    <p>
        <label><wicket:message key="label.identified"/></label>
        <span wicket:id="identified"/>
    </p>
</wicket:panel>