<wicket:panel>
    <h1>
        <span class="greyText"><span wicket:id="assetType"/> / </span><span wicket:id="assetIdentifier"/><span class="greyText" wicket:enclosure="assetStatus"> / <span wicket:id="assetStatus"/></span>
    </h1>
    <div class="ownerInfo">
        <img src="/fieldid/images/location-icon.png"/> <span wicket:id="ownerInfo"/>
    </div>

    <div class="viewButtons">
        <a wicket:id="summaryLink" class="mattButtonLeft"><wicket:message key="label.summary"/></a>
        <a wicket:id="eventHistoryLink"class="mattButtonRight"> <wicket:message key="label.event_history"/></a>
    </div>

    <div class="actionButtons">
        <a wicket:id="editAssetLink"><wicket:message key="label.edit"/></a>
        <a wicket:id="startEventLink"> <wicket:message key="label.start_event"/></a>
    </div>
</wicket:panel>