<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:wicket="http://git-wip-us.apache.org/repos/asf/wicket/repo?p=wicket.git;a=blob_plain;f=wicket-core/src/main/resources/META-INF/wicket-1.5.xsd;hb=master"
      xml:lang="en"
      lang="en">

<wicket:panel>
    <h1>
        <span class="greyText" name="assetType"><span wicket:id="assetType"/> / </span><span name="assetId" wicket:id="assetIdentifier"/><span class="greyText" name="assetStatus" wicket:enclosure="assetStatus"> / <span id="assetStatus" wicket:id="assetStatus"/></span>
    </h1>
    <div class="ownerInfo" name="ownerInfo">
        <img src="/fieldid/images/location-icon.png"/> <span wicket:id="ownerInfo"/>
    </div>

    <div class="viewButtons" name="viewButtons">
        <a wicket:id="summaryLink" name="summaryLink" class="mattButtonLeft"><wicket:message key="label.summary"/></a>
        <a wicket:id="traceabilityLink" name="traceabilityLink"><wicket:message key="nav.traceability"/></a>
        <a wicket:id="eventHistoryLink" name="eventHistoryLink"> <wicket:message key="label.events"/></a>
        <a wicket:id="lotoProceduresLink" name="lotoProceduresLink" class="mattButtonRight"><wicket:message key="label.procedures"/></a>
    </div>

    <div class="actionButtons">
        <a wicket:id="startEventLink" class="mattButton blueButton" name="startEventLink"> <wicket:message key="label.start_event"/></a>
        <a wicket:id="scheduleEventLink" class="mattButton" name="scheduleEventLink"><wicket:message key="label.uc_schedule"/></a>
        <a wicket:id="scheduleProcedureLink" class="mattButton" name="scheduleProcedureLink"><wicket:message key="label.uc_schedule"/></a>
        <span wicket:id="scheduleMenu" class="actions">
            <ul>
                <li class="menu" name="menu">
                    <a class="mattButton" name="scheduleButton" href="javascript:void(0);">
                        <wicket:message key="label.uc_schedule"/><img src="/fieldid/images/menu-down.png"/>
                    </a>
                    <ul class="menu-items" name="menu-items">
                        <li><a wicket:id="menuScheduleEventLink" name="menuScheduleEventLink"> <wicket:message key="label.title.event"/></a></li>
                        <li><a wicket:id="menuScheduleProcedureLink" name="menuScheduleProcedureLink"> <wicket:message key="label.lockout_tagout"/></a></li>
                    </ul>
                </li>
            </ul>
        </span>
        <a wicket:id="editAssetLink" class="mattButton" name="editAssetLink"><wicket:message key="label.edit"/></a>
    </div>

    <div wicket:id="schedulePicker"></div>
    <div wicket:id="procedurePicker"></div>
    <div wicket:id="labelAndLinkContainer">
        <span wicket:id="workflowState"></span>
        <a wicket:id="viewLink"><wicket:message key="label.view_progress"/></a>
    </div>
</wicket:panel>

</html>