<wicket:panel>
    <h1>
        <label> <wicket:message key="label.lasteventperformed"/></label>
    </h1>
    <table class="eventTable">
        <tr>
            <td><img wicket:id="lastEventResult"></td>
            <td class="eventDate"><span wicket:id="lastEventDate"/></td>
            <td class="eventType"><span wicket:id="lastEventType"/></td>
            <td>
                <a wicket:id="viewLastEventLink"><wicket:message key="label.view_event"/></a>
                <wicket:message key="label.or"/>
                <a wicket:id="printLastEventLink"><wicket:message key="label.print"/></a>
            </td>
        </tr>
    </table>
</wicket:panel>