<wicket:panel>
    <h1><wicket:message key="label.subassets"/> </h1>
    <ul wicket:id="linkedAssetList">
        <li class="linkedAssetList" wicket:id="linkedAssetListView">
            <img src="/fieldid/images/reorder-small.png"/>
            <div class="linkedAssetLabel">
                <label><span wicket:id="assetType"/></label>
                <a class="assetLink" wicket:id="linkedAssetLink"><span wicket:id="assetIdentifier"/></a>
            </div>
            <a wicket:id="removeLinkedAssetLink"><img src="/fieldid/images/small-x.png"/></a>
        </li>
    </ul>

    <a class="addLinkedAsset" wicket:id="addLinkedAsset"><wicket:message key="label.link_new_asset"/></a>

    <form wicket:id="form">
        <div id="formErrors" wicket:id="feedbackPanel"></div>
        <div wicket:id = "autocompletesearch"/>

        <a wicket:id="saveLink"><wicket:message key="label.add"/></a>
    </form>

</wicket:panel>