<wicket:panel>
    <table class="upcomingEventTable">
        <tr wicket:id="upcomingEventsList">
            <td class="eventDate"><span wicket:id="upcomingEventDate"/></td>
            <td class="eventType"><span wicket:id="upcomingEventType"/></td>
            <td class="eventLinks">
                <a wicket:id="startEventLink"><wicket:message key="label.start_event"/></a>
                <wicket:message key="label.or"/>
                <a wicket:id="editScheduleLink"><wicket:message key="label.edit"/></a>
            </td>
        </tr>
    </table>
    <a wicket:id="moreUpcomingEvents"><wicket:message key="label.view_all"/></a>
</wicket:panel>