<wicket:panel>
    <span wicket:enclosure="warnings">
        <h2>
            <label><wicket:message key="label.warnings"/></label>
        </h2>
        <p wicket:id="warnings"></p>
    </span>

    <span wicket:enclosure="instructions">
        <h2>
            <label><wicket:message key="label.more_information"/></label>
        </h2>
        <p wicket:id="instructions"></p>
    </span>
    <span wicket:enclosure="moreFromTheWebLink">
        <h2>
            <label><wicket:message key="label.fromtheweb"/></label>
        </h2>
        <p><a wicket:id="moreFromTheWebLink"></a></p>
    </span>

</wicket:panel>