.criteria-image-container {
    padding: 27px 37px;
}

.criteria-image-container .comments {
    margin: 10px 0;
}

.criteria-image-container textarea.comments {
    width: 500px;
}


.criteria-image-container .actions {
    padding-top: 20px;
    float: left;
    width: 100%;
    font-family:Tahoma;
    font-size: 12px;
}

.criteria-image-container .actions .upload {
    padding: 5px 125px;
    margin-left: 90px;
}

.criteria-image-container .actions .save {
    margin-left: 50px;
    margin-right: 10px;
    width: 40%;
    position: relative;
    top: -6px;
}

.criteria-image-container .actions .cancel {
    margin-left: 3px;
}

.criteria-image-container .actions .blueButton {
    border:1px solid #4c8ffc;
    background: #4C8FFC;
    background: -moz-linear-gradient(top, #357AE8 0%, #4D90FE 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #357AE8), color-stop(100%, #4D90FE));
    background: -webkit-linear-gradient(top, #357AE8 0%, #4D90FE 100%);
    background: -o-linear-gradient(top, #357AE8 0%, #4D90FE 100%);
    background: -ms-linear-gradient(top, #357AE8 0%, #4D90FE 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#357AE8', endColorstr = '#4D90FE', GradientType = 0);
    background: linear-gradient(top, #357AE8 0%, #4D90FE 100%);
    color: #FFFFFF;
}

.criteria-image-container .actions .blueButton:hover {
    background: #4C8FFC;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4D90FE', endColorstr='#357AE8',GradientType=0 );
    border: 1px solid #6699FF;
}

.image-container {
    float:left;
    width: 160px;
    height: 205px;
    margin: 5px;

}

.edit-thumbnail-container, .view-thumbnail-container{
    height: 150px;
    width: 150px;
}

.edit-thumbnail-container img , .view-thumbnail-container img{
    width: 150px;
}

.edit-image {
    width: 510px;
}

.edit-thumbnail-container:hover {
    background: url("../../../images/icon-edit-large.png") no-repeat top left;
    cursor: pointer;
}

.view-thumbnail-container:hover {
    background: url("../../../images/icon-view-large.png") no-repeat top left;
    cursor: pointer;
}

.edit-thumbnail-container:hover img, .view-thumbnail-container:hover img {
    opacity:0.2;
}

.image-container .comments span {
    margin: 5px 0;
    width: 100%;
    font-size: 12px;
}

.upload {
    clear:both;
}

textarea.comments {
    color: #555555;
    display: block;
    margin-top: 5px;
    padding: 4px;
    width: 250px;
    font-family:Tahoma;
    font-size:12px;
    line-height:17px;
    height:88px;
    border:1px solid #CCCCCC;
    display:block;
    color:#555555;
    padding:4px;
    resize:none;
}

div.comments {
    font-family:Tahoma;
    font-size: 12px;
    line-height:17px;
}

.photo-slate {
    margin: 90px;
}