.new-event {
    font-size:14px;
    padding-left:25px;
    padding-top:25px;
    padding-bottom:25px;
    margin-bottom:25px;
    background: #f7f7f7;
}

.new-event .event-type {
    width:175px;
}

.new-event .recurrence {
    width:150px;
}

.new-event .chosen {
    vertical-align: top;
}

.new-event p {
    display: inline;
}

#contentHeader {
    margin-bottom:0px;
}

.new-event select, .new-event input {
    padding:4px;
}



.existing-events  {
    display:block;
    width:100%;
    padding-left:25px;
    padding-bottom:20px;
    margin-bottom:20px;
}

.existing-events th {
    width:175px;
    height:40px;
    font-size:14px;
    color:#777;
    font-weight: bold;
}

.existing-events td {
    height:35px;
    color:#777;
    font-size:13px;
}

.existing-events .remove{
    width:60px;
    line-height: 15px;
}


/*To fix quirks input alignment of JChosen select boxes.  they area too high without these hacks. */
.new-event .chzn-container-single .chzn-single span {
    /*display: inline;*/
}

.new-event .chzn-container-single .chzn-single {
    /*overflow: hidden;*/
}

/* override with of date picker */
.datetimepicker.dateTime {
    width:125px;
    color:#555;
}