@import "components/variables.less";
@import "components/mixins.less";

//---------------------------
// IE8 and below
//---------------------------

// This stylesheet is included using a conditional comment in the  
// FieldIDTemplatePage.html since the IE8 hack was not reliable and
// therefore could not be included in the stylesheet targeting IE9.
// Note that IE 10+ DO NOT support conditional comments at all.


// IE8 and below
// --------------
body, input[type="text"], textarea {
	font-family: @helvetica-neue;
}

.input-combo input[type="text"]{
	height: 20px;
}

.editable-inputs {
	input[type='text'][disabled] {    
	  background-color:transparent; 
	  font-family: @helvetica-neue;
	}
}


// IE7 and below
// --------------
.global-header .nav-list > li {
	*display: inline;
}

[class^="fontello-"] {
	*font-size: @base-font-size;
}

//dropdowns 
.dropdown,
.dropup {
	*display: inline;

	ul li a {
		*display: inline;
	}
}

//page layout 
.column-left,
.column-right {
	*width: auto;
}

 

