<wicket:panel>
	   
     <div class="field">
     	 <label for="assetStatus"><wicket:message key="label.assetstatus"/></label>
         <select wicket:id="assetStatus"></select>
     </div>

    <div class="field">
	    <label for="assetTypeGroup"><wicket:message key="label.asset_type_group"/></label>
        <select wicket:id="assetTypeGroup"></select>
    </div>

    <div class="field">
		<label for="assetType"><wicket:message key="label.assettype"/></label>
        <select wicket:id="assetType"></select>
    </div>

</wicket:panel>