<wicket:panel>
	
     <div class="field">
        <label for="dateRange"><wicket:message key="label.daterange"/></label>
      	<select wicket:id="dateRange"></select>                
     </div>
     <div wicket:id="toFromContainer">
	     <div class="field">
	         <label for="fromDate"><wicket:message key="label.daterange.between"/></label>
	         <div wicket:id="fromDate" class="date"></div>
	     </div>
	     <div class="field">
	         <label for="toDate"><wicket:message key="label.daterange.and"/></label>
	         <div wicket:id="toDate" class="date"></div>
	     </div>
     </div>

</wicket:panel>