<wicket:panel>

    <div class="field">
        <label for="criteria.eventTypeGroup"><wicket:message key="label.eventtypegroup"/></label>
        <select wicket:id="eventTypeGroup"></select>
    </div>
    <div class="field">
        <label for="criteria.eventType"><wicket:message key="label.eventtype"/></label>
        <select wicket:id="eventType"></select>
    </div>
    <div class="field">
        <label for="criteria.assignee"><wicket:message key="label.assignee"/></label>
        <select wicket:id="assignee"></select>
    </div>
    <div class="field">
        <label for="criteria.performedBy"><wicket:message key="label.performed_by"/></label>
        <select wicket:id="performedBy"></select>
    </div>
    <div class="field">
        <label for="criteria.eventBook"><wicket:message key="label.eventbook"/></label>
        <select wicket:id="eventBook"></select>
    </div>

    <div wicket:id="jobContainer" class="field">
        <label for="criteria.job"><wicket:message key="label.job"/></label>
        <select wicket:id="job"></select>
    </div>
    <div class="field">
        <label for="criteria.status"><wicket:message key="label.result"/></label>
        <select wicket:id="result"></select>
    </div>
    <div class="field">
        <label for="criteria.eventStatus"><wicket:message key="label.event_status"/></label>
        <select wicket:id="eventStatus"></select>
    </div>
    <div wicket:id="includeNetworkResultsContainer" class="field">
        <label id="reducedLineHeightLabel" for="criteria.includeNetworkResults"><wicket:message key="label.includesafetynetworkresults"/></label>
        <input wicket:id="includeSafetyNetwork" type="checkbox"/>
    </div>

</wicket:panel>