<wicket:panel>
	<div class="header"><wicket:message key="label.identifiers"/></div>    
	<div class="field">
		<label for="rfidNumber"><wicket:message key="label.rfidnumber"/></label>
	    <input wicket:id="rfidNumber" type="text"/>
	</div>
	<div class="field">
		<label for="identifier"><span wicket:id="identifierLabel"/></label>
	    <input wicket:id="identifier" type="text"/>
	</div>
	<div class="field">
		<label for="referenceNumber"><wicket:message key="label.referencenumber"/></label>
	    <input wicket:id="referenceNumber" type="text"/>
	</div>
</wicket:panel>