<wicket:panel>
	
	<form wicket:id="locationForm">
	
	    <label id="freeFormLabel" for="predefinedLocation" class="label freeFormLabel"><wicket:message key="label.predefined_location"/></label>
		
	    <div wicket:id="predefinedLocationPanel" class="containerobj"></div>
	
	    <label id="freeFormLabel" for="predefinedLocation" class="label freeFormLabel"><wicket:message key="label.freeform_location"/></label>
	
	    <input type="text" wicket:id="predefFreeformLocation">
	
	    <div class="actions">
	        <input type="submit" wicket:id="selectLocationButton" class="selectLocationButton" wicket:message="value:label.select_location">
	        <wicket:message key="label.or"/>
	        <a wicket:id="cancelLink"><wicket:message key="label.cancel"/></a>
	    </div>
	
	</form>

</wicket:panel>