<wicket:panel>    
    <div wicket:id="assignedToContainer">
	    <div class="field">
	    	<label for="assignedUser"><wicket:message key="label.assignedto"/></label>
	        <select wicket:id="assignedTo" class="popup"></select>
	    </div>
    </div>
    <div class="field">
        <label for="location"><wicket:message key="label.location"/></label>
        <div wicket:id="location" class="popup"></div>
    </div>
    <div class="field">
        <label for="owner"><wicket:message key="label.owner"/></label>
        <div wicket:id="owner" class="popup"></div>
    </div>
</wicket:panel>