<wicket:panel>

    <div  wicket:id="eventDetailsCriteriaPanel" class="fieldGroup floatLeft fieldGroupGap">
    </div>

    <div wicket:id="assetDetailsCriteriaPanel" class="fieldGroup floatRight">
    </div>

    <div wicket:id="ownershipCriteriaPanel" class="fieldGroup floatRight">
    </div>

    <div wicket:id="eventStatusAndDateRangePanel" class="fieldGroup floatLeft fieldGroupGap">
    </div>

    <div wicket:id="identifiersCriteriaPanel" class="fieldGroup floatRight">
    </div>

    <div wicket:id="orderDetailsCriteriaPanel" class="fieldGroup fieldGroupGap floatLeft">
    </div>
</wicket:panel>	
