<wicket:panel>

    <div wicket:id="eventStatusAndDateRangePanel">
    </div>

    <div  wicket:id="eventDetailsCriteriaPanel">
    </div>

    <div  wicket:id="peopleDetailsCriteriaPanel">
    </div>

    <div  wicket:id="resolutionDetailsCriteriaPanel">
    </div>

    <div wicket:id="assetDetailsCriteriaPanel">
    </div>

    <div wicket:id="ownershipCriteriaPanel">
    </div>

    <div wicket:id="identifiersCriteriaPanel">
    </div>

    <div wicket:id="orderDetailsCriteriaPanel">
    </div>
</wicket:panel>	
