<wicket:extend>
    <span class="actions">
    	<ul>
		    <li class="mattBar">
		        <a class="button" wicket:id="printAllCertsLink"><wicket:message key="label.printselectedmanufacturercertificate"/></a>
		    </li>
		    <li class="mattBar">
		        <a class="button" wicket:id="exportToExcelLink"><wicket:message key="label.exporttoexcel"/></a>
		    </li>
		    <li wicket:id="actions" class="menu">
                <span class="mattBar">
		        <a href="javascript:void(0);" class="button"><wicket:message key="label.mass_actions"/><img src="/fieldid/images/down-arrow.png"></a>
                </span>
		        <ul class="menu-items">
                    <li>
				        <a wicket:id="massUpdateLink"><wicket:message key="label.massupdate2"/></a>
				    </li>
				    <li>
				        <a wicket:id="massScheduleLink"><wicket:message key="label.massschedule" /></a>
				    </li>
				    <li>
				        <a wicket:id="massEventLink"><wicket:message key="label.perform_event" /></a>
				    </li>
			    </ul>
		    </li>
			<li class="mattBar">
				<a wicket:id="save" class="button"><wicket:message key="label.save"/></a>
			</li>
		</ul>
		
	</span>
   	<span wicket:id="msg" class="msg"/>
</wicket:extend>
		
