.multiRow {
	overflow:hidden;
}
.multiRow p {
	float:left;
	width:440px;
}
.multiRow p span{
	width:auto;
}

.count {
	margin-left: 30px;
	border-left: 3px solid #CCC;
	border-bottom: 1px solid #CCC;
	overflow:hidden;
	background-color: #F5F5F5;
	padding:15px;
	width:400px;
}
.crudForm td {
	vertical-align: top;
}
td.nameRow {
	width:470px;
}