.instruction p {
	border-bottom: 1px solid #E8EDFF;
	padding: 5px 10px;
	
}

h3 {
	padding-left: 10px;
	font-size: 1.1em;
	margin: 10px 0px;
}
h3 .instructionTitle {
	color: #333399;
}

#subAssets, #addSubAssetContainer {
	padding-left: 10px;
	width:340px;
	
}

#addSubAssetContainer, #subAssets li {
	overflow: auto;
	margin: 10px 0px;
}

#subAssets li {
	list-style-image: url(/fieldid/images/listItem.gif);
	list-style-position: inside;
	margin-left: 5px;
}


#subAssets li span, #addSubAssetContainer span {
	display:block;
	width: 250px;
	float: left;
	
}
#subAssets li span {
	padding-left: 15px;
}

#addSubAssetContainer span {
	float:left;
}
#subAssets li a, #addSubAssetContainer button{
	display:block;
	float: right;
}