#buttonGroupLists {
	float: right;
	width: 375px;
}

#eventTypeForm {
	float: left;
	width: 600px;
}

	#eventTypeForm .formAction {
		float: left;
	}
	
	#eventTypeForm select {
		width: 150px;
	}

.viewSection {
	margin: 5px 10px;
}

.criteriaContainer {
	margin: 5px 0px 5px 25px;
	
}

.criteriaGroup {
	background-color: #F7F9FF;	
}

	.criteriaGroup h4 {
		border-top: 1px dotted #C3BDBD;
	}

.criteriaContentLabel {
	font-weight: bold;
}

.criteraStateName {
	padding-right: 95px !important;
}

.criteriaContent {
	margin: 5px 5px 5px 30px;
}
	.criteriaContent span {
		padding: 0px 5px;
	}
	

.criteriaSectionHead {
	overflow: hidden;
	margin: 10px 0px;
}
	
.criteriaSectionTitle {
	float: left;
}
	
.addCriteriaButton {
	float: right;
	
}

.stateSetHighlight {
	background-color: #E8EDFF;
}

.observationsContainer {
	margin: 5px 0 5px 20px;
}

.observationsContainer h5 {
	font-weight: bold;
}

.observationsContainer div {
	margin-left: 10px;
}

.observationsContainer div div {
	margin: 5px;
}

.formChangewarning {
	background-color: #E8EDFF;
	width: 400px;
}

.formChangewarning p {
	text-align:center;
}

.formChangewarning h2 {
	text-align: center;
	padding: 15px;
}

.formChangewarning div {
	margin-top: 10px;
	text-align: center;
	height: 50px;
}

.formChangewarning div button {
	margin-right: 10px;
	font-size: 1.2em;
	width: 8em;
}