/* WORK AROUND FOR EXISTING CSS
-------------------------------*/
#page {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* Location
-------------------------------*/
.locationContainer {
    display:block;
    float:right;
    padding-left:200px;
    color:#afafaf;
}
.locationContainer .locationDescription {
    color:#666666;
    padding-bottom:5px;
}
.locationContainer .googleMap {
    width:300px;
    height:170px;
}


/* Work Flow state
-------------------------------*/
.workflowState {
    float: left;
    width:100%;
    height: 48px;
    font-size: 24px;
    line-height: 48px;
    text-align:center;
    text-transform:uppercase;
    color:#fff;  
    font-weight: 200;
}
.LOCKED {
    background-color: #993300;
}
.UNLOCKED {
    background-color: #339900;
}
.workflowButton {
    line-height: 14px;
    margin-top: 11px !important;
    text-transform: initial;
}


/* Procedure Details
-------------------------------*/
.procedureDetails {
    clear:left;
    padding-top:14px;
    width:500px;
    height: 180px;
    float:left;
    font-size: 13px;
    line-height: 23px;
}
.procedureDetails .detailItem {
    display:block;
    clear:both;
    float:left;
    overflow: visible;
}

.procedureDetails .detailItem:nth-child(4) {
    margin-top: 25px;
}

.procedureDetails .left {
    float:left;
    text-align: right;
    width:140px;
}

.procedureDetails .right {
    float:left;
    width:150px;
    padding-left:8px;
}


/* Timeline
-------------------------------*/
.timelineHeader {
    clear:both;
    overflow:hidden;
    padding-bottom:8px;
}
.timelineHeader h2 {
    font-size: 24px;
    line-height: 26px;
    float: left;
    color: #666;
    font-weight: 200;
    padding: 0 8px;
}
.timelineHeader .mattBar {
    float:left;
    padding-left:10px;
}



.media-image {
    position:relative;
}

.media-image .note {
    font-size:13px;
}

a.greyText, a.greyText:hover, a.greyText:visited, a.greyText:active {
    color:#888888;
    text-decoration: none;
}