#linkedEvents, #noLinkedEvents {
	overflow:hidden;
}

.emptyEvents {
	padding:5px 0;
}
.event {
	border-bottom: 1px solid #D0DAFD;
	overflow:hidden;
}

.projectEvent:hover {
	background-color: #D0DAFD;
}

.projectEventIdentifier, .projectEventType, .projectEventRemove {
	float:left;
	width:200px;
	padding:5px 0 5px 5px;
}

.projectEventIdentifier {
	padding-left:15px;
	padding-right:10px;
	width:170px;
}
 
.projectEventRemove {
	width: 30px;
}

#jobEvents {
	margin-top:5px;
}