#linkedAssets, #noLinkedAssets {
	overflow:hidden;
}

.emptyAssets {
	padding:5px 0px;
	border-bottom: 1px solid #D0DAFD;
}
.projectAsset {
	border-bottom: 1px solid #D0DAFD;
	overflow:hidden;
}

.projectAsset:hover {
	background-color: #D0DAFD
}

.projectAssetIdentifier, .projectAssetType, .projectAssetRemove {
	float:left;
	width:200px;
	padding:5px 0 5px 5px;
}

.projectAssetIdentifier {
	padding-left:15px;
	padding-right:10px;
	width:170px;
}
 
.projectAssetRemove {
	width: 30px;
}

