.catalogPackage {
	padding: 5px 0;
}

.catalogPackage,.catalogPackage ul {
	margin-left: 15px;
}

.main {
	margin-left: 15px;
}

.main li {
	margin: 5px 0;
}

.catalogItem {
	padding: 0 5px;
	overflow: hidden;
	font-size: 1.2em;
	font-weight: bold;
}

.catalogItemName {
	width: 200px;
	float: left;
	display: block;
}

li.listValues {
	color: black;
}

li.listTitle {
	color: blue;
	list-style-type: none;
}

.selectOptions {
	border-bottom: 1px solid #ddd;
	padding-bottom: 5px;
}

.selectOptions,.importSelection,#renamedElements {
	margin: 5px 0;
	overflow: hidden;
}

.attention {
	font-weight: bold;
	color: #C63;
}

#renamedElements {
	border-collapse: separate;
	border-spacing: 2px 2px;
	border-bottom: 1px solid #D0DAFD;
}

.list {
	margin: 5px 0px;
}

#renamedElements th,#renamedElements td {
	padding: 5px 5px 5px 10px;
	empty-cells: show;
	border-bottom: 1px solid #ddd;
}

#renamedElements th {
	font-size: 1.1em;
	font-weight: bold;
}

.customSelection {
	float: left;
	width: 325px;
}

.customSelection h3 {
	margin-bottom: 5px;
}

.customSelectionType {
	padding: 5px 5px 5px 15px;
	border-bottom: 1px solid #ddd;
}

#publishForm #catalogContents {
	border-bottom: none;
}

.safetyNetworkSplash h2{
font-size:14px;
}

.safetyNetworkSplash h3{
	font-size: 13px;
	font-weight: bold;
	}

.selectOptions{
	font-size: 12px;
	font-weight: none;
}

.safetyNetworkFont{
	font-size: 14.5px;
	color: #666666
}

#publishForm .stepAction{
	font-size: 13px;
	font-weight: normal;
	}

#publish, .stepAction a, .stepAction input{
	font-size: 13.5px;
	}
