
#referralsTop{
	padding-top: 10px;	
}

#referralsBottom {
	padding-top: 20px;
	width: 600px;
}

#referralInstructions {
	float: left;
	width: 595px;
	padding-right:5px;
}

#referralLinkBox {
	overflow: hidden;
	background: #FFF2D7;
	text-align: center;
	height: 210px;
}

#referralLinkBox h3 {
	text-align: center;
	font-size: 1.4em;
	padding-top: 40px;
}

#referralLinkBox p {
	font-size: 1.4em;
	padding: 5px;
	margin: 5px;
	border: 2px solid;
}


#referralMainText {
	padding: 5px 20px 0 0;
}

.referralStep {
	padding-left: 40px;
	margin-top:10px;
	
}

.referralStep h3, .referralStep h4 {
	padding-top:5px;
}
.referralStep h3 {
	font-size: 1.4em;
	padding-bottom: padding-bottom:5px;
}
.referralStep h4 {
	font-size:1.2em;
}
.referralSubStep {
	margin-bottom:5px;
	
}

#referralStep1 {
	background:no-repeat url(../../images/mail-send.png);
	
}
#referralStep2 {
	background:no-repeat url(../../images/mail-receive.png);
	
}
