.infoSet {
	width: 100%;
}

#basicDetails .infoSet, #extraDetails .infoSet {
	border-top: none;
	border-bottom:1px solid #D0DAFA;
}

#basicDetails .infoSet .label, 
#basicDetails .infoSet .fieldHolder, 
#extraDetails .infoSet .label,  
#extraDetails .infoSet .fieldHolder{
	padding-bottom: 0;
	width: 150;
}

.formTitle {
	margin-top: 30px;
	border-bottom:1px solid #B0B0B0;
	padding-bottom: 5px;
	width: 100%;
}

.formTitle h3{
	font-size:1.1em;
}

#infoOptions h2{
	display: none;
}

#formHeader h1 {
	font-size:2em;
}

#formHeader h1, #formHeader p {
	margin-top: 10px;
	margin-left: 100px;
}

#imageHolder {
	float: left;
	height: 75px;
	width: 75px;
	overflow: hidden; 
	border:1px solid #B0B0B0;
}

#formHeader img {
	max-width: 75px;
}

.expand {
	width: 100%;
}

.expand p {
 	padding: 10px;
 	border-bottom:1px solid #D0DAFA;
}

.expand a {
 	color: #556DA5;
 	font-weight: bold;
}

.formBody {
	float: left;
}

#actions p{
 	padding: 10px 0;
}

#suggestedAttributes {
	background: no-repeat url(../../images/arrow.png) 0% 12%;
	padding: 0 0 0 30px;
}

#infoOptions, #suggestedAttributes {
	float:left;
}
#suggestedAttributes h3{
	padding-top: 10px;
}

#suggestedAttributes .infoSet .label,  
#suggestedAttributes .infoSet .fieldHolder{
	line-height: normal;
	width: 120px;
}

#suggestedAttributes .infoSet {
	min-width: 180px;
	border-bottom: none;
	padding: 0;
	min-height: 0;
}

#infoOptions .infoSet {
	min-width: 320px;
}
.blue{
	color: #556DA5;
}

.gray {
	color: #B0B0B0; 
}

#confirm {
	background: no-repeat url(../../images/register-conf-bg.png) center center;
	margin-top: 15px;
	padding: 30px;
	height: 390px;
	width: 540px;
}

#confirm p, #confirm h1 {
	text-align:center;
	padding: 10px;
}

#confirm button {
	width: 70px;
}

.center
{
margin:auto;
width:70%;
}

.confirmBody
{
	margin-top: 50px;
}

#links {
	border-top: 1px solid #D0DAFA;
	border-bottom:1px solid #D0DAFA;
	width: 250px;
	margin-left: 150px;
	margin-top: 20px;
}

#links p {
	text-align: left;
}

.suggested-register-attributes { 
	z-index:-1;
	position:absolute;
	left:430px; /*position is related to width of field this is beside. if you change that, change this accordingly */ 
}

