.setup {
	margin-top: 10px;
	margin-bottom: 10px;
}

h3.setup {
	font-size: 1.3em;
	font-weight:normal;
}

.setup label {
	font-size: 1.2em;
	color: #333;
	
}

.setup label a, .setup label a:hover, .setup label a:active, .setup label a:visited {
	color: #333;
	
}
