.autoSize {
	width:auto !important;
}

.shortField input[type="text"], .shortField select {
	width: 100px;
}

#mainContent.fullScreen {
	width:858px;
}

#packages {
	margin: 10px 0;
	width:100%;
	border-collapse:separated;
	text-align: center;	
	empty-cells: show;
}

#packages .nonFeatureSection {
	background-color: #F3F3F3;
}


#packages th {
	font-size: 1.2em;
}
#packages th.upgradePackage,#packages th.currentPackage { 
	color:white;
	text-align:left;
	
}
#packages th.currentPackage {
	background:#8B8B8B;
}

#packages th.upgradePackage {
	background:#016903;
}

#packages #priceRow {
	font-weight: bold;
}

#packages td, #packages th {
	padding:8px;
	text-align: center;
}

#packages tbody td {
	border-bottom: 1px solid #ccc;
}


#packages .signUp td, #packages tbody .signUp .preferred {
	border-bottom: none;
}

#packages .nonFeatureSection td {
	border-bottom: 1px solid #bfbfbf;
}
#packages .description {
	text-align: right;
}

#packages .preferred {
	border: 2px solid #000;
	font-size:1.5em;
	font-weight: bold;
	background-color: #F2FECD;
}		
#packages thead .preferred {
	border-bottom: none;
}

#packages tbody .preferred {
	border-top:none;
	border-bottom: 1px solid #ddd;
	
}


#packages tfoot .preferred {
	border-top:none;
}

.perferredChoice {
	font-size: 1.5em;
}

.favouredChoice {
	font-size: 1.2em;
	padding:5px 0;
}




#signIndButton {
	margin: 0 auto;
	width:200px;
	font-weight: bold;
	padding: 0.5em;
	font-size: 2em;
}


#upgradeAccount {
	padding-left:5px;
}

#upgradeAccount p {
	font-size: 1.2em;
	padding: 10px 0;
	width: 800px;
}
	
#upgradeAccount h3 {
	font-size:1.5em;
	padding:15px 0 5px 0;
}



#charges li {
	font-size : 1.2em;
	padding: 5px 0;
}

#charges span {
	font-weight: bold;
}


.transactionComplete { 
	background-position:right;
	background-repeat:no-repeat;
	background-image:url(../../images/checkMark.jpg)
}

#additionalEmployee  {
	width: 2em;
}	

#incrementResource {
	width:600px;	
	font-size:1.3em
}
#incrementResource td {
	padding:5px;
	text-align:center;
}
#incrementResource th {
	padding:5px;
	text-align:left;

}

td.messageCol {
	width:250px
}

#totalEmployee {
	border-top:1px solid black;
}

input[type="radio"] {
	margin-right: 5px;
}

#totalPriceSection {
	border-top: 1px solid #999;
	padding:5px 0;
	margin-bottom:5px;
}

#upgradePlan {
	font-size:1.2em;
}

h2, #totalPriceSection {
	border-bottom:1px solid #999;
	padding-bottom:5px;
	margin-top:10px;
}


#secondaryContent h3 {
	margin-top:15px;
}

#secondaryContent p {
	margin:5px 0;
}

#planSelectedTitle {
	padding:10px;
	background-color: #fdf1d8;
	border: 1px solid #fce1a9;
} 

.fullScreen h1 {
	text-align:center;
}

.infoSet .fieldHolder input[type="text"]{
	width: 245px;
}

.fullForm select{
 	width: 253px;
 }