#subAssetForm  {
	float:left;
}

#subAssetForm  p span {
	width:240px
}

#subAssetForm  p span.action, #subAssetForm  p span.inline {
	width: auto;
}


.componentTypes {
	float:right;
	width: 480px;
}


.componentTypes p span {
	width: 260px;
}
.componentTypes p span.unitOfMeasure {
	width: 200px;
}


.componentTypes form.crudForm {
	margin-left:10px;
	width: 468px;
}

.componentTypes p span.action {
	width: auto;
}

.componentTypes p span.identifier, .componentTypes p span.identifier {
	width: 200px;
}
.componentTypes p span.identifier input, .componentTypes p span.identifier input {
	width: 190px;
}

.crudForm p input.subAssetLabel {
	width: 170px;
}

.labelErrors {
	margin: 0px 0px 0px 200px;
}

#assetComponents {
	float:left;
	width:450px;
}
.drag {
	padding-right:5px;
}