<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<bean id="userSecurityManager"
		class="com.n4systems.fieldidadmin.managers.UserSecurityManagerImpl" />


	<!-- EJB MANAGERS -->
	<bean id="configManager"
		class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName"
			value="fieldid/ConfigManagerImpl/local" />
	</bean>

	<bean id="persistenceManager"
		class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName"
			value="fieldid/PersistenceManagerImpl/local" />
	</bean>

	<bean id="productTypeManager"
		class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName"
			value="fieldid/LegacyProductTypeManager/local" />
	</bean>

	<bean id="productSerialManager"
		class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName"
			value="fieldid/LegacyProductSerialManager/local" />
	</bean>


	<bean id="optionManager"
		class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="fieldid/OptionManager/local" />
	</bean>

	<bean id="userManager"
		class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="fieldid/UserManager/local" />
	</bean>


	<bean id="orderMappingManager"
		class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName"
			value="fieldid/OrderMappingManager/local" />
	</bean>

	<bean id="serialNumberCounterManager"
		class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName"
			value="fieldid/SerialNumberCounterManager/local" />
	</bean>

	<bean id="productCodeMappingManager"
		class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName"
			value="fieldid/ProductCodeMappingManager/local" />
	</bean>
	
	<bean id="importManager" class="org.springframework.jndi.JndiObjectFactoryBean">
    	<property name="jndiName" value="fieldid/ImportManagerImpl/local" />
    </bean>
	
</beans>

