<wicket:panel>
    <!-- wrapped in a div called .add-isolation-point and .menu-button -->
    <a wicket:id="button" class="mattButton mattButtonLeft button"><span wicket:id="label"/></a>
    <a wicket:id="dropDown" class="mattButton mattButtonRight imageButton"><img src="/fieldid/images/menu-down.png"></a>
    <ul  class="menu-items">
        <li wicket:id="items">
            <a wicket:id="link"><img wicket:id="icon"><span wicket:id="label"/></a>
        </li>
    </ul>
</wicket:panel>

