<wicket:panel>
    <li class="menu-button">
        <a wicket:id="button" class="mattButton mattButtonLeft button"><span wicket:id="label"/></a>
        <a wicket:id="dropDown" class="mattButton mattButtonRight imageButton"><img src="/fieldid/images/menu-down.png"></a>
        <ul  class="menu-items">
            <li wicket:id="items">
                <img wicket:id="icon"/>
                <a wicket:id="link"><span wicket:id="label"/></a>
            </li>
        </ul>
    </li>
</wicket:panel>

