<html xmlns:wicket="http://wicket.apache.org">
<wicket:panel>

    <div wicket:id="removeExistingProofTestPanel">
        <a wicket:id="removeExistingProofTestLink"><wicket:message key="label.remove"/></a>
    </div>

    <div wicket:id="proofTestDetailsPanel">
        <div class="control-group">
            <label class="label">&nbsp;</label>
            <select wicket:id="proofTestType"/>
        </div>
        <label class="label" wicket:id="proofTestTypeLabel"/>

        <div class="proof-test-upload control-group" wicket:id="uploadedProofTestContainer">
            <label class="label">&nbsp;</label>
            <input type="file" wicket:id="fileUpload">
        </div>

        <section class="proof-test-manual" wicket:id="otherProofTestContainer" >

            <div class="control-group">
                <label class="label"><wicket:message key="label.peakload"/></label>
                <input type="text" wicket:id="peakLoad" class="textbox">
            </div>

            <div class="control-group">
                <label class="label"><wicket:message key="label.duration"/></label>
                <input type="text" wicket:id="duration" class="textbox">
            </div>

            <div class="control-group">
                <label class="label"><wicket:message key="label.peakloadduration"/></label>
                <input type="text" wicket:id="peakLoadDuration" class="textbox">
            </div>

        </section>
    </div>

</wicket:panel>
</html>