.leftColumn {
    width: 300px;
}

.rightColumn{
    width: 700px;
}

.leftColumn, .rightColumn, .assetAttributeDetails, .linkedAssetList, .assetDetails {
    float: left;
}

.assetImage {
    width: 230px;
}

.googleMap {
    border: 2px;
}

.assetMap {
    height: 100px;
    Width: 300px;
}

h1 {
    padding: 10px 0;
    border-bottom: 1px solid #e2e2e2;
}

.recentActivity h1 img {
    vertical-align: text-top;
    padding: 0 5px;
}
.linkedAssetList {
    padding: 5px 0;
}
.linkedAssetList img, .linkedAssetLabel, .linkedAssetLabel a, .addLinkedAsset, .linkedAssetPanel #formErrors{
    float:left;
    padding: 0 5px;
}

.linkedAssetLabel .assetLink {
    padding: 0;
}

.linkedAssetLabel label, .linkedAssetLabel a{
    display:block;
}
.linkedAssetLabel label {
    width: 230px;
}
.linkedAssetPanel {
    display: inline-block;
    padding: 5px 0;
    width: 300px;
}

.linkedAssetPanel li {
    padding: 5px 0;
    float: left;
}

.formErrors h2 {
    display: none
}

.formErrors ul li {
    list-style-type: none;
    margin-left:0;
    padding: 0;
}

.assetDetails p {
    padding: 5px;
    margin-top: 2px;
}

.assetDetails p, .assetDetails p label, .assetDetails p span  {
    display: block;
    float: left;
}

.assetDetails p label {
    width: 140px;
    color: #555;
}

.assetDetails span {
    text-align: right;
    width: 150px;
}