/*Two Column Layout http://matthewjamestaylor.com/blog/ultimate-2-column-left-menu-pixels.htm*/

.options, #contentTitle{
    display : none;
}

#contentHeader {
    margin-bottom: 0;
}

#page {
    background: none;
    border: none;
    box-shadow: none;
    -moz-box-shadow:none;
    -webkit-box-shadow: none;
    font-size: 12px;
}

.header {
    width: 100%;
    float: left;
    padding-bottom: 10px;
    border-bottom: 1px solid #CCC;
    margin-bottom: 10px;
}

.header h1 {
    font-size: 2.1em;
    font-weight: normal;
}

.ownerInfo {
    padding-top: 7px;
    font-size: 1.2em;
}

.actionButtons {
    padding: 10px 0;
}

.actionButtons .mattButton {
    margin-right: 10px;
}

.viewButtons {
    float : left;
    width: 640px;
    padding: 10px;
    margin-bottom: 15px;
}
.viewButtons .three_button {
    left: 25%;
    position: relative;
}

.viewButtons .four_button {
    left: 20%;
    position: relative;
}

.colmask {
    clear: both;
    float: left;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.colright {
    float: left;
    left: 298px;
    position: relative;
    width: 698px;
    -moz-box-shadow: 5px 0px 2px -5px #CCC, -5px 0px 2px -5px #CCC, 0px 2px 5px 0px #CCC;
    -webkit-box-shadow: 5px 0px 2px -5px #CCC, -5px 0px 2px -5px #CCC, 0px 2px 5px 0px #CCC;
    box-shadow: 5px 0px 2px -5px #CCC, -5px 0px 2px -5px #CCC, 0px 2px 5px 0px #CCC;
    border:1px solid #CCC;
    background:#FFF;
}

.colwrap {
    float: right;
    padding-bottom: 1em;
    position: relative;
    right: 210px;
    width: 50%;
}

.leftColumn {
    width: 275px;
    padding: 0 10px 10px 0;
    float: left;
    position: relative;
    right: 299px;
}

.rightColumn{
    width: 660px;
    padding: 10px 20px;
    margin: 0 15px 0 210px;
    overflow: hidden;
    position: relative;
    right: 100%;
}

.assetAttributeDetails, .linkedAssetList, .assetDetails {
    float: left;
}

.rightPanel {
    padding-bottom: 30px;
}

.assetImage {
    overflow: hidden;
}

.assetImage img {
    width: 275px;
}

.googleMap {
    border: 2px;
}

.assetMap {
    height: 100px;
    Width: 275px;
    margin-top: 15px;
}

.leftColumn h1, .rightColumn h1{
    padding: 5px 0;
    border-bottom: 1px solid #e2e2e2;
    color: #666666
}

.linkedAssetList {
    padding: 5px 0;
    width: 100%;
}

.linkedAssetList img {
    float:left;
    padding-right: 5px;
    padding-top: 5px;
}

.linkedAssetLabel, .linkedAssetLabel a, .addLinkedAsset, .linkedAssetPanel #formErrors{
    float:left;
    padding: 0 5px;
}

.addLinkedAsset{
    padding-top: 5px;
}

.addLinkedAsset img{
    padding-right: 5px;
    vertical-align: middle;
}
.linkedAssetLabel .assetLink {
    padding: 0;
}

.linkedAssetLabel label, .linkedAssetLabel a{
    display:block;
}

.linkedAssetLabel label {
    width: 225px;
}

.linkedAssetPanel {
    display: inline-block;
    padding: 5px 0;
    width: 100%;
}

.linkedAssetPanel li {
    padding: 5px 0;
    float: left;
}

.formErrors h2 {
    display: none
}

.formErrors ul li {
    list-style-type: none;
    margin-left:0;
    padding: 0;
}

.assetDetails, .linkedAssetPanel {
    padding-bottom: 20px;
}

.assetDetails p {
    padding-top: 10px;
    margin-top: 2px;
}

.assetDetails p, .assetDetails p label, .assetDetails p span  {
    display: block;
    float: left;
}

.assetDetails p label {
    width: 140px;
    color: #555;
}

.assetDetails p span {
    text-align: right;
    width: 135px;
}

.upcomingEventTable td, .lastEventTable td{
    padding: 10px 5px 5px 0;
}

.upcomingEventTable .eventDate {
    width: 240px;
}

.upcomingEventTable .eventType {
    width: 300px;
}

.lastEventTable .eventDate {
    width: 160px;
}

.lastEventTable .eventType {
    width: 300px;
}

.attachmentImage {
    width: 50px;
}

.attachmentIcon {
    padding: 0 10px;
}

.greyText{
    color: #888888;
}

.overdue {
    color: #900000;
}

.overdue .eventLinks {
    color: #000000;
}

.morePanel p{
    line-height: 1.5em;
    padding-bottom: 30px;
}

.morePanel h2 {
    padding: 5px 0;
}

.actionButtons .blueButton {
    background: -moz-linear-gradient(center top , #4C8FFC 0%, #4787ED 100%) repeat scroll 0 0 transparent;
    color: #FFFFFF;
}

.actionButtons .blueButton:hover {
    background: #4C8FFC;
    background: linear-gradient(top, #4D90FE 0%, #357AE8 100%);
    border: 1px solid #6699FF;
}
.attachmentTable {
    margin-top: 10px;
}

.attachmentTable td {
    padding: 5px 0;
}

.linkedAssetPanel .addLinkedAssetButton {
    padding: 2px 5px;
}

.cancelLink{
    padding-left: 5px;
    position:relative;
    top: 5px;
}

.formActions {
    padding-top: 5px;
}

.linkedWithAsset {
    padding-top: 10px;
    margin-left: -5px;
}