#page {
    background: none;
    border: none;
    box-shadow: none;
    -moz-box-shadow:none;
    -webkit-box-shadow: none;
    font-size: 12px;
    padding: 0;
}

.content {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 5px 0 2px -5px #CCCCCC, -5px 0 2px -5px #CCCCCC, 0 2px 5px 0 #CCCCCC;
    position: relative;
    float: left;
    width: 958px;
    padding: 20px;
}

.failColor {
    color: #ff0000;
}

.passColor {
    color: #008800;
}

.actions .menu .mattButtonRight img {
    vertical-align: middle;
}

.actions .mattButtonLeft, .actions .mattButtonRight {
    font-size: 11px;
}

.actions > ul > li {
    float: left;
    position:relative;
}

.menu-items {
    display:none; 		/* made visible by jquery click*/
    position: absolute;
    top:100%;
    width: 71px;
    left: -45px;
    background:white;
    color:black;
    border-width:1px 1px 1px 1px;
    border-color:#777;
    border-style:solid;
    border-radius:0px 3px 3px 3px;
    -moz-border-radius: 0px 3px 3px 3px;
    -moz-box-shadow: 2px 2px 2px #BBB;
    -webkit-box-shadow: 2px 2px 2px;
    box-shadow: 2px 2px 2px #BBB;
    padding-bottom:3px;
    z-index: 123;
}

.menu-items li a {
    padding:8px;
    display: block;
    text-decoration:none;
}

.menu-items li a:hover {
    background:#F5F5F5;
}

.list {
    font-size: 11px;
    float:left;
}

.noRecords {
    margin-top: 50px;
}

.list thead tr:hover {
    background-color: #FFFFFF;
}

.list thead td {
    border-top: none;
}

.navigation {
    text-align: right;
}

.viewSelection {
    position: absolute;
    right: 28px;
    top: 34px;
}

.first, .last, .goto {
    display: none;
}

.navigation .navigatorLabel {
    float:left;
    width: 84%;
    padding-right: 5px;
    padding-top: 8px;
}
.navigation .navigator {
    float:left;
}

.allEventsMap {
    float:left;
    width: 100%;
    margin-top: 50px;
}

span.prev em, a.prev, span.next em, a.next{
    background: #ececec;
    background: -moz-linear-gradient(top, #ececec 0%, #dadada 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ececec), color-stop(100%,#dadada));
    background: -webkit-linear-gradient(top, #ececec 0%,#dadada 100%);
    background: -o-linear-gradient(top, #ececec 0%,#dadada 100%);
    background: -ms-linear-gradient(top, #ececec 0%,#dadada 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#dadada',GradientType=0 );
    background: linear-gradient(top, #ececec 0%,#dadada 100%);
    border: 1px solid #ababab;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 1px 1px rgba(255, 255, 255, .8) inset;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 1px 1px rgba(255, 255, 255, .8) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 1px 1px rgba(255, 255, 255, .8) inset;
    color: #555555;
    font-family: 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size: 12px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    outline: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration:none;
    float: left;
}

span.prev em, a.prev{
    border-right:1px solid #ababab;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
}

span.next em, a.next {
    border-left: solid 0px #ababab;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
}