.options, #contentTitle{
    display : none;
}

#contentHeader {
    margin-bottom: 0;
}

.header {
    width: 100%;
    float: left;
    padding-bottom: 10px;
    border-bottom: 1px solid #CCC;
    margin-bottom: 10px;
}

.header h1 {
    font-weight: normal;
    font-size:1.9em;
    text-shadow: 1px 1px rgba(255,255,255,0.4);
}

.ownerInfo {
    padding-top: 7px;
    font-size: 1.1em;
}
.ownerInfo img {
    vertical-align:middle;
}

.actionButtons {
    padding: 10px 0;
    float: left;
    width: 270px;
}

.actionButtons .mattButton {
    float: right;
}

.actionButtons .mattButton {
    margin-right: 10px;
}

.actionButtons .blueButton {
    background: #4C8FFC;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4C8FFC', endColorstr='#357AE8',GradientType=0 );
    background: -moz-linear-gradient(center top , #4C8FFC 0%, #4787ED 100%) repeat scroll 0 0 transparent;
    color: #FFFFFF;
}

.actionButtons .blueButton:hover {
    background: #4D90FE;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4D90FE', endColorstr='#357AE8',GradientType=0 );
    border: 1px solid #6699FF;
}

.greyText{
    color: #888888;
}

.viewButtons {
    float : left;
    width: 730px;
    padding: 10px 0;
}
.viewButtons .three_button {
    left: 25%;
    position: relative;
}

.viewButtons .four_button {
    left: 20%;
    position: relative;
}

.schedulePicker {
    float: right;
    margin-right: 10px;
}

.openSchedulePickerButton {
    background: #ececec;
    background: -moz-linear-gradient(top, #ececec 0%, #dadada 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ececec), color-stop(100%,#dadada));
    background: -webkit-linear-gradient(top, #ececec 0%,#dadada 100%);
    background: -o-linear-gradient(top, #ececec 0%,#dadada 100%);
    background: -ms-linear-gradient(top, #ececec 0%,#dadada 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#dadada',GradientType=0 );
    background: linear-gradient(top, #ececec 0%,#dadada 100%);
    border: 1px solid #ababab;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 1px 1px rgba(255, 255, 255, .8) inset;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 1px 1px rgba(255, 255, 255, .8) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 1px 1px rgba(255, 255, 255, .8) inset;
    color: #555555;
    font-family: 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size: 12px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    outline: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration:none;
    float: left;
}

@-moz-document url-prefix() {
    .openSchedulePickerButton {
        padding: 4px 10px;
    }
}


.openSchedulePickerButton:hover {
    background: #f6f6f6;
    background: -moz-linear-gradient(top, #f6f6f6 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#eeeeee));
    background: -webkit-linear-gradient(top, #f6f6f6 0%,#eeeeee 100%);
    background: -o-linear-gradient(top, #f6f6f6 0%,#eeeeee 100%);
    background: -ms-linear-gradient(top, #f6f6f6 0%,#eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#eeeeee',GradientType=0 );
    background: linear-gradient(top, #f6f6f6 0%,#eeeeee 100%);
    cursor: pointer;
}

.feedbackPanel {
    margin-bottom: 10px;
}