.duplicate-field {
    background-color: #ffff66;
}

/* General form styles */
.form-horizontal legend {
	font-size: 12px;
	font-weight: bold;
	background-color: #eeeeee;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
	padding: 7px 2.5%;
	width: 95%;
}
.form-horizontal label {
	width: 175px;
	display: inline-block;
	text-align: right;
	float: left;
	font-weight: bold;
	padding-right: 10px;
}
.form-horizontal textarea {
	height: 100px;
	resize: none;
}

/* Main selection option - Asset type */
.form-horizontal .primary-selection {
	background-color: #F8F8F8;
	padding: 24px 0 14px;
	margin: 5px 0;
}
	.form-horizontal .primary-selection label {
		font-size: 16px;
		font-weight: bold;
		width: 175px;
	}

/* Column layout */
.form-horizontal .column-left {
	width: 670px;
	float: left;
}
	.form-horizontal .column-left legend {
		margin-bottom: 25px;
	}
.form-horizontal .column-right {
	width: 320px;
	float: right;
}

/* Styles for creating rows and aligning form fields */
.form-horizontal .control-group {
	margin-bottom: 20px;
}	
	.form-horizontal .control-group input,
	.form-horizontal .control-group select,
	.chzn-container {
		margin-bottom: 3px;
	}
		.form-horizontal select {
			width: 260px;
		}
		.chzn-container-single .chzn-single span {
			font-size: 11px;
		}
	.form-horizontal .control-group label {
		line-height: 23px;
		padding-right: 10px;
		margin-bottom: 15px;
	}
	.form-horizontal .control-group input {
		padding: 4px;
		border: 1px solid #9C9C9C;
		color: #555555;
		width: 250px;
	}
	.form-horizontal .control-group a.links {
		display: block;
	}

/* Uploads/right column section */
.form-horizontal .uploads {
	padding: 20px 10px;
	background-color: #F5FBFF;
	margin-bottom: 5px;
}
	.form-horizontal .uploads p {
		margin-bottom: 10px;
	}
	.form-horizontal .event-schedules {
		background-color: #fff;
		padding: 20px 0;
	}
	.form-horizontal .event-schedules .current-schedule,
	.form-horizontal .event-schedules p {
		padding: 0 10px;
	}
	.form-horizontal .event-schedules .due-date {
		background-color: #ccc;
		padding: 6px 10px;
		display: inline-block;
	}
		.form-horizontal .event-schedules .remove-link {
			float: right;
			line-height: 28px;
		}
		.form-horizontal .add-schedule-form {
			border-bottom: 1px solid #E2E2E2;
			border-top: 1px solid #E2E2E2;
			padding: 10px;
			margin-top: 20px;
		}
	.form-horizontal .uploads.event-schedules .event-name {
		font-weight: bold;
	}

/* bottom bar/save options */
.form-horizontal .form-action {
	clear: both;
	border-top: 1px solid #E2E2E2;
	border-bottom: 1px solid #E2E2E2;
	background-color: #F8F8F8;
	padding: 15px 10px;
}

table.identifiers-grid {
    width:100%;
}
table.identifiers-grid tr {
    padding:3px 0 3px 0;
}
