<html xmlns:wicket="http://wicket.apache.org">
<wicket:panel>

    <div class="actionPage" name="actionPage">

        <img wicket:id="blankSlate" class="blank-slate"/>
        <div wicket:id="actionsList" class="actionItem" name="actionList">

            <div class="eventIcon" name="eventIcon" wicket:id="eventStateIcon">
            </div>

            <div class="actionDescription" name="actionDescription">

                <span wicket:id="actionType" name="actionType"></span>
                due <span wicket:id="dueDate" name="dueDate"></span>
                assigned to <span wicket:id="assignee" name="assignee"></span>

            </div>

            <div class="expandIcon" name="expandArrow">
                <img src="/fieldid/images/action/expand-arrow.png">
            </div>

        </div>

        <div class="linkSection issueActionSection" name="issueActionSection" wicket:id="issueActionSection">

            <a wicket:id="addActionLink" class="mattButton blueButton" name="addActionButton"><wicket:message key="label.add_an_action"/></a>
            <a wicket:id="finishedLink" class="mattButton " name="finishedButton"><wicket:message key="label.finished"/></a>

        </div>

    </div>

</wicket:panel>
</html>