<wicket:extend>

    <div class="actionsPage">

        <div class="actionDetail">

            <div class="detailSectionIcon">
                <img src="/fieldid/images/action/icon-priority.png">
            </div>

            <div class="actionMessage">
                <span wicket:id="priority"></span>
            </div>

        </div>

        <div class="actionDetail">

            <div class="detailSectionIcon">
                <img src="/fieldid/images/action/icon-notes.png">
            </div>

            <div class="actionMessage">
                <span wicket:id="notes"></span>
            </div>

        </div>

        <div class="actionDetail">

            <div class="detailSectionIcon">
                <img src="/fieldid/images/action/icon-due.png">
            </div>

            <div class="actionMessage">
                <span wicket:id="dueDate"></span>
            </div>

        </div>

        <div class="actionDetail">

            <div class="detailSectionIcon">
                <img src="/fieldid/images/action/icon-assignee.png">
            </div>

            <div class="actionMessage">
                <span wicket:id="assignee"></span>
            </div>

        </div>

        <div class="linksSection">
            <a wicket:id="startOrViewEventLink" class="mattButton blueButton">
                <span wicket:id="startOrViewEventLabel"></span>
            </a>
            <a wicket:id="editLink" class="mattButton"><wicket:message key="label.edit"/></a>
            <a wicket:id="actionsListLink" class="mattButton"><wicket:message key="label.actions_list"/></a>
        </div>

    </div>

    <div class="issuingEventDetailsSection" wicket:id="issuingEventSection">

        <div class="issuingEventTitle">
            <wicket:message key="label.issuing_event"/>
        </div>

        <span wicket:id="issuingEventDate"></span> <wicket:message key="label.from"/> <span wicket:id="issuingEventTypeName"></span>

        <div wicket:id="criteriaDescription"></div>

        <div class="criteriaImages">
            <div class="criteriaImage" wicket:id="criteriaImages">
                <img wicket:id="thumbnail">
            </div>
        </div>

    </div>

</wicket:extend>