.navHeader .new-procedure {
    float: right;
    margin-right:1px;
}

.new-procedure-types {
    background: none repeat scroll 0 0 white;
    border: 1px solid #DDDDDD;
    box-shadow: 5px 0 2px -5px #CCCCCC, -5px 0 2px -5px #CCCCCC, 0 2px 5px 0 #CCCCCC;
    right: 0;
    padding: 10px 20px;
    position: absolute;
    top: 78px;
    width: 100px;
    z-index: 10;
}

.new-procedure-types a {
    display: block;
    line-height: 2em;
    color: #777777;
    font-size: 1.2em;
    text-decoration: none;
}

.blankSlate img {
    margin: 0 auto;
    display: block;
    padding-top: 50px;
    padding-bottom: 25px;
}

.blankSlate p {
    font-size: 18px;
    color: #777777;
    margin: 20px 0 40px;
    text-align: center;
}

.blankSlate a {
    float:none;
    margin: 0 auto;
    width: 135px;
    display: block;
}

#contentTitle h1 a {
    text-decoration: none;
}

#contentTitle h1 a:hover label{
    cursor: pointer;
}

.navHeader .mattButton.right {
    float: right;
}

/* edit, print, view, copy buttons */
.action-buttons > div,
.action-buttons > .mattButton {
    margin-left: 4px;
}
    .action-buttons .mattButton img {
        vertical-align: middle;
    }
    .action-buttons .menu-button .menu-items {
        width: 76px;
        right: 1%;
        left: auto;
        /*-webkit-box-shadow: 0px 0px 4px 0px #000;*/
        -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    }
    .action-buttons .menu-button .menu-items li a {
        padding: 6px 8px;
        display: block;
        color: #356CA2;
        font-size: 13px;
    }
    .action-buttons .menu-button.edit .menu-items {
        left: -4%;
    }

    .menu-button.view-print-btn {
        width: 112px;
        margin-left: 0;
    }

.page-header .js-title-label a {
    text-decoration: none;
}
    
    




